master-21371/apibridge-partnermgmt-suva_4.master.master-21371-14050/wsdl/com/adcubum/syrius/api/partnermgmt/common/identifier/v1/identifier.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:ci="urn:com:adcubum:syrius:api:common:identifier:v1"
            xmlns:tns="urn:com:adcubum:syrius:api:partnermgmt:common:identifier:v1"
            elementFormDefault="qualified"
            targetNamespace="urn:com:adcubum:syrius:api:partnermgmt:common:identifier:v1"
            version="1.1.0">
    <xsd:import namespace="urn:com:adcubum:syrius:api:common:identifier:v1" schemaLocation="../../../../common/identifier/v1/identifier.xsd"/>
    <xsd:complexType name="WsAdresseIdType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Technischer Schlüssel einer Adresse.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ci:WsIdType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsAdressrolleIdType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Technischer Schlüssel einer Adressrolle.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ci:WsIdType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsAkteIdType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Technischer Schlüssel einer Akte.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ci:WsIdType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsAuslaenderstatusIdType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Technischer Schlüssel eines Ausländerstatus.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ci:WsIdType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsBenutzerIdType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Technischer Schlüssel eines Benutzers.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ci:WsIdType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsBeziehungIdType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Technischer Schlüssel einer Beziehung.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ci:WsIdType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsEmailIdType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Technischer Schlüssel einer E-Mail-Adresse.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ci:WsIdType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsFaktIdType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Technischer Schlüssel eines Fakts.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ci:WsIdType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsKommVerbVerwendungIdType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Technischer Schlüssel einer Kommunikationsverbindungsverwendung.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ci:WsIdType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsKontaktpersonIdType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Technischer Schlüssel einer Kontaktperson.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ci:WsIdType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsLeistungserbringerIdType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Technischer Schlüssel eines Leistungserbringers.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ci:WsIdType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsOrganisationseinheitIdType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Technischer Schlüssel einer Organisationseinheit.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ci:WsIdType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsPartnerIdType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Technischer Schlüssel eines Partners.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ci:WsIdType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsPartneridentifikatorIdType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Technischer Schlüssel eines Partneridentifikators.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ci:WsIdType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsPartnerrolleIdType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Technischer Schlüssel einer Partnerrolle.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ci:WsIdType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsSepaMandatIdType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Technischer Schlüssel eines Sepa-Mandats.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ci:WsIdType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsTelefonIdType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Technischer Schlüssel eines Telefons.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ci:WsIdType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsTelefonBereichIdType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Technischer Schlüssel eines Telefonbereichs.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ci:WsIdType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsTextModulIdType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Technischer Schlüssel eines Textbausteins.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ci:WsIdType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsWebIdType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Technischer Schlüssel einer Webadresse.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ci:WsIdType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsZahlungsverbindungIdType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Technischer Schlüssel einer Zahlungsverbindung.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ci:WsIdType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsAdresseDefIdType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Technischer Schlüssel einer Adresse-Definition.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ci:WsIdType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsAdressrolleDefIdType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Technischer Schlüssel einer Adressrollen-Definition.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ci:WsIdType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsBeziehungDefIdType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Technischer Schlüssel einer Beziehungsdefinition.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ci:WsIdType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsEmailDefIdType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Technischer Schlüssel einer E-Mail-Adresse-Definition.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ci:WsIdType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsFaktDefIdType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Technischer Schlüssel einer Fakt-Definition.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ci:WsIdType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsPartneridentifikatorDefIdType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Technischer Schlüssel einer Partneridentifikator-Definition.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ci:WsIdType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsPartnerrolleDefIdType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Technischer Schlüssel einer Partnerrolle-Definition.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ci:WsIdType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsPartnerrolleAttrDefIdType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Technischer Schlüssel einer Partnerrolleattribut-Definition.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ci:WsIdType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsPartnerschutzDefIdType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Technischer Schlüssel einer Partnerschutz-Definition.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ci:WsIdType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsTelefonDefIdType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Technischer Schlüssel einer Telefon-Definition.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ci:WsIdType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsTelefonBereichDefIdType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Technischer Schlüssel einer Telefonbereich-Definition.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ci:WsIdType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsWebDefIdType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Technischer Schlüssel einer Webadressen-Definition.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ci:WsIdType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsMutationsgrundIdType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Technischer Schlüssel eines Mutationsgrunds.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ci:WsIdType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsChangeReasonIdType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Technischer Schlüssel eines Mutationsgrunds.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ci:WsIdType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsBankIdType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Technischer Schlüssel einer Bank.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ci:WsIdType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsLandIdType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Technischer Schlüssel eines Landes.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ci:WsIdType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsVertragIdType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Technischer Schlüssel eines Vertrags.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ci:WsIdType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsWaehrungIdType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Technischer Schlüssel einer Währung.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ci:WsIdType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsAdresseAenderungIdType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Technischer Schlüssel einer Adressänderung.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ci:WsIdType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsRechnungsstellerTypIdType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Technischer Schlüssel eines Rechnungsstellertyps.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ci:WsIdType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsPartnerAenderungIdType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Technischer Schlüssel einer Partneränderung.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ci:WsIdType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsGbereichIdType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Technischer Schlüssel eines Geschäftsbereichs.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ci:WsIdType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsDokumentversandIdType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Technischer Schlüssel eines Dokumentversands.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ci:WsIdType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsDokumenttypIdType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Technischer Schlüssel eines Dokumenttyps.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ci:WsIdType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsFalldossierIdType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Technischer Schlüssel eines Falldossiers.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ci:WsIdType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsRegionTypIdType">
      	<xsd:annotation>
            <xsd:documentation xml:lang="de">Technischer Schlüssel eines RegionTyps.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ci:WsIdType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsProcessIdType">
      	<xsd:annotation>
            <xsd:documentation xml:lang="de">Technischer Schlüssel eines Prozesses.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ci:WsIdType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsProcessDefIdType">
      	<xsd:annotation>
            <xsd:documentation xml:lang="de">Technischer Schlüssel einer Prozessdefinition.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ci:WsIdType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsUserTaskIdType">
      	<xsd:annotation>
            <xsd:documentation xml:lang="de">Technischer Schlüssel eines UserTasks.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ci:WsIdType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsUserTaskDefIdType">
      	<xsd:annotation>
            <xsd:documentation xml:lang="de">Technischer Schlüssel einer UserTasks-Definition.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ci:WsIdType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsIntermediateEventDefIdType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Technischer Schlüssel einer IntermediateEvent-Definition.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ci:WsIdType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsMessageTaskDefIdType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Technischer Schlüssel einer MessageEvent-Definition.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ci:WsIdType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsCodeIdType">
        <xsd:annotation>
            <xsd:documentation>Code-Id</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ci:WsIdType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsAufgabeIdType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Technischer Schlüssel einer Aufgaben.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ci:WsIdType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsProvinzIdType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Technischer Schlüssel einer Provinz.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ci:WsIdType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsPartnerOderLeistungserbringerIdType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Technischer Schlüssel eines Partners oder Leistungserbrinbers.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ci:WsIdType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsZahlungskanalIdType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Technischer Schlüssel eines Zahlungskanals.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ci:WsIdType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsZahlungsverfahrenDefIdType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Technischer Schlüssel einer Zahlungsverfahren-Definition.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ci:WsIdType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsZahlungsprofilIdType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Technischer Schlüssel eines Zahlungsprofils.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ci:WsIdType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsMeansOfPaymentDefIdType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Technischer Schlüssel einer Zahlungsmittel-Definition.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ci:WsIdType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsPaymentAddressIdType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Technischer Schlüssel einer Zahlungsadresse.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ci:WsIdType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsPayorTypeIdType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Technischer Schlüssel eines Zahlertyps.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ci:WsIdType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsPayorIdType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Technischer Schlüssel eines Zahlers.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ci:WsIdType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsNoteIdType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Technischer Schlüssel einer Notiz.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ci:WsIdType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsNoteTypeIdType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Technischer Schlüssel eines Notiztyps.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ci:WsIdType"/>
        </xsd:complexContent>
    </xsd:complexType>
</xsd:schema>
