master-21371/apibridge-bestandsverw-suva_3.master.master-21371-13979/wsdl/com/adcubum/syrius/api/bestandsverw/vertragsverw/process/grundversicherungsproduktprocess/v1/schema/GrundversicherungsproduktProcessService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="urn:com:adcubum:syrius:api:bestandsverw:vertragsverw:process:grundversicherungsproduktprocess:v1:schema"
            xmlns:tns="urn:com:adcubum:syrius:api:bestandsverw:vertragsverw:process:grundversicherungsproduktprocess:v1:schema"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:st="urn:com:adcubum:syrius:api:common:simpleTypes:v1"
            xmlns:ct="urn:com:adcubum:syrius:api:common:types:v1"
            xmlns:pc="urn:com:adcubum:syrius:api:bestandsverw:common:codes:v1"
            xmlns:pi="urn:com:adcubum:syrius:api:bestandsverw:common:identifier:v1"
            version="1.1.0"
            elementFormDefault="qualified">

    <xsd:import namespace="urn:com:adcubum:syrius:api:bestandsverw:common:identifier:v1" schemaLocation="../../../../../common/identifier/v1/identifier.xsd"/>
    <xsd:import namespace="urn:com:adcubum:syrius:api:bestandsverw:common:codes:v1" schemaLocation="../../../../../common/codes/v1/codes.xsd"/>
    <xsd:import namespace="urn:com:adcubum:syrius:api:common:simpleTypes:v1" schemaLocation="../../../../../../common/simpleTypes/v1/simpleTypes.xsd"/>
    <xsd:import namespace="urn:com:adcubum:syrius:api:common:types:v1" schemaLocation="../../../../../../common/types/v1/types.xsd"/>
    
    <xsd:element name="calculateVertragsproduktForHausarztRequest" type="tns:CalculateVertragsproduktForHausarztRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, um ein Vertragsprodukt für einen Hausarzt zu berechnen.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="calculateVertragsproduktForHausarztResponse" type="tns:CalculateVertragsproduktForHausarztResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response, um ein Vertragsprodukt für einen Hausarzt zu berechnen.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:element name="changeVertragsproduktForHausarztRequest" type="tns:ChangeVertragsproduktForHausarztRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, um ein Vertragsprodukt zu ändern.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>	
    <xsd:element name="changeVertragsproduktForHausarztResponse" type="tns:ChangeVertragsproduktForHausarztResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response, um ein Vertragsprodukt zu ändern.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
	
    <xsd:complexType name="CalculateVertragsproduktForHausarztRequestType">
        <xsd:annotation>
            <xsd:documentation>Enthält die Parameter zur Berechnung der Vertragsprodukt-Daten</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:annotation>
                <xsd:documentation>Liste von Konstellationen zur Hausarzt-Änderung.</xsd:documentation>
            </xsd:annotation>
            <xsd:element name="hausarztAenderung" type="tns:WsHausarztAenderungType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Enthält die Daten der Hausarztänderung.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="CalculateVertragsproduktForHausarztResponseType">
        <xsd:annotation>
            <xsd:documentation>Enthält das kalkulatorische Ergebnis einer Änderung zu einem Vertragsprodukt.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="vertragBerechnungsresultat" type="tns:WsVertragBerechnungsresultatType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Enthält das kalkulatorische Ergebnis einer Änderung zu einem Vertragsprodukt.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ChangeVertragsproduktForHausarztRequestType">
        <xsd:annotation>
            <xsd:documentation>Daten zur Hausarztänderung</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:annotation>
                <xsd:documentation>Liste von Daten zur Hausarztänderung.</xsd:documentation>
            </xsd:annotation>
            <xsd:element name="hausarztAenderung" type="tns:WsHausarztAenderungType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Enthält die Daten der Hausarztänderung.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ChangeVertragsproduktForHausarztResponseType">
        <xsd:annotation>
            <xsd:documentation>Daten zur Hausarztänderung</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:annotation>
                <xsd:documentation>Enthält die Daten der Hausarztänderung.</xsd:documentation>
            </xsd:annotation>
            <xsd:element name="vertragsproduktId" type="pi:WsVertragsproduktIdType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Technischer Schlüssel des Vertragsproduktes.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="WsHausarztAenderungType">
           <xsd:annotation>
               <xsd:documentation>Daten zur Hausarztänderung</xsd:documentation>
           </xsd:annotation>
           <xsd:sequence>
               <xsd:annotation>
                   <xsd:documentation>Liste von Hausarzt-Änderungen</xsd:documentation>
               </xsd:annotation>
               <xsd:element name="vertragId" type="pi:WsVertragIdType" minOccurs="1" maxOccurs="1">
                   <xsd:annotation>
                       <xsd:documentation>Technischer Schlüssel des Vertrags.</xsd:documentation>
                   </xsd:annotation>
               </xsd:element>
               <xsd:element name="vertragsproduktId" type="pi:WsVertragsproduktIdType" minOccurs="1" maxOccurs="1">
                   <xsd:annotation>
                       <xsd:documentation>Technischer Schlüssel des Vertragsproduktes.</xsd:documentation>
                   </xsd:annotation>
               </xsd:element>
               <xsd:element name="aenderungAb" type="st:DateType" minOccurs="1" maxOccurs="1">
                   <xsd:annotation>
                       <xsd:documentation>Bestimmt ab wann die Änderung gültig ist.</xsd:documentation>
                   </xsd:annotation>
               </xsd:element>
               <xsd:element name="mutationsgrundId" type="pi:WsMutationsgrundIdType" minOccurs="1" maxOccurs="1">
                   <xsd:annotation>
                       <xsd:documentation>Mutationsgrund zur Hausarztänderung</xsd:documentation>
                   </xsd:annotation>
               </xsd:element>
              <xsd:element name="hausarztId" type="pi:WsPartnerIdType" minOccurs="1" maxOccurs="1">
                  <xsd:annotation>
                      <xsd:documentation>Technischer Schlüssel des Hausarzt.</xsd:documentation>
                  </xsd:annotation>
              </xsd:element>
              <xsd:element name="hmoModellAenderung" type="tns:WsHMOModellAenderungType" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                      <xsd:documentation>Optionale Änderung des HMO-Modells.</xsd:documentation>
                  </xsd:annotation>
              </xsd:element>
              <xsd:element name="hausarztUebersteuerung" type="pc:WsHausarztUebersteuerungCodeType" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                      <xsd:documentation>Optionale Änderung des Hausarzt-Übersteuerungs-Codes</xsd:documentation>
                  </xsd:annotation>
              </xsd:element>
           </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="WsHMOModellAenderungType">
        <xsd:annotation>
	        <xsd:documentation>Information zur Änderung des HMO-Modells.</xsd:documentation>
	    </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="kriteriumId" type="pi:WsKriteriumIdType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Technischer Schlüssel des Kriteriums zum HMO-Modell.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="kriteriumCodeHMOModell" type="pi:WsCodeIdType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Neuer Code des Kriteriums zum HMO-Modell.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="WsVertragBerechnungsresultatType">
        <xsd:annotation>
            <xsd:documentation>Daten zur Vertragsberechnung</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:annotation>
                 <xsd:documentation>Liste von Berechnungsresultaten</xsd:documentation>
            </xsd:annotation>
            <xsd:element name="id" type="pi:WsVertragIdType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Technischer Schlüssel des Vertrages.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="vertragsproduktBerechnungsresultat" type="tns:WsVertragsproduktBerechnungsresultatType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Das Berechnungsresultat des bearbeiteten Vertragsproduktes.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="WsVertragsproduktBerechnungsresultatType">
       <xsd:annotation>
            <xsd:documentation>Daten zur Vertragsberechnung</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:annotation>
               <xsd:documentation>Liste von Berechnungsresultaten</xsd:documentation>
            </xsd:annotation>
            <xsd:element name="id" type="pi:WsVertragsproduktIdType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Technischer Schlüssel des Vertragsproduktes.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="preisTotal" type="st:DecimalType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Gesamtprämie des Vertragsprodukts.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="basisProduktbausteinBerechnungsresultat" type="tns:WsBasisProduktbausteinBerechnungsresultatType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Der Basis-Produktbaustein.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="produktbausteinBerechnungsresultate" type="tns:WsProduktbausteinBerechnungsresultatType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>Eine Liste von Produktbausteinen.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="grundpreis" type="st:DecimalType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Grundpreis des Vertragsprodukts.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="WsProduktbausteinBerechnungsresultatType">
        <xsd:annotation>
            <xsd:documentation>Daten zur Produktbausteinberechnung</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:annotation>
                <xsd:documentation>Liste von Preiskomponenten des Bausteins</xsd:documentation>
            </xsd:annotation>
            <xsd:element name="preiskomponenteBerechnungsresultate" type="tns:WsPreiskomponenteBerechnungsresultatType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>Preiskomponenten des Bausteins</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="WsBasisProduktbausteinBerechnungsresultatType">
        <xsd:annotation>
            <xsd:documentation>Liste von Basisprodukt-Bausteinresultaten</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="tns:WsProduktbausteinBerechnungsresultatType"/>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="WsPreiskomponenteBerechnungsresultatType">
        <xsd:annotation>
            <xsd:documentation>Daten zur Preiskomponentenberechnung</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:annotation>
               <xsd:documentation>Liste von Preiskomponenten-Berechnungsresultaten</xsd:documentation>
            </xsd:annotation>
            <xsd:element name="preiskomponenteTyp" type="pc:WsPreiskomponenteTypCodeType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Technischer Schlüssel des Typs der Preiskomponente.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="preis" type="st:DecimalType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Der Preis der einzelnen Komponente.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

</xsd:schema>