master-21371/apibridge-unternehmensorg-suva_5.master.master-21371-13184/wsdl/com/adcubum/syrius/api/unternehmensorg/geschaeftsprozessmgmt/process/aufgabe/v1/schema/AufgabeProcessService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
    xmlns:st="urn:com:adcubum:syrius:api:common:simpleTypes:v1" 
    xmlns:ct="urn:com:adcubum:syrius:api:common:types:v1"
    xmlns:ugt="urn:com:adcubum:syrius:api:unternehmensorg:geschaeftsprozessmgmt:common:types:v1" 
    xmlns:ucc="urn:com:adcubum:syrius:api:unternehmensorg:common:codes:v1"
    xmlns:uci="urn:com:adcubum:syrius:api:unternehmensorg:common:identifier:v1" 
    xmlns:uct="urn:com:adcubum:syrius:api:unternehmensorg:common:types:v1"	

    xmlns:tns="urn:com:adcubum:syrius:api:unternehmensorg:geschaeftsprozessmgmt:process:aufgabe:v1:schema"
    targetNamespace="urn:com:adcubum:syrius:api:unternehmensorg:geschaeftsprozessmgmt:process:aufgabe:v1:schema" 
    elementFormDefault="qualified" version="1.0.0">

    <xsd:import namespace="urn:com:adcubum:syrius:api:common:types:v1" schemaLocation="../../../../../../common/types/v1/types.xsd" />
    <xsd:import namespace="urn:com:adcubum:syrius:api:common:simpleTypes:v1" schemaLocation="../../../../../../common/simpleTypes/v1/simpleTypes.xsd" />
    <xsd:import namespace="urn:com:adcubum:syrius:api:unternehmensorg:common:codes:v1" schemaLocation="../../../../../common/codes/v1/codes.xsd"/>
    <xsd:import namespace="urn:com:adcubum:syrius:api:unternehmensorg:common:types:v1" schemaLocation="../../../../../common/types/v1/types.xsd"/>
    <xsd:import namespace="urn:com:adcubum:syrius:api:unternehmensorg:common:identifier:v1" schemaLocation="../../../../../common/identifier/v1/identifier.xsd"/>
    <xsd:import namespace="urn:com:adcubum:syrius:api:unternehmensorg:geschaeftsprozessmgmt:common:types:v1" schemaLocation="../../../../common/types/v1/types.xsd"/>

    <xsd:element name="changeAufgabeRequest" type="tns:ChangeAufgabeRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, mit dem eine bestehende Aufgabe geändert wird.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:element name="changeAufgabeResponse" type="tns:ChangeAufgabeResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response, in dem die ID der geänderten Aufgabe enthalten ist.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:element name="createAufgabeRequest" type="tns:CreateAufgabeRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, mit dem eine Aufgabe erfasst wird.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:element name="createAufgabeResponse" type="tns:CreateAufgabeResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response, in dem die ID der erstellten Aufgabe enthalten ist.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:complexType name="ChangeAufgabeResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response nach der Aufgabe-Änderung</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="aufgabeId" type="uci:WsAufgabeIdType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Technische Id der geänderten Aufgabe.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ChangeAufgabeRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request mit Daten für die Aufgabenänderung.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="changeAufgabeData" type="tns:WsChangeAufgabeType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Daten für die Aufgabeänderung.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="WsChangeAufgabeType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Daten für die Aufgabeänderung.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="aufgabeId" type="uci:WsAufgabeIdType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Technischer Schlüssel der Aufgabe</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="postkorbId" type="uci:WsPostkorbIdType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Technischer Schlüssel des neu zugewiesenen Postkorbes</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="titel" type="st:StringType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Neuer Titel der Aufgabe</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="beschreibung" type="st:StringType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Neue Beschreibung der Aufgabe</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="kommentarText" type="st:StringType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Neuer Kommentar der Aufgabe</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="faelligkeitsDatum" type="st:DateTimeType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Fälligkeitsdatum</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="prioritaet" type="ucc:WsWorkflowElementPrioritaetCodeType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Neues Prio der Aufagebe</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="externalFachObjekt" type="st:StringType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Externes Fachobjekt der Aufgabe</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="ausfuehrenderId" type="uci:WsBenutzerIdType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Neuer ausführende Benutzer der Aufgabe</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="geschaeftsObjekt" type="uct:WsReferenzType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Neues betroffene Obejekt der Aufgabe</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="betroffenerPartnerId" type="uci:WsPartnerIdType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Neuer betroffener Partner der Aufgabe</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="partnerNr" type="st:StringType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Partnernummer des Partners, der neu von der Aufgabe referenziert wird</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="kategorie" type="ucc:WsWorkflowElementKategorieCodeType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Neue Kategorie der Aufagebe</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="status" type="ucc:WsStatusCodeType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Neues Status der Aufgabe</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="kommunikationssprache" type="st:StringType" minOccurs="0" maxOccurs="1">
               <xsd:annotation>
                    <xsd:documentation xml:lang="de">Kommunikationssprache des betroffenen Partners</xsd:documentation>
               </xsd:annotation>
            </xsd:element>
            <xsd:element name="workflowZusatzAttribute" type="ugt:WsWorkflowZusatzAttributChangeType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>Liste mit allen zusätzlichen Attributes des Workflows.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>


    <xsd:complexType name="CreateAufgabeResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response, in dem die ID der erstellten Aufgabe enthalten ist.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="aufgabeId" type="uci:WsAufgabeIdType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Technische Id der erstellten Aufgabe.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="CreateAufgabeRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Aufgabe-Datenstruktur, die bei der Erstellung verwendet wird. </xsd:documentation>
        </xsd:annotation>

        <xsd:sequence>
            <xsd:element name="aufgabeCreateData" type="tns:WsCreateAufgabeType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Daten für die Aufgabeerstellung.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>

    </xsd:complexType>

    <xsd:complexType name="WsCreateAufgabeType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Daten für die Aufgabeerstellung.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="aufgabenDefinitionId" type="uci:WsAufgabeDefIdType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Technischer Schlüssel der Aufgabe-Definition.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="ausfuehrenderId" type="uci:WsBenutzerIdType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Technischer Schlüssel des Benutzers.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="partnerId" type="uci:WsPartnerIdType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Technischer Schlüssel des Partners.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="objektReferenz" type="uct:WsReferenzType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Referenz zum Geschäftsobjekt.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="beschreibung" type="st:StringType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Beschreibung der Aufgabe.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="kategorie" type="ucc:WsWorkflowElementKategorieCodeType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Kategorie Code.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="prioritaet" type="ucc:WsWorkflowElementPrioritaetCodeType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Priorität Code.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="dokumentReferenzen" type="ugt:WsDokumentReferenzErfassenType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>Liste mit allen Dokumentreferenzen der Aufgabe.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="kommentar" type="ugt:WsCommentType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Kommentar der Aufgabe.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="postkorbId" type="uci:WsPostkorbIdType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Technischer Schlüssel des Postkorbes.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="kommunikationssprache" type="st:StringType" minOccurs="0" maxOccurs="1">
               <xsd:annotation>
                    <xsd:documentation xml:lang="de">Kommunikationssprache des betroffenen Partners</xsd:documentation>
               </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>