master-21371/apibridge-partnermgmt-suva_4.master.master-21371-14050/wsdl/com/adcubum/syrius/api/partnermgmt/partnerdatenverw/process/beziehung/v1/BeziehungProcessService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="BeziehungProcessService"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="urn:com:adcubum:syrius:api:partnermgmt:partnerdatenverw:process:beziehung:v1"
                  xmlns:tns="urn:com:adcubum:syrius:api:partnermgmt:partnerdatenverw:process:beziehung:v1"
                  xmlns:pa="urn:com:adcubum:syrius:api:partnermgmt:partnerdatenverw:process:beziehung:v1:schema"
                  xmlns:flt="urn:com:adcubum:syrius:api:common:faults:v1"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/">
    <wsdl:documentation>Version: 1.0.0</wsdl:documentation>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="urn:com:adcubum:syrius:api:partnermgmt:partnerdatenverw:process:beziehung:v1:schema" schemaLocation="schema/BeziehungProcessService.xsd"/>
            <xsd:import namespace="urn:com:adcubum:syrius:api:common:faults:v1" schemaLocation="../../../../../common/faults/v1/faults.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="CreateBeziehungRequestMessage">
        <wsdl:part name="Request" element="pa:createBeziehungRequest"/>
    </wsdl:message>
    <wsdl:message name="CreateBeziehungResponseMessage">
        <wsdl:part name="Response" element="pa:createBeziehungResponse"/>
    </wsdl:message>
    <wsdl:message name="TerminateBeziehungRequestMessage">
        <wsdl:part name="Request" element="pa:terminateBeziehungRequest"/>
    </wsdl:message>
    <wsdl:message name="TerminateBeziehungResponseMessage">
        <wsdl:part name="Response" element="pa:terminateBeziehungResponse"/>
    </wsdl:message>
    <wsdl:message name="ApiFaultMessage">
        <wsdl:part name="fault" element="flt:apiFaultInfo"/>
    </wsdl:message>
    <wsdl:portType name="BeziehungProcessServicePortType">
        <wsdl:operation name="createBeziehung">
            <wsdl:documentation>Erstellt einen neue Beziehung zwischen zwei Partner.</wsdl:documentation>
            <wsdl:input name="createBeziehungRequest" message="tns:CreateBeziehungRequestMessage"/>
            <wsdl:output name="createBeziehungResponse" message="tns:CreateBeziehungResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="terminateBeziehung">
            <wsdl:documentation>Terminiert eine konkrete Beziehung. Wenn das Beendigungsdatum zeitlich vor dem gueltAb-Datum der Beziehung ist, wird die Beziehung gelöscht.</wsdl:documentation>
            <wsdl:input name="terminateBeziehungRequest" message="tns:TerminateBeziehungRequestMessage"/>
            <wsdl:output name="terminateBeziehungResponse" message="tns:TerminateBeziehungResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="BeziehungProcessServiceBinding" type="tns:BeziehungProcessServicePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="createBeziehung">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="createBeziehungRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="createBeziehungResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="terminateBeziehung">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="terminateBeziehungRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="terminateBeziehungResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="BeziehungProcessService_v1">
        <wsdl:port name="BeziehungProcessService_v1" binding="tns:BeziehungProcessServiceBinding">
            <soap:address location="https://example.com/apibridge-partnermgmt/BeziehungProcessService_v1"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
