master-21371/apibridge-marketingvertrieb-vertriebsmgmt-suva_1.master.master-21371-8534/wsdl/com/adcubum/syrius/api/marketingvertrieb/vertriebsmgmt/data/documentdeliverysettings/v1/DocumentDeliverySettingsService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="DocumentDeliverySettingsService"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="urn:com:adcubum:syrius:api:marketingvertrieb:vertriebsmgmt:data:documentdeliverysettings:v1"
                  xmlns:tns="urn:com:adcubum:syrius:api:marketingvertrieb:vertriebsmgmt:data:documentdeliverysettings:v1"
                  xmlns:vp="urn:com:adcubum:syrius:api:marketingvertrieb:vertriebsmgmt:data:documentdeliverysettings:v1:schema"
                  xmlns:flt="urn:com:adcubum:syrius:api:common:faults:v1"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/">
    <wsdl:documentation>
        Version: 1.0.0
    </wsdl:documentation>
    
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="urn:com:adcubum:syrius:api:marketingvertrieb:vertriebsmgmt:data:documentdeliverysettings:v1:schema" schemaLocation="schema/DocumentDeliverySettingsService.xsd"/>
            <xsd:import namespace="urn:com:adcubum:syrius:api:common:faults:v1" schemaLocation="../../../../../common/faults/v1/faults.xsd"/>
        </xsd:schema>
    </wsdl:types>
    
    <wsdl:message name="CreateDocumentDeliverySettingsRequestMessage">
        <wsdl:part name="request" element="vp:createDocumentDeliverySettingsRequest"/>
    </wsdl:message>
    <wsdl:message name="CreateDocumentDeliverySettingsResponseMessage">
        <wsdl:part name="response" element="vp:createDocumentDeliverySettingsResponse"/>
    </wsdl:message>
    <wsdl:message name="ChangeDocumentDeliverySettingsRequestMessage">
        <wsdl:part name="request" element="vp:changeDocumentDeliverySettingsRequest"/>
    </wsdl:message>
    <wsdl:message name="ChangeDocumentDeliverySettingsResponseMessage">
        <wsdl:part name="response" element="vp:changeDocumentDeliverySettingsResponse"/>
    </wsdl:message>
    <wsdl:message name="ApiFaultMessage">
        <wsdl:part name="fault" element="flt:apiFaultInfo"/>
    </wsdl:message>
    
    <wsdl:portType name="DocumentDeliverySettingsServicePortType">
        <wsdl:operation name="createDocumentDeliverySettings">
            <wsdl:documentation>Aktiviert den Sammelversand eines Vertriebspartners.</wsdl:documentation>
            <wsdl:input name="createDocumentDeliverySettingsRequest" message="tns:CreateDocumentDeliverySettingsRequestMessage"/>
            <wsdl:output name="createDocumentDeliverySettingsResponse" message="tns:CreateDocumentDeliverySettingsResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="changeDocumentDeliverySettings">
            <wsdl:documentation>Beendet den Sammelversand eines Vertriebspartners.</wsdl:documentation>
            <wsdl:input name="changeDocumentDeliverySettingsRequest" message="tns:ChangeDocumentDeliverySettingsRequestMessage"/>
            <wsdl:output name="changeDocumentDeliverySettingsResponse" message="tns:ChangeDocumentDeliverySettingsResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    
    <wsdl:binding name="DocumentDeliverySettingsServiceBinding" type="tns:DocumentDeliverySettingsServicePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="createDocumentDeliverySettings">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="createDocumentDeliverySettingsRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="createDocumentDeliverySettingsResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="changeDocumentDeliverySettings">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="changeDocumentDeliverySettingsRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="changeDocumentDeliverySettingsResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    
    <wsdl:service name="DocumentDeliverySettingsService_v1">
        <wsdl:port name="DocumentDeliverySettingsService_v1" binding="tns:DocumentDeliverySettingsServiceBinding">
            <soap:address location="https://example.com/apibridge-marketingvertrieb-vertriebsmgmt/DocumentDeliverySettingsService_v1"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
