master-21371/apibridge-partnermgmt-suva_4.master.master-21371-14050/wsdl/com/adcubum/syrius/api/partnermgmt/partnerdatenverw/process/telefon/v1/TelefonProcessService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="TelefonProcessService"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="urn:com:adcubum:syrius:api:partnermgmt:partnerdatenverw:process:telefon:v1"
                  xmlns:tns="urn:com:adcubum:syrius:api:partnermgmt:partnerdatenverw:process:telefon:v1"
                  xmlns:pa="urn:com:adcubum:syrius:api:partnermgmt:partnerdatenverw:process:telefon:v1:schema"
                  xmlns:xhtml="http://www.w3.org/1999/xhtml"
                  xmlns:flt="urn:com:adcubum:syrius:api:common:faults:v1"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/">
    <wsdl:documentation>Version: 1.3.0</wsdl:documentation>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="urn:com:adcubum:syrius:api:partnermgmt:partnerdatenverw:process:telefon:v1:schema" schemaLocation="schema/TelefonProcessService.xsd"/>
            <xsd:import namespace="urn:com:adcubum:syrius:api:common:faults:v1" schemaLocation="../../../../../common/faults/v1/faults.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="CreateTelefonForPartnerRequestMessage">
        <wsdl:part name="Request" element="pa:createTelefonForPartnerRequest"/>
    </wsdl:message>
    <wsdl:message name="CreateTelefonForPartnerResponseMessage">
        <wsdl:part name="Response" element="pa:createTelefonForPartnerResponse"/>
    </wsdl:message>
    <wsdl:message name="ChangeTelefonRequestMessage">
        <wsdl:part name="Request" element="pa:changeTelefonRequest"/>
    </wsdl:message>
    <wsdl:message name="ChangeTelefonResponseMessage">
        <wsdl:part name="Response" element="pa:changeTelefonResponse"/>
    </wsdl:message>
    <wsdl:message name="ChangeTelefonGueltigkeitRequestMessage">
        <wsdl:part name="Request" element="pa:changeTelefonGueltigkeitRequest"/>
    </wsdl:message>
    <wsdl:message name="ChangeTelefonGueltigkeitResponseMessage">
        <wsdl:part name="Response" element="pa:changeTelefonGueltigkeitResponse"/>
    </wsdl:message>
        <wsdl:message name="TerminateTelefonRequestMessage">
        <wsdl:part name="Request" element="pa:terminateTelefonRequest"/>
    </wsdl:message>
    <wsdl:message name="TerminateTelefonResponseMessage">
        <wsdl:part name="Response" element="pa:terminateTelefonResponse"/>
    </wsdl:message>
    <wsdl:message name="ApiFaultMessage">
        <wsdl:part name="fault" element="flt:apiFaultInfo"/>
    </wsdl:message>
    <wsdl:portType name="TelefonProcessServicePortType">
        <wsdl:operation name="createTelefonForPartner">
            <wsdl:documentation>Erstellt eine neue Telefonnummer zu einem Partner.</wsdl:documentation>
            <wsdl:input name="createTelefonForPartnerRequest" message="tns:CreateTelefonForPartnerRequestMessage"/>
            <wsdl:output name="createTelefonForPartnerResponse" message="tns:CreateTelefonForPartnerResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="changeTelefon">
            <wsdl:documentation>Ändert eine Telefonnummer.</wsdl:documentation>
            <wsdl:input name="changeTelefonRequest" message="tns:ChangeTelefonRequestMessage"/>
            <wsdl:output name="changeTelefonResponse" message="tns:ChangeTelefonResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="changeTelefonGueltigkeit">
            <wsdl:documentation>
                <xhtml:ul>
            		<xhtml:li>Ändert die Gültigkeit einer bestehenden Telefonnummer.</xhtml:li>
            		<xhtml:li>Deprecation: Wird durch den fachlich getriebene Methode terminateTelefon ersetzt.</xhtml:li>
            	</xhtml:ul>
            </wsdl:documentation>
            <wsdl:input name="changeTelefonGueltigkeitRequest" message="tns:ChangeTelefonGueltigkeitRequestMessage"/>
            <wsdl:output name="changeTelefonGueltigkeitResponse" message="tns:ChangeTelefonGueltigkeitResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="terminateTelefon">
            <wsdl:documentation>Terminiert eine bestehende Telefonnummer.
            Setzt die Gültigkeit der Telefonnummer auf bis gestern.
            Falls die Telefonnummer dadurch eine negative Gültigkeit bekommt, wird sie gelöscht.</wsdl:documentation>
            <wsdl:input name="terminateTelefonRequest" message="tns:TerminateTelefonRequestMessage"/>
            <wsdl:output name="terminateTelefonResponse" message="tns:TerminateTelefonResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="TelefonProcessServiceBinding" type="tns:TelefonProcessServicePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="createTelefonForPartner">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="createTelefonForPartnerRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="createTelefonForPartnerResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="changeTelefon">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="changeTelefonRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="changeTelefonResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="changeTelefonGueltigkeit">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="changeTelefonGueltigkeitRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="changeTelefonGueltigkeitResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="terminateTelefon">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="terminateTelefonRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="terminateTelefonResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="TelefonProcessService_v1">
        <wsdl:port name="TelefonProcessService_v1" binding="tns:TelefonProcessServiceBinding">
            <soap:address location="https://example.com/apibridge-partnermgmt/TelefonProcessService_v1"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
