master-21371/apibridge-bestandsverw-suva_3.master.master-21371-13979/wsdl/com/adcubum/syrius/api/bestandsverw/common/process/v1/process.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:pi="urn:com:adcubum:syrius:api:bestandsverw:common:identifier:v1"
            xmlns:st="urn:com:adcubum:syrius:api:common:simpleTypes:v1"
            xmlns:pc="urn:com:adcubum:syrius:api:bestandsverw:common:codes:v1"
            xmlns:tns="urn:com:adcubum:syrius:api:bestandsverw:common:process:v1"
            elementFormDefault="qualified"
            targetNamespace="urn:com:adcubum:syrius:api:bestandsverw:common:process:v1"
            version="1.0.0">
    <xsd:import namespace="urn:com:adcubum:syrius:api:bestandsverw:common:codes:v1" schemaLocation="../../codes/v1/codes.xsd"/>
    <xsd:import namespace="urn:com:adcubum:syrius:api:bestandsverw:common:identifier:v1" schemaLocation="../../identifier/v1/identifier.xsd"/>
    <xsd:import namespace="urn:com:adcubum:syrius:api:common:simpleTypes:v1" schemaLocation="../../../../common/simpleTypes/v1/simpleTypes.xsd"/>

    <xsd:complexType name="BusinessProcessStateWithWaitStatesType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Information zu einem Prozess.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="tns:BaseBusinessProcessStateType">
                <xsd:sequence>
                    <xsd:element name="waitStates" type="tns:BusinessProcessWaitStateType" minOccurs="0" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Fasst einen oder mehrere Prozesse dieses einen Geschäftsereignisses zusammen.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="included" type="tns:BusinessProcessStateWithWaitStatesType" minOccurs="0" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Liste aller Geschäftsprozesse, welche Bestandteil dieses Geschäftsprozesses sind.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="BusinessProcessStateType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Information zu einem Prozess.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="tns:BaseBusinessProcessStateType">
                <xsd:sequence>
                    <xsd:element name="included" type="tns:BusinessProcessStateType" minOccurs="0" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Liste aller Geschäftsprozesse, welche Bestandteil dieses Geschäftsprozesses sind.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="BaseBusinessProcessStateType" abstract="true">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Information zum gestarteten Prozess.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="businessEventId" type="st:StringType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Fasst einen oder mehrere Prozesse dieses einen Geschäftsereignisses zusammen.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="businessProcessType" type="st:StringType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">UUID des Geschäftsprozesstyps.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="customerContactId" type="st:StringType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">UUID des Kundenkontakts bei dem der Prozess gestartet wurde.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="stateType" type="pc:WsBusinessProcessStateCodeType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">UUID des Geschäftsprozesstyps.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="endState" type="tns:BusinessProcessEndStateType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Wenn der Geschäftsprozess bereits beendet oder abgebrochen ist, können über den EndState
                        zusätzliche Informationen ermittelt werden.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="BusinessProcessEndStateType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Information zu einem beendeten Prozess.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="endStateNotes" type="tns:NoteType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Enthält zusätzliche Hinweise zum Endzustand des Geschäftsprozesses (z. B. Fehler bei Abbruch oder
                        erreichte Endzustände bei beendeten).
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="NoteType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Information.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="noteCategory" type="pc:WsNoteCategoryCodeType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Kategorie des Hinweises (Fehler, Warnung oder Info).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="noteSensitivity" type="pc:WsSensitivityTypeCodeType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Kategorie des Hinweises (Fehler, Warnung oder Info).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="noteId" type="st:StringType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Id vom Alert welcher den Hinweis beschreibt.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="noteDescriptionId" type="pi:WsTextModulIdType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Textbaustein welcher den Hinweis beschreibt.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="noteParam1" type="st:StringType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Parameter 1 zur Verwendung in der Beschreibung.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="noteParam2" type="st:StringType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Parameter 2 zur Verwendung in der Beschreibung.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="noteParam3" type="st:StringType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Parameter 3 zur Verwendung in der Beschreibung.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="noteParam4" type="st:StringType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Parameter 4 zur Verwendung in der Beschreibung.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="noteParam5" type="st:StringType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Parameter 5 zur Verwendung in der Beschreibung.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="noteParam6" type="st:StringType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Parameter 6 zur Verwendung in der Beschreibung.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="noteParam7" type="st:StringType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Parameter 7 zur Verwendung in der Beschreibung.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="noteParam8" type="st:StringType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Parameter 8 zur Verwendung in der Beschreibung.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="BusinessProcessWaitStateType" abstract="true">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Information zu einem Geschäftsprozesswartezustand.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="executionNotes" type="tns:NoteType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Ausführungshinweise zum Geschäftsprozesswartezustand.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="UserTaskWaitStateType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Information zu einem laufenden Prozess, falls dieser an einem UserTask steht.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="tns:BusinessProcessWaitStateType">
                <xsd:sequence>
                    <xsd:element name="aufgabeId" type="pi:WsAufgabeIdType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Eindeutige Syrius AufgabenId.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="ConditionalWaitStateType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Information zu einem laufenden Prozess, falls dieser an einem ConditionalWaitState steht.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="tns:BusinessProcessWaitStateType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="MessageWaitStateType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Information zu einem laufenden Prozess, falls dieser auf eine bestimmte Message wartet.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="tns:BusinessProcessWaitStateType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="IncidentWaitStateType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Information zu einem laufenden Prozess, falls dieser an einem IncidentWaitState steht.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="tns:BusinessProcessWaitStateType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="TimerWaitStateType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Information zu einem laufenden Prozess, falls dieser auf einen definierten Zeitpunkt wartet.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="tns:BusinessProcessWaitStateType">
                <xsd:sequence>
                    <xsd:element name="duedate" type="st:LocalDateTimeType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Ablaufzeit des Warteschritts.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="SuspendedJobWaitStateType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Information zu einem laufenden Prozess, falls dieser anngehalten wurde.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="tns:BusinessProcessWaitStateType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="SignalWaitStateType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Information zu einem laufenden Prozess, falls dieser auf ein Signal wartet.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="tns:BusinessProcessWaitStateType"/>
        </xsd:complexContent>
    </xsd:complexType>
</xsd:schema>
