master-21371/apibridge-schadenleistungsmgmt-suva_6.master.master-21371-13742/wsdl/com/adcubum/syrius/api/schadenleistungsmgmt/common/code/data/v1/CodeService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="CodeService"
                  targetNamespace="urn:com:adcubum:syrius:api:schadenleistungsmgmt:common:code:data:v1"
                  xmlns:tns="urn:com:adcubum:syrius:api:schadenleistungsmgmt:common:code:data:v1"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:flt="urn:com:adcubum:syrius:api:common:faults:v1"
                  xmlns:code="urn:com:adcubum:syrius:api:schadenleistungsmgmt:common:code:data:v1:schema">
    <wsdl:documentation>Version: 1.0.0</wsdl:documentation>

    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="urn:com:adcubum:syrius:api:common:faults:v1"
                        schemaLocation="../../../../../common/faults/v1/faults.xsd"/>
            <xsd:import namespace="urn:com:adcubum:syrius:api:schadenleistungsmgmt:common:code:data:v1:schema"
                        schemaLocation="schema/CodeService.xsd"/>
        </xsd:schema>
    </wsdl:types>

    <!-- Localized Attributes -->
    <wsdl:message name="LocalizedCodeRequestMessage">
        <wsdl:part name="Request" element="code:wsLocalizedCodeRequest"/>
    </wsdl:message>
    <wsdl:message name="LocalizedCodeResponseMessage">
        <wsdl:part name="Response" element="code:wsLocalizedCodeResponse"/>
    </wsdl:message>
    <wsdl:message name="ApiFaultMessage">
        <wsdl:part name="fault" element="flt:apiFaultInfo"/>
    </wsdl:message>

    <!-- searchCodeForFachschluessel -->
    <wsdl:message name="SearchCodeForFachschluesselRequestMessage">
        <wsdl:part name="Request" element="code:wsSearchCodeForFachschluesselRequest"/>
    </wsdl:message>
    <wsdl:message name="SearchCodeForFachschluesselResponseMessage">
        <wsdl:part name="Response" element="code:wsSearchCodeForFachschluesselResponse"/>
    </wsdl:message>

    <wsdl:portType name="CodeServicePortType">
        <!-- Localized Attributes -->
        <wsdl:operation name="getLocalizedCode">
            <wsdl:documentation>Liest einen oder mehrere Codes aus der Domäne Schaden Leistungs Management.</wsdl:documentation>
            <wsdl:input name="getLocalizedCodeRequest" message="tns:LocalizedCodeRequestMessage"/>
            <wsdl:output name="getLocalizedCodeResponse" message="tns:LocalizedCodeResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>

        <!-- searchCodeForFachschluessel -->
        <wsdl:operation name="searchCodeForFachschluessel">
            <wsdl:documentation>Sucht nach einem Code aus der Domäne Schaden Leistungs Management über den übergebenen Fachschlüssel.
            </wsdl:documentation>
            <wsdl:input name="searchCodeForFachschluesselRequest" message="tns:SearchCodeForFachschluesselRequestMessage"/>
            <wsdl:output name="searchCodeForFachschluesselResponse" message="tns:SearchCodeForFachschluesselResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CodeServiceBinding" type="tns:CodeServicePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

        <!-- Localized Attributes -->
        <wsdl:operation name="getLocalizedCode">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="getLocalizedCodeRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getLocalizedCodeResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <!-- Code -->
        <wsdl:operation name="searchCodeForFachschluessel">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="searchCodeForFachschluesselRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="searchCodeForFachschluesselResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="CodeService_v1">
        <wsdl:documentation>
            Ein lesender Service für Codes welche in der Domäne Schaden Leistungs Management definiert sind.
            Codes, welche nicht in der Domäne Schaden Leistungs Management definiert sind müssen über Services gelesen werden, welche
            die jeweilige Domäne auf der Api anbietet.
        </wsdl:documentation>
        <wsdl:port name="CodeService_v1" binding="tns:CodeServiceBinding">
            <soap:address location="http://example.com/apibridge-schadenleistungsmgmt/CodeService_v1"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
