master-21371/apibridge-partnermgmt-suva_4.master.master-21371-14050/wsdl/com/adcubum/syrius/api/partnermgmt/partnerdatenverw/process/telefonaenderungexp/v0/TelefonAenderungExpProcessService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="TelefonAenderungExpProcessService"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="urn:com:adcubum:syrius:api:partnermgmt:partnerdatenverw:process:telefonaenderungexp:v0"
                  xmlns:tns="urn:com:adcubum:syrius:api:partnermgmt:partnerdatenverw:process:telefonaenderungexp:v0"
                  xmlns:pa="urn:com:adcubum:syrius:api:partnermgmt:partnerdatenverw:process:telefonaenderungexp:v0:schema"
                  xmlns:flt="urn:com:adcubum:syrius:api:common:faults:v1"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/">
    <wsdl:documentation>Version: 0.2.0</wsdl:documentation>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="urn:com:adcubum:syrius:api:partnermgmt:partnerdatenverw:process:telefonaenderungexp:v0:schema"
                        schemaLocation="schema/TelefonAenderungExpProcessService.xsd"/>
            <xsd:import namespace="urn:com:adcubum:syrius:api:common:faults:v1" schemaLocation="../../../../../common/faults/v1/faults.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="CreateTelefonAenderungProcessRequestMessage">
        <wsdl:part name="Request" element="pa:createTelefonAenderungProcessRequest"/>
    </wsdl:message>
    <wsdl:message name="CreateTelefonAenderungProcessResponseMessage">
        <wsdl:part name="Response" element="pa:createTelefonAenderungProcessResponse"/>
    </wsdl:message>
    <wsdl:message name="CreateTelefonRequestMessage">
        <wsdl:part name="Request" element="pa:createTelefonRequest"/>
    </wsdl:message>
    <wsdl:message name="CreateTelefonResponseMessage">
        <wsdl:part name="Response" element="pa:createTelefonResponse"/>
    </wsdl:message>
    <wsdl:message name="ChangeTelefonRequestMessage">
        <wsdl:part name="Request" element="pa:changeTelefonRequest"/>
    </wsdl:message>
    <wsdl:message name="ChangeTelefonResponseMessage">
        <wsdl:part name="Response" element="pa:changeTelefonResponse"/>
    </wsdl:message>
    <wsdl:message name="TerminateTelefonRequestMessage">
        <wsdl:part name="Request" element="pa:terminateTelefonRequest"/>
    </wsdl:message>
    <wsdl:message name="TerminateTelefonResponseMessage">
        <wsdl:part name="Response" element="pa:terminateTelefonResponse"/>
    </wsdl:message>
    <wsdl:message name="ApiFaultMessage">
        <wsdl:part name="fault" element="flt:apiFaultInfo"/>
    </wsdl:message>
    <wsdl:portType name="TelefonAenderungExpProcessServicePortType">
        <wsdl:operation name="CreateTelefonAenderungProcess">
            <wsdl:documentation>Startet einen TelefonAenderungs-Prozess (BPM) für einen bestimmten Partner. Dabei ist noch nicht unbedingt klar, ob es sich um eine Neuerfassung oder Änderung handelt. Dies kann ggf. in einer Anreicherung innerhalb vom Prozess gesteuert werden.</wsdl:documentation>
            <wsdl:input name="CreateTelefonAenderungProcessRequest" message="tns:CreateTelefonAenderungProcessRequestMessage"/>
            <wsdl:output name="CreateTelefonAenderungProcessResponse" message="tns:CreateTelefonAenderungProcessResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="createTelefon">
            <wsdl:documentation>Startet den BPM Prozess für ein neues Telefon zu einem bestimmten Partner.</wsdl:documentation>
            <wsdl:input name="createTelefonRequest" message="tns:CreateTelefonRequestMessage"/>
            <wsdl:output name="createTelefonResponse" message="tns:CreateTelefonResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="changeTelefon">
            <wsdl:documentation>Startet den BPM Prozess um ein bestehendes Telefon zu ändern.</wsdl:documentation>
            <wsdl:input name="changeTelefonRequest" message="tns:ChangeTelefonRequestMessage"/>
            <wsdl:output name="changeTelefonResponse" message="tns:ChangeTelefonResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="terminateTelefon">
            <wsdl:documentation>Startet den BPM Prozess um ein bestehendes Telefon zu terminieren.</wsdl:documentation>
            <wsdl:input name="terminateTelefonRequest" message="tns:TerminateTelefonRequestMessage"/>
            <wsdl:output name="terminateTelefonResponse" message="tns:TerminateTelefonResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="TelefonAenderungExpProcessServiceBinding" type="tns:TelefonAenderungExpProcessServicePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="CreateTelefonAenderungProcess">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="CreateTelefonAenderungProcessRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="CreateTelefonAenderungProcessResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="createTelefon">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="createTelefonRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="createTelefonResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="changeTelefon">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="changeTelefonRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="changeTelefonResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="terminateTelefon">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="terminateTelefonRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="terminateTelefonResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="TelefonAenderungExpProcessService_v0">
        <wsdl:port name="TelefonAenderungExpProcessService_v0" binding="tns:TelefonAenderungExpProcessServiceBinding">
            <soap:address location="https://example.com/apibridge-partnermgmt/TelefonAenderungExpProcessService_v0"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
