master-21371/apibridge-finanzwesen-suva_3.master.master-21371-12912/wsdl/com/adcubum/syrius/api/finanzwesen/fakturamgmt/data/zahlung/v1/ZahlungService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="ZahlungService"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="urn:com:adcubum:syrius:api:finanzwesen:fakturamgmt:data:zahlung:v1"
                  xmlns:tns="urn:com:adcubum:syrius:api:finanzwesen:fakturamgmt:data:zahlung:v1"
                  xmlns:pa="urn:com:adcubum:syrius:api:finanzwesen:fakturamgmt:data:zahlung:v1:schema"
                  xmlns:flt="urn:com:adcubum:syrius:api:common:faults:v1"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/">
    <wsdl:documentation>Version: 1.0.0</wsdl:documentation>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="urn:com:adcubum:syrius:api:finanzwesen:fakturamgmt:data:zahlung:v1:schema" schemaLocation="schema/ZahlungService.xsd"/>
            <xsd:import namespace="urn:com:adcubum:syrius:api:common:faults:v1" schemaLocation="../../../../../common/faults/v1/faults.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="GetZahlungRequestMessage">
        <wsdl:part name="Request" element="pa:getZahlungRequest"/>
    </wsdl:message>
    <wsdl:message name="GetZahlungResponseMessage">
        <wsdl:part name="Response" element="pa:getZahlungResponse"/>
    </wsdl:message>
    <wsdl:message name="ReadZahlungForZahlerRequestMessage">
        <wsdl:part name="Request" element="pa:readZahlungForZahlerRequest"/>
    </wsdl:message>
    <wsdl:message name="ReadZahlungForZahlerResponseMessage">
        <wsdl:part name="Response" element="pa:readZahlungForZahlerResponse"/>
    </wsdl:message>
    <wsdl:message name="ApiFaultMessage">
        <wsdl:part name="fault" element="flt:apiFaultInfo"/>
    </wsdl:message>
    <wsdl:portType name="ZahlungServicePortType">
        <wsdl:operation name="getZahlung">
            <wsdl:documentation>Liefert für einen technischen Zahlungschlüssel die Daten der zugehörigen Zahlung zurück.</wsdl:documentation>
            <wsdl:input name="getZahlungRequest" message="tns:GetZahlungRequestMessage"/>
            <wsdl:output name="getZahlungResponse" message="tns:GetZahlungResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="readZahlungForZahler">
            <wsdl:documentation>Liefert für einen technischen Zahlerschlüssel eine Liste von dazugehörigen Zahlung-Ids.</wsdl:documentation>
            <wsdl:input name="readZahlungForZahlerRequest" message="tns:ReadZahlungForZahlerRequestMessage"/>
            <wsdl:output name="readZahlungForZahlerResponse" message="tns:ReadZahlungForZahlerResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ZahlungServiceBinding" type="tns:ZahlungServicePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getZahlung">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="getZahlungRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getZahlungResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="readZahlungForZahler">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="readZahlungForZahlerRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="readZahlungForZahlerResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ZahlungService_v1">
        <wsdl:port name="ZahlungService_v1" binding="tns:ZahlungServiceBinding">
            <soap:address location="https://example.com/apibridge-finanzwesen/ZahlungService_v1"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
