master-21371/apibridge-finanzwesen-suva_3.master.master-21371-12912/wsdl/com/adcubum/syrius/api/finanzwesen/fakturamgmt/data/zahlungsmittel/v1/schema/ZahlungsmittelService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:ct="urn:com:adcubum:syrius:api:common:types:v1"
            xmlns:st="urn:com:adcubum:syrius:api:common:simpleTypes:v1"
            xmlns:fi="urn:com:adcubum:syrius:api:finanzwesen:common:identifier:v1"
            xmlns:fc="urn:com:adcubum:syrius:api:finanzwesen:common:codes:v1"
            xmlns:xt="urn:com:adcubum:syrius:api:common:externalTypes:v1"
            xmlns:ext="urn:com:adcubum:syrius:api:common:extendedTypes:v1"
            xmlns:tns="urn:com:adcubum:syrius:api:finanzwesen:fakturamgmt:data:zahlungsmittel:v1:schema"
            elementFormDefault="qualified"
            targetNamespace="urn:com:adcubum:syrius:api:finanzwesen:fakturamgmt:data:zahlungsmittel:v1:schema"
            version="1.1.0">
    <xsd:import namespace="urn:com:adcubum:syrius:api:common:types:v1" schemaLocation="../../../../../../common/types/v1/types.xsd"/>
    <xsd:import namespace="urn:com:adcubum:syrius:api:common:simpleTypes:v1" schemaLocation="../../../../../../common/simpleTypes/v1/simpleTypes.xsd"/>
    <xsd:import namespace="urn:com:adcubum:syrius:api:finanzwesen:common:codes:v1" schemaLocation="../../../../../common/codes/v1/codes.xsd"/>
    <xsd:import namespace="urn:com:adcubum:syrius:api:common:externalTypes:v1" schemaLocation="../../../../../../common/externalTypes/v1/externalTypes.xsd"/>
    <xsd:import namespace="urn:com:adcubum:syrius:api:common:extendedTypes:v1" schemaLocation="../../../../../../common/extendedTypes/v1/extendedTypes.xsd"/>
    <xsd:import namespace="urn:com:adcubum:syrius:api:finanzwesen:common:identifier:v1" schemaLocation="../../../../../common/identifier/v1/identifier.xsd"/>
    <xsd:element name="getZahlungsmittelRequest" type="tns:GetZahlungsmittelRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, mit dem die Zahlungsmittel geladen werden.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="getZahlungsmittelResponse" type="tns:GetZahlungsmittelResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response, der die geladenen Zahlungsmittel enthält.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="getZahlungsmittelMitRatenRequest" type="tns:GetZahlungsmittelMitRatenRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, mit dem die Zahlungsmittel mitsamt den Raten geladen werden.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="getZahlungsmittelMitRatenResponse" type="tns:GetZahlungsmittelMitRatenResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response, der die geladenen Zahlungsmittel mitsamt den Raten enthält.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="readZahlungsmittelForFakturaRequest" type="tns:ReadZahlungsmittelForFakturaRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, mit dem die Zahlungsmittel-Id von bestimmten Fakturen geladen werden.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="readZahlungsmittelForFakturaResponse" type="tns:ReadZahlungsmittelForFakturaResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response, in dem die geladenen Zahlungsmittel-Id der angegebenen Fakturen enthalten sind.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="GetZahlungsmittelRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, mit dem die Zahlungsmittel geladen werden.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="zahlungsmittelId" type="fi:WsZahlungsmittelIdType" minOccurs="1" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Technischer Schlüssel eines Zahlungsmittels.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="GetZahlungsmittelResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response, der die geladenen Zahlungsmittel enthält.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="zahlungsmittel" type="tns:WsZahlungsmittelType" minOccurs="1" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Enthält eine Liste mit den geladenen Zahlungsmitteln.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="GetZahlungsmittelMitRatenRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, mit dem die Zahlungsmittel mitsamt den Raten geladen werden.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="zahlungsmittelId" type="fi:WsZahlungsmittelIdType" minOccurs="1" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Technischer Schlüssel eines Zahlungsmittels.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="GetZahlungsmittelMitRatenResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response, der die geladenen Zahlungsmittel mitsamt den raten enthält.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="zahlungsmittel" type="tns:WsZahlungsmittelMitRatenType" minOccurs="1" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Enthält eine Liste mit den geladenen Zahlungsmitteln mitsamt den Raten.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ReadZahlungsmittelForFakturaRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, mit dem die Zahlungsmittel-Id von bestimmten Fakturen geladen werden.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="fakturaId" type="fi:WsFakturaIdType" minOccurs="1" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Technischer Schlüssel einer Faktura, von welchem die Zahlungsmittel geladen werden sollen.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ReadZahlungsmittelForFakturaResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response, in dem die geladenen Zahlungsmittel-Id der angegebenen Fakturen enthalten sind.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="fakturaZahlungsmittel" type="tns:WsFakturaZahlungsmittelType" minOccurs="1" maxOccurs="unbounded">
               <xsd:annotation>
                    <xsd:documentation xml:lang="de">Enthält die geladenen Fakturen-Id eines Zahlers.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="WsZahlungsmittelType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Enthält die Daten eines Zahlungsmittels.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ct:WsDataObjectType">
                <xsd:sequence>
                    <xsd:element name="id" type="fi:WsZahlungsmittelIdType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Technischer Schlüssel einer Faktura.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="referenznummer" type="st:StringType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Referenznummer.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="status" type="fc:WsZahlungsmittelStatusCodeType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Status des Zahlungsmittels.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="zahlungsadresse" type="fi:WsZahlungsadresseIdType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Zahlungsadresse des Zahlungsmittels.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="zahlungsmittelDefinition" type="fi:WsZahlungsmittelDefIdType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Zahlungsmitteldefinition des Zahlungsmittels.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="verguetungswaehrungISOCode" type="st:StringType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Enthält den ISO Code der Vergütungswährung.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="faktura" type="fi:WsFakturaIdType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Enthält die Referenz auf die Faktura.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsZahlungsmittelMitRatenType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Eigenschaften eines Zahlungsmittels mit Raten.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="tns:WsZahlungsmittelType">
                <xsd:sequence>
                    <xsd:element name="raten" type="tns:WsRateType" minOccurs="0" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Technischer Schlüssel einer Abrechnung.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsRateType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Enthält die Daten einer Rate.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ct:WsDataObjectType">
                <xsd:sequence>
                    <xsd:element name="id" type="fi:WsRateIdType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Technischer Schlüssel einer Rate.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="faelligkeit" type="st:LocalDateType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Technischer Schlüssel einer Rate.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="originalbetrag" type="xt:WsMoneyType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Originalbetrag der Rate.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="referenzbetrag" type="xt:WsMoneyType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Referenzbetrag der Rate.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsFakturaZahlungsmittelType">
        <xsd:annotation>
           <xsd:documentation xml:lang="de">Enthält die geladenen Zahlungsmittel-Id einer Faktura.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="fakturaId" type="fi:WsFakturaIdType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Technischer Schlüssel einer Faktura, von welchem die Zahlungsmittel-Id geladen wurden.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="zahlungsmittelId" type="fi:WsZahlungsmittelIdType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Enthält die Id des aktiven Zahlungsmittels.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
