master-21371/apibridge-unternehmensorg-suva_5.master.master-21371-13184/wsdl/com/adcubum/syrius/api/unternehmensorg/geschaeftsprozessmgmt/data/workflow/v2/WorkflowService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="WorkflowService" 
        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        targetNamespace="urn:com:adcubum:syrius:api:unternehmensorg:geschaeftsprozessmgmt:data:workflow:v2" 
        xmlns:tns="urn:com:adcubum:syrius:api:unternehmensorg:geschaeftsprozessmgmt:data:workflow:v2" 
        xmlns:pa="urn:com:adcubum:syrius:api:unternehmensorg:geschaeftsprozessmgmt:data:workflow:v2:schema" 
        xmlns:flt="urn:com:adcubum:syrius:api:common:faults:v1" 
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
	<wsdl:documentation>Version: 2.0.0</wsdl:documentation>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="urn:com:adcubum:syrius:api:unternehmensorg:geschaeftsprozessmgmt:data:workflow:v2:schema" schemaLocation="schema/WorkflowService.xsd"/>
            <xsd:import namespace="urn:com:adcubum:syrius:api:common:faults:v1" schemaLocation="../../../../../common/faults/v1/faults.xsd"/>
        </xsd:schema>
    </wsdl:types>
    
    <wsdl:message name="GetWorkflowRequestMessage">
        <wsdl:part name="Request" element="pa:getWorkflowRequest"/>
    </wsdl:message>
    <wsdl:message name="GetWorkflowResponseMessage">
        <wsdl:part name="Response" element="pa:getWorkflowResponse"/>
    </wsdl:message>
    <wsdl:message name="SearchWorkflowRequestMessage">
        <wsdl:part name="Request" element="pa:searchWorkflowRequest"/>
    </wsdl:message>
    <wsdl:message name="SearchWorkflowResponseMessage">
        <wsdl:part name="Response" element="pa:searchWorkflowResponse"/>
    </wsdl:message>
    <wsdl:message name="ApiFaultMessage">
        <wsdl:part name="fault" element="flt:apiFaultInfo"/>
    </wsdl:message>
    
    <wsdl:portType name="WorkflowServicePortType">
        <wsdl:operation name="getWorkflow">
            <wsdl:documentation>Ermittelt einen Workflow.</wsdl:documentation>
            <wsdl:input name="getWorkflowRequest" message="tns:GetWorkflowRequestMessage"/>
            <wsdl:output name="getWorkflowResponse" message="tns:GetWorkflowResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="searchWorkflow">
            <wsdl:documentation>Liefert eine Liste von technischen Schlüssel gemäss den gesetzten Suchkriterien. Die Schlüssel beziehen sich dabei auf Workflow. Die Suche erfolgt per Stichdatum.</wsdl:documentation>
            <wsdl:input name="searchWorkflowRequest" message="tns:SearchWorkflowRequestMessage"/>
            <wsdl:output name="searchWorkflowResponse" message="tns:SearchWorkflowResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    
    <wsdl:binding name="WorkflowServiceBinding" type="tns:WorkflowServicePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getWorkflow">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="getWorkflowRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getWorkflowResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="searchWorkflow">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="searchWorkflowRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="searchWorkflowResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    
     <wsdl:service name="WorkflowService_v2">
        <wsdl:port name="WorkflowService_v2" binding="tns:WorkflowServiceBinding">
            <soap:address location="https://example.com/apibridge-unternehmensorg/WorkflowService_v2"/>
        </wsdl:port>
    </wsdl:service>
    
</wsdl:definitions>
