master-21371/apibridge-unternehmensorg-suva_5.master.master-21371-13184/wsdl/com/adcubum/syrius/api/unternehmensorg/geschaeftsprozessmgmt/process/processengineaufgabe/v1/ProcessEngineAufgabeProcessService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="ProcessEngineAufgabeProcessService"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  targetNamespace="urn:com:adcubum:syrius:api:unternehmensorg:geschaeftsprozessmgmt:process:processengineaufgabe:v1"
                  xmlns:tns="urn:com:adcubum:syrius:api:unternehmensorg:geschaeftsprozessmgmt:process:processengineaufgabe:v1"
                  xmlns:pa="urn:com:adcubum:syrius:api:unternehmensorg:geschaeftsprozessmgmt:process:processengineaufgabe:v1:schema"
                  xmlns:flt="urn:com:adcubum:syrius:api:common:faults:v1"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <wsdl:documentation>Version: 1.0.0</wsdl:documentation>

    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="urn:com:adcubum:syrius:api:unternehmensorg:geschaeftsprozessmgmt:process:processengineaufgabe:v1:schema"
                        schemaLocation="schema/ProcessEngineAufgabeProcessService.xsd"/>
            <xsd:import namespace="urn:com:adcubum:syrius:api:common:faults:v1" schemaLocation="../../../../../common/faults/v1/faults.xsd"/>
        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="CreateProcessEngineAufgabeRequestMessage">
        <wsdl:part name="Request" element="pa:createProcessEngineAufgabeRequest"/>
    </wsdl:message>
    <wsdl:message name="CreateProcessEngineAufgabeResponseMessage">
        <wsdl:part name="Response" element="pa:createProcessEngineAufgabeResponse"/>
    </wsdl:message>

    <wsdl:message name="CompleteProcessEngineAufgabeRequestMessage">
        <wsdl:part name="Request" element="pa:completeProcessEngineAufgabeRequest"/>
    </wsdl:message>
    <wsdl:message name="CompleteProcessEngineAufgabeResponseMessage">
        <wsdl:part name="Response" element="pa:completeProcessEngineAufgabeResponse"/>
    </wsdl:message>

    <wsdl:message name="AbortProcessEngineAufgabeRequestMessage">
        <wsdl:part name="Request" element="pa:abortProcessEngineAufgabeRequest"/>
    </wsdl:message>
    <wsdl:message name="AbortProcessEngineAufgabeResponseMessage">
        <wsdl:part name="Response" element="pa:abortProcessEngineAufgabeResponse"/>
    </wsdl:message>

    <wsdl:message name="ApiFaultMessage">
        <wsdl:part name="fault" element="flt:apiFaultInfo"/>
    </wsdl:message>

    <wsdl:portType name="ProcessEngineAufgabeProcessServicePortType">
        <wsdl:operation name="createProcessEngineAufgabe">
            <wsdl:documentation>Erstellt eine neue ProcessEngine-Aufgabe.</wsdl:documentation>
            <wsdl:input name="createProcessEngineAufgabeRequest" message="tns:CreateProcessEngineAufgabeRequestMessage"/>
            <wsdl:output name="createProcessEngineAufgabeResponse" message="tns:CreateProcessEngineAufgabeResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>

        <wsdl:operation name="completeProcessEngineAufgabe">
            <wsdl:documentation>Komplettiert eine bestehende ProcessEngine-Aufgabe.</wsdl:documentation>
            <wsdl:input name="completeProcessEngineAufgabeRequest" message="tns:CompleteProcessEngineAufgabeRequestMessage"/>
            <wsdl:output name="completeProcessEngineAufgabeResponse" message="tns:CompleteProcessEngineAufgabeResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>

        <wsdl:operation name="abortProcessEngineAufgabe">
            <wsdl:documentation>Bricht eine bestehende ProcessEngine-Aufgabe ab.</wsdl:documentation>
            <wsdl:input name="abortProcessEngineAufgabeRequest" message="tns:AbortProcessEngineAufgabeRequestMessage"/>
            <wsdl:output name="abortProcessEngineAufgabeResponse" message="tns:AbortProcessEngineAufgabeResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="ProcessEngineAufgabeProcessServiceBinding" type="tns:ProcessEngineAufgabeProcessServicePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="createProcessEngineAufgabe">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="createProcessEngineAufgabeRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="createProcessEngineAufgabeResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="completeProcessEngineAufgabe">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="completeProcessEngineAufgabeRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="completeProcessEngineAufgabeResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="abortProcessEngineAufgabe">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="abortProcessEngineAufgabeRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="abortProcessEngineAufgabeResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="ProcessEngineAufgabeProcessService_v1">
        <wsdl:port name="ProcessEngineAufgabeProcessService_v1" binding="tns:ProcessEngineAufgabeProcessServiceBinding">
            <soap:address location="https://example.com/apibridge-unternehmensorg/ProcessEngineAufgabeProcessService_v1"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>
