master-21371/apibridge-partnermgmt-suva_4.master.master-21371-14050/wsdl/com/adcubum/syrius/api/partnermgmt/partnerdatenverw/data/partnerrolle/v1/PartnerrolleService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="PartnerrolleService"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="urn:com:adcubum:syrius:api:partnermgmt:partnerdatenverw:data:partnerrolle:v1"
                  xmlns:tns="urn:com:adcubum:syrius:api:partnermgmt:partnerdatenverw:data:partnerrolle:v1"
                  xmlns:pa="urn:com:adcubum:syrius:api:partnermgmt:partnerdatenverw:data:partnerrolle:v1:schema"
                  xmlns:flt="urn:com:adcubum:syrius:api:common:faults:v1"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/">
    <wsdl:documentation>Version: 1.0.0</wsdl:documentation>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="urn:com:adcubum:syrius:api:partnermgmt:partnerdatenverw:data:partnerrolle:v1:schema" schemaLocation="schema/PartnerrolleService.xsd"/>
            <xsd:import namespace="urn:com:adcubum:syrius:api:common:faults:v1" schemaLocation="../../../../../common/faults/v1/faults.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="GetPartnerrolleRequestMessage">
        <wsdl:part name="Request" element="pa:getPartnerrolleRequest"/>
    </wsdl:message>
    <wsdl:message name="GetPartnerrolleResponseMessage">
        <wsdl:part name="Response" element="pa:getPartnerrolleResponse"/>
    </wsdl:message>
    <wsdl:message name="GetPartnerPartnerrolleRequestMessage">
        <wsdl:part name="Request" element="pa:getPartnerPartnerrolleRequest"/>
    </wsdl:message>
    <wsdl:message name="GetPartnerPartnerrolleResponseMessage">
        <wsdl:part name="Response" element="pa:getPartnerPartnerrolleResponse"/>
    </wsdl:message>
    <wsdl:message name="ApiFaultMessage">
        <wsdl:part name="fault" element="flt:apiFaultInfo"/>
    </wsdl:message>
    <wsdl:portType name="PartnerrolleServicePortType">
        <wsdl:operation name="getPartnerrolle">
            <wsdl:documentation>Liefert für einen technischen Partnerrollenschlüssel die Daten der zugehörigen Partnerrolle inkl. Param-Attrs.</wsdl:documentation>
            <wsdl:input name="getPartnerrolleRequest" message="tns:GetPartnerrolleRequestMessage"/>
            <wsdl:output name="getPartnerrolleResponse" message="tns:GetPartnerrolleResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="getPartnerPartnerrolle">
            <wsdl:documentation>Liefert für einen technischen Partnerschlüssel die Daten der dazugehörenden Partnerrollen inkl. Param-Attrs.</wsdl:documentation>
            <wsdl:input name="getPartnerPartnerrolleRequest" message="tns:GetPartnerPartnerrolleRequestMessage"/>
            <wsdl:output name="getPartnerPartnerrolleResponse" message="tns:GetPartnerPartnerrolleResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PartnerrolleServiceBinding" type="tns:PartnerrolleServicePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getPartnerrolle">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="getPartnerrolleRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getPartnerrolleResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getPartnerPartnerrolle">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="getPartnerPartnerrolleRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getPartnerPartnerrolleResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="PartnerrolleService_v1">
        <wsdl:port name="PartnerrolleService_v1" binding="tns:PartnerrolleServiceBinding">
            <soap:address location="https://example.com/apibridge-partnermgmt/PartnerrolleService_v1"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
