master-21371/apibridge-marketingvertrieb-vertriebsmgmt-suva_1.master.master-21371-8534/wsdl/com/adcubum/syrius/api/marketingvertrieb/vertriebsmgmt/data/contractmanager/v1/schema/ContractManagerService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:mvi="urn:com:adcubum:syrius:api:marketingvertrieb:common:identifier:v1"
            xmlns:ct="urn:com:adcubum:syrius:api:common:types:v1"
            xmlns:st="urn:com:adcubum:syrius:api:common:simpleTypes:v1"
            xmlns:search="urn:com:adcubum:syrius:api:common:searchTypes:v1"
            xmlns:mvc="urn:com:adcubum:syrius:api:marketingvertrieb:common:codes:v1"
            xmlns:tns="urn:com:adcubum:syrius:api:marketingvertrieb:vertriebsmgmt:data:contractmanager:v1:schema"
            elementFormDefault="qualified"
            targetNamespace="urn:com:adcubum:syrius:api:marketingvertrieb:vertriebsmgmt:data:contractmanager:v1:schema"
            version="1.0.0">
    <xsd:import namespace="urn:com:adcubum:syrius:api:marketingvertrieb:common:codes:v1"
                schemaLocation="../../../../../common/codes/v1/codes.xsd"/>
    <xsd:import namespace="urn:com:adcubum:syrius:api:marketingvertrieb:common:identifier:v1"
                schemaLocation="../../../../../common/identifier/v1/identifier.xsd"/>
    <xsd:import namespace="urn:com:adcubum:syrius:api:common:types:v1"
                schemaLocation="../../../../../../common/types/v1/types.xsd"/>
    <xsd:import namespace="urn:com:adcubum:syrius:api:common:simpleTypes:v1"
                schemaLocation="../../../../../../common/simpleTypes/v1/simpleTypes.xsd"/>
    <xsd:import namespace="urn:com:adcubum:syrius:api:common:searchTypes:v1"
                schemaLocation="../../../../../../common/searchTypes/v1/searchTypes.xsd"/>
                
    <xsd:element name="changeContractManagerRequest" type="tns:ChangeContractManagerRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Request for allocating or reallocating contract manager.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="changeContractManagerResponse" type="tns:ChangeContractManagerResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Response for allocating or reallocating contract manager.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
       
    <xsd:complexType name="ChangeContractManagerRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Request for allocating or reallocating contract manager.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
	        <xsd:element name="contractManager" type="tns:WsContractManagerType" minOccurs="1" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">List with contract manager to allocate</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="overwriteFutureStates" type="st:BooleanType" minOccurs="0" maxOccurs="1">
	     		<xsd:annotation>
                    <xsd:documentation xml:lang="en">overwrite all future states. It is always false if the parameter is not set.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
       
    <xsd:complexType name="WsContractManagerType">
    	<xsd:annotation>
            <xsd:documentation xml:lang="en">Represents a contract manager allocation.</xsd:documentation>
        </xsd:annotation>
		    	<xsd:sequence>
		    		<xsd:element name="contractId" type="mvi:WsContractIdType" minOccurs="1" maxOccurs="1">
			    		<xsd:annotation>
		                    <xsd:documentation xml:lang="en">contract id</xsd:documentation>
		                </xsd:annotation>
		            </xsd:element>
		     		<xsd:element name="distributionEmployeeId" type="mvi:WsVertriebspartnerIdType" minOccurs="1" maxOccurs="1">
			     		<xsd:annotation>
		                    <xsd:documentation xml:lang="en">technical key of distribution employee</xsd:documentation>
		                </xsd:annotation>
		            </xsd:element>
		     		<xsd:element name="validFrom" type="st:LocalDateType" minOccurs="1" maxOccurs="1">
		     			<xsd:annotation>
		                    <xsd:documentation xml:lang="en">Valid-from date for allocation</xsd:documentation>
		                </xsd:annotation>
		            </xsd:element>
		            <xsd:element name="validTo" type="st:LocalDateType" minOccurs="0" maxOccurs="1">
		     			<xsd:annotation>
		                    <xsd:documentation xml:lang="en">Valid-To date for allocation</xsd:documentation>
		                </xsd:annotation>
		            </xsd:element>
		   		</xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ChangeContractManagerResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Response with a list of non-allocated contractIDs.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="contractId" type="st:StringType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Key of non allocated contract</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:element name="searchContractsOfContractManagerRequest" type="tns:SearchContractsOfContractManagerRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Request for searching contracts of contract manager.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="searchContractsOfContractManagerResponse" type="tns:SearchContractsOfContractManagerResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Response with a list of contracts of a contract manager.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    
    <xsd:complexType name="SearchContractsOfContractManagerRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Request for searching contracts of contract manager.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
	        <xsd:element name="distributionEmployeeId" type="mvi:WsVertriebspartnerIdType" minOccurs="1" maxOccurs="1">
	     		<xsd:annotation>
	                   <xsd:documentation xml:lang="en">technical key of distribution employee</xsd:documentation>
	               </xsd:annotation>
		            </xsd:element>
	     		<xsd:element name="contextDate" type="st:LocalDateType" minOccurs="1" maxOccurs="1">
	     			<xsd:annotation>
	                    <xsd:documentation xml:lang="en">Context date of search</xsd:documentation>
	                </xsd:annotation>
	            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="SearchContractsOfContractManagerResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Response with a list of contracts of a contract manager
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="contractOfContractManager" type="tns:WsContractOfContractManagerType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">List of contracts of contract managers</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="WsContractOfContractManagerType">
    	<xsd:annotation>
            <xsd:documentation xml:lang="en">Represents a contract of a contract manager.</xsd:documentation>
        </xsd:annotation>
		    	<xsd:sequence>
		     		<xsd:element name="contractManagerFrom" type="st:LocalDateType" minOccurs="1" maxOccurs="1">
		     			<xsd:annotation>
		                    <xsd:documentation xml:lang="en">Valid-from date for allocation</xsd:documentation>
		                </xsd:annotation>
		            </xsd:element>
		            <xsd:element name="contractManagerUpTo" type="st:LocalDateType" minOccurs="1" maxOccurs="1">
		     			<xsd:annotation>
		                    <xsd:documentation xml:lang="en">Valid-upto date for allocation</xsd:documentation>
		                </xsd:annotation>
		            </xsd:element>
		    		<xsd:element name="contractId" type="mvi:WsContractIdType" minOccurs="1" maxOccurs="1">
			    		<xsd:annotation>
		                    <xsd:documentation xml:lang="en">contract id</xsd:documentation>
		                </xsd:annotation>
		            </xsd:element>
		   		</xsd:sequence>
    </xsd:complexType>
    
    <xsd:element name="readDistributionEmployeeOfContractManagerRequest" type="tns:ReadDistributionEmployeeOfContractManagerRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Request for searching contracts of contract manager.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="readDistributionEmployeeOfContractManagerResponse" type="tns:ReadDistributionEmployeeOfContractManagerResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Response with a list of contracts of a contract manager.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    
    <xsd:complexType name="ReadDistributionEmployeeOfContractManagerRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Request for searching distribution employee of contract.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
	        <xsd:element name="contractId" type="mvi:WsContractIdType" minOccurs="1" maxOccurs="1">
	     		<xsd:annotation>
	                   <xsd:documentation xml:lang="en">Technical key of contract</xsd:documentation>
	               </xsd:annotation>
		            </xsd:element>
	     		<xsd:element name="contextDate" type="st:LocalDateType" minOccurs="1" maxOccurs="1">
	     			<xsd:annotation>
	                    <xsd:documentation xml:lang="en">Context date of search</xsd:documentation>
	                </xsd:annotation>
	            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ReadDistributionEmployeeOfContractManagerResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Response with distribution employee of contract.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="distributionEmployeeId" type="mvi:WsVertriebspartnerIdType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Id of distribution employee</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="contractManagerFrom" type="st:LocalDateType" minOccurs="0" maxOccurs="1">
		     			<xsd:annotation>
		                    <xsd:documentation xml:lang="en">Valid-from date for allocation</xsd:documentation>
		                </xsd:annotation>
		            </xsd:element>
		            <xsd:element name="contractManagerUpTo" type="st:LocalDateType" minOccurs="0" maxOccurs="1">
		     			<xsd:annotation>
		                    <xsd:documentation xml:lang="en">Valid-upto date for allocation</xsd:documentation>
		                </xsd:annotation>
		            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:element name="replaceContractManagerRequest" type="tns:ReplaceContractManagerRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Request to replace a distribution employee with a new one for all its contracts.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="replaceContractManagerResponse" type="tns:ReplaceContractManagerResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Response for replacement of contract managers.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
       
    <xsd:complexType name="ReplaceContractManagerRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Request to replace a distribution employee with a new one for all its contracts.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
			<xsd:element name="oldDistributionEmployeeId" type="mvi:WsVertriebspartnerIdType" minOccurs="1" maxOccurs="1">
   				<xsd:annotation>
					<xsd:documentation xml:lang="en">technical key of old distribution employee</xsd:documentation>
             	</xsd:annotation>
         	</xsd:element>
         	<xsd:element name="newDistributionEmployeeId" type="mvi:WsVertriebspartnerIdType" minOccurs="1" maxOccurs="1">
   				<xsd:annotation>
                	<xsd:documentation xml:lang="en">technical key of new distribution employee</xsd:documentation>
             	</xsd:annotation>
         	</xsd:element>
         	<xsd:element name="replaceFrom" type="st:LocalDateType" minOccurs="1" maxOccurs="1">
  				<xsd:annotation>
                	<xsd:documentation xml:lang="en">Perform replacements from this date</xsd:documentation>
             	</xsd:annotation>
         	</xsd:element>
         	<xsd:element name="overwriteFutureStates" type="st:BooleanType" minOccurs="0" maxOccurs="1">
	     		<xsd:annotation>
                    <xsd:documentation xml:lang="en">overwrite all future states. It is always true if the parameter is not set.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
       
    <xsd:complexType name="ReplaceContractManagerResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Response with a list of non-replaced contractIDs.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="contractId" type="st:StringType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Key of non replaced contract</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="WsCustomAttributeBORefType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">
                Objekt zur Darstellung beliebiger BOIds.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ct:WsCustomAttributeType">
                <xsd:sequence>
                    <xsd:element name="attrValue" type="st:StringType" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>
                                The value of the BOIds. The value can be null.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
</xsd:complexType>

</xsd:schema>
