master-21371/apibridge-operativesrechnungswesen-suva_1.master.master-21371-9481/wsdl/com/adcubum/syrius/api/operativesrechnungswesen/versicherungsnebenbuchfuehrung/data/abrechnungsposition/v1/AbrechnungspositionService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="AbrechnungspositionService"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  targetNamespace="urn:com:adcubum:syrius:api:operativesrechnungswesen:versicherungsnebenbuchfuehrung:data:abrechnungsposition:v1"
                  xmlns:tns="urn:com:adcubum:syrius:api:operativesrechnungswesen:versicherungsnebenbuchfuehrung:data:abrechnungsposition:v1"
                  xmlns:ov="urn:com:adcubum:syrius:api:operativesrechnungswesen:versicherungsnebenbuchfuehrung:data:abrechnungsposition:v1:schema"
                  xmlns:flt="urn:com:adcubum:syrius:api:common:faults:v1"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/">
    <wsdl:documentation>Version: 1.1.0</wsdl:documentation>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="urn:com:adcubum:syrius:api:operativesrechnungswesen:versicherungsnebenbuchfuehrung:data:abrechnungsposition:v1:schema" schemaLocation="schema/AbrechnungspositionService.xsd"/>
            <xsd:import namespace="urn:com:adcubum:syrius:api:common:faults:v1" schemaLocation="../../../../../common/faults/v1/faults.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="GetAbrechnungspositionRequestMessage">
        <wsdl:part name="request" element="ov:getAbrechnungspositionRequest"/>
    </wsdl:message>
    <wsdl:message name="GetAbrechnungspositionResponseMessage">
        <wsdl:part name="response" element="ov:getAbrechnungspositionResponse"/>
    </wsdl:message>
    <wsdl:message name="ReadAbrechnungspositionenForAbrechnungRequestMessage">
        <wsdl:part name="request" element="ov:readAbrechnungspositionenForAbrechnungRequest"/>
    </wsdl:message>
    <wsdl:message name="ReadAbrechnungspositionenForAbrechnungResponseMessage">
        <wsdl:part name="response" element="ov:readAbrechnungspositionenForAbrechnungResponse"/>
    </wsdl:message>
    <wsdl:message name="ReadL10nAttributesAbrechnungspositionRequestMessage">
        <wsdl:part name="Request" element="ov:readL10nAttributesAbrechnungspositionRequest"/>
    </wsdl:message>
    <wsdl:message name="ReadL10nAttributesAbrechnungspositionResponseMessage">
        <wsdl:part name="Response" element="ov:readL10nAttributesAbrechnungspositionResponse"/>
    </wsdl:message>
    <wsdl:message name="ApiFaultMessage">
        <wsdl:part name="fault" element="flt:apiFaultInfo"/>
    </wsdl:message>
    <wsdl:portType name="AbrechnungspositionServicePortType">
        <wsdl:operation name="getAbrechnungsposition">
            <wsdl:documentation>Liefert für einen technischen Abrechnungspositionsschlüssel die Daten der zugehörigen Abrechnungsposition.</wsdl:documentation>
            <wsdl:input name="getAbrechnungspositionRequest" message="tns:GetAbrechnungspositionRequestMessage"/>
            <wsdl:output name="getAbrechnungspositionResponse" message="tns:GetAbrechnungspositionResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="readAbrechnungspositionenForAbrechnung">
            <wsdl:documentation>Liefert für einen technischen Abrechnungschlüssel die zugehörigen Abrechnungspositionen.</wsdl:documentation>
            <wsdl:input name="readAbrechnungspositionenForAbrechnungRequest" message="tns:ReadAbrechnungspositionenForAbrechnungRequestMessage"/>
            <wsdl:output name="readAbrechnungspositionenForAbrechnungResponse" message="tns:ReadAbrechnungspositionenForAbrechnungResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="readL10nAttributesAbrechnungsposition">
            <wsdl:documentation>Liefert für einen technischen Abrechnungspositionsschlüssel die Bezeichnung der zugehörigen Abrechnungsposition zurück.</wsdl:documentation>
            <wsdl:input name="readL10nAttributesAbrechnungspositionRequest" message="tns:ReadL10nAttributesAbrechnungspositionRequestMessage"/>
            <wsdl:output name="readL10nAttributesAbrechnungspositionResponse" message="tns:ReadL10nAttributesAbrechnungspositionResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="AbrechnungspositionServiceBinding" type="tns:AbrechnungspositionServicePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getAbrechnungsposition">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="getAbrechnungspositionRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getAbrechnungspositionResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="readAbrechnungspositionenForAbrechnung">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="readAbrechnungspositionenForAbrechnungRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="readAbrechnungspositionenForAbrechnungResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="readL10nAttributesAbrechnungsposition">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="readL10nAttributesAbrechnungspositionRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="readL10nAttributesAbrechnungspositionResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="AbrechnungspositionService_v1">
        <wsdl:port name="AbrechnungspositionService_v1" binding="tns:AbrechnungspositionServiceBinding">
            <soap:address location="https://example.com/apibridge-operativesrechnungswesen/AbrechnungspositionService_v1"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>