master-21371/apibridge-finanzwesen-suva_3.master.master-21371-12912/wsdl/com/adcubum/syrius/api/finanzwesen/zahlungsverkehr/data/zahler/v3/ZahlerService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="ZahlerService"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="urn:com:adcubum:syrius:api:finanzwesen:zahlungsverkehr:data:zahler:v3"
                  xmlns:tns="urn:com:adcubum:syrius:api:finanzwesen:zahlungsverkehr:data:zahler:v3"
                  xmlns:pa="urn:com:adcubum:syrius:api:finanzwesen:zahlungsverkehr:data:zahler:v3:schema"
                  xmlns:syrtype="urn:com:adcubum:syrius:api:common:syriusTypes:v1"
                  xmlns:flt="urn:com:adcubum:syrius:api:common:faults:v1"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/">
    <wsdl:documentation>Version: 3.0.0</wsdl:documentation>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="urn:com:adcubum:syrius:api:finanzwesen:zahlungsverkehr:data:zahler:v3:schema" schemaLocation="schema/ZahlerService.xsd"/>
            <xsd:import namespace="urn:com:adcubum:syrius:api:common:faults:v1" schemaLocation="../../../../../common/faults/v1/faults.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="GetZahlerRequestMessage">
        <wsdl:part name="Request" element="pa:getZahlerRequest"/>
    </wsdl:message>
    <wsdl:message name="GetZahlerResponseMessage">
        <wsdl:part name="Response" element="pa:getZahlerResponse"/>
    </wsdl:message>
    <wsdl:message name="GetZahlerForPartnerRequestMessage">
        <wsdl:part name="Request" element="pa:getZahlerForPartnerRequest"/>
    </wsdl:message>
    <wsdl:message name="GetZahlerForPartnerResponseMessage">
        <wsdl:part name="Response" element="pa:getZahlerForPartnerResponse"/>
    </wsdl:message>
    <wsdl:message name="ApiFaultMessage">
        <wsdl:part name="fault" element="flt:apiFaultInfo"/>
    </wsdl:message>
    <wsdl:portType name="ZahlerServicePortType">
        <wsdl:operation name="getZahler">
            <wsdl:documentation>Liefert für einen technischen Zahlerschlüssel die Daten des zugehörigen Zahlers zurück.</wsdl:documentation>
            <wsdl:input name="getZahlerRequest" message="tns:GetZahlerRequestMessage"/>
            <wsdl:output name="getZahlerResponse" message="tns:GetZahlerResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="getZahlerForPartner">
            <wsdl:documentation>Liefert für einen technischen Partnerschlüssel die Daten aller zugehörigen Zahlers zurück.</wsdl:documentation>
            <wsdl:input name="getZahlerForPartnerRequest" message="tns:GetZahlerForPartnerRequestMessage"/>
            <wsdl:output name="getZahlerForPartnerResponse" message="tns:GetZahlerForPartnerResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ZahlerServiceBinding" type="tns:ZahlerServicePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getZahler">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="getZahlerRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getZahlerResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getZahlerForPartner">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="getZahlerForPartnerRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getZahlerForPartnerResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ZahlerService_v3">
        <wsdl:port name="ZahlerService_v3" binding="tns:ZahlerServiceBinding">
            <soap:address location="https://example.com/apibridge-finanzwesen/ZahlerService_v3"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
