master-21371/apibridge-partnermgmt-suva_4.master.master-21371-14050/wsdl/com/adcubum/syrius/api/partnermgmt/partnerdatenverw/data/beziehungdef/v1/BeziehungDefService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="BeziehungDefService"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="urn:com:adcubum:syrius:api:partnermgmt:partnerdatenverw:data:beziehungdef:v1"
                  xmlns:tns="urn:com:adcubum:syrius:api:partnermgmt:partnerdatenverw:data:beziehungdef:v1"
                  xmlns:pa="urn:com:adcubum:syrius:api:partnermgmt:partnerdatenverw:data:beziehungdef:v1:schema"
                  xmlns:flt="urn:com:adcubum:syrius:api:common:faults:v1"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/">
    <wsdl:documentation>Version: 1.0.0</wsdl:documentation>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="urn:com:adcubum:syrius:api:partnermgmt:partnerdatenverw:data:beziehungdef:v1:schema" schemaLocation="schema/BeziehungDefService.xsd"/>
            <xsd:import namespace="urn:com:adcubum:syrius:api:common:faults:v1" schemaLocation="../../../../../common/faults/v1/faults.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="GetBeziehungDefRequestMessage">
        <wsdl:part name="Request" element="pa:getBeziehungDefRequest"/>
    </wsdl:message>
    <wsdl:message name="GetBeziehungDefResponseMessage">
        <wsdl:part name="Response" element="pa:getBeziehungDefResponse"/>
    </wsdl:message>
    <wsdl:message name="GetAllBeziehungDefRequestMessage">
        <wsdl:part name="Request" element="pa:getAllBeziehungDefRequest"/>
    </wsdl:message>
    <wsdl:message name="GetAllBeziehungDefResponseMessage">
        <wsdl:part name="Response" element="pa:getAllBeziehungDefResponse"/>
    </wsdl:message>
    <wsdl:message name="ReadL10nAttributesBeziehungDefRequestMessage">
        <wsdl:part name="Request" element="pa:readL10nAttributesBeziehungDefRequest"/>
    </wsdl:message>
    <wsdl:message name="ReadL10nAttributesBeziehungDefResponseMessage">
        <wsdl:part name="Response" element="pa:readL10nAttributesBeziehungDefResponse"/>
    </wsdl:message>
    <wsdl:message name="ReadAllL10nAttributesBeziehungDefRequestMessage">
        <wsdl:part name="Request" element="pa:readAllL10nAttributesBeziehungDefRequest"/>
    </wsdl:message>
    <wsdl:message name="ReadAllL10nAttributesBeziehungDefResponseMessage">
        <wsdl:part name="Response" element="pa:readAllL10nAttributesBeziehungDefResponse"/>
    </wsdl:message>
    <wsdl:message name="ApiFaultMessage">
        <wsdl:part name="fault" element="flt:apiFaultInfo"/>
    </wsdl:message>
    <wsdl:portType name="BeziehungDefServicePortType">
        <wsdl:operation name="getBeziehungDef">
            <wsdl:documentation>Liefert für einen technischen Beziehungdefschlüssel die Daten der zugehörigen Beziehung-Definition zurück.</wsdl:documentation>
            <wsdl:input name="getBeziehungDefRequest" message="tns:GetBeziehungDefRequestMessage"/>
            <wsdl:output name="getBeziehungDefResponse" message="tns:GetBeziehungDefResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="getAllBeziehungDef">
            <wsdl:documentation>Liefert für ein Datum alle Beziehung-Definitionen zurück.</wsdl:documentation>
            <wsdl:input name="getAllBeziehungDefRequest" message="tns:GetAllBeziehungDefRequestMessage"/>
            <wsdl:output name="getAllBeziehungDefResponse" message="tns:GetAllBeziehungDefResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="readL10nAttributesBeziehungDef">
            <wsdl:documentation>Liefert für einen technischen Beziehungdefschlüssel die Bezeichnung der zugehörigen Beziehung-Definition zurück.</wsdl:documentation>
            <wsdl:input name="readL10nAttributesBeziehungDefRequest" message="tns:ReadL10nAttributesBeziehungDefRequestMessage"/>
            <wsdl:output name="readL10nAttributesBeziehungDefResponse" message="tns:ReadL10nAttributesBeziehungDefResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="readAllL10nAttributesBeziehungDef">
            <wsdl:documentation>Liefert alle Bezeichnungen von Beziehung-Definitionen zurück.</wsdl:documentation>
            <wsdl:input name="readAllL10nAttributesBeziehungDefRequest" message="tns:ReadAllL10nAttributesBeziehungDefRequestMessage"/>
            <wsdl:output name="readAllL10nAttributesBeziehungDefResponse" message="tns:ReadAllL10nAttributesBeziehungDefResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="BeziehungDefServiceBinding" type="tns:BeziehungDefServicePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getBeziehungDef">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="getBeziehungDefRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getBeziehungDefResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllBeziehungDef">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="getAllBeziehungDefRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getAllBeziehungDefResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="readL10nAttributesBeziehungDef">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="readL10nAttributesBeziehungDefRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="readL10nAttributesBeziehungDefResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="readAllL10nAttributesBeziehungDef">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="readAllL10nAttributesBeziehungDefRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="readAllL10nAttributesBeziehungDefResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="BeziehungDefService_v1">
        <wsdl:port name="BeziehungDefService_v1" binding="tns:BeziehungDefServiceBinding">
            <soap:address location="https://example.com/apibridge-partnermgmt/BeziehungDefService_v1"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>