master-21371/apibridge-bestandsverw-suva_3.master.master-21371-13979/wsdl/com/adcubum/syrius/api/bestandsverw/vertragsverw/auskunft/data/rahmenvertrag/v1/RahmenvertragService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="RahmenvertragService"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="urn:com:adcubum:syrius:api:bestandsverw:vertragsverw:auskunft:data:rahmenvertrag:v1"
                  xmlns:tns="urn:com:adcubum:syrius:api:bestandsverw:vertragsverw:auskunft:data:rahmenvertrag:v1"
                  xmlns:pa="urn:com:adcubum:syrius:api:bestandsverw:vertragsverw:auskunft:data:rahmenvertrag:v1:schema"
                  xmlns:flt="urn:com:adcubum:syrius:api:common:faults:v1"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">

    <wsdl:documentation>
    	Version: 1.0.0
    </wsdl:documentation>

    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="urn:com:adcubum:syrius:api:bestandsverw:vertragsverw:auskunft:data:rahmenvertrag:v1:schema" schemaLocation="schema/RahmenvertragService.xsd"/>
            <xsd:import namespace="urn:com:adcubum:syrius:api:common:faults:v1" schemaLocation="../../../../../../common/faults/v1/faults.xsd"/>
        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="GetRahmenvertragRequestMessage">
        <wsdl:part name="Request" element="pa:getRahmenvertragRequest"/>
    </wsdl:message>

    <wsdl:message name="GetRahmenvertragResponseMessage">
        <wsdl:part name="Response" element="pa:getRahmenvertragResponse"/>
    </wsdl:message>

    <wsdl:message name="ReadL10nAttributesRahmenvertragRequestMessage">
        <wsdl:part name="Request" element="pa:readL10nAttributesRahmenvertragRequest"/>
    </wsdl:message>

    <wsdl:message name="ReadL10nAttributesRahmenvertragResponseMessage">
        <wsdl:part name="Response" element="pa:readL10nAttributesRahmenvertragResponse"/>
    </wsdl:message>

    <wsdl:message name="ApiFaultMessage">
        <wsdl:part name="fault" element="flt:apiFaultInfo"/>
    </wsdl:message>
    
    <wsdl:portType name="RahmenvertragServicePortType">
        <wsdl:operation name="getRahmenvertrag">
            <wsdl:documentation>Liefert einen Rahmenvertrag f체r eine RahmenvertragID.</wsdl:documentation>
            <wsdl:input name="getRahmenvertragRequest" message="tns:GetRahmenvertragRequestMessage"/>
            <wsdl:output name="getRahmenvertragResponse" message="tns:GetRahmenvertragResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>

        <wsdl:operation name="readL10nAttributesRahmenvertrag">
            <wsdl:documentation>Liefert zu den technischen Schl체sseln zu Rahmenvertr채gen die sprachabh채ngige Bezeichnung.</wsdl:documentation>
            <wsdl:input name="readL10nAttributesRahmenvertragRequest" message="tns:ReadL10nAttributesRahmenvertragRequestMessage"/>
            <wsdl:output name="readL10nAttributesRahmenvertragResponse" message="tns:ReadL10nAttributesRahmenvertragResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    
    <wsdl:binding name="RahmenvertragServiceBinding" type="tns:RahmenvertragServicePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

        <wsdl:operation name="getRahmenvertrag">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="getRahmenvertragRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getRahmenvertragResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="readL10nAttributesRahmenvertrag">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="readL10nAttributesRahmenvertragRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="readL10nAttributesRahmenvertragResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    
    <wsdl:service name="RahmenvertragService_v1">
        <wsdl:port name="RahmenvertragService_v1" binding="tns:RahmenvertragServiceBinding">
            <soap:address location="https://example.com/apibridge-bestandsverw/RahmenvertragService_v1"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
