master-21371/apibridge-partnermgmt-suva_4.master.master-21371-14050/wsdl/com/adcubum/syrius/api/partnermgmt/partnerdatenverw/data/telefondef/v1/TelefonDefService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="TelefonDefService"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="urn:com:adcubum:syrius:api:partnermgmt:partnerdatenverw:data:telefondef:v1"
                  xmlns:tns="urn:com:adcubum:syrius:api:partnermgmt:partnerdatenverw:data:telefondef:v1"
                  xmlns:pa="urn:com:adcubum:syrius:api:partnermgmt:partnerdatenverw:data:telefondef:v1:schema"
                  xmlns:flt="urn:com:adcubum:syrius:api:common:faults:v1"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/">
    <wsdl:documentation>Version: 1.0.1</wsdl:documentation>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="urn:com:adcubum:syrius:api:partnermgmt:partnerdatenverw:data:telefondef:v1:schema" schemaLocation="schema/TelefonDefService.xsd"/>
            <xsd:import namespace="urn:com:adcubum:syrius:api:common:faults:v1" schemaLocation="../../../../../common/faults/v1/faults.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="GetTelefonDefRequestMessage">
        <wsdl:part name="Request" element="pa:getTelefonDefRequest"/>
    </wsdl:message>
    <wsdl:message name="GetTelefonDefResponseMessage">
        <wsdl:part name="Response" element="pa:getTelefonDefResponse"/>
    </wsdl:message>
    <wsdl:message name="GetAllTelefonDefRequestMessage">
        <wsdl:part name="Request" element="pa:getAllTelefonDefRequest"/>
    </wsdl:message>
    <wsdl:message name="GetAllTelefonDefResponseMessage">
        <wsdl:part name="Response" element="pa:getAllTelefonDefResponse"/>
    </wsdl:message>
    <wsdl:message name="ReadL10nAttributesTelefonDefRequestMessage">
        <wsdl:part name="Request" element="pa:readL10nAttributesTelefonDefRequest"/>
    </wsdl:message>
    <wsdl:message name="ReadL10nAttributesTelefonDefResponseMessage">
        <wsdl:part name="Response" element="pa:readL10nAttributesTelefonDefResponse"/>
    </wsdl:message>
    <wsdl:message name="ReadAllL10nAttributesTelefonDefRequestMessage">
        <wsdl:part name="Request" element="pa:readAllL10nAttributesTelefonDefRequest"/>
    </wsdl:message>
    <wsdl:message name="ReadAllL10nAttributesTelefonDefResponseMessage">
        <wsdl:part name="Response" element="pa:readAllL10nAttributesTelefonDefResponse"/>
    </wsdl:message>
    <wsdl:message name="ApiFaultMessage">
        <wsdl:part name="fault" element="flt:apiFaultInfo"/>
    </wsdl:message>
    <wsdl:portType name="TelefonDefServicePortType">
        <wsdl:operation name="getTelefonDef">
            <wsdl:documentation>Liefert für einen technischen Telefondefschlüssel die Daten der zugehörigen Telefon-Definition zurück.</wsdl:documentation>
            <wsdl:input name="getTelefonDefRequest" message="tns:GetTelefonDefRequestMessage"/>
            <wsdl:output name="getTelefonDefResponse" message="tns:GetTelefonDefResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="getAllTelefonDef">
            <wsdl:documentation>Liefert für ein Datum alle Telefon-Definitionen zurück.</wsdl:documentation>
            <wsdl:input name="getAllTelefonDefRequest" message="tns:GetAllTelefonDefRequestMessage"/>
            <wsdl:output name="getAllTelefonDefResponse" message="tns:GetAllTelefonDefResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="readL10nAttributesTelefonDef">
            <wsdl:documentation>Liefert für einen technischen Telefondefschlüssel die Bezeichnung der zugehörigen Telefon-Definition zurück.</wsdl:documentation>
            <wsdl:input name="readL10nAttributesTelefonDefRequest" message="tns:ReadL10nAttributesTelefonDefRequestMessage"/>
            <wsdl:output name="readL10nAttributesTelefonDefResponse" message="tns:ReadL10nAttributesTelefonDefResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="readAllL10nAttributesTelefonDef">
            <wsdl:documentation>Liefert alle Bezeichnungen von Telefon-Definitionen zurück.</wsdl:documentation>
            <wsdl:input name="readAllL10nAttributesTelefonDefRequest" message="tns:ReadAllL10nAttributesTelefonDefRequestMessage"/>
            <wsdl:output name="readAllL10nAttributesTelefonDefResponse" message="tns:ReadAllL10nAttributesTelefonDefResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="TelefonDefServiceBinding" type="tns:TelefonDefServicePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getTelefonDef">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="getTelefonDefRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getTelefonDefResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllTelefonDef">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="getAllTelefonDefRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getAllTelefonDefResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="readL10nAttributesTelefonDef">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="readL10nAttributesTelefonDefRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="readL10nAttributesTelefonDefResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="readAllL10nAttributesTelefonDef">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="readAllL10nAttributesTelefonDefRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="readAllL10nAttributesTelefonDefResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="TelefonDefService_v1">
        <wsdl:port name="TelefonDefService_v1" binding="tns:TelefonDefServiceBinding">
            <soap:address location="https://example.com/apibridge-partnermgmt/TelefonDefService_v1"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
