master-21371/apibridge-unternehmensorg-suva_5.master.master-21371-13184/wsdl/com/adcubum/syrius/api/unternehmensorg/dokumentbestellung/data/docbest/v2/schema/DokumentbestellungService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
    xmlns:st="urn:com:adcubum:syrius:api:common:simpleTypes:v1"
    xmlns:ct="urn:com:adcubum:syrius:api:common:types:v1"
    xmlns:search="urn:com:adcubum:syrius:api:common:searchTypes:v2"
    xmlns:cc="urn:com:adcubum:syrius:api:common:codes:v1"
    xmlns:ucc="urn:com:adcubum:syrius:api:unternehmensorg:common:codes:v1"
    xmlns:uci="urn:com:adcubum:syrius:api:unternehmensorg:common:identifier:v1" 
    xmlns:uct="urn:com:adcubum:syrius:api:unternehmensorg:common:types:v1"
    xmlns:tns="urn:com:adcubum:syrius:api:unternehmensorg:dokumentbestellung:data:docbest:v2:schema"
    targetNamespace="urn:com:adcubum:syrius:api:unternehmensorg:dokumentbestellung:data:docbest:v2:schema"
    elementFormDefault="qualified"
    version="2.0.0">

    <xsd:import namespace="urn:com:adcubum:syrius:api:common:types:v1" schemaLocation="../../../../../../common/types/v1/types.xsd"/>
    <xsd:import namespace="urn:com:adcubum:syrius:api:common:simpleTypes:v1" schemaLocation="../../../../../../common/simpleTypes/v1/simpleTypes.xsd"/>
    <xsd:import namespace="urn:com:adcubum:syrius:api:common:searchTypes:v2" schemaLocation="../../../../../../common/searchTypes/v2/searchTypes.xsd"/>
    <xsd:import namespace="urn:com:adcubum:syrius:api:common:syriusTypes:v1" schemaLocation="../../../../../../common/syriusTypes/v1/syriusTypes.xsd"/>

    <xsd:import namespace="urn:com:adcubum:syrius:api:unternehmensorg:common:codes:v1" schemaLocation="../../../../../common/codes/v1/codes.xsd"/>
    <xsd:import namespace="urn:com:adcubum:syrius:api:common:codes:v1" schemaLocation="../../../../../../common/codes/v1/codes.xsd"/>

    <xsd:import namespace="urn:com:adcubum:syrius:api:unternehmensorg:common:types:v1" schemaLocation="../../../../../common/types/v1/types.xsd"/>
    <xsd:import namespace="urn:com:adcubum:syrius:api:unternehmensorg:common:identifier:v1" schemaLocation="../../../../../common/identifier/v1/identifier.xsd"/>


    <xsd:element name="getDokumentbestellungRequest" type="tns:GetDokumentbestellungRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, mit dem eine Dokumentbestellung geladen wird.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="getDokumentbestellungResponse" type="tns:GetDokumentbestellungResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response, in dem die geladene Dokumentbestellung enthalten ist.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="searchDokumentbestellungRequest" type="tns:SearchDokumentbestellungRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, mit dem eine Liste von Dokumentbestellung-Schlüssel geladen werden.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="searchDokumentbestellungResponse" type="tns:SearchDokumentbestellungResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response, in dem die gefundenen Dokumentbestellung-Schlüssel enthalten sind.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="GetDokumentbestellungRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, mit dem die Dokumentbestellungen geladen werden.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="dokumentbestellungId" type="uci:WsDokumentbestellungIdType" minOccurs="1" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Die Id der Dokumentbestellung.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="GetDokumentbestellungResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response, in dem die geladenen Dokumentbestellungn enthalten sind.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="dokumentbestellung" type="tns:WsDokumentbestellungType" minOccurs="1" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Response, in dem die geladene Dokumentbestellung enthalten ist.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="SearchDokumentbestellungRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, mit dem eine Liste von Dokumentbestellung-Schlüssel geladen werden.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="suchbedingungen" type="search:WsSearchConditionType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Technische Suchbedingungen für den Suchrequest.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="partnerId" type="uci:WsPartnerIdType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Technischer Schlüssel des Partners.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="betroffenesObjekt" type="uct:WsReferenzType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Referenz zum betroffenen Objekt der Dokumentbestellung.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="dokumentTypId" type="uci:WsDokumentTypIdType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Die Id der Dokumentbestellung.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="status" type="ucc:WsDokumentbestellungStatusCodeType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Beschreibt den Status der Dokumentbestellung.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="empfaengerPartnerId" type="uci:WsPartnerIdType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Die Id des Empfänger-Partners an den das Dokument geht (für Original und Kopie).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="SearchDokumentbestellungResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response, in dem die gefundenen Dokumentbestellung-Schlüssel enthalten sind.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="dokumentbestellung" type="tns:WsDokumentbestellungSearchType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Enthält eine Liste mit den gefundenen Dokumentbestellungen.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="WsDokumentbestellungSearchType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Eine gefundene Dokumentbestellung (IDs).</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="dokumentbestellungId" type="uci:WsDokumentbestellungIdType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Die Id der Dokumentbestellung.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="WsDokumentbestellungType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Dokumentbestellung</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ct:WsDataObjectType">
                <xsd:sequence>
                    <xsd:element name="id" type="uci:WsDokumentbestellungIdType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Technischer Schlüssel der Dokumentbestellung.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="status" type="ucc:WsDokumentbestellungStatusCodeType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Beschreibt den Status der Dokumentbestellung.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="erstelltAm" type="st:DateTimeType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Erstellt am.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="bestelltAm" type="st:DateType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">bestellt am</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="gedrucktAm" type="st:DateType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">gedruckt am</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="bestPartnerId" type="uci:WsPartnerIdType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Empfaenger-Partner.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="dokumentTypId" type="uci:WsDokumentTypIdType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Referenz an Dokumenttyp.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="betroffenesObjekt" type="uct:WsReferenzType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Referenz zum betroffenen Objekt der Dokumentbestellung.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="languageTag" type="st:StringType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Locale.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="ruecksendeUserId" type="uci:WsSyrUserIdType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Referenz an ruecksende User.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="ruecksendeAdresseOEId" type="uci:WsAdresseIdType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Referenz an Ruecksende OE Adresse.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="kontaktPersonId" type="uci:WsSyrUserIdType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">KontaktPersonId.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="absenderAdresseId" type="uci:WsAdresseIdType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Referenz an Absender Adresse.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="dokumentbestellungEmpfaenger" type="tns:WsDokumentbestellungEmpfaengerType" minOccurs="1" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Dokumentbestellung-Empfaenger</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="dokumentbestellungZusatzattribut" type="tns:WsDokumentbestellungZusatzattributType" minOccurs="0" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Dokumentbestellung-Zusatzattribut.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="WsDokumentbestellungEmpfaengerType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Dokumentbestellung-Empfaenger</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ct:WsDataObjectType">
                <xsd:sequence>
                    <xsd:element name="id" type="uci:WsEmpfaengerIdType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Technischer Schlüssel des Objektes</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="empfaengerTyp" type="ucc:WsEmpfaengerTypCodeType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:choice>
                        <xsd:element name="zustellungAdresseId" type="uci:WsAdresseIdType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation xml:lang="de">Technischer Schlüssel der Adresse.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="zustellungEmailId" type="uci:WsEmailIdType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation xml:lang="de">Technischer Schlüssel des Emails.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="zustellungWebId" type="uci:WsWebIdType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation xml:lang="de">Technischer Schlüssel des Webs.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="zustellungTelefonId" type="uci:WsTelefonIdType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation xml:lang="de">Technischer Schlüssel des Telefons.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:choice>
                    <xsd:element name="empfaengerAdresseId" type="uci:WsAdresseIdType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Technischer Schlüssel der Empfaenger-Adresse.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="partnerId" type="uci:WsPartnerIdType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Technischer Schlüssel des Partners.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="aussteuernOEId" type="uci:WsPartnerIdType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Technischer Schlüssel der OE.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="aussteuernBenutzerId" type="uci:WsSyrUserIdType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Technischer Schlüssel des SyrUser.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="versandart" type="ucc:WsVersandartCodeType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Versandart.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="herkunft" type="ucc:WsHerkunftCodeType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Herkunft der Dokumentbestellung.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="empfaengerZusatzattribut" type="tns:WsDokumentbestellungZusatzattributType" minOccurs="0" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Zusatzattribut des Dokumentbestellungsempfaengers.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="WsDokumentbestellungZusatzattributType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Dokumentbestellung-Zusatzattribut</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ct:WsDataObjectType">
                <xsd:sequence>
                    <xsd:element name="internalName" type="st:StringType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Internalname des Zusatzattributes</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="zusatzAttributId" type="uci:WsZusatzAttributIdType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Technischer Schlüssel </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="zusatzAttributDefId" type="uci:WsZusatzAttributDefIdType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Technischer Schlüssel der Definition des parametrierbaren Attributs.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:choice>
                        <xsd:element name="bigText" type="st:StringType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation xml:lang="de">Text-Wert (CLOB) des parametrierbaren Attributes.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="referenz" type="uct:WsReferenzType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation xml:lang="de">Referenz-Wert des parametrierbaren Attributes.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="code" type="cc:WsCodeType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation xml:lang="de">Code-Wert des parametrierbaren Attributes.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="date" type="st:DateType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation xml:lang="de">Datum-Wert des parametrierbaren Attributes.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="decimal" type="st:DecimalType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation xml:lang="de">Decimal-Wert des parametrierbaren Attributes.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="integer" type="st:IntegerType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation xml:lang="de">Integer-Wert des parametrierbaren Attributes.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="text" type="st:StringType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation xml:lang="de">Text-Wert des parametrierbaren Attributes.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:choice>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

</xsd:schema>