master-21371/apibridge-partnermgmt-suva_4.master.master-21371-14050/wsdl/com/adcubum/syrius/api/partnermgmt/partnerdatenverw/data/email/v1/EmailService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="EmailService"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="urn:com:adcubum:syrius:api:partnermgmt:partnerdatenverw:data:email:v1"
                  xmlns:tns="urn:com:adcubum:syrius:api:partnermgmt:partnerdatenverw:data:email:v1"
                  xmlns:pa="urn:com:adcubum:syrius:api:partnermgmt:partnerdatenverw:data:email:v1:schema"
                  xmlns:flt="urn:com:adcubum:syrius:api:common:faults:v1"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/">
    <wsdl:documentation>Version: 1.2.0</wsdl:documentation>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="urn:com:adcubum:syrius:api:partnermgmt:partnerdatenverw:data:email:v1:schema" schemaLocation="schema/EmailService.xsd"/>
            <xsd:import namespace="urn:com:adcubum:syrius:api:common:faults:v1" schemaLocation="../../../../../common/faults/v1/faults.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="GetEmailRequestMessage">
        <wsdl:part name="request" element="pa:getEmailRequest"/>
    </wsdl:message>
    <wsdl:message name="GetEmailResponseMessage">
        <wsdl:part name="response" element="pa:getEmailResponse"/>
    </wsdl:message>
    <wsdl:message name="GetPartnerEmailRequestMessage">
        <wsdl:part name="request" element="pa:getPartnerEmailRequest"/>
    </wsdl:message>
    <wsdl:message name="GetPartnerEmailResponseMessage">
        <wsdl:part name="response" element="pa:getPartnerEmailResponse"/>
    </wsdl:message>
    <wsdl:message name="GetAdresseEmailRequestMessage">
        <wsdl:part name="request" element="pa:getAdresseEmailRequest"/>
    </wsdl:message>
    <wsdl:message name="GetAdresseEmailResponseMessage">
        <wsdl:part name="response" element="pa:getAdresseEmailResponse"/>
    </wsdl:message>
    <wsdl:message name="GetLeistungserbringerEmailRequestMessage">
        <wsdl:part name="request" element="pa:getLeistungserbringerEmailRequest"/>
    </wsdl:message>
    <wsdl:message name="GetLeistungserbringerEmailResponseMessage">
        <wsdl:part name="response" element="pa:getLeistungserbringerEmailResponse"/>
    </wsdl:message>
    <wsdl:message name="GetOrganisationseinheitEmailRequestMessage">
        <wsdl:part name="request" element="pa:getOrganisationseinheitEmailRequest"/>
    </wsdl:message>
    <wsdl:message name="GetOrganisationseinheitEmailResponseMessage">
        <wsdl:part name="response" element="pa:getOrganisationseinheitEmailResponse"/>
    </wsdl:message>
    <wsdl:message name="ApiFaultMessage">
        <wsdl:part name="fault" element="flt:apiFaultInfo"/>
    </wsdl:message>
    <wsdl:portType name="EmailServicePortType">
        <wsdl:operation name="getEmail">
            <wsdl:documentation>Liefert für einen technischen Emailschlüssel die Daten der zugehörigen E-Mail-Adresse.</wsdl:documentation>
            <wsdl:input name="getEmailRequest" message="tns:GetEmailRequestMessage"/>
            <wsdl:output name="getEmailResponse" message="tns:GetEmailResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="getPartnerEmail">
            <wsdl:documentation>Liefert für einen technischen Partnerschlüssel die Daten der dazugehörenden E-Mail-Adressen.</wsdl:documentation>
            <wsdl:input name="getPartnerEmailRequest" message="tns:GetPartnerEmailRequestMessage"/>
            <wsdl:output name="getPartnerEmailResponse" message="tns:GetPartnerEmailResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="getAdresseEmail">
            <wsdl:documentation>Liefert für einen technischen Adressschlüssel die Daten aller dazugehörenden E-Mail-Adressen.</wsdl:documentation>
            <wsdl:input name="getAdresseEmailRequest" message="tns:GetAdresseEmailRequestMessage"/>
            <wsdl:output name="getAdresseEmailResponse" message="tns:GetAdresseEmailResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="getLeistungserbringerEmail">
            <wsdl:documentation>Liefert für einen technischen Leistungserbringerschlüssel die Daten der dazugehörenden E-Mail-Adressen.</wsdl:documentation>
            <wsdl:input name="getLeistungserbringerEmailRequest" message="tns:GetLeistungserbringerEmailRequestMessage"/>
            <wsdl:output name="getLeistungserbringerEmailResponse" message="tns:GetLeistungserbringerEmailResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="getOrganisationseinheitEmail">
            <wsdl:documentation>Liefert für einen technischen Organisationseinheitschlüssel die Daten der dazugehörenden E-Mail-Adressen.</wsdl:documentation>
            <wsdl:input name="getOrganisationseinheitEmailRequest" message="tns:GetOrganisationseinheitEmailRequestMessage"/>
            <wsdl:output name="getOrganisationseinheitEmailResponse" message="tns:GetOrganisationseinheitEmailResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="EmailServiceBinding" type="tns:EmailServicePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getEmail">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="getEmailRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getEmailResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getPartnerEmail">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="getPartnerEmailRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getPartnerEmailResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAdresseEmail">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="getAdresseEmailRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getAdresseEmailResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getLeistungserbringerEmail">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="getLeistungserbringerEmailRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getLeistungserbringerEmailResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getOrganisationseinheitEmail">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="getOrganisationseinheitEmailRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getOrganisationseinheitEmailResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="EmailService_v1">
        <wsdl:port name="EmailService_v1" binding="tns:EmailServiceBinding">
            <soap:address location="https://example.com/apibridge-partnermgmt/EmailService_v1"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
