master-21371/apibridge-schadenleistungsmgmt-suva_6.master.master-21371-13742/wsdl/com/adcubum/syrius/api/schadenleistungsmgmt/kvuv/regressmanagement/regressabwicklung/data/v1/schema/RegressleistungsfallDataService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema
        targetNamespace="urn:com:adcubum:syrius:api:schadenleistungsmgmt:kvuv:regressmanagement:regressabwicklung:data:v1:schema"
        xmlns:tns="urn:com:adcubum:syrius:api:schadenleistungsmgmt:kvuv:regressmanagement:regressabwicklung:data:v1:schema"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:ct="urn:com:adcubum:syrius:api:common:types:v1"
        xmlns:lt="urn:com:adcubum:syrius:api:schadenleistungsmgmt:kvuv:regressmanagement:regressabwicklung:types:v1"
        xmlns:lcot="urn:com:adcubum:syrius:api:schadenleistungsmgmt:kvuv:regressmanagement:regressabwicklung:codes:v1"
        xmlns:li="urn:com:adcubum:syrius:api:schadenleistungsmgmt:kvuv:common:identifier:v1"
        xmlns:lct="urn:com:adcubum:syrius:api:schadenleistungsmgmt:kvuv:common:types:v1"
        xmlns:pi="urn:com:adcubum:syrius:api:schadenleistungsmgmt:kvuv:extern:partner:identifier:v1"
        xmlns:st="urn:com:adcubum:syrius:api:common:simpleTypes:v1"
        xmlns:csearch="urn:com:adcubum:syrius:api:common:searchTypes:v2"
        xmlns:search="urn:com:adcubum:syrius:api:schadenleistungsmgmt:kvuv:common:searchTypes:v1"
        elementFormDefault="qualified"
        version="1.0.0">

    <xsd:import namespace="urn:com:adcubum:syrius:api:schadenleistungsmgmt:kvuv:regressmanagement:regressabwicklung:codes:v1"
                schemaLocation="../../../codes/v1/codes.xsd"/>
    <xsd:import namespace="urn:com:adcubum:syrius:api:schadenleistungsmgmt:kvuv:common:identifier:v1"
                schemaLocation="../../../../../common/identifier/v1/identifier.xsd"/>
    <xsd:import namespace="urn:com:adcubum:syrius:api:schadenleistungsmgmt:kvuv:regressmanagement:regressabwicklung:types:v1"
                schemaLocation="../../../types/v1/simpleTypes.xsd"/>
    <xsd:import namespace="urn:com:adcubum:syrius:api:common:searchTypes:v2"
                schemaLocation="../../../../../../../common/searchTypes/v2/searchTypes.xsd"/>
    <xsd:import namespace="urn:com:adcubum:syrius:api:schadenleistungsmgmt:kvuv:common:searchTypes:v1"
                schemaLocation="../../../../../common/searchTypes/v1/searchTypes.xsd"/>
    <xsd:import namespace="urn:com:adcubum:syrius:api:common:simpleTypes:v1"
                schemaLocation="../../../../../../../common/simpleTypes/v1/simpleTypes.xsd"/>
    <xsd:import namespace="urn:com:adcubum:syrius:api:common:types:v1"
                schemaLocation="../../../../../../../../../../../com/adcubum/syrius/api/common/types/v1/types.xsd"/>
    <xsd:import namespace="urn:com:adcubum:syrius:api:schadenleistungsmgmt:kvuv:extern:partner:identifier:v1"
                schemaLocation="../../../../../extern/partner/identifier/v1/identifier.xsd"/>

    <!-- READ -->
    <xsd:complexType name="WsReadRegressleistungsfallRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, mit dem Informationen zu Regressleistungsfällen gelesen werden
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="regressleistungsfallId" type="li:WsRegressleistungsfallIdType" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Objekt-Id des Regressleistungsfalls</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="WsReadRegressleistungsfallResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response, mit der die Informationen zu einem Regressleistungsfall geliefert werden
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="regressleistungsfall" type="tns:WsRegressleistungsfallType" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Enthält die Informationen zum Regressleistungsfall</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="WsRegressleistungsfallType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Enthält die Informationen zu einem Regressleistungsfall</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ct:WsDataObjectType">
                <xsd:sequence>
                    <xsd:element name="regressleistungsfallId" type="li:WsRegressleistungsfallIdType">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Objekt-Id eines Regressleistungsfalls</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="fuehrenderGrundfallId" type="li:WsLeistungsfallIdType">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Die Objekt-Id des Grundfalles</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="status" type="lcot:WsRegressStatusCodeType">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Der Status des Regressleistungsfalls</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="regressStelleId" type="pi:WsPartnerIdType">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Die Regresstelle des Regressleistungsfalls</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>                    
                    <xsd:element name="haftungsgrundId" type="li:WsHaftungsgrundIdType" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Haftungsgrund des Regressleistungsfalls</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="sachbearbeiter" type="st:StringType">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Sachbearbeiter</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="regressleistungsfallnummer" type="lt:WsRegressleistungsfallnummerType">
                			<xsd:annotation>
                    		<xsd:documentation xml:lang="de">Fachlicher Schlüssel des Regressleistunsfalles</xsd:documentation>
                			</xsd:annotation>
            		</xsd:element>
                    <xsd:element name="relativeVerjaehrungAb" type="st:LocalDateType">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Relative Verjährung ab</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="absoluteVerjaehrungAb" type="st:LocalDateType">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Absolute Verjährung ab</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="relativeVerjaehrungBis" type="st:LocalDateType">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Relative Verjährung bis</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="absoluteVerjaehrungBis" type="st:LocalDateType">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Absolute Verjährung bis</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="readRegressleistungsfallRequest" type="tns:WsReadRegressleistungsfallRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, mit dem Regressleistungsfälle gelesen werden</xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:element name="readRegressleistungsfallResponse" type="tns:WsReadRegressleistungsfallResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">
                Response, mit der die Informationen zu einem Regressleistungsfall geliefert werden
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:element name="readLeistungskategorieRequest" type="tns:WsReadLeistungskategorieRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, mit dem Leistungskategorien gelesen werden</xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:element name="readLeistungskategorieResponse" type="tns:WsReadLeistungskategorieResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">
                Response, mit der die Informationen zu einer Leistungskategorie geliefert werden
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:complexType name="WsReadLeistungskategorieRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, mit dem Informationen zu Leistungskategorien gelesen werden</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="regressleistungsfallId" type="li:WsRegressleistungsfallIdType" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Objekt-Id des Regressleistungsfalles</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="WsReadLeistungskategorieResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response, mit der die Informationen zu einer Leistungskategorie geliefert werden</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="leistungskategorie" type="tns:WsLeistungskategorieType" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Enthält die Informationen zur Leistungskategorie</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="WsLeistungskategorieType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Enthält die Informationen zu einer Leistungskategorie</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ct:WsDataObjectType">
                <xsd:sequence>
                    <xsd:element name="leistungskategorieId" type="li:WsLeistungskategorieIdType">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Objekt-Id einer Leistungskategorie</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="regressleistungsfallId" type="li:WsRegressleistungsfallIdType">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Objekt-Id eines Regressleistungsfalls</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="leistungskategorieDefinitionId" type="li:WsLeistungskategorieDefinitionIdType">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Objekt-Id einer LeistungskategorieDefinition</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="gueltigAb" type="st:LocalDateType">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Gültig Ab</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="gueltigBis" type="st:LocalDateType">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Gültig Bis</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="readLeistungskategorieDefinitionRequest" type="tns:WsReadLeistungskategorieDefinitionRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, mit dem LeistungskategorieDefinitionen gelesen werden</xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:element name="readLeistungskategorieDefinitionResponse" type="tns:WsReadLeistungskategorieDefinitionResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">
                Response, mit der die Informationen zu einer LeistungskategorieDefinition geliefert werden
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:complexType name="WsReadLeistungskategorieDefinitionRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, mit dem Informationen zu LeistungskategorieDefinitionen gelesen werden</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="leistungskategorieDefinitionId" type="li:WsLeistungskategorieDefinitionIdType" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Objekt-Id der LeistungskategorieDefinition</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="locale" type="xsd:language">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Sprache in der die Multi-Language-Business-Objekte gelesen werden sollen</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="stichtag" type="xsd:date" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">
                        Fachlicher Zeitpunkt. Der Parameter ist optional. Wird er nicht gesetzt, wird das Tagesdatum verwendet.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="WsReadLeistungskategorieDefinitionResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response, mit der die Informationen zu einer LeistungskategorieDefinition geliefert werden</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="leistungskategorieDefinition" type="tns:WsLeistungskategorieDefinitionType" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Enthält die Informationen zur LeistungskategorieDefinition</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="WsLeistungskategorieDefinitionType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Enthält die Informationen zu einer LeistungskategorieDefinition</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ct:WsDataObjectType">
                <xsd:sequence>
                    <xsd:element name="leistungskategorieDefinitionId" type="li:WsLeistungskategorieDefinitionIdType">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Objekt-Id einer LeistungskategorieDefinition</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="bezeichnung" type="ct:WsLocalizedTextType">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Bezeichnung der Leitungskategorie Definition</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="regressKostenartId" type="li:WsKostenartIdType">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Objekt-Id einer Regress Kostenart</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <!-- SEARCH -->
    <xsd:complexType name="WsSearchRegressleistungsfallRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, mit dem Regressleistungsfälle gesucht werden</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="technischeSuchbedingungen" type="csearch:WsSearchConditionType">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Technische Suchbedingungen</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="regressleistungsfallSuchbedingungen" type="tns:WsRegressleistungsfallSuchbedingungenType">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Fachliche Suchbedingungen zum Regressleistungsfall</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="WsRegressleistungsfallSuchbedingungenType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Suchkriterien spezifisch zum Regressleistungsfall</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="versicherter" type="pi:WsPartnerIdType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Objekt-Id der Versicherten Person</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="regressleistungsfallNummer" type="search:WsStringSearchType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Regressleistungsfallnummer</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="fuehrenderGrundfallId" type="li:WsLeistungsfallIdType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Objekt-Id der Grundfalles</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="WsSearchRegressleistungsfallResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response, in der die gefundenen Regressleistungsfälle enthalten sind</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="regressleistungsfall" type="tns:WsRegressleistungsfallSearchType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Die gefundenen Regressleistungsfälle</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="WsRegressleistungsfallSearchType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Ein gefundener Regressleistungsfall</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="id" type="li:WsRegressleistungsfallIdType">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Objekt-Id des Regressleistungsfalles</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="regressleistungsfallNummer" type="lt:WsRegressleistungsfallnummerType">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Fachlicher Schlüssel des Regressleistungsfalles</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:element name="searchRegressleistungsfallRequest" type="tns:WsSearchRegressleistungsfallRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, mit dem Regressleistungsfälle gesucht werden</xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:element name="searchRegressleistungsfallResponse" type="tns:WsSearchRegressleistungsfallResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response, in der die gefundenen Leistungsfälle enthalten sind</xsd:documentation>
        </xsd:annotation>
    </xsd:element>

</xsd:schema>
