master-21371/apibridge-finanzwesen-suva_3.master.master-21371-12912/wsdl/com/adcubum/syrius/api/finanzwesen/zahlungsverkehr/data/zahlertyp/v1/ZahlertypService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="ZahlertypService"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="urn:com:adcubum:syrius:api:finanzwesen:zahlungsverkehr:data:zahlertyp:v1"
                  xmlns:tns="urn:com:adcubum:syrius:api:finanzwesen:zahlungsverkehr:data:zahlertyp:v1"
                  xmlns:pa="urn:com:adcubum:syrius:api:finanzwesen:zahlungsverkehr:data:zahlertyp:v1:schema"
                  xmlns:flt="urn:com:adcubum:syrius:api:common:faults:v1"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/">
    <wsdl:documentation>Version: 1.0.0</wsdl:documentation>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="urn:com:adcubum:syrius:api:finanzwesen:zahlungsverkehr:data:zahlertyp:v1:schema" schemaLocation="schema/ZahlertypService.xsd"/>
            <xsd:import namespace="urn:com:adcubum:syrius:api:common:faults:v1" schemaLocation="../../../../../common/faults/v1/faults.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="GetZahlertypRequestMessage">
        <wsdl:part name="Request" element="pa:getZahlertypRequest"/>
    </wsdl:message>
    <wsdl:message name="GetZahlertypResponseMessage">
        <wsdl:part name="Response" element="pa:getZahlertypResponse"/>
    </wsdl:message>
    <wsdl:message name="ReadL10nAttributesZahlertypRequestMessage">
        <wsdl:part name="Request" element="pa:readL10nAttributesZahlertypRequest"/>
    </wsdl:message>
    <wsdl:message name="ReadL10nAttributesZahlertypResponseMessage">
        <wsdl:part name="Response" element="pa:readL10nAttributesZahlertypResponse"/>
    </wsdl:message>
    <wsdl:message name="ApiFaultMessage">
        <wsdl:part name="fault" element="flt:apiFaultInfo"/>
    </wsdl:message>
    <wsdl:portType name="ZahlertypServicePortType">
        <wsdl:operation name="getZahlertyp">
            <wsdl:documentation>Liefert für einen technischen Zahlertypschlüssel die Daten des zugehörigen Zahlertyps zurück. Dies ist ein provisorischer Service. Das zugehörige Datenmodell ist noch nicht definitiv.</wsdl:documentation>
            <wsdl:input name="getZahlertypRequest" message="tns:GetZahlertypRequestMessage"/>
            <wsdl:output name="getZahlertypResponse" message="tns:GetZahlertypResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="readL10nAttributesZahlertyp">
            <wsdl:documentation>Liefert für einen technischen Zahlertypschlüssel die Bezeichnung des zugehörigen Zahlertyps zurück. Dies ist ein provisorischer Service. Das zugehörige Datenmodell ist noch nicht definitiv.</wsdl:documentation>
            <wsdl:input name="readL10nAttributesZahlertypRequest" message="tns:ReadL10nAttributesZahlertypRequestMessage"/>
            <wsdl:output name="readL10nAttributesZahlertypResponse" message="tns:ReadL10nAttributesZahlertypResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ZahlertypServiceBinding" type="tns:ZahlertypServicePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getZahlertyp">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="getZahlertypRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getZahlertypResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="readL10nAttributesZahlertyp">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="readL10nAttributesZahlertypRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="readL10nAttributesZahlertypResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ZahlertypService_v1">
        <wsdl:port name="ZahlertypService_v1" binding="tns:ZahlertypServiceBinding">
            <soap:address location="https://example.com/apibridge-finanzwesen/ZahlertypService_v1"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
