master-21371/apibridge-bestandsverw-suva_3.master.master-21371-13979/wsdl/com/adcubum/syrius/api/bestandsverw/vertragsverw/process/vertragsproduktprocess/v1/schema/VertragsproduktProcessService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="urn:com:adcubum:syrius:api:bestandsverw:vertragsverw:process:vertragsproduktprocess:v1:schema"
            xmlns:tns="urn:com:adcubum:syrius:api:bestandsverw:vertragsverw:process:vertragsproduktprocess:v1:schema"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:st="urn:com:adcubum:syrius:api:common:simpleTypes:v1"
            xmlns:ct="urn:com:adcubum:syrius:api:common:types:v1"
            xmlns:pc="urn:com:adcubum:syrius:api:bestandsverw:common:codes:v1"
            xmlns:pi="urn:com:adcubum:syrius:api:bestandsverw:common:identifier:v1"
            version="1.0.0"
            elementFormDefault="qualified">

    <xsd:import namespace="urn:com:adcubum:syrius:api:common:simpleTypes:v1" schemaLocation="../../../../../../common/simpleTypes/v1/simpleTypes.xsd"/>
    <xsd:import namespace="urn:com:adcubum:syrius:api:common:types:v1" schemaLocation="../../../../../../common/types/v1/types.xsd"/>
    <xsd:import namespace="urn:com:adcubum:syrius:api:bestandsverw:common:codes:v1" schemaLocation="../../../../../common/codes/v1/codes.xsd"/>
    <xsd:import namespace="urn:com:adcubum:syrius:api:bestandsverw:common:identifier:v1" schemaLocation="../../../../../common/identifier/v1/identifier.xsd"/>

	<xsd:element name="calculateVertragsproduktForKriterienRequest" type="tns:CalculateVertragsproduktForKriterienRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, um ein Vertragsprodukt zu Kriterien zu berechnen.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="calculateVertragsproduktForKriterienResponse" type="tns:CalculateVertragsproduktForKriterienResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, um ein Vertragsprodukt zu Kriterien zu berechnen.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    
    <xsd:element name="changeVertragsproduktForKriterienRequest" type="tns:ChangeVertragsproduktForKriterienRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, um ein Vertragsprodukt zu Kriterien zu ändern.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="changeVertragsproduktForKriterienResponse" type="tns:ChangeVertragsproduktForKriterienResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, um ein Vertragsprodukt zu Kriterien zu ändern.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:complexType name="CalculateVertragsproduktForKriterienRequestType">
        <xsd:annotation>
	        <xsd:documentation>Request zur Berechnung der Vertragsproduktkriterien</xsd:documentation>
	    </xsd:annotation>
        <xsd:sequence>
            <xsd:annotation>
	            <xsd:documentation>Liste von Daten der Kriterienänderung</xsd:documentation>
	        </xsd:annotation>
            <xsd:element name="kriterienAenderung" type="tns:WsKriterienAenderungType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Enthält die Daten der Kriterienänderung.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="CalculateVertragsproduktForKriterienResponseType">
        <xsd:annotation>
	        <xsd:documentation>Response des kalkulatorischen Ergebnisse einer Änderung zu einem Vertragsprodukt.</xsd:documentation>
	    </xsd:annotation>
        <xsd:sequence>
            <xsd:annotation>
	            <xsd:documentation>Liste der kalkulatorischen Ergebnisse von Änderungen zu Vertragsprodukten</xsd:documentation>
	        </xsd:annotation>
            <xsd:element name="vertragBerechnungsresultat" type="tns:WsVertragBerechnungsresultatType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Enthält das kalkulatorische Ergebnis einer Änderung zu einem Vertragsprodukt.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ChangeVertragsproduktForKriterienRequestType">
        <xsd:annotation>
	        <xsd:documentation>Request zur Kriterienänderung</xsd:documentation>
	    </xsd:annotation>
        <xsd:sequence>
            <xsd:annotation>
	            <xsd:documentation>Liste der Daten zur Kriterienänderung</xsd:documentation>
	        </xsd:annotation>
            <xsd:element name="kriterienAenderung" type="tns:WsKriterienAenderungType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Enthält die Daten der Kriterienänderung.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ChangeVertragsproduktForKriterienResponseType">
        <xsd:annotation>
	        <xsd:documentation>Response zur Kriterienänderung</xsd:documentation>
	    </xsd:annotation>
        <xsd:sequence>
            <xsd:annotation>
	            <xsd:documentation>Liste von technischen Schlüsseln der vertragsprodukte</xsd:documentation>
	        </xsd:annotation>
            <xsd:element name="vertragsproduktId" type="pi:WsVertragsproduktIdType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Technischer Schlüssel des Vertragsproduktes.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="WsKriterienAenderungType">
        <xsd:annotation>
	        <xsd:documentation>Kriterienänderungtyp</xsd:documentation>
	    </xsd:annotation>
        <xsd:sequence>
            <xsd:annotation>
	            <xsd:documentation>Liste von technischen Schlüsseln zu Vertragsprodukten</xsd:documentation>
	        </xsd:annotation>
            <xsd:element name="vertragsproduktId" type="pi:WsVertragsproduktIdType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Technischer Schlüssel des Vertragsproduktes.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="vertragId" type="pi:WsVertragIdType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Technischer Schlüssel des übergeordneten Vertrages.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="aenderungAb" type="st:DateType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Bestimmt ab wann die Änderung gültig ist.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="mutationsgrundId" type="pi:WsMutationsgrundIdType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>VMutationsgrund zur Kriterienänderung</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="kriteriumAenderung" type="tns:WsKriteriumAenderungType" minOccurs="1" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>Die Änderungen an den Kriterien des Vertragsproduktbausteins</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="WsKriteriumAenderungType">
        <xsd:annotation>
	        <xsd:documentation>Kriteriumänderungstyp</xsd:documentation>
	    </xsd:annotation>
        <xsd:sequence>
            <xsd:annotation>
	             <xsd:documentation>Liste von Kriteriumsänderungstypen</xsd:documentation>
	        </xsd:annotation>
            <xsd:element name="id" type="pi:WsKriteriumIdType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Technischer Schlüssel des Kriteriums.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="kriteriumCode" type="pi:WsCodeIdType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Code des Kriteriums, falls es sich um ein Code-Kriterium handelt.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="kriteriumWert" type="st:DecimalType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Wert des Kriteriums, falls es sich um ein Wert-Kriterium handelt.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>


    <xsd:complexType name="WsVertragBerechnungsresultatType">
        <xsd:annotation>
	        <xsd:documentation>Vertragsberechnungsresultat</xsd:documentation>
	    </xsd:annotation>
        <xsd:sequence>
            <xsd:annotation>
	             <xsd:documentation>Liste von technischen Schlüsseln zu Verträgen</xsd:documentation>
	        </xsd:annotation>
            <xsd:element name="id" type="pi:WsVertragIdType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Technischer Schlüssel des Vertrages.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="vertragsproduktBerechnungsresultat" type="tns:WsVertragsproduktBerechnungsresultatType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Das Berechnungsresultat des bearbeiteten Vertragsproduktes.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="WsVertragsproduktBerechnungsresultatType">
        <xsd:annotation>
	        <xsd:documentation>Vertragsproduktberechnungsresultat</xsd:documentation>
	    </xsd:annotation>
        <xsd:sequence>
            <xsd:annotation>
	            <xsd:documentation>Liste von technischen Schlüsseln zu Vertragsprodukten</xsd:documentation>
	        </xsd:annotation>
            <xsd:element name="id" type="pi:WsVertragsproduktIdType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Technischer Schlüssel des Vertragsproduktes.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="preisTotal" type="st:DecimalType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Gesamtprämie des Vertragsprodukts.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="basisProduktbausteinBerechnungsresultat" type="tns:WsBasisProduktbausteinBerechnungsresultatType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Der Basis-Produktbaustein.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="produktbausteinBerechnungsresultate" type="tns:WsProduktbausteinBerechnungsresultatType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>Eine Liste von Produktbausteinen.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="grundpreis" type="st:DecimalType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Grundpreis des Vertragsprodukts.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="WsProduktbausteinBerechnungsresultatType">
        <xsd:annotation>
	        <xsd:documentation>Produktbausteinberechnungsresultat</xsd:documentation>
	    </xsd:annotation>
        <xsd:sequence>
            <xsd:annotation>
	            <xsd:documentation>Liste von Preiskomponenten eines Bausteins</xsd:documentation>
	        </xsd:annotation>
            <xsd:element name="preiskomponenteBerechnungsresultate" type="tns:WsPreiskomponenteBerechnungsresultatType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>Preiskomponenten des Bausteins</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="WsBasisProduktbausteinBerechnungsresultatType">
        <xsd:annotation>
	        <xsd:documentation>Produktbausteinberechnungsresultat</xsd:documentation>
	    </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="tns:WsProduktbausteinBerechnungsresultatType">
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="WsPreiskomponenteBerechnungsresultatType">
        <xsd:annotation>
	        <xsd:documentation>Preiskomponentenberechnungsresultat</xsd:documentation>
	    </xsd:annotation>
        <xsd:sequence>
            <xsd:annotation>
	            <xsd:documentation>Liste von technischen Schlüsseln des Typs Preiskomponente</xsd:documentation>
	        </xsd:annotation>
            <xsd:element name="preiskomponenteTyp" type="pc:WsPreiskomponenteTypCodeType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Technischer Schlüssel des Typs der Preiskomponente.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="preis" type="st:DecimalType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Der Preis der einzelnen Komponente.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    
</xsd:schema>
