master-21371/apibridge-bestandsverw-suva_3.master.master-21371-13979/wsdl/com/adcubum/syrius/api/bestandsverw/vertragsverw/auskunft/data/versichertenkarte/v1/schema/VersichertenkarteService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="urn:com:adcubum:syrius:api:bestandsverw:vertragsverw:auskunft:data:versichertenkarte:v1:schema"
            xmlns:tns="urn:com:adcubum:syrius:api:bestandsverw:vertragsverw:auskunft:data:versichertenkarte:v1:schema"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:st="urn:com:adcubum:syrius:api:common:simpleTypes:v1"
            xmlns:ct="urn:com:adcubum:syrius:api:common:types:v1"
            xmlns:pi="urn:com:adcubum:syrius:api:bestandsverw:common:identifier:v1"
            version="1.0.0"
            elementFormDefault="qualified">

    <xsd:import namespace="urn:com:adcubum:syrius:api:common:simpleTypes:v1" schemaLocation="../../../../../../../common/simpleTypes/v1/simpleTypes.xsd"/>
    <xsd:import namespace="urn:com:adcubum:syrius:api:common:types:v1" schemaLocation="../../../../../../../common/types/v1/types.xsd"/>
    <xsd:import namespace="urn:com:adcubum:syrius:api:bestandsverw:common:codes:v1" schemaLocation="../../../../../../common/codes/v1/codes.xsd"/>
    <xsd:import namespace="urn:com:adcubum:syrius:api:bestandsverw:common:identifier:v1" schemaLocation="../../../../../../common/identifier/v1/identifier.xsd"/>


    <xsd:element name="searchAktuelleVersichertenkarteForPartnerRequest" type="tns:SearchAktuelleVersichertenkarteForPartnerRequestType">
        <xsd:annotation>
            <xsd:documentation>Request zur Ermittlung der akteullen VersichertenkarteId eines Partners.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:element name="searchAktuelleVersichertenkarteForPartnerResponse" type="tns:SearchAktuelleVersichertenkarteForPartnerResponseType">
        <xsd:annotation>
            <xsd:documentation>Response zur Ermittlung der aktuellen VersichertenkarteId eines Partners.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:element name="getVersichertenkarteRequest" type="tns:GetVersichertenkarteRequestType">
        <xsd:annotation>
            <xsd:documentation>Request zur Ermittlung der Versichertenkarte.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:element name="getVersichertenkarteResponse" type="tns:GetVersichertenkarteResponseType">
        <xsd:annotation>
            <xsd:documentation>Response zur Ermittlung der Versichertenkarte.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:complexType name="SearchAktuelleVersichertenkarteForPartnerRequestType">
        <xsd:annotation>
            <xsd:documentation>Request VersichertenkarteId.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="partnerId" type="pi:WsPartnerIdType" minOccurs="1" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>Technischer Schlüssel vom Partner.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="SearchAktuelleVersichertenkarteForPartnerResponseType">
        <xsd:annotation>
            <xsd:documentation>Response aktuelle Versichertenkarte Id</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="versichertenkarteId" type="pi:WsVersichertenkarteIdType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>Versichertenkarte</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="GetVersichertenkarteRequestType">
        <xsd:annotation>
            <xsd:documentation>Request Versichertenkarte.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="versichertenkarteId" type="pi:WsVersichertenkarteIdType" minOccurs="1" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>Technischer Schlüssel der Versichertenkarte.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="GetVersichertenkarteResponseType">
        <xsd:annotation>
            <xsd:documentation>Response Versichertenkarte</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="versichertenkarte" type="tns:WsVersichertenkarteType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>Versichertenkarte</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="WsVersichertenkarteType">
        <xsd:annotation>
            <xsd:documentation>Response Versichertenkarte.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ct:WsDataObjectType">
                <xsd:sequence>
                    <xsd:element name="id" type="pi:WsVersichertenkarteIdType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Id der Versichertenkarte.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="partnerId" type="pi:WsPartnerIdType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Id des Partners.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="bestellNummer" type="st:StringType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Bestell-Nummer des Absenders.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="bestellDatum" type="st:StringType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Datum der Bestellung des Kartenrecords.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="laufnummer" type="st:StringType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Nummerierung der Datensätze.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="versichererId" type="st:StringType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Offizielle BAG/BSVNummer (Bewilligung) gemäss EU-InstitutionsListe als Aussteller.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="kartenproduktId" type="st:StringType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Kartenprodukt-ID (versch. Kartenprodukte).</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="versichertenNummer" type="st:StringType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Versicherten-Nummer gemäss VersicherungsSystem (Police).</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="sozialversicherungsnummer" type="st:StringType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Neue AHV-Nummer (gemäss ZAS), bereits vorhanden oder leer.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="coverCardNummer" type="st:StringType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>CoverCard-Nummer der OFAC (ab 1.1.12 leer).</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="beginnDatumKarte" type="st:StringType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Beginn der Gültigkeit der Versichertenkarte.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="ablaufDatumKarte" type="st:StringType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Verfalldatum der aktuellen Gültigkeitsperiode (Vorderseite und EURückseite!) der Karte.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="beginnDatumVertrag" type="st:StringType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Beginn der Gültigkeit der Versicherungspolice.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="ablaufDatumVertrag" type="st:StringType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Verfalldatum der aktuellen Gültigkeitsperiode der Versicherungspolice.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="name" type="st:StringType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Familienname.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="vorname" type="st:StringType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Vorname.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="geburtsdatum" type="st:StringType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Geburtsdatum.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="geschlecht" type="st:StringType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Geschlecht.
                                M männlich
                                W weiblich
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="sprache" type="st:StringType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Offizielle Kundensprache des Versicherten (d,f,i,r,e).
                                1 Deutsch
                                2 französisch
                                3 italienisch
                                4 englisch
                                5 rätoromanisch
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="deckungsart" type="st:StringType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Deckungsart, z.B. OKP, OKP/VVG oder VVG.
                                1 Grundversicherung gemäss KVG ohne Zusatzversicherung gemäss VVG
                                2 Grundversicherung KVG mit Zusatzversicherung gemäss VVG
                                3 Zusatzversicherung gemäss VVG ohne Grundversicherung gemäss KVG
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="mutationsCodeBestellung" type="st:StringType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Mutations-Codes: Eintritt, Austritt, Deckungsänderung (bei freien Feldern) etc.
                                01 Neue Karte wegen Eintritt
                                02 Neue Karte wegen Ablauf der Gültigkeitsdauer (Verlängerung)
                                03 Ersatzkarte bei Verlust oder Diebstahl (mit Korrektur Ablaufdatum der alten Karte)
                                04 Neue Karte infolge sonstiger Änderungen (Deckungsart, Deckungsinformationen, Name, etc.)
                                05 Austrittsvermerk (mit korrigierten Ablaufdatum der Police und Nachversicherer (Pflichtfeld))
                                06 Sperren (mit Korrektur Enddatum der Police)
                                07 Entsperren (mit Korrektur Beginndatum der Police)
                                08 Reaktivierung: Austrittsvermerk löschen bei versehentlicher Mutation (mit korrigierten Ablaufdatum der Police)
                                09 Inhaltliche Änderung (ohne Kartenauslieferung)
                                11 Reaktivierung nach Austritt mit Kartenlieferung
                                12 Entsperren mit Kartenlieferung
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="nachversicherer" type="st:StringType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Institutions-Name des Nachversicherers (nur bei Austritt anzugeben).</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="layoutNummer" type="st:StringType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Layout-Nummer des Versicherers.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="rohlingNummer" type="st:StringType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Rohling-Nummer des Versicherers, z.B. KVG mit EU-Deutsch.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="vorderseiteFreierText1" type="st:StringType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Freier Text Vorderseite 1.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="vorderseiteFreierText2" type="st:StringType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Freier Text Vorderseite 2.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="vorderseiteFreierText3" type="st:StringType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Freier Text Vorderseite 3.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="vorderseiteFreierText4" type="st:StringType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Freier Text Vorderseite 4.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="vorderseiteFreierText5" type="st:StringType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Freier Text Vorderseite 5.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="vorderseiteFreierText6" type="st:StringType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Freier Text Vorderseite 6.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="vorderseiteFreierText7" type="st:StringType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Freier Text Vorderseite 7.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="vorderseiteFreierText8" type="st:StringType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Freier Text Vorderseite 8.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="vorderseiteFreierText9" type="st:StringType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Freier Text Vorderseite 9.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="vorderseiteFreierText10" type="st:StringType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Freier Text Vorderseite 10.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="vorderseiteFreierText11" type="st:StringType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Freier Text Vorderseite 11.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="vorderseiteFreierText12" type="st:StringType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Freier Text Vorderseite 12.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="vorderseiteFreierText13" type="st:StringType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Freier Text Vorderseite 13.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="vorderseiteFreierText14" type="st:StringType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Freier Text Vorderseite 14.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="vorderseiteFreierText15" type="st:StringType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Freier Text Vorderseite 15.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="vorderseiteFreierText16" type="st:StringType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Freier Text Vorderseite 16.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="vorderseiteFreierText17" type="st:StringType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Freier Text Vorderseite 17.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="vorderseiteFreierText18" type="st:StringType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Freier Text Vorderseite 18.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="vorderseiteFreierText19" type="st:StringType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Freier Text Vorderseite 19.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="vorderseiteFreierText20" type="st:StringType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Freier Text Vorderseite Rückseite 20.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="vorderseiteGrafiklogo1" type="st:StringType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Verweis auf GRAStammtabelle 1.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="vorderseiteGrafiklogo2" type="st:StringType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Verweis auf GRAStammtabelle 2.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="vorderseiteGrafiklogo3" type="st:StringType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Verweis auf GRAStammtabelle 3.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="rueckseiteFreierText1" type="st:StringType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Freier Text Rückseite 1.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="rueckseiteFreierText2" type="st:StringType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Freier Text Rückseite 2.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="rueckseiteFreierText3" type="st:StringType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Freier Text Rückseite 3.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="rueckseiteFreierText4" type="st:StringType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Freier Text Rückseite 4.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="rueckseiteFreierText5" type="st:StringType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Freier Text Rückseite 5.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="rueckseiteFreierText6" type="st:StringType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Freier Text Rückseite 6.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="rueckseiteFreierText7" type="st:StringType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Freier Text Rückseite 7.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="rueckseiteFreierText8" type="st:StringType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Freier Text Rückseite 8.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="rueckseiteFreierText9" type="st:StringType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Freier Text Rückseite 9.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="rueckseiteFreierText10" type="st:StringType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Freier Text Rückseite 10.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="rueckseiteFreierText11" type="st:StringType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Freier Text Rückseite 11.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="rueckseiteFreierText12" type="st:StringType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Freier Text Rückseite 12.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="unterschrift1" type="st:StringType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Unterschrift 1.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="unterschrift2" type="st:StringType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Unterschrift 2.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="unterschrift3" type="st:StringType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Unterschrift 3.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="rueckseiteGrafiklogo1" type="st:StringType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Verweis auf GRA-Stammtabelle.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="rueckseiteGrafiklogo2" type="st:StringType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Verweis auf GRA-Stammtabelle.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="rueckseiteGrafiklogo3" type="st:StringType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Verweis auf GRA-Stammtabelle.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="rueckseiteBarcode1" type="st:StringType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Nummer für BarcodeAnzeige (vorläufig nicht benutzt).</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="rueckseiteBarcode2" type="st:StringType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Nummer für BarcodeAnzeige (vorläufig nicht benutzt).</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="briefNummer" type="st:StringType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Briefnummer: z.B. 01 für neue Karte, mehrsprachiger Brief.
                                01 Versichertenkarte mit EU-Rückseite, Deutsch, Gesamtauslieferung (Bei verschiedenen Mandanten in einer Bestellung)
                                02 Versichertenkarte mit EU-Rückseite, Französisch, Gesamtauslieferung
                                03 Versichertenkarte mit EU-Rückseite, Italienisch, Gesamtauslieferung
                                04 Versichertenkarte mit EU-Rückseite, Englisch, Gesamtauslieferung
                                05 Versichertenkarte ohne EURückseite für VVG, Gesamtauslieferung
                                06 Versichertenkarte mit EU-Rückseite, Deutsch, Ersatz</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="absenderAdresseZeile1" type="st:StringType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Absender-Adresse Zeile 1.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="absenderAdresseZeile2" type="st:StringType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Absender-Adresse Zeile 2.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="absenderAdresseZeile3" type="st:StringType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Absender-Adresse Zeile 3.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="absenderAdresseZeile4" type="st:StringType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Absender-Adresse Zeile 4.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="absenderAdresseZeile5" type="st:StringType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Absender-Adresse Zeile 5.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="absenderAdresseZeile6" type="st:StringType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Absender-Adresse Zeile 6.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="gemeinsamesCouvertId" type="st:StringType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Nummer für gemeinsames Couvert.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="versandAdresseZeile1" type="st:StringType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Versandadresse Zeile 1.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="versandAdresseZeile2" type="st:StringType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Versandadresse Zeile 2.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="versandAdresseZeile3" type="st:StringType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Versandadresse Zeile 3.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="versandAdresseZeile4" type="st:StringType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Versandadresse Zeile 4: Strasse und Hausnummer.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="versandAdresseZeile5" type="st:StringType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Versandadresse Zeile 5: c/o Adresszusatz.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="versandAdresseZeile6" type="st:StringType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Versandadresse Zeile 6: PLZ.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="versandAdresseZeile7" type="st:StringType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Versandadresse Zeile 7: Ort.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="versandAdresseZeile8" type="st:StringType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>gemäss EU-Norm; wenn nicht vorhanden, in Feld VB_VersAdr6 codieren (Kürzel); nur bei Auslandadresse.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="begleitbriefText1" type="st:StringType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Platzhalter 1: z.B. für Anrede.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="begleitbriefText2" type="st:StringType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Platzhalter 2: z.B. für Textblock gem. Anrede.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="begleitbriefText3" type="st:StringType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Platzhalter 3: z.B. für Textblock gem. Anrede.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="versandDatum" type="st:StringType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Textblock; Datum, das auf dem Brief angedruckt wird, z.B. „im Januar 2005“, wenn leer, dann „dd.mm.yyyy“.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="beilagenNummer1" type="st:StringType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Beilagen-Nummer .</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="beilagenNummer2" type="st:StringType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Beilagen-Nummer 2.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="kartenNummerVeka" type="st:StringType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Offizielle Karten-Nummer beim VeKaCenter.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
</xsd:schema>
