master-21371/apibridge-partnermgmt-suva_4.master.master-21371-14050/wsdl/com/adcubum/syrius/api/partnermgmt/partnerdatenverw/process/adresse/v1/schema/AdresseProcessService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:pi="urn:com:adcubum:syrius:api:partnermgmt:common:identifier:v1"
            xmlns:ct="urn:com:adcubum:syrius:api:common:types:v1"
            xmlns:st="urn:com:adcubum:syrius:api:common:simpleTypes:v1"
            xmlns:pc="urn:com:adcubum:syrius:api:partnermgmt:common:codes:v1"
            xmlns:tns="urn:com:adcubum:syrius:api:partnermgmt:partnerdatenverw:process:adresse:v1:schema"
            targetNamespace="urn:com:adcubum:syrius:api:partnermgmt:partnerdatenverw:process:adresse:v1:schema"
            elementFormDefault="qualified"
            version="1.0.0">
    <xsd:import namespace="urn:com:adcubum:syrius:api:partnermgmt:common:codes:v1" schemaLocation="../../../../../common/codes/v1/codes.xsd"/>
    <xsd:import namespace="urn:com:adcubum:syrius:api:partnermgmt:common:identifier:v1" schemaLocation="../../../../../common/identifier/v1/identifier.xsd"/>
    <xsd:import namespace="urn:com:adcubum:syrius:api:partnermgmt:common:types:v1" schemaLocation="../../../../../common/types/v1/types.xsd"/>
    <xsd:import namespace="urn:com:adcubum:syrius:api:common:types:v1" schemaLocation="../../../../../../common/types/v1/types.xsd"/>
    <xsd:import namespace="urn:com:adcubum:syrius:api:common:simpleTypes:v1" schemaLocation="../../../../../../common/simpleTypes/v1/simpleTypes.xsd"/>
    <xsd:element name="createDomiziladresseRequest" type="tns:CreateDomiziladresseRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, mit dem eine Domiziladresse für einen Partner erstellt wird.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="createDomiziladresseResponse" type="tns:CreateDomiziladresseResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response, der neu erstellten Domiziladresse.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="createZusatzadresseRequest" type="tns:CreateZusatzadresseRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, mit dem eine Zusatzadressen für einen Partner erstellt wird.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="createZusatzadresseResponse" type="tns:CreateZusatzadresseResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response, der neu erstellten Zusatzadresse.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="CreateDomiziladresseRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, mit dem einen neue Domiziladresse für einen Partner erstellt wird.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="partnerId" type="pi:WsPartnerIdType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Technischer Schlüssel eines Partners, auf welchem die Domiziladresse erstellt werden soll.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="adresse" type="tns:WsDomiziladresseType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Die Daten der neu zu erstellenden Domiziladresse</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="gueltigAb" type="xsd:date" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Bestimmt ab wann die Adresse gültig ist.</xsd:documentation>
                </xsd:annotation>
            </xsd:element> 
            <xsd:element name="gueltigBis" type="xsd:date" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Bestimmt bis wann die Adresse gültig ist.</xsd:documentation>
                </xsd:annotation>
            </xsd:element> 
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CreateDomiziladresseResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response, der neu erstellten Domiziladresse.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="adresseId" type="pi:WsAdresseIdType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">AdresseId der neu erstellten Adresse.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CreateZusatzadresseRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, mit dem eine Zusatzadresse für einen Partner erstellt wird.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="partnerId" type="pi:WsPartnerIdType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Technischer Schlüssel eines Partners, auf welchem die Zusatzadresse erstellt werden soll.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="adresse" type="tns:WsZusatzadresseType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Die Daten der neu zu erstellenden Zusatzadresse</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="gueltigAb" type="xsd:date" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Bestimmt ab wann die Adresse gültig ist.</xsd:documentation>
                </xsd:annotation>
            </xsd:element> 
            <xsd:element name="gueltigBis" type="xsd:date" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Bestimmt bis wann die Adresse gültig ist.</xsd:documentation>
                </xsd:annotation>
            </xsd:element> 
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CreateZusatzadresseResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response, der neu erstellten Zusatzadresse.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="adresseId" type="pi:WsAdresseIdType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">AdresseId der neu erstellten Adresse.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="WsAdresseType" abstract="true">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Abstrakte Adresse für die gemeinsamen Eigenschaften von Domizil- oder Zusatzadressen.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="mutationsgrundId" type="pi:WsMutationsgrundIdType" minOccurs="0" maxOccurs="1">
               <xsd:annotation>
                  <xsd:documentation xml:lang="de">Mutationsgrund der Änderung, z.B Neuerfassung, Adressänderung, Mutation, usw.</xsd:documentation>
               </xsd:annotation>
            </xsd:element>
            <xsd:element name="bemerkungen" type="st:StringType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Bemerkung zu einer Adresse.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="hausId" type="st:StringType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Fachlicher Schlüssel auf die Hausnummer in den Adressstammdaten.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="hausNrZusatz" type="st:StringType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Zusatz der Hausnummer.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="hausnummer" type="st:StringType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Hausnummer der Adresse.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="land" type="st:StringType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Land der Adresse (ISO-Code).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="ort" type="st:StringType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Ort der Adresse.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="plz" type="st:StringType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Postleitzahl der Adresse.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="plzId" type="st:StringType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Fachlicher Schlüssel auf die Postleitzahl inkl. Zusatz in den Adressstammdaten.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="plzZusatz" type="st:StringType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Zusatz der Postleitzahl der Adresse.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="postfach" type="st:StringType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Postfach der Adresse.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="postfachOhneNr" type="pc:WsPostfachOhneNrCodeType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Bestimmt, ob es sich um eine Postfach-Adresse ohne Postfachnummer handelt.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="zusatz1VorStr" type="st:StringType" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
                    <xsd:documentation xml:lang="de">Adressezusatz1 welcher vor der Strasse steht.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="zusatz2VorStr" type="st:StringType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Adressezusatz2 welcher vor der Strasse steht.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="zusatz3VorStr" type="st:StringType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Adressezusatz3 welcher vor der Strasse steht.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="zusatz4VorStr" type="st:StringType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Adressezusatz4 welcher vor der Strasse steht.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="strasse" type="st:StringType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Strasse der Adresse.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="strasseId" type="st:StringType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Fachlicher Schlüssel auf die Strasse in den Adressstammdaten.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="zusatz1NachStr" type="st:StringType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Adressezusatz1 welcher nach der Strasse steht.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="zusatz2NachStr" type="st:StringType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Adressezusatz2 welcher nach der Strasse steht.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="gemeindenummer" type="st:IntegerType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Gemeindenummer der Adresse.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="gemeindename" type="st:StringType" minOccurs="0" maxOccurs="1">
            	<xsd:annotation>
                    <xsd:documentation xml:lang="de">Gemeindename der Adresse.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="kanton" type="pc:WsKantonCodeType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Kanton der Adresse.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>           
            <xsd:element name="gemeindeKanton" type="pc:WsGemeindeKantonCodeType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Kanton der Gemeinde.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="strasseNrReihenfolge" type="pc:WsStrasseNrReihenfolgeCodeType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Definiert, ob die Strasse vor der Nummer angezeigt werden soll oder umgekehrt.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="WsDomiziladresseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Domiziladresse eines Partners.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="tns:WsAdresseType">
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsZusatzadresseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Zusatzadresse eines Partners.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="tns:WsAdresseType">
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
</xsd:schema>
