master-21371/apibridge-schadenleistungsmgmt-suva_6.master.master-21371-13742/wsdl/com/adcubum/syrius/api/schadenleistungsmgmt/kvuv/extern/vertrag/identifier/v2/identifier.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema
	targetNamespace="urn:com:adcubum:syrius:api:schadenleistungsmgmt:kvuv:extern:vertrag:identifier:v2"
	xmlns:tns="urn:com:adcubum:syrius:api:schadenleistungsmgmt:kvuv:extern:vertrag:identifier:v2"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ci="urn:com:adcubum:syrius:api:common:identifier:v1"
	elementFormDefault="qualified"
	version="2.0.0">

	<xsd:import namespace="urn:com:adcubum:syrius:api:common:identifier:v1"
		schemaLocation="../../../../../../../../../../com/adcubum/syrius/api/common/identifier/v1/identifier.xsd" />

	<xsd:complexType name="WsProduktJoinIdType">
		<xsd:annotation>
			<xsd:documentation>Technischer Schlüssel eines ProduktJoin
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ci:WsIdType" />
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="WsVertragsproduktIdType">
		<xsd:annotation>
			<xsd:documentation>Technischer Schlüssel eines Vertragsprodukt
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ci:WsIdType" />
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="WsProduktIdType">
		<xsd:annotation>
			<xsd:documentation>Technischer Schlüssel eines Produktes
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ci:WsIdType" />
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>
