master-21371/apibridge-marketingvertrieb-vertriebsmgmt-suva_1.master.master-21371-8534/wsdl/com/adcubum/syrius/api/marketingvertrieb/vertriebsmgmt/data/contractmanager/v1/ContractManagerService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="ContractManagerService"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="urn:com:adcubum:syrius:api:marketingvertrieb:vertriebsmgmt:data:contractmanager:v1"
                  xmlns:tns="urn:com:adcubum:syrius:api:marketingvertrieb:vertriebsmgmt:data:contractmanager:v1"
                  xmlns:vp="urn:com:adcubum:syrius:api:marketingvertrieb:vertriebsmgmt:data:contractmanager:v1:schema"
                  xmlns:flt="urn:com:adcubum:syrius:api:common:faults:v1"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/">
    <wsdl:documentation>
        Version: 1.0.0
    </wsdl:documentation>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="urn:com:adcubum:syrius:api:marketingvertrieb:vertriebsmgmt:data:contractmanager:v1:schema" schemaLocation="schema/ContractManagerService.xsd"/>
            <xsd:import namespace="urn:com:adcubum:syrius:api:common:faults:v1" schemaLocation="../../../../../common/faults/v1/faults.xsd"/>
        </xsd:schema>
    </wsdl:types> 
    <wsdl:message name="ChangeContractManagerRequestMessage">
        <wsdl:part name="request" element="vp:changeContractManagerRequest"/>
    </wsdl:message>
    <wsdl:message name="ChangeContractManagerResponseMessage">
        <wsdl:part name="response" element="vp:changeContractManagerResponse"/>
    </wsdl:message>
    <wsdl:message name="SearchContractsOfContractManagerRequestMessage">
        <wsdl:part name="request" element="vp:searchContractsOfContractManagerRequest"/>
    </wsdl:message>
    <wsdl:message name="SearchContractsOfContractManagerResponseMessage">
        <wsdl:part name="response" element="vp:searchContractsOfContractManagerResponse"/>
    </wsdl:message>
    <wsdl:message name="ReadDistributionEmployeeOfContractManagerRequestMessage">
        <wsdl:part name="request" element="vp:readDistributionEmployeeOfContractManagerRequest"/>
    </wsdl:message>
    <wsdl:message name="ReadDistributionEmployeeOfContractManagerResponseMessage">
        <wsdl:part name="response" element="vp:readDistributionEmployeeOfContractManagerResponse"/>
    </wsdl:message>
    <wsdl:message name="ApiFaultMessage">
        <wsdl:part name="fault" element="flt:apiFaultInfo"/>
    </wsdl:message>
    <wsdl:message name="ReplaceContractManagerRequestMessage">
        <wsdl:part name="request" element="vp:replaceContractManagerRequest"/>
    </wsdl:message>
    <wsdl:message name="ReplaceContractManagerResponseMessage">
        <wsdl:part name="response" element="vp:replaceContractManagerResponse"/>
    </wsdl:message>
    <wsdl:portType name="ContractManagerServicePortType">
        <wsdl:operation name="changeContractManager">
            <wsdl:documentation>Service for allocation and reallocation of contracts.</wsdl:documentation>
            <wsdl:input name="changeContractManagerRequest" message="tns:ChangeContractManagerRequestMessage"/>
            <wsdl:output name="changeContractManagerResponse" message="tns:ChangeContractManagerResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="searchContractsOfContractManager">
            <wsdl:documentation>Service for searching contracts of a contract manager.</wsdl:documentation>
            <wsdl:input name="searchContractsOfContractManagerRequest" message="tns:SearchContractsOfContractManagerRequestMessage"/>
            <wsdl:output name="searchContractsOfContractManagerResponse" message="tns:SearchContractsOfContractManagerResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="readDistributionEmployeeOfContractManager">
            <wsdl:documentation>Service for reading of distribution employee of a contract.</wsdl:documentation>
            <wsdl:input name="readDistributionEmployeeOfContractManagerRequest" message="tns:ReadDistributionEmployeeOfContractManagerRequestMessage"/>
            <wsdl:output name="readDistributionEmployeeOfContractManagerResponse" message="tns:ReadDistributionEmployeeOfContractManagerResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="replaceContractManager">
            <wsdl:documentation>Service that replaces a distribution employee with a new one for all its contracts.</wsdl:documentation>
            <wsdl:input name="replaceContractManagerRequest" message="tns:ReplaceContractManagerRequestMessage"/>
            <wsdl:output name="replaceContractManagerResponse" message="tns:ReplaceContractManagerResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ContractManagerServiceBinding" type="tns:ContractManagerServicePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="changeContractManager">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="changeContractManagerRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="changeContractManagerResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        
        <wsdl:operation name="searchContractsOfContractManager">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="searchContractsOfContractManagerRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="searchContractsOfContractManagerResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="readDistributionEmployeeOfContractManager">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="readDistributionEmployeeOfContractManagerRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="readDistributionEmployeeOfContractManagerResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="replaceContractManager">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="replaceContractManagerRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="replaceContractManagerResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        
    </wsdl:binding>
    <wsdl:service name="ContractManagerService_v1">
        <wsdl:port name="ContractManagerService_v1" binding="tns:ContractManagerServiceBinding">
            <soap:address location="https://example.com/apibridge-marketingvertrieb-vertriebsmgmt/ContractManagerService_v1"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
