master-21371/apibridge-partnermgmt-suva_4.master.master-21371-14050/wsdl/com/adcubum/syrius/api/partnermgmt/partnerdatenverw/data/zahlungskanal/v1/ZahlungskanalService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="ZahlungskanalService"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="urn:com:adcubum:syrius:api:partnermgmt:partnerdatenverw:data:zahlungskanal:v1"
                  xmlns:tns="urn:com:adcubum:syrius:api:partnermgmt:partnerdatenverw:data:zahlungskanal:v1"
                  xmlns:pa="urn:com:adcubum:syrius:api:partnermgmt:partnerdatenverw:data:zahlungskanal:v1:schema"
                  xmlns:flt="urn:com:adcubum:syrius:api:common:faults:v1"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/">
    <wsdl:documentation>Version: 1.0.0</wsdl:documentation>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="urn:com:adcubum:syrius:api:partnermgmt:partnerdatenverw:data:zahlungskanal:v1:schema" schemaLocation="schema/ZahlungskanalService.xsd"/>
            <xsd:import namespace="urn:com:adcubum:syrius:api:common:faults:v1" schemaLocation="../../../../../common/faults/v1/faults.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="GetZahlungskanalRequestMessage">
        <wsdl:part name="Request" element="pa:getZahlungskanalRequest"/>
    </wsdl:message>
    <wsdl:message name="GetZahlungskanalResponseMessage">
        <wsdl:part name="Response" element="pa:getZahlungskanalResponse"/>
    </wsdl:message>
    <wsdl:message name="GetPartnerZahlungskanalRequestMessage">
        <wsdl:part name="Request" element="pa:getPartnerZahlungskanalRequest"/>
    </wsdl:message>
    <wsdl:message name="GetPartnerZahlungskanalResponseMessage">
        <wsdl:part name="Response" element="pa:getPartnerZahlungskanalResponse"/>
    </wsdl:message>
    <wsdl:message name="ApiFaultMessage">
        <wsdl:part name="fault" element="flt:apiFaultInfo"/>
    </wsdl:message>
    <wsdl:portType name="ZahlungskanalServicePortType">
        <wsdl:operation name="getZahlungskanal">
            <wsdl:documentation>Liefert für einen technischen Zahlungskanalschlüssel die Daten der zugehörigen Zahlungskanäle.</wsdl:documentation>
            <wsdl:input name="getZahlungskanalRequest" message="tns:GetZahlungskanalRequestMessage"/>
            <wsdl:output name="getZahlungskanalResponse" message="tns:GetZahlungskanalResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="getPartnerZahlungskanal">
            <wsdl:documentation>Liefert für einen technischen Partnerschlüssel die Daten der dazugehörenden Zahlungskanälen.</wsdl:documentation>
            <wsdl:input name="getPartnerZahlungskanalRequest" message="tns:GetPartnerZahlungskanalRequestMessage"/>
            <wsdl:output name="getPartnerZahlungskanalResponse" message="tns:GetPartnerZahlungskanalResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ZahlungskanalServiceBinding" type="tns:ZahlungskanalServicePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getZahlungskanal">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="getZahlungskanalRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getZahlungskanalResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getPartnerZahlungskanal">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="getPartnerZahlungskanalRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getPartnerZahlungskanalResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ZahlungskanalService_v1">
        <wsdl:port name="ZahlungskanalService_v1" binding="tns:ZahlungskanalServiceBinding">
            <soap:address location="https://example.com/apibridge-partnermgmt/ZahlungskanalService_v1"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
