master-21371/apibridge-partnermgmt-suva_4.master.master-21371-14050/wsdl/com/adcubum/syrius/api/partnermgmt/partnerdatenverw/process/telephonebpmn/v0/schema/TelephoneBpmnProcessService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:cc="urn:com:adcubum:syrius:api:common:codes:v1"
            xmlns:pi="urn:com:adcubum:syrius:api:partnermgmt:common:identifier:v1"
            xmlns:pt="urn:com:adcubum:syrius:api:partnermgmt:common:types:v1"
            xmlns:cp="urn:com:adcubum:syrius:api:common:process:v1"
            xmlns:st="urn:com:adcubum:syrius:api:common:simpleTypes:v1"
            xmlns:pc="urn:com:adcubum:syrius:api:partnermgmt:common:codes:v1"
            xmlns:tns="urn:com:adcubum:syrius:api:partnermgmt:partnerdatenverw:process:telephonebpmn:v0:schema"
            elementFormDefault="qualified"
            targetNamespace="urn:com:adcubum:syrius:api:partnermgmt:partnerdatenverw:process:telephonebpmn:v0:schema"
            version="0.0.0">
    <xsd:import namespace="urn:com:adcubum:syrius:api:partnermgmt:common:identifier:v1" schemaLocation="../../../../../common/identifier/v1/identifier.xsd"/>
    <xsd:import namespace="urn:com:adcubum:syrius:api:partnermgmt:common:types:v1" schemaLocation="../../../../../common/types/v1/types.xsd"/>
    <xsd:import namespace="urn:com:adcubum:syrius:api:common:process:v1" schemaLocation="../../../../../../common/process/v1/process.xsd"/>
    <xsd:import namespace="urn:com:adcubum:syrius:api:common:simpleTypes:v1" schemaLocation="../../../../../../common/simpleTypes/v1/simpleTypes.xsd"/>
    <xsd:import namespace="urn:com:adcubum:syrius:api:partnermgmt:common:codes:v1" schemaLocation="../../../../../common/codes/v1/codes.xsd"/>
    <xsd:import namespace="urn:com:adcubum:syrius:api:common:codes:v1" schemaLocation="../../../../../../common/codes/v1/codes.xsd"/>
            
    <xsd:element name="startTelephoneEnrichmentProcessRequest" type="tns:StartTelephoneEnrichmentProcessRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, um eine Telefonnummer Änderung zu erstellen.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="startTelephoneEnrichmentProcessResponse" type="tns:StartTelephoneEnrichmentProcessResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response der Telefonnummer Änderung mit den Prozessinformationen.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="startTelephoneExpertProcessRequest" type="tns:StartTelephoneExpertProcessRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request um ein neue Telefonnummer anzulegen, ändern doer löschen auf dem Partner.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="startTelephoneExpertProcessResponse" type="tns:StartTelephoneExpertProcessResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response der Telefonnummer (Erstellung, Mutation oder Löschen) mit den Prozessinformationen.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="StartTelephoneEnrichmentProcessRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, um eine Telefonnummer Änderung für einen Partner zu erstellen.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:group ref="cp:GeneralProcessParams"/>
            <xsd:element name="partnerId" type="pi:WsPartnerIdType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Technischer Schlüssel des Partners, dessen Telefonnummer geändert werden sollen.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="validFrom" type="st:LocalDateType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Bestimmt ab wann die Telefonnummer gültig ist.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="telephoneChange" type="tns:WsTelephoneChangeType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Enthält die Daten der Telefonnummer, die geändert werden soll.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="telephoneTerminate" type="tns:WsTelephoneTerminateType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Enthält die Daten der Telefonnummer, die gelöscht werden soll.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="StartTelephoneEnrichmentProcessResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response der Telefonnummer Änderung.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="businessProcessState" type="cp:BusinessProcessStateType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Status des gestarteten Prozesses.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="StartTelephoneExpertProcessRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request um eine neue Telefonnummer auf dem Partner anzulegen, ändern oder löschen.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:group ref="cp:GeneralProcessParams"/>
            <xsd:element name="partnerId" type="pi:WsPartnerIdType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Technischer Schlüssel des Partners, für den die Telefonnummer erstellt werden soll.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="changeReasonId" type="pi:WsChangeReasonIdType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Technische Id des verwendeten Mutationsgrunds.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="validFrom" type="xsd:date" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Bestimmt ab wann die neuen Telefonnummer gültig ist.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="createTelephone" type="tns:WsCreateTelephoneType" minOccurs="1" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Enthält die Daten der neuen Telefonnummer.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="changeTelephone" type="tns:WsChangeTelephoneType" minOccurs="1" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Enthält die Daten der neuen Telefonnummer.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="terminateTelephone" type="tns:WsTerminateTelephoneType" minOccurs="1" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Enthält die Daten der zu löschenden Telefonnummern.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="StartTelephoneExpertProcessResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response der Telefonnummer Erstellung mit den Prozessinformationen.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="businessProcessState" type="cp:BusinessProcessStateType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Status des gestarteten Prozesses.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="WsTelephoneChangeType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Enthält die Daten einer Telefonnummer, die geändert werden soll.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="telephoneNumber" type="st:StringType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Die Telefonnummer.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:choice minOccurs="0" maxOccurs="1">
                <xsd:element name="telephoneDefId" type="pi:WsTelefonDefIdType">
                    <xsd:annotation>
                        <xsd:documentation xml:lang="de">Technischer Schlüssel der Telefonnummer-Definition.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="telephoneType" type="pt:WsTelefonArtType">
                    <xsd:annotation>
                        <xsd:documentation xml:lang="de">Die Art des Telefons (Telefon, Mobile oder Fax).</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:choice>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="WsTelephoneTerminateType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Enthält die Daten einer Telefonnummer, die gelöscht werden soll.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="telephoneNumber" type="st:StringType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Die Telefonnummer.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="WsCreateTelephoneType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Enthält die Daten einer Telefonnummer.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="telephoneDefId" type="pi:WsTelefonDefIdType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Technischer Schlüssel der Telefonnummer-Definition.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="telephoneNumber" type="st:StringType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Die Telefonnummer inkl. internationaler Vorwahl.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="WsChangeTelephoneType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Enthält die Daten einer Telefonnummer.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="telephoneId" type="pi:WsTelefonIdType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Technischer Schlüssel der zu ändernden Telefonnummer.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="telephoneDefId" type="pi:WsTelefonDefIdType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Technischer Schlüssel der Telefonnummer-Definition.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="telephoneNumber" type="st:StringType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Die Telefonnummer inkl. internationaler Vorwahl.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="WsTerminateTelephoneType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Enthält die Daten einer Die Telefonnummer.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="telephoneId" type="pi:WsTelefonIdType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Technische Id der zu terminierenden Telefonnummer.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
