master-21371/apibridge-partnermgmt-suva_4.master.master-21371-14050/wsdl/com/adcubum/syrius/api/common/process/v1/process.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:ci="urn:com:adcubum:syrius:api:common:identifier:v1"
            xmlns:cc="urn:com:adcubum:syrius:api:common:codes:v1"
            xmlns:st="urn:com:adcubum:syrius:api:common:simpleTypes:v1"
            xmlns:tns="urn:com:adcubum:syrius:api:common:process:v1"
            targetNamespace="urn:com:adcubum:syrius:api:common:process:v1"
            elementFormDefault="qualified"
            version="1.0.0">

    <xsd:import namespace="urn:com:adcubum:syrius:api:common:identifier:v1" schemaLocation="../../identifier/v1/identifier.xsd"/>
    <xsd:import namespace="urn:com:adcubum:syrius:api:common:codes:v1" schemaLocation="../../codes/v1/codes.xsd"/>
    <xsd:import namespace="urn:com:adcubum:syrius:api:common:simpleTypes:v1" schemaLocation="../../simpleTypes/v1/simpleTypes.xsd"/>

    <xsd:complexType name="WsTextModuleIdType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Die Objekt-ID eines Textbausteins.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ci:WsIdType"/>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="WsArchiveSystemIdType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Die Objekt-ID eines Archivsystems.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ci:WsIdType"/>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="WsAufgabeIdType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Die Objekt-ID einer Aufgabe.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ci:WsIdType"/>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="WsBusinessProcessStateCodeType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Status des Geschäftsprozesses (InBearbeitung, Beendet oder Abgebrochen).</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="cc:WsCodeType"/>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="WsNoteCategoryCodeType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Kategorie des Hinweises (Information, Warnung oder Fehler).</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="cc:WsCodeType"/>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="WsSensitivityTypeCodeType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Sensitivität des Hinweises (Standard oder Vertraulich).</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="cc:WsCodeType"/>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="ArchiveDocumentRefType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Referenz auf ein Dokument im Archiv.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="archiveDocId" type="st:StringType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Externe UUID des Archivdokuments im Archiv.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="archiveSystemId" type="tns:WsArchiveSystemIdType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Technische Id des Archivsystems.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="AttachmentType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Attachment zu einem Prozess (z.B. Begleitbrief).</xsd:documentation>
        </xsd:annotation>
        <xsd:choice minOccurs="1" maxOccurs="1">
            <xsd:element name="archiveDocumentRef" type="tns:ArchiveDocumentRefType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Referenz auf ein Dokument im Archiv.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="url" type="st:StringType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">URL</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:choice>
    </xsd:complexType>

    <xsd:complexType name="MessageType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Meldung werden als Prozessvariablen zur Verfügung gestellt und können als Prüfjournal persistiert werden.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="messageCategory" type="st:StringType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Meldungskategorie kann zur Ermittlung der Fehler-Levels genutzt werden.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="textModuleId" type="tns:WsTextModuleIdType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Technische Id des Textbausteins.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="messageParam" type="st:StringType" minOccurs="0" maxOccurs="8">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Parameter des Textbausteins.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="GeneralProcessParamsType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Enthält die allgemeinen, prozessteuernden Parameter.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="businessEventId" type="st:StringType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">
                        Fasst einen oder mehrere Prozesse dieses einen Geschäftsereignisses zusammen.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="customerContactId" type="st:StringType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">
                        Fasst eines oder mehrere Geschäftsereignisse (mit oder ohne fachlichen Zusammenhang) zusammen.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="attachment" type="tns:AttachmentType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Enthält die Attachments zu einem Prozess.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="message" type="tns:MessageType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Enthält die Messages (Warnungen) zu einem Prozess.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:group name="GeneralProcessParams">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">
                Die allgemeinen, prozesssteuernden Parameter, welche in der Process-Engine als Prozessvariablen zur Verfügung gestellt werden.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="generalProcessParams" type="tns:GeneralProcessParamsType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Enthält die allgemeinen, prozessteuernden Parameter</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:group>

    <xsd:complexType name="BusinessProcessStateWithWaitStatesType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">
                Enthält den Zustand eines Geschäftsprozesses, der orchestrierten (Sub-)Geschäftsprozesse und der Wartezustände.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="tns:BaseBusinessProcessStateType">
                <xsd:sequence>
                    <xsd:element name="waitStates" type="tns:BusinessProcessWaitStateType" minOccurs="0" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">
                                Enthält die Wartezustände zu einem Geschäftsprozess.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="included" type="tns:BusinessProcessStateWithWaitStatesType" minOccurs="0" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">
                                Liste der Zustände aller Geschäftsprozesse, welche Bestandteil dieses Geschäftsprozesses sind.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:group name="BusinessProcessStateWithWaitStates">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">
                Der Zustand des Geschäftsprozesses, seiner orchestrierten (Sub-)Geschäftsprozesse und der Wartezustände.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="businessProcessStateWithWaitStates" type="tns:BusinessProcessStateWithWaitStatesType">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">
                        Enthält den Zustand eines Geschäftsprozesses, der orchestrierten (Sub-)Geschäftsprozesse und der Wartezustände.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:group>

    <xsd:complexType name="BusinessProcessStateType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">
                Enthält den Zustand eines Geschäftsprozesses.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="tns:BaseBusinessProcessStateType">
                <xsd:sequence>
                    <xsd:element name="includedBusinessEventIds" type="st:StringType" minOccurs="0" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">
                                Liste der Geschäftsprozess-Ids, welche Bestandteil dieses Geschäftsprozesses sind.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:group name="BusinessProcessState">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">
                Der Zustand des Geschäftsprozesses.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="businessProcessState" type="tns:BusinessProcessStateType">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">
                        Enthält den Zustand eines Geschäftsprozesses.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:group>

    <xsd:complexType name="BaseBusinessProcessStateType" abstract="true">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Enthält den Zustand eines Geschäftsprozesses.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="businessEventId" type="st:StringType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Business Event Id des gestarteten Camunda-Prozesses.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="businessProcessType" type="st:StringType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">UUID des Geschäftsprozesstyps.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="customerContactId" type="st:StringType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">UUID des Kundenkontakts bei dem der Prozess gestartet wurde.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="partOfBusinessEventId" type="st:StringType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">UUID des übergeordneten Prozesses, falls ein solcher existiert.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="stateType" type="tns:WsBusinessProcessStateCodeType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Aktueller Status des Geschäftsprozess (InBearbeitung, Beendet, Abgebrochen)</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="endState" type="tns:BusinessProcessEndStateType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">
                        Wenn der Geschäftsprozess bereits beendet oder abgebrochen wurde,
                        können über den Endzustand zusätzliche Informationen ermittelt werden.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="BusinessProcessEndStateType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">
                Enthält zusätzliche Hinweise zu beendeten und abgebrochenen Geschäftsprozessen.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="endStateNotes" type="tns:NoteType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">
                        Zusätzliche Hinweise zum Endzustand des Geschäftsprozesses (z. B. Fehler-Meldung bei Abbruch oder
                        erreichte Endzustände bei beendeten Prozessen).
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="NoteType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Enthält Hinweise.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="noteCategory" type="tns:WsNoteCategoryCodeType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Kategorie des Hinweises (Fehler, Warnung oder Info).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="noteSensitivity" type="tns:WsSensitivityTypeCodeType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Sensitivität des Hinweises (Standard oder Vertraulich).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="noteId" type="st:StringType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Id vom Alert welcher den Hinweis beschreibt.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="noteDescriptionId" type="tns:WsTextModuleIdType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Textbaustein welcher den Hinweis beschreibt.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="noteParam1" type="st:StringType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Parameter 1 zur Verwendung in der Beschreibung.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="noteParam2" type="st:StringType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Parameter 2 zur Verwendung in der Beschreibung.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="noteParam3" type="st:StringType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Parameter 3 zur Verwendung in der Beschreibung.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="noteParam4" type="st:StringType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Parameter 4 zur Verwendung in der Beschreibung.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="noteParam5" type="st:StringType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Parameter 5 zur Verwendung in der Beschreibung.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="noteParam6" type="st:StringType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Parameter 6 zur Verwendung in der Beschreibung.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="noteParam7" type="st:StringType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Parameter 7 zur Verwendung in der Beschreibung.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="noteParam8" type="st:StringType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Parameter 8 zur Verwendung in der Beschreibung.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="BusinessProcessWaitStateType" abstract="true">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">
                Enthält den Wartezustand eines laufenden Geschäftsprozesses.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="executionNotes" type="tns:NoteType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Ausführungshinweise zum Wartezustand.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="UserTaskWaitStateType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">
                Enthält den Wartezustand eines laufenden Geschäftsprozesses, falls dieser auf die Bearbeitung einer Aufgabe wartet.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="tns:BusinessProcessWaitStateType">
                <xsd:sequence>
                    <xsd:element name="aufgabeId" type="tns:WsAufgabeIdType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Eindeutige Objekt-ID einer SYRIUS-Aufgabe.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="ConditionalWaitStateType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">
                Enthält den Wartezustand eines laufenden Geschäftsprozesses, falls dieser auf die Erfüllung einer Bedingung wartet.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="tns:BusinessProcessWaitStateType"/>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="MessageWaitStateType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">
                Enthält den Wartezustand eines laufenden Geschäftsprozesses, falls dieser auf eine Nachricht wartet.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="tns:BusinessProcessWaitStateType"/>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="IncidentWaitStateType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">
                Enthält den Wartezustand eines laufenden Geschäftsprozesses, falls bei diesem eine Störung(=Incident) aufgetreten ist.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="tns:BusinessProcessWaitStateType"/>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="TimerWaitStateType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">
                Enthält den Wartezustand eines laufenden Geschäftsprozesses, falls dieser auf das Ablaufen eines Timers wartet.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="tns:BusinessProcessWaitStateType">
                <xsd:sequence>
                    <xsd:element name="dueDate" type="st:LocalDateTimeType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Ablaufzeit des Wartezustandes.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="SuspendedJobWaitStateType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">
                Enthält den Wartezustand eines laufenden Geschäftsprozesses, falls dieser angehalten wurde.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="tns:BusinessProcessWaitStateType"/>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="SignalWaitStateType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">
                Enthält den Wartezustand eines laufenden Geschäftsprozesses, falls dieser auf ein Signal wartet.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="tns:BusinessProcessWaitStateType"/>
        </xsd:complexContent>
    </xsd:complexType>
</xsd:schema>