master-21371/apibridge-finanzwesen-suva_3.master.master-21371-12912/wsdl/com/adcubum/syrius/api/finanzwesen/legalcollection/process/v1/LegalCollectionProcessService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="LegalCollectionProcessService"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  targetNamespace="urn:com:adcubum:syrius:api:finanzwesen:legalcollection:process:v1"
                  xmlns:tns="urn:com:adcubum:syrius:api:finanzwesen:legalcollection:process:v1"
                  xmlns:fi="urn:com:adcubum:syrius:api:finanzwesen:legalcollection:process:v1:schema"
                  xmlns:flt="urn:com:adcubum:syrius:api:common:faults:v1"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/">
    <wsdl:documentation>Version: 1.1.0</wsdl:documentation>

    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="urn:com:adcubum:syrius:api:finanzwesen:legalcollection:process:v1:schema" schemaLocation="schema/LegalCollectionProcessService.xsd"/>
            <xsd:import namespace="urn:com:adcubum:syrius:api:common:faults:v1" schemaLocation="../../../../common/faults/v1/faults.xsd"/>
        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="CreateAdditionalCostRequestMessage">
        <wsdl:part name="request" element="fi:createAdditionalCostRequest"/>
    </wsdl:message>
    <wsdl:message name="CreateAdditionalCostResponseMessage">
        <wsdl:part name="response" element="fi:createAdditionalCostResponse"/>
    </wsdl:message>

    <wsdl:message name="CreateCertificateOfLossRequestMessage">
        <wsdl:part name="request" element="fi:createCertificateOfLossRequest"/>
    </wsdl:message>
    <wsdl:message name="CreateCertificateOfLossResponseMessage">
        <wsdl:part name="response" element="fi:createCertificateOfLossResponse"/>
    </wsdl:message>

    <wsdl:message name="CreateClaimReturnRequestMessage">
        <wsdl:part name="request" element="fi:createClaimReturnRequest"/>
    </wsdl:message>
    <wsdl:message name="CreateClaimReturnResponseMessage">
        <wsdl:part name="response" element="fi:createClaimReturnResponse"/>
    </wsdl:message>

    <wsdl:message name="CloseCertificateOfLossRequestMessage">
        <wsdl:part name="request" element="fi:closeCertificateOfLossRequest"/>
    </wsdl:message>
    <wsdl:message name="CloseCertificateOfLossResponseMessage">
        <wsdl:part name="response" element="fi:closeCertificateOfLossResponse"/>
    </wsdl:message>

    <wsdl:message name="CreateDebtCollectionRequestMessage">
        <wsdl:part name="request" element="fi:createDebtCollectionRequest"/>
    </wsdl:message>
    <wsdl:message name="CreateDebtCollectionResponseMessage">
        <wsdl:part name="response" element="fi:createDebtCollectionResponse"/>
    </wsdl:message>

    <wsdl:message name="CreateDebtReductionRequestMessage">
        <wsdl:part name="request" element="fi:createDebtReductionRequest"/>
    </wsdl:message>
    <wsdl:message name="CreateDebtReductionResponseMessage">
        <wsdl:part name="response" element="fi:createDebtReductionResponse"/>
    </wsdl:message>

    <wsdl:message name="CreatePaymentInstrumentRequestMessage">
        <wsdl:part name="request" element="fi:createPaymentInstrumentRequest"/>
    </wsdl:message>
    <wsdl:message name="CreatePaymentInstrumentResponseMessage">
        <wsdl:part name="response" element="fi:createPaymentInstrumentResponse"/>
    </wsdl:message>

    <wsdl:message name="CreatePaymentPlanRequestMessage">
        <wsdl:part name="request" element="fi:createPaymentPlanRequest"/>
    </wsdl:message>
    <wsdl:message name="CreatePaymentPlanResponseMessage">
        <wsdl:part name="response" element="fi:createPaymentPlanResponse"/>
    </wsdl:message>

    <wsdl:message name="ApiFaultMessage">
        <wsdl:part name="fault" element="flt:apiFaultInfo"/>
    </wsdl:message>

    <wsdl:portType name="LegalCollectionProcessServicePortType">

        <wsdl:operation name="createAdditionalCost">
            <wsdl:documentation>Creates a new AdditionalCost for RIK.</wsdl:documentation>
            <wsdl:input name="createAdditionalCostRequest" message="tns:CreateAdditionalCostRequestMessage"/>
            <wsdl:output name="createAdditionalCostResponse" message="tns:CreateAdditionalCostResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>

        <wsdl:operation name="createCertificateOfLoss">
            <wsdl:documentation>Creates a new certificate of loss with detailed list of claims.</wsdl:documentation>
            <wsdl:input name="createCertificateOfLossRequest" message="tns:CreateCertificateOfLossRequestMessage"/>
            <wsdl:output name="createCertificateOfLossResponse" message="tns:CreateCertificateOfLossResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>

        <wsdl:operation name="createClaimReturn">
            <wsdl:documentation>Creates a new claim return request with a detailed list of claims.</wsdl:documentation>
            <wsdl:input name="createClaimReturnRequest" message="tns:CreateClaimReturnRequestMessage"/>
            <wsdl:output name="createClaimReturnResponse" message="tns:CreateClaimReturnResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>

        <wsdl:operation name="closeCertificateOfLoss">
            <wsdl:documentation>Closes the certificate of loss and specifies the reason of closing it.</wsdl:documentation>
            <wsdl:input name="closeCertificateOfLossRequest" message="tns:CloseCertificateOfLossRequestMessage"/>
            <wsdl:output name="closeCertificateOfLossResponse" message="tns:CloseCertificateOfLossResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>

        <wsdl:operation name="createDebtCollection">
            <wsdl:documentation>Creates a new DebtCollection for RIK.</wsdl:documentation>
            <wsdl:input name="createDebtCollectionRequest" message="tns:CreateDebtCollectionRequestMessage"/>
            <wsdl:output name="createDebtCollectionResponse" message="tns:CreateDebtCollectionResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>

        <wsdl:operation name="createDebtReduction">
            <wsdl:documentation>Creates a new DebtReduction for RIK.</wsdl:documentation>
            <wsdl:input name="createDebtReductionRequest" message="tns:CreateDebtReductionRequestMessage"/>
            <wsdl:output name="createDebtReductionResponse" message="tns:CreateDebtReductionResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>

        <wsdl:operation name="createPaymentInstrument">
            <wsdl:documentation>Creates a new payment instrument for a legal collection or a payment plan..</wsdl:documentation>
            <wsdl:input name="createPaymentInstrumentRequest" message="tns:CreatePaymentInstrumentRequestMessage"/>
            <wsdl:output name="createPaymentInstrumentResponse" message="tns:CreatePaymentInstrumentResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>

        <wsdl:operation name="createPaymentPlan">
            <wsdl:documentation>Creates a new payment plan for a legal collection.</wsdl:documentation>
            <wsdl:input name="createPaymentPlanRequest" message="tns:CreatePaymentPlanRequestMessage"/>
            <wsdl:output name="createPaymentPlanResponse" message="tns:CreatePaymentPlanResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>

    </wsdl:portType>

    <wsdl:binding name="LegalCollectionProcessServiceBinding" type="tns:LegalCollectionProcessServicePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

        <wsdl:operation name="createAdditionalCost">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="createAdditionalCostRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="createAdditionalCostResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="createCertificateOfLoss">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="createCertificateOfLossRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="createCertificateOfLossResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="createClaimReturn">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="createClaimReturnRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="createClaimReturnResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="closeCertificateOfLoss">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="closeCertificateOfLossRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="closeCertificateOfLossResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="createDebtCollection">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="createDebtCollectionRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="createDebtCollectionResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="createDebtReduction">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="createDebtReductionRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="createDebtReductionResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="createPaymentInstrument">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="createPaymentInstrumentRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="createPaymentInstrumentResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="createPaymentPlan">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="createPaymentPlanRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="createPaymentPlanResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

    </wsdl:binding>

    <wsdl:service name="LegalCollectionProcessService_v1">
        <wsdl:port name="LegalCollectionProcessService_v1" binding="tns:LegalCollectionProcessServiceBinding">
            <soap:address location="https://example.com/apibridge-finanzwesen/LegalCollectionProcessService_v1"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>