master-21371/apibridge-schadenleistungsmgmt-suva_6.master.master-21371-13742/wsdl/com/adcubum/syrius/api/schadenleistungsmgmt/kvuv/sanktion/v1/SanktionService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="SanktionService"
				  targetNamespace="urn:com:adcubum:syrius:api:schadenleistungsmgmt:kvuv:sanktion:v1"
				  xmlns:tns="urn:com:adcubum:syrius:api:schadenleistungsmgmt:kvuv:sanktion:v1"
				  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
				  xmlns:flt="urn:com:adcubum:syrius:api:common:faults:v1"
				  xmlns:pa="urn:com:adcubum:syrius:api:schadenleistungsmgmt:kvuv:sanktion:v1:schema">

	<wsdl:documentation>Version: 1.0.0</wsdl:documentation>

	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:import	namespace="urn:com:adcubum:syrius:api:schadenleistungsmgmt:kvuv:sanktion:v1:schema"
					    schemaLocation="schema/SanktionService.xsd"/>
			<xsd:import namespace="urn:com:adcubum:syrius:api:common:faults:v1"
						schemaLocation="../../../../common/faults/v1/faults.xsd"/>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="GetSanktionRequestMessage">
        <wsdl:part name="request" element="pa:getSanktionRequest"/>
    </wsdl:message>
    <wsdl:message name="GetSanktionResponseMessage">
        <wsdl:part name="response" element="pa:getSanktionResponse"/>
    </wsdl:message>
    <wsdl:message name="GetSanktionForPartnerRequestMessage">
        <wsdl:part name="request" element="pa:getSanktionForPartnerRequest"/>
    </wsdl:message>
    <wsdl:message name="GetSanktionForPartnerResponseMessage">
        <wsdl:part name="response" element="pa:getSanktionForPartnerResponse"/>
    </wsdl:message>
	<wsdl:message name="ApiFaultMessage">
		<wsdl:part name="fault" element="flt:apiFaultInfo"/>
	</wsdl:message>
	
	<wsdl:portType name="SanktionServicePortType">
		<wsdl:operation name="getSanktion">
			<wsdl:documentation>Sanktion fuer einen Partner zu einem Stichdatum</wsdl:documentation>
			<wsdl:input name="getSanktionRequest"
				message="tns:GetSanktionRequestMessage" />
			<wsdl:output name="getSanktionResponse"
				message="tns:GetSanktionResponseMessage" />
			<wsdl:fault name="ApiFault" message="tns:ApiFaultMessage" />
		</wsdl:operation>
		<wsdl:operation name="getSanktionForPartner">
			<wsdl:documentation>Sanktion fuer eine Id zu einem Stichdatum</wsdl:documentation>
			<wsdl:input name="getSanktionForPartnerRequest"
				message="tns:GetSanktionForPartnerRequestMessage" />
			<wsdl:output name="getSanktionForPartnerResponse"
				message="tns:GetSanktionForPartnerResponseMessage" />
			<wsdl:fault name="ApiFault" message="tns:ApiFaultMessage" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="SanktionServiceBinding" type="tns:SanktionServicePortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="getSanktion">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="getSanktionRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="getSanktionResponse">
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="ApiFault">
				<soap:fault name="ApiFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getSanktionForPartner">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="getSanktionForPartnerRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getSanktionForPartnerResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="ApiFault">
				<soap:fault name="ApiFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="SanktionService_v1">
		<wsdl:port name="SanktionService_v1" binding="tns:SanktionServiceBinding">
			<soap:address location="https://example.com/apibridge-schadenleistungsmgmt/SanktionService_v1"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
