master-21371/apibridge-finanzwesen-suva_3.master.master-21371-12912/wsdl/com/adcubum/syrius/api/finanzwesen/fakturamgmt/data/zahlungszuweisung/v1/ZahlungszuweisungService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="ZahlungszuweisungService"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="urn:com:adcubum:syrius:api:finanzwesen:fakturamgmt:data:zahlungszuweisung:v1"
                  xmlns:tns="urn:com:adcubum:syrius:api:finanzwesen:fakturamgmt:data:zahlungszuweisung:v1"
                  xmlns:pa="urn:com:adcubum:syrius:api:finanzwesen:fakturamgmt:data:zahlungszuweisung:v1:schema"
                  xmlns:flt="urn:com:adcubum:syrius:api:common:faults:v1"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/">
    <wsdl:documentation>Version: 1.0.0</wsdl:documentation>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="urn:com:adcubum:syrius:api:finanzwesen:fakturamgmt:data:zahlungszuweisung:v1:schema" schemaLocation="schema/ZahlungszuweisungService.xsd"/>
            <xsd:import namespace="urn:com:adcubum:syrius:api:common:faults:v1" schemaLocation="../../../../../common/faults/v1/faults.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="GetZahlungszuweisungRequestMessage">
        <wsdl:part name="Request" element="pa:getZahlungszuweisungRequest"/>
    </wsdl:message>
    <wsdl:message name="GetZahlungszuweisungResponseMessage">
        <wsdl:part name="Response" element="pa:getZahlungszuweisungResponse"/>
    </wsdl:message>
    <wsdl:message name="ReadZahlungszuweisungForFakturaRequestMessage">
        <wsdl:part name="Request" element="pa:readZahlungszuweisungForFakturaRequest"/>
    </wsdl:message>
    <wsdl:message name="ReadZahlungszuweisungForFakturaResponseMessage">
        <wsdl:part name="Response" element="pa:readZahlungszuweisungForFakturaResponse"/>
    </wsdl:message>
    <wsdl:message name="ReadZahlungszuweisungForZahlungRequestMessage">
    	<wsdl:part name="Request" element="pa:readZahlungszuweisungForZahlungRequest"/>
    </wsdl:message>
    <wsdl:message name="ReadZahlungszuweisungForZahlungResponseMessage">
    	<wsdl:part name="Response" element="pa:readZahlungszuweisungForZahlungResponse"/>
    </wsdl:message>
    <wsdl:message name="ApiFaultMessage">
        <wsdl:part name="fault" element="flt:apiFaultInfo"/>
    </wsdl:message>
    <wsdl:portType name="ZahlungszuweisungServicePortType">
        <wsdl:operation name="getZahlungszuweisung">
            <wsdl:documentation>Liefert für einen technischen Zahlungszuweisungsschlüssel die Daten der zugehörigen Zahlungszuweisung zurück.</wsdl:documentation>
            <wsdl:input name="getZahlungszuweisungRequest" message="tns:GetZahlungszuweisungRequestMessage"/>
            <wsdl:output name="getZahlungszuweisungResponse" message="tns:GetZahlungszuweisungResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="readZahlungszuweisungForFaktura">
            <wsdl:documentation>Liefert für einen technischen Fakturaschlüssel eine Liste von dazugehörigen Zahlungszuweisungen.</wsdl:documentation>
            <wsdl:input name="readZahlungszuweisungForFakturaRequest" message="tns:ReadZahlungszuweisungForFakturaRequestMessage"/>
            <wsdl:output name="readZahlungszuweisungForFakturaResponse" message="tns:ReadZahlungszuweisungForFakturaResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="readZahlungszuweisungForZahlung">
        	<wsdl:documentation>Liefert für einen technischen Zahlungsschlüssel eine Liste von dazugehörigen Zahlungszuweisungen.</wsdl:documentation>
        	<wsdl:input name="readZahlungszuweisungForZahlungRequest" message="tns:ReadZahlungszuweisungForZahlungRequestMessage"/>
            <wsdl:output name="readZahlungszuweisungForZahlungResponse" message="tns:ReadZahlungszuweisungForZahlungResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ZahlungszuweisungServiceBinding" type="tns:ZahlungszuweisungServicePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getZahlungszuweisung">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="getZahlungszuweisungRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getZahlungszuweisungResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="readZahlungszuweisungForFaktura">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="readZahlungszuweisungForFakturaRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="readZahlungszuweisungForFakturaResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="readZahlungszuweisungForZahlung">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="readZahlungszuweisungForZahlungRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="readZahlungszuweisungForZahlungResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ZahlungszuweisungService_v1">
        <wsdl:port name="ZahlungszuweisungService_v1" binding="tns:ZahlungszuweisungServiceBinding">
            <soap:address location="https://example.com/apibridge-finanzwesen/ZahlungszuweisungService_v1"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
