master-21371/apibridge-produktmgmt-suva_3.master.master-21371-11687/wsdl/com/adcubum/syrius/api/produktmgmt/produktpflege/produktkatalog/data/avmzuteilung/v1/schema/AvmZuteilungService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="urn:com:adcubum:syrius:api:produktmgmt:produktpflege:produktkatalog:data:avmzuteilung:v1:schema"
            xmlns:tns="urn:com:adcubum:syrius:api:produktmgmt:produktpflege:produktkatalog:data:avmzuteilung:v1:schema"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:st="urn:com:adcubum:syrius:api:common:simpleTypes:v1"
            xmlns:ct="urn:com:adcubum:syrius:api:common:types:v1"
            xmlns:pc="urn:com:adcubum:syrius:api:produktmgmt:common:codes:v1"
            xmlns:pi="urn:com:adcubum:syrius:api:produktmgmt:common:identifier:v1"
            version="1.0.0"
            elementFormDefault="qualified">

    <xsd:import namespace="urn:com:adcubum:syrius:api:produktmgmt:common:identifier:v1" schemaLocation="../../../../../../common/identifier/v1/identifier.xsd"/>
    <xsd:import namespace="urn:com:adcubum:syrius:api:produktmgmt:common:codes:v1" schemaLocation="../../../../../../common/codes/v1/codes.xsd"/>
	<xsd:import namespace="urn:com:adcubum:syrius:api:common:simpleTypes:v1" schemaLocation="../../../../../../../common/simpleTypes/v1/simpleTypes.xsd"/>
    <xsd:import namespace="urn:com:adcubum:syrius:api:common:types:v1" schemaLocation="../../../../../../../common/types/v1/types.xsd"/>
    
    <xsd:element name="searchAvmZuteilungForPartnerNrRequest" type="tns:SearchAvmZuteilungForPartnerNrRequestType">
            <xsd:annotation>
                <xsd:documentation>Suche nach AVM-Zuteilungen zu AVM-Definition und Partner-NR (ZSR-Nr.)</xsd:documentation>
            </xsd:annotation>
    </xsd:element>
    
    <xsd:element name="searchAvmZuteilungForPartnerNrResponse" type="tns:SearchAvmZuteilungForPartnerNrResponseType">
            <xsd:annotation>
                <xsd:documentation>Suche nach AVM-Zuteilungen zu AVM-Definition Partner-NR (ZSR-Nr.)</xsd:documentation>
            </xsd:annotation>
    </xsd:element>
    
    <xsd:complexType name="SearchAvmZuteilungForPartnerNrRequestType">
    	<xsd:annotation>
    		<xsd:documentation>Request zur Suche von AVM-Zuteilungen zu einer Partnernummer</xsd:documentation>
    	</xsd:annotation>
           <xsd:sequence>
               <xsd:element name="avmDefId" type="pi:WsAvmDefIdType" minOccurs="1" maxOccurs="1">
                   <xsd:annotation>
                       <xsd:documentation>Technischer Schlüssel der AVM-Definition.</xsd:documentation>
                   </xsd:annotation>
               </xsd:element>
               <xsd:element name="partnerNr" type="st:StringType" minOccurs="1" maxOccurs="1">
                   <xsd:annotation>
                       <xsd:documentation>Fachlicher Schlüssel (ZSR-Nr.) eines Leistungserbringers</xsd:documentation>
                   </xsd:annotation>
               </xsd:element>
               <xsd:element name="stichdatum" type="st:DateType" minOccurs="0" maxOccurs="1">
                   <xsd:annotation>
                       <xsd:documentation>Stichdatum, zu dem die AVM-Zuteilung-Id ermittelt werden soll. Wird kein Datum übergeben, wird das Tagesdatum verwendet.</xsd:documentation>
                   </xsd:annotation>
               </xsd:element>
           </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="SearchAvmZuteilungForPartnerNrResponseType">
    	<xsd:annotation>
    		<xsd:documentation>Response zur Suche von AVM-Zuteilungen zu einer Partnernummer</xsd:documentation>
    	</xsd:annotation>
           <xsd:sequence>
               <xsd:element name="avmZuteilungId" type="pi:WsAvmZuteilungIdType" minOccurs="0" maxOccurs="unbounded">
                   <xsd:annotation>
                       <xsd:documentation>Technische Schlüssel der AVM-Zuteilung</xsd:documentation>
                   </xsd:annotation>
               </xsd:element>
           </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="getAvmZuteilungRequest" type="tns:GetAvmZuteilungRequestType">
        <xsd:annotation>
        	<xsd:documentation>AVM-Zuteilungsdaten zu den angefragten technischen Schlüsseln</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    
    <xsd:element name="getAvmZuteilungResponse" type="tns:GetAvmZuteilungResponseType">
            <xsd:annotation>
                <xsd:documentation>AVM-Zuteilungsdaten zu den angefragten technischen Schlüsseln</xsd:documentation>
            </xsd:annotation>
    </xsd:element>
    
    <xsd:complexType name="GetAvmZuteilungRequestType">
    	<xsd:annotation>
    		<xsd:documentation>Request zum Lesen von AVM-Zuteilungen</xsd:documentation>
    	</xsd:annotation>
           <xsd:sequence>
               <xsd:element name="avmZuteilungId" type="pi:WsAvmZuteilungIdType" minOccurs="1" maxOccurs="unbounded">
                   <xsd:annotation>
                       <xsd:documentation>Technischer Schlüssel der AVM-Zuteilung.</xsd:documentation>
                   </xsd:annotation>
               </xsd:element>
               <xsd:element name="stichdatum" type="st:DateType" minOccurs="0" maxOccurs="1">
                   <xsd:annotation>
                       <xsd:documentation>Stichdatum, zu dem die AVM-Zuteilung ermittelt werden soll. Wird kein Datum übergeben, wird das Tagesdatum verwendet.</xsd:documentation>
                   </xsd:annotation>
               </xsd:element>
           </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="GetAvmZuteilungResponseType">
    	<xsd:annotation>
    		<xsd:documentation>Response zum Lesen von AVM-Zuteilungen</xsd:documentation>
    	</xsd:annotation>
           <xsd:sequence>
               <xsd:element name="avmZuteilung" type="tns:WsAvmZuteilungType" minOccurs="0" maxOccurs="unbounded">
                   <xsd:annotation>
                       <xsd:documentation>AVM-Zuteilungsdaten zu den angefragten technischen Schlüsseln</xsd:documentation>
                   </xsd:annotation>
               </xsd:element>
           </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="WsAvmZuteilungType">
    	<xsd:annotation>
    		<xsd:documentation>AVM-Zuteilung</xsd:documentation>
    	</xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ct:WsDataObjectType">
                <xsd:sequence>
                    <xsd:element name="id" type="pi:WsAvmZuteilungIdType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Technischer Schlüssel einer AVM-Zuteilung.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="partnerNr" type="st:StringType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Partner-Nr (ZSR-Nr.)</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="avmZuteilungCode" type="pc:WsAVMZuteilungCodeType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Der AVM-Zuteilungscode</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="aufnahmestopp" type="pc:WsAufnahmestoppCodeType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Der Aufnahmestopp-Code der Zuteilung</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    <xsd:element name="searchHausarztRequest" type="tns:SearchHausarztRequestType">
    		<xsd:annotation>
        		<xsd:documentation>Suche nach Hausärzten zum Produkt und (optional) AVMNetz</xsd:documentation>
        	</xsd:annotation>
    </xsd:element>
    
    <xsd:element name="searchHausarztResponse" type="tns:SearchHausarztResponseType">
    		<xsd:annotation>
        		<xsd:documentation>Suche nach Hausärzten zum Produkt und (optional) AVMNetz</xsd:documentation>
        	</xsd:annotation>
    </xsd:element>
    
    <xsd:complexType name="SearchHausarztRequestType">
    	<xsd:annotation>
    		<xsd:documentation>Request zum Suchen von Hausärzten</xsd:documentation>
    	</xsd:annotation>
           <xsd:sequence>
               <xsd:element name="produktId" type="pi:WsProduktIdType" minOccurs="1" maxOccurs="1">
                   <xsd:annotation>
                       <xsd:documentation>Technischer Schlüssel des Produktes.</xsd:documentation>
                   </xsd:annotation>
               </xsd:element>
               <xsd:element name="aVMNetzTypCode" type="pc:WsAVMNetzTypCodeType" minOccurs="1" maxOccurs="1">
                   <xsd:annotation>
                       <xsd:documentation>Der AVM-Netztyp-Code</xsd:documentation>
                   </xsd:annotation>
               </xsd:element>
               <xsd:element name="beginAb" type="st:DateType" minOccurs="1" maxOccurs="1">
                   <xsd:annotation>
                       <xsd:documentation>Bestimmt ab wann die Änderung gültig ist.</xsd:documentation>
                   </xsd:annotation>
               </xsd:element>
           </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="SearchHausarztResponseType">
    	<xsd:annotation>
    		<xsd:documentation>Response zum Suchen von Hausärzten</xsd:documentation>
    	</xsd:annotation>
           <xsd:sequence>
               <xsd:element name="partnerId" type="pi:WsPartnerIdType" minOccurs="0" maxOccurs="unbounded">
                   <xsd:annotation>
                       <xsd:documentation>Technische Schlüssel der Partner</xsd:documentation>
                   </xsd:annotation>
               </xsd:element>
           </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="searchHausarztForAvmDefRequest" type="tns:SearchHausarztForAvmDefRequestType">
            <xsd:annotation>
                <xsd:documentation>Suche nach Hausärzten zur AVM-Definition und (optional) AVMNetz</xsd:documentation>
            </xsd:annotation>
    </xsd:element>
    
    <xsd:element name="searchHausarztForAvmDefResponse" type="tns:SearchHausarztForAvmDefResponseType">
            <xsd:annotation>
                <xsd:documentation>Suche nach Hausärzten zur AVM-Definition und (optional) AVMNetz</xsd:documentation>
            </xsd:annotation>
    </xsd:element>
    
    <xsd:complexType name="SearchHausarztForAvmDefRequestType">
    	<xsd:annotation>
    		<xsd:documentation>Request zum Suchen von Hausärzten</xsd:documentation>
    	</xsd:annotation>
           <xsd:sequence>
               <xsd:element name="avmDefId" type="pi:WsAvmDefIdType" minOccurs="1" maxOccurs="1">
                   <xsd:annotation>
                       <xsd:documentation>Technischer Schlüssel der AVM-Definition.</xsd:documentation>
                   </xsd:annotation>
               </xsd:element>
               <xsd:element name="aVMNetzTypCode" type="pc:WsAVMNetzTypCodeType" minOccurs="1" maxOccurs="1">
                   <xsd:annotation>
                       <xsd:documentation>Der AVM-Netztyp-Code</xsd:documentation>
                   </xsd:annotation>
               </xsd:element>
               <xsd:element name="beginAb" type="st:DateType" minOccurs="1" maxOccurs="1">
                   <xsd:annotation>
                       <xsd:documentation>Bestimmt ab wann die Änderung gültig ist.</xsd:documentation>
                   </xsd:annotation>
               </xsd:element>
           </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="SearchHausarztForAvmDefResponseType">
    	<xsd:annotation>
    		<xsd:documentation>Response zum Suchen von Hausärzten</xsd:documentation>
    	</xsd:annotation>
           <xsd:sequence>
               <xsd:element name="partnerId" type="pi:WsPartnerIdType" minOccurs="0" maxOccurs="unbounded">
                   <xsd:annotation>
                       <xsd:documentation>Technische Schlüssel der Partner</xsd:documentation>
                   </xsd:annotation>
               </xsd:element>
           </xsd:sequence>
    </xsd:complexType>

</xsd:schema>