master-21371/apibridge-finanzwesen-suva_3.master.master-21371-12912/wsdl/com/adcubum/syrius/api/finanzwesen/common/data/codes/v1/CodeService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="CodeService"
                  targetNamespace="urn:com:adcubum:syrius:api:finanzwesen:common:data:codes:v1"
                  xmlns:tns="urn:com:adcubum:syrius:api:finanzwesen:common:data:codes:v1"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:flt="urn:com:adcubum:syrius:api:common:faults:v1"
                  xmlns:pa="urn:com:adcubum:syrius:api:finanzwesen:common:data:codes:v1:schema">
                  
    <wsdl:documentation>
    	Version: 1.0.0
    </wsdl:documentation>
                  
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="urn:com:adcubum:syrius:api:finanzwesen:common:data:codes:v1:schema"
                        schemaLocation="schema/CodeService.xsd"/>
            <xsd:import namespace="urn:com:adcubum:syrius:api:common:faults:v1" schemaLocation="../../../../../common/faults/v1/faults.xsd"/>
        </xsd:schema>
    </wsdl:types>
    
    <wsdl:message name="ReadL10nAttributesCodeRequestMessage">
        <wsdl:part name="Request" element="pa:readL10nAttributesCodeRequest"/>
    </wsdl:message>
    <wsdl:message name="ReadL10nAttributesCodeResponseMessage">
        <wsdl:part name="Response" element="pa:readL10nAttributesCodeResponse"/>
    </wsdl:message>

    <wsdl:message name="SearchCodeForFachschluesselRequestMessage">
        <wsdl:part name="Request" element="pa:searchCodeForFachschluesselRequest"/>
    </wsdl:message>
    <wsdl:message name="SearchCodeForFachschluesselResponseMessage">
        <wsdl:part name="Response" element="pa:searchCodeForFachschluesselResponse"/>
    </wsdl:message>

    <wsdl:message name="ApiFaultMessage">
        <wsdl:part name="fault" element="flt:apiFaultInfo"/>
    </wsdl:message>

    <wsdl:portType name="CodeServicePortType">
        <wsdl:operation name="readL10nAttributesCode">
            <wsdl:documentation>Liefert für einen technischen Codeschlüssel die Bezeichnung des zugehörigen Codes zurück.</wsdl:documentation>
            <wsdl:input name="readL10nAttributesCodeRequest" message="tns:ReadL10nAttributesCodeRequestMessage"/>
            <wsdl:output name="readL10nAttributesCodeResponse" message="tns:ReadL10nAttributesCodeResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>

        <wsdl:operation name="searchCodeForFachschluessel">
            <wsdl:documentation>Sucht nach einem Code über den übergebenen Fachschlüssel.</wsdl:documentation>
            <wsdl:input name="searchCodeForFachschluesselRequest" message="tns:SearchCodeForFachschluesselRequestMessage"/>
            <wsdl:output name="searchCodeForFachschluesselResponse" message="tns:SearchCodeForFachschluesselResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="CodeServiceBinding" type="tns:CodeServicePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="readL10nAttributesCode">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="readL10nAttributesCodeRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="readL10nAttributesCodeResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="searchCodeForFachschluessel">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="searchCodeForFachschluesselRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="searchCodeForFachschluesselResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="CodeService_v1">
        <wsdl:port name="CodeService_v1" binding="tns:CodeServiceBinding">
            <soap:address location="https://example.com/apibridge-finanzwesen/CodeService_v1"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>