master-21371/apibridge-finanzwesen-suva_3.master.master-21371-12912/wsdl/com/adcubum/syrius/api/finanzwesen/fakturamgmt/data/rate/v1/RateService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="RateService"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="urn:com:adcubum:syrius:api:finanzwesen:fakturamgmt:data:rate:v1"
                  xmlns:tns="urn:com:adcubum:syrius:api:finanzwesen:fakturamgmt:data:rate:v1"
                  xmlns:pa="urn:com:adcubum:syrius:api:finanzwesen:fakturamgmt:data:rate:v1:schema"
                  xmlns:flt="urn:com:adcubum:syrius:api:common:faults:v1"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/">
    <wsdl:documentation>Version: 1.0.0</wsdl:documentation>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="urn:com:adcubum:syrius:api:finanzwesen:fakturamgmt:data:rate:v1:schema" schemaLocation="schema/RateService.xsd"/>
            <xsd:import namespace="urn:com:adcubum:syrius:api:common:faults:v1" schemaLocation="../../../../../common/faults/v1/faults.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="GetRateRequestMessage">
        <wsdl:part name="Request" element="pa:getRateRequest"/>
    </wsdl:message>
    <wsdl:message name="GetRateResponseMessage">
        <wsdl:part name="Response" element="pa:getRateResponse"/>
    </wsdl:message>
    <wsdl:message name="ReadRatenForZahlungsmittelRequestMessage">
        <wsdl:part name="Request" element="pa:readRatenForZahlungsmittelRequest"/>
    </wsdl:message>
    <wsdl:message name="ReadRatenForZahlungsmittelResponseMessage">
        <wsdl:part name="Response" element="pa:readRatenForZahlungsmittelResponse"/>
    </wsdl:message>
    <wsdl:message name="ApiFaultMessage">
        <wsdl:part name="fault" element="flt:apiFaultInfo"/>
    </wsdl:message>
    <wsdl:portType name="RateServicePortType">
        <wsdl:operation name="getRate">
            <wsdl:documentation>Liefert für einen technischen Rateschlüssel die Daten der zugehörigen Rate zurück.</wsdl:documentation>
            <wsdl:input name="getRateRequest" message="tns:GetRateRequestMessage"/>
            <wsdl:output name="getRateResponse" message="tns:GetRateResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="readRatenForZahlungsmittel">
            <wsdl:documentation>Liefert für einen technischen Zahlungsmittelschlüssel eine Liste von dazugehörigen Raten-Ids.</wsdl:documentation>
            <wsdl:input name="readRatenForZahlungsmittelRequest" message="tns:ReadRatenForZahlungsmittelRequestMessage"/>
            <wsdl:output name="readRatenForZahlungsmittelResponse" message="tns:ReadRatenForZahlungsmittelResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="RateServiceBinding" type="tns:RateServicePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getRate">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="getRateRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getRateResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="readRatenForZahlungsmittel">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="readRatenForZahlungsmittelRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="readRatenForZahlungsmittelResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="RateService_v1">
        <wsdl:port name="RateService_v1" binding="tns:RateServiceBinding">
            <soap:address location="https://example.com/apibridge-finanzwesen/RateService_v1"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
