master-21371/apibridge-schadenleistungsmgmt-suva_6.master.master-21371-13742/wsdl/com/adcubum/syrius/api/schadenleistungsmgmt/kvuv/meldung/ereignismeldung/process/v1/schema/EreignismeldungService.xsd

<xsd:schema
        targetNamespace="urn:com:adcubum:syrius:api:schadenleistungsmgmt:kvuv:meldung:ereignismeldung:process:v1:schema"
        xmlns:tns="urn:com:adcubum:syrius:api:schadenleistungsmgmt:kvuv:meldung:ereignismeldung:process:v1:schema"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:st="urn:com:adcubum:syrius:api:common:simpleTypes:v1"
        xmlns:pst="urn:com:adcubum:syrius:api:schadenleistungsmgmt:kvuv:extern:partner:types:v1"
        xmlns:lf="urn:com:adcubum:syrius:api:schadenleistungsmgmt:kvuv:common:identifier:v1"
        xmlns:cc="urn:com:adcubum:syrius:api:common:codes:v1"
        xmlns:cp="urn:com:adcubum:syrius:api:common:process:v1"
        elementFormDefault="qualified" version="1.4.0">

    <xsd:import namespace="urn:com:adcubum:syrius:api:common:simpleTypes:v1"
                schemaLocation="../../../../../../../../../../../com/adcubum/syrius/api/common/simpleTypes/v1/simpleTypes.xsd"/>
    <xsd:import namespace="urn:com:adcubum:syrius:api:common:types:v1"
                schemaLocation="../../../../../../../../../../../com/adcubum/syrius/api/common/types/v1/types.xsd"/>
    <xsd:import namespace="urn:com:adcubum:syrius:api:schadenleistungsmgmt:kvuv:extern:partner:types:v1"
                schemaLocation="../../../../../extern/partner/types/v1/simpleTypes.xsd"/>
    <xsd:import namespace="urn:com:adcubum:syrius:api:schadenleistungsmgmt:kvuv:common:identifier:v1"
                schemaLocation="../../../../../common/identifier/v1/identifier.xsd"/>
    <xsd:import namespace="urn:com:adcubum:syrius:api:common:codes:v1"
                schemaLocation="../../../../../../../../../../../com/adcubum/syrius/api/common/codes/v1/codes.xsd"/>
    <xsd:import namespace="urn:com:adcubum:syrius:api:common:process:v1"
                schemaLocation="../../../../../../../../../../../com/adcubum/syrius/api/common/process/v1/process.xsd"/>

    <xsd:element name="ereignismeldungDeklarierenRequest" type="tns:WsEreignismeldungDeklarierenRequestType">
        <xsd:annotation>
            <xsd:documentation>Request mit dem ein Ereignis gemäss UVG/KVG deklariert wird.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="WsEreignismeldungDeklarierenRequestType">
        <xsd:annotation>
            <xsd:documentation>Request mit dem ein Ereignis gemäss UVG/KVG deklariert wird.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="ereignismeldung" type="tns:WsEreignismeldungType">
                <xsd:annotation>
                    <xsd:documentation>Enthält die Informationen zur Ereignismeldung
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="ereignismeldungDeklarierenResponse" type="tns:WsEreignismeldungDeklarierenResponseType">
        <xsd:annotation>
            <xsd:documentation>Response mit dem die reservierte Schadennummer geliefert wird
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:complexType name="WsEreignismeldungDeklarierenResponseType">
        <xsd:annotation>
            <xsd:documentation>Response mit dem die reservierte Schadennummer geliefert wird
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="businessProcessState" type="cp:BusinessProcessStateType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Status des gestarteten Prozesses.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:choice>
                <xsd:element name="uvgResponse" type="tns:WsUvgEreignismeldungDeklarierenResponseType">
                    <xsd:annotation>
                        <xsd:documentation xml:lang="de">
	                        Response mit welcher die Daten zur Verarbeitung der Deklaration geliefert werden
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="kvguResponse" type="tns:WsKvguEreignismeldungDeklarierenResponseType">
                    <xsd:annotation>
                        <xsd:documentation xml:lang="de">
	                        Response mit welcher die Daten zur Verarbeitung der Deklaration geliefert werden
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:choice>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="WsUvgEreignismeldungDeklarierenResponseType">
        <xsd:annotation>
            <xsd:documentation>
	            Enthält den fachlichen Schlüssel des deklarierten Ereignisses oder einen Fehlercode, wenn während der Verarbeitung ein Fehler aufgetreten ist
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:choice>
                <xsd:element name="schadennummer" type="tns:WsSchadennummerType">
                    <xsd:annotation>
                        <xsd:documentation xml:lang="de">
	                        Der fachliche Schlüssel des deklarierten Ereignisses
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="fehlercode" type="tns:WsFehlercodeType">
                    <xsd:annotation>
                        <xsd:documentation xml:lang="de">
	                        Der Fehlercode des bei der Verarbeitung aufgetretenen fachlichen Fehlers
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:choice>
        </xsd:sequence>
    </xsd:complexType>

	<xsd:complexType name="WsKvguEreignismeldungDeklarierenResponseType">
		<xsd:annotation>
			<xsd:documentation>
				Enthält den fachlichen Schlüssel des deklarierten Ereignisses, falls die Verarbeitung erfolgreich beendet wurde.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="schadennummer" type="tns:WsSchadennummerType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">
						Der fachliche Schlüssel des deklarierten Ereignisses
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

    <xsd:complexType name="WsEreignismeldungType">
        <xsd:annotation>
            <xsd:documentation>Enthält die Informationen zur Ereignismeldung
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="ereignismeldungId" type="tns:WsEreignismeldungIdType">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Eindeutige Identifikation der Kommunikation über den
                        Leistungsfall
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="ereignisdatum" type="tns:WsEreignisdatumType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Das Ereignisdatum und die Datumsausprägung präzis oder unpräzis
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="herkunft" type="tns:WsHerkunftCodeType">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">
                        Herkunft der Ereignismeldung als BOID eines Codes aus der Codetabelle SYR_CodeTab_EmHerkunft.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="versicherter" type="tns:WsVersicherterType">
                <xsd:annotation>
                    <xsd:documentation>Angaben zum Versicherten</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:choice>
                <xsd:element name="uvgEreignismeldung" type="tns:WsUvgEreignismeldungType">
                    <xsd:annotation>
                        <xsd:documentation>Angaben zur UVG Ereignismeldung</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="kvguEreignismeldung" type="tns:WsKvguEreignismeldungType">
                    <xsd:annotation>
                        <xsd:documentation>Angaben zur KVGU Ereignismeldung</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:choice>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="WsVertragType">
        <xsd:annotation>
            <xsd:documentation>Angaben zum Vertrag</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="policennummer" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Policennummer des Vertrages</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:annotation>
                        <xsd:documentation xml:lang="de">String mit länge 50</xsd:documentation>
                    </xsd:annotation>
                    <xsd:restriction base="st:StringType">
                        <xsd:maxLength value="50"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="WsUvgEreignismeldungType">
        <xsd:annotation>
            <xsd:documentation>Enthält die Informationen zur UVG Ereignismeldung
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="betrieb" type="tns:WsBetriebType">
                <xsd:annotation>
                    <xsd:documentation>Angaben zum meldenden Betrieb</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="arbeitsvertrag" type="tns:WsArbeitsvertragType">
                <xsd:annotation>
                    <xsd:documentation>Angaben zum Arbeitsverhältnis zwischen dem Versicherten und dem Betrieb
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="personalnummer">
                <xsd:annotation>
                    <xsd:documentation>Personalnummer des Versicherten im Betrieb</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:annotation>
                        <xsd:documentation xml:lang="de">String mit länge 40</xsd:documentation>
                    </xsd:annotation>
                    <xsd:restriction base="st:StringType">
                        <xsd:maxLength value="40"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="schadennummer" type="tns:WsSchadennummerType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Der fachliche Schlüssel wird benötigt, um bestehende Schadenfälle
                        zu registrieren.
                        Dazu müssen folgende Attribute übergeben werden: schadennummer, partnerNr, sozialversicherungsNr
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="rueckfalldatum" type="tns:WsRueckfalldatumType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Das Rückfalldatum zum Ereignis</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="nachregistrierung" type="tns:WsNachregistrierungType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Nachregistrierung eines bestehenden Falles</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="WsKvguEreignismeldungType">
        <xsd:annotation>
            <xsd:documentation>Enthält die Informationen zur KVGU Ereignismeldung
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="vertrag" type="tns:WsVertragType">
                <xsd:annotation>
                    <xsd:documentation>Angaben zum Vertrag
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="dokumentId" minOccurs="0" maxOccurs="10">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Identifikation eines Dokumentes mit Informationen zu der Deklaration.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:annotation>
                        <xsd:documentation xml:lang="de">String mit länge 255</xsd:documentation>
                    </xsd:annotation>
                    <xsd:restriction base="st:StringType">
                        <xsd:maxLength value="255"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="WsSchadennummerType">
        <xsd:annotation>
            <xsd:documentation>Enthält die Schadennummer</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="schadennummer" type="st:StringType">
                <xsd:annotation>
                    <xsd:documentation>Die reservierte Schadennummer</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="WsFehlercodeType">
        <xsd:annotation>
            <xsd:documentation>Enthält den Fehlercode</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="fehlercode" type="st:StringType">
                <xsd:annotation>
                    <xsd:documentation>Enthält den Code eines bei der Verarbeitung aufgetretenen fachlichen Fehlers</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="WsEreignismeldungIdType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Eindeutige Identifikation der Kommunikation über den Leistungsfall
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="id">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Eindeutige Identifikation der Kommunikation über den
                        Leistungsfall
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:annotation>
                        <xsd:documentation xml:lang="de">String mit länge 255</xsd:documentation>
                    </xsd:annotation>
                    <xsd:restriction base="st:StringType">
                        <xsd:maxLength value="255"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:simpleType name="WsGeschlechtType">
        <xsd:annotation>
            <xsd:documentation>Der Geschlechtstyp</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="M">
            </xsd:enumeration>
            <xsd:enumeration value="W">
            </xsd:enumeration>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="WsZivilstandType">
        <xsd:annotation>
            <xsd:documentation>Der Zivilstandstyp</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="ledig">
            </xsd:enumeration>
            <xsd:enumeration value="verheiratet">
            </xsd:enumeration>
            <xsd:enumeration value="verwitwet">
            </xsd:enumeration>
            <xsd:enumeration value="geschieden">
            </xsd:enumeration>
            <xsd:enumeration value="getrennt">
            </xsd:enumeration>
            <xsd:enumeration value="eingetragene_partnerschaft">
            </xsd:enumeration>
            <xsd:enumeration value="aufgehobene_partnerschaft">
            </xsd:enumeration>
            <xsd:enumeration value="unbekannt">
            </xsd:enumeration>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="WsAufenthaltskategorieType">
        <xsd:annotation>
            <xsd:documentation>Der Aufenthaltskategorietyp</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="jahresaufenthalter_b">
            </xsd:enumeration>
            <xsd:enumeration value="niedergelassene_c">
            </xsd:enumeration>
            <xsd:enumeration value="grenzgaenger_g">
            </xsd:enumeration>
            <xsd:enumeration value="kurzaufenthalter_l">
            </xsd:enumeration>
            <xsd:enumeration value="asylsuchende_n">
            </xsd:enumeration>
            <xsd:enumeration value="schutzbeduerftige_s">
            </xsd:enumeration>
            <xsd:enumeration value="andere">
            </xsd:enumeration>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="WsArbeitseinsatzType">
        <xsd:annotation>
            <xsd:documentation>Arbeitseinsatztyp</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="regelmaessig">
            </xsd:enumeration>
            <xsd:enumeration value="unregelmaessig">
            </xsd:enumeration>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="WsEreignisdatumType">
        <xsd:annotation>
            <xsd:documentation>Das Ereignisdatum mit der Ausprägung präzise oder unpräzise
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="datumAuspraegung" type="tns:WsDatumAuspraegungType">
                <xsd:annotation>
                    <xsd:documentation>Die Datumausprägung präzise oder unpräzise</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="datum" type="st:LocalDateType">
                <xsd:annotation>
                    <xsd:documentation>Das Ereignisdatum</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:simpleType name="WsDatumAuspraegungType">
        <xsd:annotation>
            <xsd:documentation>Datum Ausprägung präzise/unpräzise</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="praezise">
            </xsd:enumeration>
            <xsd:enumeration value="unpraezise">
            </xsd:enumeration>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="WsRueckfalldatumType">
        <xsd:annotation>
            <xsd:documentation>Das Rückfalldatum zum Ereignis</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="datum" type="st:LocalDateType">
                <xsd:annotation>
                    <xsd:documentation>Das Rückfalldatum</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="WsVersicherterType">
        <xsd:annotation>
            <xsd:documentation>Angaben zu dem Versicherten</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="partnerNr" type="st:StringType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Partner-Nummer des Versicherten</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="geburtsdatum" type="st:LocalDateType">
                <xsd:annotation>
                    <xsd:documentation>Das Geburtsdatum des Versicherten (YYYY-MM-DD)
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="korrespondenzsprache">
                <xsd:annotation>
                    <xsd:documentation>Die Sprache des Versicherten gemaess java Locale (de-CH, fr-CH, it-CH oder de-DE)
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:annotation>
                        <xsd:documentation xml:lang="de">String mit länge 20</xsd:documentation>
                    </xsd:annotation>
                    <xsd:restriction base="st:StringType">
                        <xsd:maxLength value="20"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="name" type="pst:NameVornameType">
                <xsd:annotation>
                    <xsd:documentation>Der Name des Versicherten</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="vorname" type="pst:NameVornameType">
                <xsd:annotation>
                    <xsd:documentation>Der Vorname des Versicherten</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="nationalitaet" type="pst:LaenderType">
                <xsd:annotation>
                    <xsd:documentation>Die Nationalitaet des Versicherten (2-Stelliger ISO-3166-Code CH, DE, ...)
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="sozialversicherungsNr" type="pst:SozialversicherungsnummerType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Die Sozialversicherungsnummer des Versicherten
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="geschlecht" type="tns:WsGeschlechtType">
                <xsd:annotation>
                    <xsd:documentation>Das Geschlecht des Versicherten (M oder W)</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="zivilstand" type="tns:WsZivilstandType">
                <xsd:annotation>
                    <xsd:documentation>Der Zivilstand des Versicherten (ledig, verheiratet, verwitwet, geschieden,
                        getrennt,
                        eingetragene_partnerschaft, aufgehobene_partnerschaft, unbekannt)
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="strasse" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Die Strasse der Wohnadresse des Versicherten
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:annotation>
                        <xsd:documentation xml:lang="de">String mit länge 35</xsd:documentation>
                    </xsd:annotation>
                    <xsd:restriction base="st:StringType">
                        <xsd:maxLength value="35"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="hausnummer" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Die Hausnummer der Wohnadresse des Versicherten
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:annotation>
                        <xsd:documentation xml:lang="de">String mit länge 8</xsd:documentation>
                    </xsd:annotation>
                    <xsd:restriction base="st:StringType">
                        <xsd:maxLength value="8"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="postleitzahl">
                <xsd:annotation>
                    <xsd:documentation>Die Postleitzahl des Wohnorts des Versicherten
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:annotation>
                        <xsd:documentation xml:lang="de">String mit länge 20</xsd:documentation>
                    </xsd:annotation>
                    <xsd:restriction base="st:StringType">
                        <xsd:maxLength value="20"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="ort">
                <xsd:annotation>
                    <xsd:documentation>Der Wohnort des Versicherten</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:annotation>
                        <xsd:documentation xml:lang="de">String mit länge 35</xsd:documentation>
                    </xsd:annotation>
                    <xsd:restriction base="st:StringType">
                        <xsd:maxLength value="35"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="telefon" type="pst:TelefonnummerType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Telefonnummer des Versicherten</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="natel" type="pst:TelefonnummerType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Natelnummer des Versicherten</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="email" type="pst:EMailType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>E-Mail des Versicherten</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="adresszusatz" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Adresszusatz des Versicherten</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:annotation>
                        <xsd:documentation xml:lang="de">String mit länge 60</xsd:documentation>
                    </xsd:annotation>
                    <xsd:restriction base="st:StringType">
                        <xsd:maxLength value="60"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="postfach" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Postfach des Versicherten</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:annotation>
                        <xsd:documentation xml:lang="de">String mit länge 25</xsd:documentation>
                    </xsd:annotation>
                    <xsd:restriction base="st:StringType">
                        <xsd:maxLength value="25"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="aufenthaltsbewilligung" type="tns:WsAufenthaltskategorieType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Aufenthaltsbewilligung des Versicherten</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="land" type="pst:LaenderType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Das Land der Wohnadresse des Versicherten (2-Stelliger ISO-3166-Code CH, DE, ...)
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="versicherungscode" type="tns:VersicherungsCodeType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Versicherungscode der Person der aufgrund des Versicherungsprofils zugeordnet
                        wurde.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="WsBetriebType">
        <xsd:annotation>
            <xsd:documentation>Angaben zum meldenden Betrieb</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:choice>
                <xsd:element name="vertragsbeziehung" type="tns:WsVertragsbeziehungType">
                    <xsd:annotation>
                        <xsd:documentation>Angaben zum Betrieb, wenn dieser in einem Versicherungsverhältnis steht
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="keineVertragsbeziehung" type="tns:WsKeineVertragsbeziehungType">
                    <xsd:annotation>
                        <xsd:documentation>Angaben zum Betrieb, wenn dieser in keinem Versicherungsverhältnis steht
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:choice>
            <xsd:element name="betriebsueblicheWochenarbeitszeit" type="tns:BetriebsueblicheWochenarbeitszeitType"
                         minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Betriebsübliche Wochenarbeitszeit in Stunden</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="brokerPartnerNr" type="st:StringType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Partnernummer des Treuhänders / Brokers</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="WsVertragsbeziehungType">
        <xsd:annotation>
            <xsd:documentation>
                Angaben zum Betrieb bei dem die versicherte Person beschäftigt war. Der Betrieb ist versichert, weshalb
                diese Angaben Informationen zu
                einem Versicherungsvertrag beinhalten.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="partnerNr" type="st:StringType">
                <xsd:annotation>
                    <xsd:documentation>Partner-Nummer des Betriebes</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="vertragsNr" type="st:StringType">
                <xsd:annotation>
                    <xsd:documentation>Vertrags-Nummer des Betriebes</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="personengruppenBezeichner" type="st:StringType">
                <xsd:annotation>
                    <xsd:documentation>Bezeichner fuer die Evaluierung der Personengruppe des Betriebes
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="WsKeineVertragsbeziehungType">
        <xsd:annotation>
            <xsd:documentation>
                Angaben zum Betrieb bei dem die versicherte Person beschäftigt war. Der Betrieb ist nicht versichert,
                weshalb diese Angaben keine
                Informationen zu einem Versicherungsvertrag beinhalten.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="partnerNr" type="st:StringType">
                <xsd:annotation>
                    <xsd:documentation>Partner-Nummer des Betriebes</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="WsArbeitsvertragType">
        <xsd:annotation>
            <xsd:documentation>Angaben zum Arbeitsverhältnis zwischen dem Versicherten und dem Betrieb
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="arbeitseinsatz" type="tns:WsArbeitseinsatzType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Arbeitseinsatz des Versicherten beim Betrieb (regelmaessig/unregelmaessig)
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="wochenarbeitszeit" type="st:DecimalType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Anzahl Arbeitsstunden pro Woche des Versicherten beim Betrieb
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="anstellungsgrad" type="st:IntegerType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Anstellungsgrad des Versicherten beim Betrieb (0-100)
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="eintrittsdatum" type="st:LocalDateType">
                <xsd:annotation>
                    <xsd:documentation>Eintrittsdatum der verunfallten Person in den Betrieb (YYYY-MM-DD)
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="austrittsdatum" type="st:LocalDateType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Datum des Austrittes bei Beendigung des Arbeitsverhältnisses
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:simpleType name="VersicherungsCodeType">
        <xsd:annotation>
            <xsd:documentation>
                Versicherungscode der Person der aufgrund des Versicherungsprofils zugeordnet wurde.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="st:StringType">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="2"/>
            <xsd:pattern value="[A-Z0-9]{2}"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="BetriebsueblicheWochenarbeitszeitType">
        <xsd:annotation>
            <xsd:documentation>
                Betriebsübliche Wochenarbeitszeit in Stunden
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="st:DecimalType">
            <xsd:minInclusive value="1.00"/>
            <xsd:maxInclusive value="999.00"/>
            <xsd:pattern value="[0-9]+\.[0-9]{2}"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="WsNachregistrierungType">
        <xsd:annotation>
            <xsd:documentation>Enthält die für die Nachregistrierung erforderlichen Attribute</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="leistungsfallRueckfallId" type="lf:WsLeistungsfallRueckfallIdType">
                <xsd:annotation>
                    <xsd:documentation>Die Id und die Rückfallnummer des Leistungsfalles der nachregistriert werden
                        soll
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="WsHerkunftCodeType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">
                Herkunft der Ereignismeldung als BOID eines Codes aus der Codetabelle SYR_CodeTab_EmHerkunft.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="cc:WsCodeType"/>
        </xsd:complexContent>
    </xsd:complexType>

</xsd:schema>
