master-21371/apibridge-bestandsverw-suva_3.master.master-21371-13979/wsdl/com/adcubum/syrius/api/bestandsverw/common/identifier/v1/identifier.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="urn:com:adcubum:syrius:api:bestandsverw:common:identifier:v1"
            xmlns:tns="urn:com:adcubum:syrius:api:bestandsverw:common:identifier:v1"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:ci="urn:com:adcubum:syrius:api:common:identifier:v1"
            version="1.1.0"
            elementFormDefault="qualified">
    <xsd:import namespace="urn:com:adcubum:syrius:api:common:identifier:v1" schemaLocation="../../../../common/identifier/v1/identifier.xsd"/>

    <xsd:complexType name="WsVertragIdType">
    	<xsd:annotation>
    		<xsd:documentation>Vertrags-Id</xsd:documentation>
    	</xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ci:WsIdType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsKollektivvertragNamentlichIdType">
    	<xsd:annotation>
    		<xsd:documentation>Id des namentlichen Kollektivvertrages</xsd:documentation>
    	</xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ci:WsIdType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsPraemienzahlerIdType">
    	<xsd:annotation>
    		<xsd:documentation>Praemienzahler-Id</xsd:documentation>
    	</xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ci:WsIdType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsLeistungsforderungEmpfaengerIdType">
    	<xsd:annotation>
    		<xsd:documentation>Leistungsforderungempfaenger-Id</xsd:documentation>
    	</xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ci:WsIdType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsLeistungszahlungEmpfaengerIdType">
    	<xsd:annotation>
    		<xsd:documentation>Leistungszahlungsempfaenger-Id</xsd:documentation>
    	</xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ci:WsIdType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsRahmenvertragIdType">
    	<xsd:annotation>
    		<xsd:documentation>Rahmenvertrags-Id</xsd:documentation>
    	</xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ci:WsIdType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsProduktsparteIdType">
    	<xsd:annotation>
    		<xsd:documentation>Produktsparte-Id</xsd:documentation>
    	</xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ci:WsIdType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsMutationsgrundIdType">
    	<xsd:annotation>
    		<xsd:documentation>Mutationsgrund-Id</xsd:documentation>
    	</xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ci:WsIdType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsVertriebspartnerIdType">
    	<xsd:annotation>
    		<xsd:documentation>Vertriebspartner-Id</xsd:documentation>
    	</xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ci:WsIdType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsVersichertesObjektIdType">
    	<xsd:annotation>
    		<xsd:documentation>Versichertes-Objekt-Id</xsd:documentation>
    	</xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ci:WsIdType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsVersicherbaresObjektIdType">
    	<xsd:annotation>
    		<xsd:documentation>Versicherbares-Objekt-Id</xsd:documentation>
    	</xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ci:WsIdType">
            	<xsd:sequence>
            		<xsd:element name="type" type="tns:WsVersicherbaresObjektType" minOccurs="1" maxOccurs="1">
        				<xsd:annotation>
    						<xsd:documentation>Ausprägungstyp des versicherbaren Objektes</xsd:documentation>
    					</xsd:annotation>
        			</xsd:element>
            	</xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsVersichertePersonIdType">
    	<xsd:annotation>
    		<xsd:documentation>Versicherte-Person-Id</xsd:documentation>
    	</xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ci:WsIdType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsPartnerIdType">
    	<xsd:annotation>
    		<xsd:documentation>Partner-Id</xsd:documentation>
    	</xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ci:WsIdType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsPartnerRoleIdType">
    	<xsd:annotation>
    		<xsd:documentation>Partnerrolle-Id</xsd:documentation>
    	</xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ci:WsIdType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsVertragsproduktIdType">
    	<xsd:annotation>
    		<xsd:documentation>Vertragsprodukt-Id</xsd:documentation>
    	</xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ci:WsIdType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsFranchiseAenderungIdType">
    	<xsd:annotation>
    		<xsd:documentation>FranchiseAenderung-Id</xsd:documentation>
    	</xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ci:WsIdType"/>
        </xsd:complexContent>
    </xsd:complexType>    
    <xsd:complexType name="WsUnfalldeckungAenderungIdType">
    	<xsd:annotation>
    		<xsd:documentation>UnfalldeckungAenderung-Id</xsd:documentation>
    	</xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ci:WsIdType"/>
        </xsd:complexContent>
    </xsd:complexType>      
    <xsd:complexType name="WsProduktwechselAnreicherungIdType">
    	<xsd:annotation>
    		<xsd:documentation>ProduktwechselAnreicherung-Id</xsd:documentation>
    	</xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ci:WsIdType"/>
        </xsd:complexContent>
    </xsd:complexType>      
    <xsd:complexType name="WsProduktwechselIdType">
    	<xsd:annotation>
    		<xsd:documentation>Produktwechsel-Id</xsd:documentation>
    	</xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ci:WsIdType"/>
        </xsd:complexContent>
    </xsd:complexType>      
    <xsd:complexType name="WsHausarztAenderungIdType">
    	<xsd:annotation>
    		<xsd:documentation>HausarztAenderung-Id</xsd:documentation>
    	</xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ci:WsIdType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsMilitaerSistierungErstellenIdType">
    	<xsd:annotation>
    		<xsd:documentation>MilitaerSistierung-Id</xsd:documentation>
    	</xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ci:WsIdType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsParamAttrAenderungIdType">
        <xsd:annotation>
            <xsd:documentation>ParamAttrAenderung-Id</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ci:WsIdType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsVerkaufsproduktIdType">
        <xsd:annotation>
            <xsd:documentation>Verkaufsprodukt-Id</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ci:WsIdType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsProduktIdType">
    	<xsd:annotation>
    		<xsd:documentation>Produkt-Id</xsd:documentation>
    	</xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ci:WsIdType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsKriteriumIdType">
    	<xsd:annotation>
    		<xsd:documentation>Kriteriums-Id</xsd:documentation>
    	</xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ci:WsIdType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsProduktbausteinIdType">
    	<xsd:annotation>
    		<xsd:documentation>Produktbaustein-Id</xsd:documentation>
    	</xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ci:WsIdType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsCodeIdType">
    	<xsd:annotation>
    		<xsd:documentation>Code-Id</xsd:documentation>
    	</xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ci:WsIdType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsGesetzlicheGrundlageIdType">
    	<xsd:annotation>
    		<xsd:documentation>Gesetzliche-Grundlage-Id</xsd:documentation>
    	</xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ci:WsIdType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsEinschliessbareBedingungIdType">
    	<xsd:annotation>
    		<xsd:documentation>Einschliessbare-Bedingung-Id</xsd:documentation>
    	</xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ci:WsIdType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsBedingungIdType">
    	<xsd:annotation>
    		<xsd:documentation>Bedingung-Id</xsd:documentation>
    	</xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ci:WsIdType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsAvmDefIdType">
    	<xsd:annotation>
    		<xsd:documentation>AVM-Definition-Id</xsd:documentation>
    	</xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ci:WsIdType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsAvmZuteilungIdType">
    	<xsd:annotation>
    		<xsd:documentation>AVM-Zuteilung-Id</xsd:documentation>
    	</xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ci:WsIdType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsPraemienreduktionIdType">
        <xsd:annotation>
    		<xsd:documentation>Praemienreduktions-Id</xsd:documentation>
    	</xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ci:WsIdType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsPraemienreduktionDefIdType">
    	<xsd:annotation>
    		<xsd:documentation>Praemienreduktions-Definitions-Id</xsd:documentation>
    	</xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ci:WsIdType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsVersichertenkarteIdType">
        <xsd:annotation>
            <xsd:documentation>Versichertenkarte-Id</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ci:WsIdType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsGbereichIdType">
        <xsd:annotation>
            <xsd:documentation>Geschaeftsbereich-Id</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ci:WsIdType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsOrganisationseinheitIdType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Technischer Schlüssel einer Organisationseinheit.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ci:WsIdType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsVersichertesObjektDefinitionIdType">
    	<xsd:annotation>
    		<xsd:documentation>Versichertes-Objekt-Definition-Id</xsd:documentation>
    	</xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ci:WsIdType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsTarifgemeinschaftIdType">
        <xsd:annotation>
    		<xsd:documentation>Tarifgemeinschaft-Id</xsd:documentation>
    	</xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ci:WsIdType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsRahmenvertragsIdType">
        <xsd:annotation>
    		<xsd:documentation>Rahmenvertrags-Id</xsd:documentation>
    	</xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="tns:WsTarifgemeinschaftIdType"/>
        </xsd:complexContent>
    </xsd:complexType>        
    <xsd:complexType name="WsKVNamentlichPersGrpIdType">
        <xsd:annotation>
    		<xsd:documentation>KVNamentlichPersGrpId-Id</xsd:documentation>
    	</xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="tns:WsTarifgemeinschaftIdType"/>
        </xsd:complexContent>
    </xsd:complexType>    
    <xsd:complexType name="WsKantonIdType">
        <xsd:annotation>
            <xsd:documentation>Kanton-Id</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ci:WsIdType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:simpleType name="WsVersicherbaresObjektType">
		<xsd:annotation>
			<xsd:documentation>Ausprägungstyp des versicherbaren Objektes</xsd:documentation>
		</xsd:annotation>
    	<xsd:restriction base="xsd:string">
        	<xsd:enumeration value="Tier"/>
       		<xsd:enumeration value="Liegenschaft"/>
       		<xsd:enumeration value="VersichertePerson"/>
    	</xsd:restriction>
	</xsd:simpleType>
    <xsd:complexType name="WsContractParamAttributIdType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Technischer Schlüssel eines parametrierbaren Attributes.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ci:WsIdType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsParamAttributDefIdType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Technischer Schlüssel einer Definition des parametrierbaren Attributes.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ci:WsIdType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsProduktRisikoDefIdType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Technischer Schüssel einer Produkt-Risiko Definition.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ci:WsIdType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsVerkaufsproduktwechselIdType">
        <xsd:annotation>
            <xsd:documentation>Verkaufsproduktwechsel-Id</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ci:WsIdType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsSysCollectionIdType">
        <xsd:annotation>
            <xsd:documentation>SysCollection-Id</xsd:documentation>
		</xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ci:WsIdType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsVersichertesObjektParamAttributeAenderungIdType">
        <xsd:annotation>
            <xsd:documentation>VersichertesObjektParamAttributeChange-Id</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ci:WsIdType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsKollektivvertragAnonymIdType">
        <xsd:annotation>
            <xsd:documentation>Kollektivvertrag Anonym-Id</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ci:WsIdType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsPraemienabrechnungIdType">
    	<xsd:annotation>
    		<xsd:documentation>Prämienabrechnung-Id</xsd:documentation>
    	</xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ci:WsIdType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsPraemienabrechnungspositionIdType">
    	<xsd:annotation>
    		<xsd:documentation>Prämienabrechnungsposition-Id</xsd:documentation>
    	</xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ci:WsIdType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsPraemienabrechnungskomponenteIdType">
    	<xsd:annotation>
    		<xsd:documentation>Prämienabrechnungskomponente-Id</xsd:documentation>
    	</xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ci:WsIdType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsPreiskomponenteIdType">
    	<xsd:annotation>
    		<xsd:documentation>Preiskomponente-Id</xsd:documentation>
    	</xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ci:WsIdType"/>
        </xsd:complexContent>
    </xsd:complexType>
        <xsd:complexType name="WsAufgabeIdType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Technischer Schlüssel einer Aufgabe.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ci:WsIdType"/>
        </xsd:complexContent>
    </xsd:complexType>
        <xsd:complexType name="WsTextModulIdType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Technischer Schlüssel eines Textbausteins.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ci:WsIdType"/>
        </xsd:complexContent>
    </xsd:complexType>
</xsd:schema>
