master-21371/apibridge-partnermgmt-suva_4.master.master-21371-14050/wsdl/com/adcubum/syrius/api/partnermgmt/partnerdatenverw/process/partneraenderung/v1/schema/PartnerAenderungProcessService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:pi="urn:com:adcubum:syrius:api:partnermgmt:common:identifier:v1"
            xmlns:pt="urn:com:adcubum:syrius:api:partnermgmt:common:types:v1"
            xmlns:ct="urn:com:adcubum:syrius:api:common:types:v1"
            xmlns:st="urn:com:adcubum:syrius:api:common:simpleTypes:v1"
            xmlns:xt="urn:com:adcubum:syrius:api:common:externalTypes:v1"
            xmlns:pc="urn:com:adcubum:syrius:api:partnermgmt:common:codes:v1"
            xmlns:tns="urn:com:adcubum:syrius:api:partnermgmt:partnerdatenverw:process:partneraenderung:v1:schema"
            elementFormDefault="qualified"
            targetNamespace="urn:com:adcubum:syrius:api:partnermgmt:partnerdatenverw:process:partneraenderung:v1:schema"
            version="1.4.0">
    <xsd:import namespace="urn:com:adcubum:syrius:api:partnermgmt:common:codes:v1" schemaLocation="../../../../../common/codes/v1/codes.xsd"/>
    <xsd:import namespace="urn:com:adcubum:syrius:api:partnermgmt:common:identifier:v1" schemaLocation="../../../../../common/identifier/v1/identifier.xsd"/>
    <xsd:import namespace="urn:com:adcubum:syrius:api:partnermgmt:common:types:v1" schemaLocation="../../../../../common/types/v1/types.xsd"/>
    <xsd:import namespace="urn:com:adcubum:syrius:api:common:types:v1" schemaLocation="../../../../../../common/types/v1/types.xsd"/>
    <xsd:import namespace="urn:com:adcubum:syrius:api:common:simpleTypes:v1" schemaLocation="../../../../../../common/simpleTypes/v1/simpleTypes.xsd"/>
    <xsd:import namespace="urn:com:adcubum:syrius:api:common:externalTypes:v1" schemaLocation="../../../../../../common/externalTypes/v1/externalTypes.xsd"/>
    
    <xsd:element name="createNatPersonAenderungResponse" type="tns:CreateNatPersonAenderungResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, um eine NatPerson-Änderung zu erstellen.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="createNatPersonAenderungRequest" type="tns:CreateNatPersonAenderungRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response der NatPerson-Änderung.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="createJurPersonAenderungResponse" type="tns:CreateJurPersonAenderungResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, um eine JurPerson-Änderung zu erstellen.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="createJurPersonAenderungRequest" type="tns:CreateJurPersonAenderungRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response der JurPerson-Änderung.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="rejectNatPersonAenderungResponse" type="tns:RejectNatPersonAenderungResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, um eine NatPerson-Änderung zurückzuweisen.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="rejectNatPersonAenderungRequest" type="tns:RejectNatPersonAenderungRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response der zurückgewiesenen NatPerson-Änderung.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
	<xsd:element name="rejectJurPersonAenderungResponse" type="tns:RejectJurPersonAenderungResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, um eine JurPerson-Änderung zurückzuweisen.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="rejectJurPersonAenderungRequest" type="tns:RejectJurPersonAenderungRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response der zurückgewiesenen JurPerson-Änderung.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="CreateNatPersonAenderungRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, um eine NatPerson-Änderung zu erstellen.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="natPersonAenderung" type="tns:WsNatPersonAenderungType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Enthält die Daten der NatPerson-Änderung.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CreateNatPersonAenderungResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response der NatPerson-Änderung.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="partnerAenderungId" type="pi:WsPartnerAenderungIdType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Technische Id der erstellen NatPerson-Änderung.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CreateJurPersonAenderungRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, um eine JurPerson-Änderung zu erstellen.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="jurPersonAenderung" type="tns:WsJurPersonAenderungType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Enthält die Daten der JurPerson-Änderung.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CreateJurPersonAenderungResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response der JurPerson-Änderung.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="partnerAenderungId" type="pi:WsPartnerAenderungIdType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Technische Id der erstellen JurPerson-Änderung.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="RejectNatPersonAenderungRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, um eine NatPerson-Änderung zurückzuweisen.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="partnerAenderungId" type="pi:WsPartnerAenderungIdType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Technische Id der erstellen NatPerson-Änderung.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="begruendung" type="pc:WsPartAendBegruendungCodeType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Begründung der Ablehnung.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="RejectNatPersonAenderungResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response der NatPerson-Änderung.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="zurueckweisenErfolgreich" type="st:BooleanType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Immer True, im Falle eines Fehlers wird eine Exception geworfen.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="RejectJurPersonAenderungRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, um eine JurPerson-Änderung zurückzuweisen.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="partnerAenderungId" type="pi:WsPartnerAenderungIdType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Technische Id der erstellen JurPerson-Änderung.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="begruendung" type="pc:WsPartAendBegruendungCodeType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Begründung der Ablehnung.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="RejectJurPersonAenderungResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response der JurPerson-Änderung.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="zurueckweisenErfolgreich" type="st:BooleanType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Immer True, im Falle eines Fehlers wird eine Exception geworfen.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="WsPartnerAenderungType" abstract="true">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Enthält die allgemeinen Daten zu einer Person (natürlich oder juristisch).</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="aenderungAb" type="st:DateType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Bestimmt ab wann die Partneränderung gültig ist.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="partnerId" type="pi:WsPartnerIdType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Technischer Schlüssel einer natürlichen oder juristischen Person.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="intBetreuerId" type="pi:WsBenutzerIdType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Technischer Schlüssel des betreuenden Sachbearbeiters.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="mitarbeiterBenutzerId" type="st:StringType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Falls der Partner ein Mitarbeiter des Versicherers ist, ist dies eine fachliche Referenz auf den Benutzernamen des Mitarbeiters.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="mutationsgrundId" type="pi:WsMutationsgrundIdType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Technischer Schlüssel auf den Mutationsgrund.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="name" type="st:StringType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Name des Partners.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="partnerschutzDefId" type="pi:WsPartnerschutzDefIdType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Technischer Schlüssel auf die gesetzte Partnerschutzdefinition.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="korrespondenzsprache" type="xt:LanguageTagType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Korrespondenzsprache des Partners als IETF BCP 47 language tag (z.B. de-CH).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="vip" type="pc:WsVipCodeType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">VIP Code des Partners.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="WsNatPersonAenderungType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Enthält die Daten einer NatPerson-Änderung.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="tns:WsPartnerAenderungType">
                <xsd:sequence>
                    <xsd:element name="arbeitslos" type="pc:WsArbeitslosCodeType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Ist die natürliche Person arbeitslos oder nicht.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="aufenthaltsbew" type="pc:WsAufenthaltsbewCodeType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Aufenthaltsbewilligung der natürlichen Person.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="aufenthaltsbewBis" type="st:DateType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Bis zu welchem Datum gilt die Aufenthaltsbewilligung.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="auslaenderstatus" type="pi:WsAuslaenderstatusIdType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Technischer Schlüssel zum Ausländerstatus der natürlichen Person.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="bemerkung" type="st:StringType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Freie Bemerkung zur natürlichen Person.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="berufsgruppe" type="pc:WsBerufsgruppeCodeType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Berufsgruppe der natürlichen Person.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="geburtsdatum" type="st:DateType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Geburtsdatum der natürlichen Person.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="geschlecht" type="pc:WsGeschlechtCodeType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Geschlecht der natürlichen Person.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="heimatort" type="st:StringType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Heimatort der natürlichen Person.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="inAusbildung" type="pc:WsInAusbildungCodeType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Ist die natürliche Person in Ausbildung oder nicht.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="ledigname" type="st:StringType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Ledigname bzw. Geburtsname der natürlichen Person.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="namePraefix" type="st:StringType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Freier Namenspräfix der natürlichen Person.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="nameZusatz" type="st:StringType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Zusatz zum Namen (nachgestellt) der natürlichen Person.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="nationalitaet" type="st:StringType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Nationalität der natürlichen Person (2-stelliger Ländercode: ISO-3166).</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="sozialhilfe" type="pc:WsSozialhilfeCodeType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Ist die natürlichen Person Sozialhilfeempfänger oder nicht.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="titel" type="pc:WsTitelCodeType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Titel der natürlichen Person.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="todesdatum" type="st:DateType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Todesdatum der natürlichen Person.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="unterstPflicht" type="pc:WsUnterstPflichtCodeType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Ist die natürlichen Person unterstützungspflichtig oder nicht.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="vorname" type="st:StringType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Vorname der natürlichen Person.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="weitereVornamen" type="st:StringType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Weitere Vornamen der natürlichen Person.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="zivilstand" type="pc:WsZivilstandCodeType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Zivilstand der natürlichen Person.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="branche" type="pc:WsBrancheCodeType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Branche in der die natürliche Person tätig ist.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsJurPersonAenderungType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Enthält die Daten einer JurPerson-Änderung.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="tns:WsPartnerAenderungType">
                <xsd:sequence>
                    <xsd:element name="aufloesungsdatum" type="st:DateType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Aufloesungsdatum der juristischen Person.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="branche" type="pc:WsBrancheCodeType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Branche in der die juristischen Person tätig ist.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="gruendungsdatum" type="st:DateType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Gruendungsdatum der juristischen Person.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="konzernpartner" type="pc:WsKonzernpartnerCodeType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Ist die juristische Person ein Konzernpartner oder nicht.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="rechtsform" type="pc:WsRechtsformCodeType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Rechtsform der juristischen Person.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="zusatz1" type="st:StringType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Zusatzbezeichnung zum Namen.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="zusatz2" type="st:StringType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Zusatzbezeichnung zum Namen.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
</xsd:schema>
