master-21371/apibridge-bestandsverw-suva_3.master.master-21371-13979/wsdl/com/adcubum/syrius/api/bestandsverw/vertragsverw/auskunft/data/vertragsprodukt/v1/VertragsproduktService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="VertragsproduktService"
                  targetNamespace="urn:com:adcubum:syrius:api:bestandsverw:vertragsverw:auskunft:data:vertragsprodukt:v1"
                  xmlns:tns="urn:com:adcubum:syrius:api:bestandsverw:vertragsverw:auskunft:data:vertragsprodukt:v1"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:flt="urn:com:adcubum:syrius:api:common:faults:v1"
                  xmlns:pa="urn:com:adcubum:syrius:api:bestandsverw:vertragsverw:auskunft:data:vertragsprodukt:v1:schema">

    <wsdl:documentation>
    	Version: 1.2.0
    </wsdl:documentation>

    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="urn:com:adcubum:syrius:api:common:faults:v1"
                        schemaLocation="../../../../../../common/faults/v1/faults.xsd"/>
            <xsd:import namespace="urn:com:adcubum:syrius:api:bestandsverw:vertragsverw:auskunft:data:vertragsprodukt:v1:schema" 
                        schemaLocation="schema/VertragsproduktService.xsd"/>
        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="GetVertragsproduktRequestMessage">
        <wsdl:part name="Request" element="pa:getVertragsproduktRequest"/>
    </wsdl:message>
    <wsdl:message name="GetVertragsproduktResponseMessage">
        <wsdl:part name="Response" element="pa:getVertragsproduktResponse"/>
    </wsdl:message>
    <wsdl:message name="EvaluatePossibleCodes4CodekriteriumRequestMessage">
        <wsdl:part name="Request" element="pa:evaluatePossibleCodes4CodekriteriumRequest"/>
    </wsdl:message>
    <wsdl:message name="EvaluatePossibleCodes4CodekriteriumResponseMessage">
        <wsdl:part name="Response" element="pa:evaluatePossibleCodes4CodekriteriumResponse"/>
    </wsdl:message>
    <wsdl:message name="ApiFaultMessage">
        <wsdl:part name="fault" element="flt:apiFaultInfo"/>
    </wsdl:message>

    <wsdl:portType name="VertragsproduktServicePortType">
        <wsdl:operation name="getVertragsprodukt">
            <wsdl:documentation>Liefert zu den übergebenen Vertragsprodukt-IDs die entsprechenden Vertragsprodukte.</wsdl:documentation>
            <wsdl:input name="getVertragsproduktRequest" message="tns:GetVertragsproduktRequestMessage"/>
            <wsdl:output name="getVertragsproduktResponse" message="tns:GetVertragsproduktResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="evaluatePossibleCodes4Codekriterium">
            <wsdl:documentation>Liefert zu einem Codekriterium eines Vertragsproduktes die auswaehlbaren CodeIds.</wsdl:documentation>
            <wsdl:input name="evaluatePossibleCodes4CodekriteriumRequest" message="tns:EvaluatePossibleCodes4CodekriteriumRequestMessage"/>
            <wsdl:output name="evaluatePossibleCodes4CodekriteriumResponse" message="tns:EvaluatePossibleCodes4CodekriteriumResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="VertragsproduktServiceBinding" type="tns:VertragsproduktServicePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getVertragsprodukt">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="getVertragsproduktRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getVertragsproduktResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="evaluatePossibleCodes4Codekriterium">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="evaluatePossibleCodes4CodekriteriumRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="evaluatePossibleCodes4CodekriteriumResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="VertragsproduktService_v1">
        <wsdl:port name="VertragsproduktService_v1" binding="tns:VertragsproduktServiceBinding">
            <soap:address location="https://example.com/apibridge-bestandsverw/VertragsproduktService_v1"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
