master-21371/apibridge-partnermgmt-suva_4.master.master-21371-14050/wsdl/com/adcubum/syrius/api/partnermgmt/partnerdatenverw/process/partneraenderung/v1/PartnerAenderungProcessService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="PartnerAenderungProcessService"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="urn:com:adcubum:syrius:api:partnermgmt:partnerdatenverw:process:partneraenderung:v1"
                  xmlns:tns="urn:com:adcubum:syrius:api:partnermgmt:partnerdatenverw:process:partneraenderung:v1"
                  xmlns:pa="urn:com:adcubum:syrius:api:partnermgmt:partnerdatenverw:process:partneraenderung:v1:schema"
                  xmlns:flt="urn:com:adcubum:syrius:api:common:faults:v1"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/">
    <wsdl:documentation>Version: 1.4.0</wsdl:documentation>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="urn:com:adcubum:syrius:api:partnermgmt:partnerdatenverw:process:partneraenderung:v1:schema" schemaLocation="schema/PartnerAenderungProcessService.xsd"/>
            <xsd:import namespace="urn:com:adcubum:syrius:api:common:faults:v1" schemaLocation="../../../../../common/faults/v1/faults.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="CreateNatPersonAenderungRequestMessage">
        <wsdl:part name="CreateRequest" element="pa:createNatPersonAenderungRequest"/>
    </wsdl:message>
    <wsdl:message name="CreateNatPersonAenderungResponseMessage">
        <wsdl:part name="Response" element="pa:createNatPersonAenderungResponse"/>
    </wsdl:message>
    <wsdl:message name="CreateJurPersonAenderungRequestMessage">
        <wsdl:part name="CreateRequest" element="pa:createJurPersonAenderungRequest"/>
    </wsdl:message>
    <wsdl:message name="CreateJurPersonAenderungResponseMessage">
        <wsdl:part name="Response" element="pa:createJurPersonAenderungResponse"/>
    </wsdl:message>
    <wsdl:message name="RejectNatPersonAenderungRequestMessage">
        <wsdl:part name="CreateRequest" element="pa:rejectNatPersonAenderungRequest"/>
    </wsdl:message>
    <wsdl:message name="RejectNatPersonAenderungResponseMessage">
        <wsdl:part name="Response" element="pa:rejectNatPersonAenderungResponse"/>
    </wsdl:message>
    <wsdl:message name="RejectJurPersonAenderungRequestMessage">
        <wsdl:part name="CreateRequest" element="pa:rejectJurPersonAenderungRequest"/>
    </wsdl:message>
    <wsdl:message name="RejectJurPersonAenderungResponseMessage">
        <wsdl:part name="Response" element="pa:rejectJurPersonAenderungResponse"/>
    </wsdl:message>
    <wsdl:message name="ApiFaultMessage">
        <wsdl:part name="fault" element="flt:apiFaultInfo"/>
    </wsdl:message>
    <wsdl:portType name="PartnerAenderungProcessServicePortType">
        <wsdl:operation name="createNatPersonAenderung">
            <wsdl:documentation>Erstellt ein NatPerson-Aenderung-Objekt zu einem bestehenden Partner.</wsdl:documentation>
            <wsdl:input name="createNatPersonAenderungRequest" message="tns:CreateNatPersonAenderungRequestMessage"/>
            <wsdl:output name="createNatPersonAenderungResponse" message="tns:CreateNatPersonAenderungResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="createJurPersonAenderung">
            <wsdl:documentation>Erstellt ein JurPerson-Aenderung-Objekt zu einem bestehenden Partner.</wsdl:documentation>
            <wsdl:input name="createJurPersonAenderungRequest" message="tns:CreateJurPersonAenderungRequestMessage"/>
            <wsdl:output name="createJurPersonAenderungResponse" message="tns:CreateJurPersonAenderungResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="rejectNatPersonAenderung">
            <wsdl:documentation>Weist ein NatPerson-Aenderung-Objekt zu einem bestehenden Partner zurück.</wsdl:documentation>
            <wsdl:input name="rejectNatPersonAenderungRequest" message="tns:RejectNatPersonAenderungRequestMessage"/>
            <wsdl:output name="rejectNatPersonAenderungResponse" message="tns:RejectNatPersonAenderungResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
		<wsdl:operation name="rejectJurPersonAenderung">
            <wsdl:documentation>Weist ein JurPerson-Aenderung-Objekt zu einem bestehenden Partner zurück.</wsdl:documentation>
            <wsdl:input name="rejectJurPersonAenderungRequest" message="tns:RejectJurPersonAenderungRequestMessage"/>
            <wsdl:output name="rejectJurPersonAenderungResponse" message="tns:RejectJurPersonAenderungResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PartnerAenderungProcessServiceBinding" type="tns:PartnerAenderungProcessServicePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="createNatPersonAenderung">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="createNatPersonAenderungRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="createNatPersonAenderungResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="createJurPersonAenderung">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="createJurPersonAenderungRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="createJurPersonAenderungResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="rejectNatPersonAenderung">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="rejectNatPersonAenderungRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="rejectNatPersonAenderungResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="rejectJurPersonAenderung">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="rejectJurPersonAenderungRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="rejectJurPersonAenderungResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="PartnerAenderungProcessService_v1">
        <wsdl:port name="PartnerAenderungProcessService_v1" binding="tns:PartnerAenderungProcessServiceBinding">
            <soap:address location="https://example.com/apibridge-partnermgmt/PartnerAenderungProcessService_v1"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
