master-21371/apibridge-bestandsverw-suva_3.master.master-21371-13979/wsdl/com/adcubum/syrius/api/bestandsverw/vertragsverw/process/militaersistierung/v0/MilitaerSistierungProcessService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="MilitaerSistierungProcessService"
                  targetNamespace="urn:com:adcubum:syrius:api:bestandsverw:vertragsverw:process:militaersistierung:v0"
                  xmlns:tns="urn:com:adcubum:syrius:api:bestandsverw:vertragsverw:process:militaersistierung:v0"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:flt="urn:com:adcubum:syrius:api:common:faults:v1"
                  xmlns:pa="urn:com:adcubum:syrius:api:bestandsverw:vertragsverw:process:militaersistierung:v0:schema">

    <wsdl:documentation>Version: 0.0.0</wsdl:documentation>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="urn:com:adcubum:syrius:api:common:faults:v1" schemaLocation="../../../../../common/faults/v1/faults.xsd"/>
            <xsd:import namespace="urn:com:adcubum:syrius:api:bestandsverw:vertragsverw:process:militaersistierung:v0:schema" 
                        schemaLocation="schema/MilitaerSistierungProcessService.xsd"/>
        </xsd:schema>
    </wsdl:types>
    
    <wsdl:message name="MilitaerSistierungErstellenAnreicherungRequestMessage">
        <wsdl:part name="Request" element="pa:militaerSistierungErstellenAnreicherungRequest"/>
    </wsdl:message>
    <wsdl:message name="MilitaerSistierungErstellenAnreicherungResponseMessage">
        <wsdl:part name="Response" element="pa:militaerSistierungErstellenAnreicherungResponse"/>
    </wsdl:message>
    <wsdl:message name="MilitaerSistierungErstellenRequestMessage">
        <wsdl:part name="Request" element="pa:militaerSistierungErstellenRequest"/>
    </wsdl:message>
    <wsdl:message name="MilitaerSistierungErstellenResponseMessage">
        <wsdl:part name="Response" element="pa:militaerSistierungErstellenResponse"/>
    </wsdl:message>
    <wsdl:message name="ApiFaultMessage">
        <wsdl:part name="fault" element="flt:apiFaultInfo"/>
    </wsdl:message>

    <wsdl:portType name="MilitaerSistierungProcessServicePortType">
        <wsdl:operation name="startMilitaerSistierungErstellenAnreicherung">
            <wsdl:documentation>Milit채rsistierung-Erstellen-Anreicherung f체r einen Partner</wsdl:documentation>
            <wsdl:input name="startMilitaerSistierungErstellenAnreicherungRequest" message="tns:MilitaerSistierungErstellenAnreicherungRequestMessage"/>
            <wsdl:output name="startMilitaerSistierungErstellenAnreicherungResponse" message="tns:MilitaerSistierungErstellenAnreicherungResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="startMilitaerSistierungErstellen">
            <wsdl:documentation>Milit채rsistierung-Erstellen f체r einen Partner</wsdl:documentation>
            <wsdl:input name="startMilitaerSistierungErstellenRequest" message="tns:MilitaerSistierungErstellenRequestMessage"/>
            <wsdl:output name="startMilitaerSistierungErstellenResponse" message="tns:MilitaerSistierungErstellenResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    
    <wsdl:binding name="MilitaerSistierungProcessServiceBinding" type="tns:MilitaerSistierungProcessServicePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="startMilitaerSistierungErstellenAnreicherung">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="startMilitaerSistierungErstellenAnreicherungRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="startMilitaerSistierungErstellenAnreicherungResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="startMilitaerSistierungErstellen">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="startMilitaerSistierungErstellenRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="startMilitaerSistierungErstellenResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="MilitaerSistierungProcessService_v0">
        <wsdl:port name="MilitaerSistierungProcessService_v0" binding="tns:MilitaerSistierungProcessServiceBinding">
            <soap:address location="https://example.com/apibridge-bestandsverw/MilitaerSistierungProcessService_v0"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>