master-21371/apibridge-partnermgmt-suva_4.master.master-21371-14050/wsdl/com/adcubum/syrius/api/partnermgmt/partnerdatenverw/process/zahlungskanal/v1/schema/ZahlungskanalProcessService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:pi="urn:com:adcubum:syrius:api:partnermgmt:common:identifier:v1"
            xmlns:pt="urn:com:adcubum:syrius:api:partnermgmt:common:types:v1"
            xmlns:ct="urn:com:adcubum:syrius:api:common:types:v1"
            xmlns:st="urn:com:adcubum:syrius:api:common:simpleTypes:v1"
            xmlns:xt="urn:com:adcubum:syrius:api:common:externalTypes:v1"
            xmlns:pc="urn:com:adcubum:syrius:api:partnermgmt:common:codes:v1"
            xmlns:tns="urn:com:adcubum:syrius:api:partnermgmt:partnerdatenverw:process:zahlungskanal:v1:schema"
            elementFormDefault="qualified"
            targetNamespace="urn:com:adcubum:syrius:api:partnermgmt:partnerdatenverw:process:zahlungskanal:v1:schema"
            version="1.0.0">
    <xsd:import namespace="urn:com:adcubum:syrius:api:partnermgmt:common:codes:v1" schemaLocation="../../../../../common/codes/v1/codes.xsd"/>
    <xsd:import namespace="urn:com:adcubum:syrius:api:partnermgmt:common:identifier:v1" schemaLocation="../../../../../common/identifier/v1/identifier.xsd"/>
    <xsd:import namespace="urn:com:adcubum:syrius:api:partnermgmt:common:types:v1" schemaLocation="../../../../../common/types/v1/types.xsd"/>
    <xsd:import namespace="urn:com:adcubum:syrius:api:common:types:v1" schemaLocation="../../../../../../common/types/v1/types.xsd"/>
    <xsd:import namespace="urn:com:adcubum:syrius:api:common:simpleTypes:v1" schemaLocation="../../../../../../common/simpleTypes/v1/simpleTypes.xsd"/>
    <xsd:import namespace="urn:com:adcubum:syrius:api:common:externalTypes:v1" schemaLocation="../../../../../../common/externalTypes/v1/externalTypes.xsd"/>
    <xsd:element name="changeZahlungskanalResponse" type="tns:ChangeZahlungskanalResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response, um einen Zahlungskanal zu ändern.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="changeZahlungskanalRequest" type="tns:ChangeZahlungskanalRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, um einen Zahlungskanal zu ändern.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="createZahlungskanalResponse" type="tns:ZahlungskanalCreateResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response, um einen neuen Zahlungskanal zu erstellen.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="createZahlungskanalRequest" type="tns:CreateZahlungskanalRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, um einen neuen Zahlungskanal zu erstellen.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="terminateZahlungskanalResponse" type="tns:TerminateZahlungskanalResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response, um einen Zahlungskanal zu terminieren.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="terminateZahlungskanalRequest" type="tns:TerminateZahlungskanalRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, um einen Zahlungskanal zu terminieren.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ChangeZahlungskanalRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, um einen Zahlungskanal zu ändern.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="zahlungskanal" type="tns:WsZahlungskanalType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Enthält die Daten des geänderten Zahlungskanals.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="id" type="pi:WsZahlungskanalIdType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Technischer Schlüssel eines Zahlungskanals.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="aenderungAb" type="xsd:date" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Bestimmt ab wann der Zahlungskanal geändert ist.</xsd:documentation>
                </xsd:annotation>
            </xsd:element> 
            <xsd:element name="aenderungBis" type="xsd:date" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Bestimmt bis wann der Zahlungskanal geändert ist.</xsd:documentation>
                </xsd:annotation>
            </xsd:element> 
        </xsd:sequence>
    </xsd:complexType>
        <xsd:complexType name="ChangeZahlungskanalResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response des Zahlungskanals.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="zahlungskanalId" type="pi:WsZahlungskanalIdType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Technische Id des geänderten Zahlungskanals.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CreateZahlungskanalRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, um einen Zahlungskanal zu erstellen.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="zahlungskanal" type="tns:WsZahlungskanalType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Enthält die Daten des neuen Zahlungskanals.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="partnerId" type="pi:WsPartnerIdType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Technischer Schlüssel des Partners, für welchen der Zahlungskanal erstellt wird.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="gueltigAb" type="xsd:date" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Bestimmt ab wann der Zahlungskanal gültig ist.</xsd:documentation>
                </xsd:annotation>
            </xsd:element> 
            <xsd:element name="gueltigBis" type="xsd:date" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Bestimmt bis wann der Zahlungskanal gültig ist.</xsd:documentation>
                </xsd:annotation>
            </xsd:element> 
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ZahlungskanalCreateResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response des Zahlungskanals.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="zahlungskanalId" type="pi:WsZahlungskanalIdType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Technische Id des erstellten Zahlungskanals.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="WsZahlungskanalType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Enthält die Angaben zum Zahlungskanal</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="geldfluss" type="pc:WsCashFlowCodeType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Geldfluss des Zahlungskanals.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="bankZahlungsverbindungId" type="pi:WsZahlungsverbindungIdType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Technischer Schlüssel der Zahlungsverbindung.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="zahlungsverfahrenDefId" type="pi:WsZahlungsverfahrenDefIdType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Technischer Schlüssel der Zahlungsverfahren-Definition.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="customAttribute" type="ct:WsCustomAttributeType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>Auflistung der im Objekt enthaltenen kundenspezifischen Attribute.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="TerminateZahlungskanalRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response für das Terminieren eines bestimmten Zahlungskanals.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="zahlungskanalId" type="pi:WsZahlungskanalIdType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Technische Id des zu terminierenden Zahlungskanals.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="beendigungsdatum" type="xsd:date" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Bestimmt per welchem Datum der Zahlungskanal terminiert wird.</xsd:documentation>
                </xsd:annotation>
            </xsd:element> 
        </xsd:sequence>
    </xsd:complexType>
     <xsd:complexType name="TerminateZahlungskanalResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response für das terminieren eines bestimmten Zahlungskanals.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="terminierenErfolgreich" type="st:BooleanType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Immer True, im Falle eines Fehlers wird eine Exception geworfen.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>