master-21371/apibridge-partnermgmt-suva_4.master.master-21371-14050/wsdl/com/adcubum/syrius/api/partnermgmt/partnerdatenverw/data/leistungserbringer/v3/LeistungserbringerService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="LeistungserbringerService"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="urn:com:adcubum:syrius:api:partnermgmt:partnerdatenverw:data:leistungserbringer:v3"
                  xmlns:tns="urn:com:adcubum:syrius:api:partnermgmt:partnerdatenverw:data:leistungserbringer:v3"
                  xmlns:pa="urn:com:adcubum:syrius:api:partnermgmt:partnerdatenverw:data:leistungserbringer:v3:schema"
                  xmlns:flt="urn:com:adcubum:syrius:api:common:faults:v1"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/">
    <wsdl:documentation>Version: 3.0.0</wsdl:documentation>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="urn:com:adcubum:syrius:api:partnermgmt:partnerdatenverw:data:leistungserbringer:v3:schema" schemaLocation="schema/LeistungserbringerService.xsd"/>
            <xsd:import namespace="urn:com:adcubum:syrius:api:common:faults:v1" schemaLocation="../../../../../common/faults/v1/faults.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="GetLeistungserbringerRequestMessage">
        <wsdl:part name="Request" element="pa:getLeistungserbringerRequest"/>
    </wsdl:message>
    <wsdl:message name="GetLeistungserbringerResponseMessage">
        <wsdl:part name="Response" element="pa:getLeistungserbringerResponse"/>
    </wsdl:message>
    <wsdl:message name="SearchLeistungserbringerRequestMessage">
        <wsdl:part name="request" element="pa:searchLeistungserbringerRequest"/>
    </wsdl:message>
    <wsdl:message name="SearchLeistungserbringerResponseMessage">
        <wsdl:part name="response" element="pa:searchLeistungserbringerResponse"/>
    </wsdl:message>
    <wsdl:message name="GetPublicLeistungserbringerRequestMessage">
        <wsdl:part name="Request" element="pa:getPublicLeistungserbringerRequest"/>
    </wsdl:message>
    <wsdl:message name="GetPublicLeistungserbringerResponseMessage">
        <wsdl:part name="Response" element="pa:getPublicLeistungserbringerResponse"/>
    </wsdl:message>
    <wsdl:message name="SearchLeistungserbringerUmkreisRequestMessage">
        <wsdl:part name="request" element="pa:searchLeistungserbringerUmkreisRequest"/>
    </wsdl:message>
    <wsdl:message name="SearchLeistungserbringerUmkreisResponseMessage">
        <wsdl:part name="response" element="pa:searchLeistungserbringerUmkreisResponse"/>
    </wsdl:message>
    <wsdl:message name="ApiFaultMessage">
        <wsdl:part name="fault" element="flt:apiFaultInfo"/>
    </wsdl:message>
    <wsdl:portType name="LeistungserbringerServicePortType">
        <wsdl:operation name="getLeistungserbringer">
            <wsdl:documentation>Liefert für einen technischen Leistungserbringerschlüssel die Stammdaten des zugehörigen Leistungserbringers.

Hinweis:
Für folgende Nummern sind die Partneridentifikatoren vordefiniert, auch wenn keine konkreten Definitionen in adcubum Syrius existieren:
* ZSR-Nummer: &apos;SYR_Partner_ZsrNr&apos;
* GLN: &apos;SYR_Partner_GLN&apos;

Diese sind so im Response enthalten.</wsdl:documentation>
            <wsdl:input name="getLeistungserbringerRequest" message="tns:GetLeistungserbringerRequestMessage"/>
            <wsdl:output name="getLeistungserbringerResponse" message="tns:GetLeistungserbringerResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="searchLeistungserbringer">
            <wsdl:documentation>Liefert eine Liste von technischen Schlüssel gemäss den gesetzten Suchkriterien. Die Schlüssel beziehen sich dabei auf Leistungserbringer und Adresse. Die Suche erfolgt per Stichdatum.</wsdl:documentation>
            <wsdl:input name="searchLeistungserbringerRequest" message="tns:SearchLeistungserbringerRequestMessage"/>
            <wsdl:output name="searchLeistungserbringerResponse" message="tns:SearchLeistungserbringerResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="getPublicLeistungserbringer">
            <wsdl:documentation>Liefert für einen technischen Leistungserbringerschlüssel die öffentlichen Stammdaten des zugehörigen Leistungserbringers. Dabei wird der Objektschutz ignoriert.

Hinweis:
Für folgende Nummern sind die Partneridentifikatoren vordefiniert, auch wenn keine konkreten Definitionen in adcubum Syrius existieren:
* ZSR-Nummer: &apos;SYR_Partner_ZsrNr&apos;
* GLN: &apos;SYR_Partner_GLN&apos;

Diese sind so im Response enthalten.</wsdl:documentation>
            <wsdl:input name="getPublicLeistungserbringerRequest" message="tns:GetPublicLeistungserbringerRequestMessage"/>
            <wsdl:output name="getPublicLeistungserbringerResponse" message="tns:GetPublicLeistungserbringerResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="searchLeistungserbringerUmkreis">
            <wsdl:documentation>Liefert eine nach Entfernung sortierte Liste von Leistungserbringern gemäss den Suchriterien. Die Suche erfolgt ausgehend von den gegeben Koordinaten im gegebenen Radius. Die Schlüssel beziehen sich dabei auf Leistungserbringer und Adresse. Die Suche erfolgt per Stichdatum.</wsdl:documentation>
            <wsdl:input name="searchLeistungserbringerUmkreisRequest" message="tns:SearchLeistungserbringerUmkreisRequestMessage"/>
            <wsdl:output name="searchLeistungserbringerUmkreisResponse" message="tns:SearchLeistungserbringerUmkreisResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="LeistungserbringerServiceBinding" type="tns:LeistungserbringerServicePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getLeistungserbringer">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="getLeistungserbringerRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getLeistungserbringerResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="searchLeistungserbringer">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="searchLeistungserbringerRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="searchLeistungserbringerResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getPublicLeistungserbringer">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="getPublicLeistungserbringerRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getPublicLeistungserbringerResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="searchLeistungserbringerUmkreis">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="searchLeistungserbringerUmkreisRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="searchLeistungserbringerUmkreisResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="LeistungserbringerService_v3">
        <wsdl:port name="LeistungserbringerService_v3" binding="tns:LeistungserbringerServiceBinding">
            <soap:address location="https://example.com/apibridge-partnermgmt/LeistungserbringerService_v3"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
