master-21371/apibridge-bestandsverw-suva_3.master.master-21371-13979/wsdl/com/adcubum/syrius/api/bestandsverw/vertragsverw/process/vertragsproduktprocess/v1/VertragsproduktProcessService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="VertragsproduktProcessService"
                  targetNamespace="urn:com:adcubum:syrius:api:bestandsverw:vertragsverw:process:vertragsproduktprocess:v1"
                  xmlns:tns="urn:com:adcubum:syrius:api:bestandsverw:vertragsverw:process:vertragsproduktprocess:v1"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:flt="urn:com:adcubum:syrius:api:common:faults:v1"
                  xmlns:pa="urn:com:adcubum:syrius:api:bestandsverw:vertragsverw:process:vertragsproduktprocess:v1:schema">

    <wsdl:documentation>
    	Version: 1.0.0
    </wsdl:documentation>

    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="urn:com:adcubum:syrius:api:common:faults:v1" schemaLocation="../../../../../common/faults/v1/faults.xsd"/>
            <xsd:import namespace="urn:com:adcubum:syrius:api:bestandsverw:vertragsverw:process:vertragsproduktprocess:v1:schema" 
                        schemaLocation="schema/VertragsproduktProcessService.xsd"/>
        </xsd:schema>
    </wsdl:types>
    
    <wsdl:message name="CalculateVertragsproduktForKriterienRequestMessage">
        <wsdl:part name="Request" element="pa:calculateVertragsproduktForKriterienRequest"/>
    </wsdl:message>
    <wsdl:message name="CalculateVertragsproduktForKriterienResponseMessage">
        <wsdl:part name="Response" element="pa:calculateVertragsproduktForKriterienResponse"/>
    </wsdl:message>
    <wsdl:message name="ChangeVertragsproduktForKriterienRequestMessage">
        <wsdl:part name="Request" element="pa:changeVertragsproduktForKriterienRequest"/>
    </wsdl:message>
    <wsdl:message name="ChangeVertragsproduktForKriterienResponseMessage">
        <wsdl:part name="Response" element="pa:changeVertragsproduktForKriterienResponse"/>
    </wsdl:message>
    <wsdl:message name="ApiFaultMessage">
        <wsdl:part name="fault" element="flt:apiFaultInfo"/>
    </wsdl:message>
    
    <wsdl:portType name="VertragsproduktProcessServicePortType">
        <wsdl:operation name="calculateVertragsproduktForKriterien">
            <wsdl:documentation>Liefert f端r einen technischen Vertragsproduktschl端ssel des Vertragsproduktes.</wsdl:documentation>
            <wsdl:input name="calculateVertragsproduktForKriterienRequest" message="tns:CalculateVertragsproduktForKriterienRequestMessage"/>
            <wsdl:output name="calculateVertragsproduktForKriterienResponse" message="tns:CalculateVertragsproduktForKriterienResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="changeVertragsproduktForKriterien">
            <wsdl:documentation>Liefert f端r einen technischen Vertragsproduktschl端ssel des Vertragsproduktes.</wsdl:documentation>
            <wsdl:input name="changeVertragsproduktForKriterienRequest" message="tns:ChangeVertragsproduktForKriterienRequestMessage"/>
            <wsdl:output name="changeVertragsproduktForKriterienResponse" message="tns:ChangeVertragsproduktForKriterienResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    
    <wsdl:binding name="VertragsproduktProcessServiceBinding" type="tns:VertragsproduktProcessServicePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="calculateVertragsproduktForKriterien">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="calculateVertragsproduktForKriterienRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="calculateVertragsproduktForKriterienResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="changeVertragsproduktForKriterien">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="changeVertragsproduktForKriterienRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="changeVertragsproduktForKriterienResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    
    <wsdl:service name="VertragsproduktProcessService_v1">
        <wsdl:port name="VertragsproduktProcessService_v1" binding="tns:VertragsproduktProcessServiceBinding">
            <soap:address location="https://example.com/apibridge-bestandsverw/VertragsproduktProcessService_v1"/>
        </wsdl:port>
    </wsdl:service>
    
</wsdl:definitions>
