master-21371/apibridge-finanzwesen-suva_3.master.master-21371-12912/wsdl/com/adcubum/syrius/api/finanzwesen/fakturamgmt/data/tilgungszuweisung/v1/TilgungszuweisungService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="TilgungszuweisungService"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="urn:com:adcubum:syrius:api:finanzwesen:fakturamgmt:data:tilgungszuweisung:v1"
                  xmlns:tns="urn:com:adcubum:syrius:api:finanzwesen:fakturamgmt:data:tilgungszuweisung:v1"
                  xmlns:pa="urn:com:adcubum:syrius:api:finanzwesen:fakturamgmt:data:tilgungszuweisung:v1:schema"
                  xmlns:flt="urn:com:adcubum:syrius:api:common:faults:v1"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/">
    <wsdl:documentation>Version: 1.0.0</wsdl:documentation>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="urn:com:adcubum:syrius:api:finanzwesen:fakturamgmt:data:tilgungszuweisung:v1:schema" schemaLocation="schema/TilgungszuweisungService.xsd"/>
            <xsd:import namespace="urn:com:adcubum:syrius:api:common:faults:v1" schemaLocation="../../../../../common/faults/v1/faults.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="ReadTilgungspositionenForZahlungszuweisungRequestMessage">
        <wsdl:part name="Request" element="pa:readTilgungspositionenForZahlungszuweisungRequest"/>
    </wsdl:message>
    <wsdl:message name="ReadTilgungspositionenForZahlungszuweisungResponseMessage">
        <wsdl:part name="Response" element="pa:readTilgungspositionenForZahlungszuweisungResponse"/>
    </wsdl:message>
    <wsdl:message name="ReadZahlungszuweisungenForTilgungspositionRequestMessage">
        <wsdl:part name="Request" element="pa:readZahlungszuweisungenForTilgungspositionRequest"/>
    </wsdl:message>
    <wsdl:message name="ReadZahlungszuweisungenForTilgungspositionResponseMessage">
        <wsdl:part name="Response" element="pa:readZahlungszuweisungenForTilgungspositionResponse"/>
    </wsdl:message>
    <wsdl:message name="ApiFaultMessage">
        <wsdl:part name="fault" element="flt:apiFaultInfo"/>
    </wsdl:message>
    <wsdl:portType name="TilgungszuweisungServicePortType">
        <wsdl:operation name="readTilgungspositionenForZahlungszuweisung">
            <wsdl:documentation>Liefert für einen technischen Zahlungszuweisungschlüssel die Daten der zugehörigen Tilgungspositionen zurück.</wsdl:documentation>
            <wsdl:input name="readTilgungspositionenForZahlungszuweisungRequest" message="tns:ReadTilgungspositionenForZahlungszuweisungRequestMessage"/>
            <wsdl:output name="readTilgungspositionenForZahlungszuweisungResponse" message="tns:ReadTilgungspositionenForZahlungszuweisungResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="readZahlungszuweisungenForTilgungsposition">
            <wsdl:documentation>Liefert für einen technischen Tilgungspositionsschlüssel eine Liste von dazugehörigen Zahlungszuweisungen.</wsdl:documentation>
            <wsdl:input name="readZahlungszuweisungenForTilgungspositionRequest" message="tns:ReadZahlungszuweisungenForTilgungspositionRequestMessage"/>
            <wsdl:output name="readZahlungszuweisungenForTilgungspositionResponse" message="tns:ReadZahlungszuweisungenForTilgungspositionResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="TilgungszuweisungServiceBinding" type="tns:TilgungszuweisungServicePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="readTilgungspositionenForZahlungszuweisung">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="readTilgungspositionenForZahlungszuweisungRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="readTilgungspositionenForZahlungszuweisungResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="readZahlungszuweisungenForTilgungsposition">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="readZahlungszuweisungenForTilgungspositionRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="readZahlungszuweisungenForTilgungspositionResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="TilgungszuweisungService_v1">
        <wsdl:port name="TilgungszuweisungService_v1" binding="tns:TilgungszuweisungServiceBinding">
            <soap:address location="https://example.com/apibridge-finanzwesen/TilgungszuweisungService_v1"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
