master-21371/apibridge-partnermgmt-suva_4.master.master-21371-14050/wsdl/com/adcubum/syrius/api/partnermgmt/common/codes/v1/codes.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:cc="urn:com:adcubum:syrius:api:common:codes:v1"
            xmlns:tns="urn:com:adcubum:syrius:api:partnermgmt:common:codes:v1"
            elementFormDefault="qualified"
            targetNamespace="urn:com:adcubum:syrius:api:partnermgmt:common:codes:v1"
            version="1.2.0">
    <xsd:import namespace="urn:com:adcubum:syrius:api:common:codes:v1" schemaLocation="../../../../common/codes/v1/codes.xsd"/>
    <xsd:complexType name="WsAktivCodeType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Code zum Status Aktiv.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="cc:WsCodeType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsArbeitslosCodeType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Ist die natürliche Person arbeitslos oder nicht.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="cc:WsCodeType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsAufenthaltsbewCodeType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Aufenthaltsbewilligung der natürlichen Person.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="cc:WsCodeType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsBerufsgruppeCodeType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Berufsgruppe der natürlichen Person.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="cc:WsCodeType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsBrancheCodeType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Branche in der die juristischen Person tätig ist.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="cc:WsCodeType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsEinzugsermaechtigungCodeType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Einzugsermächtigung.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="cc:WsCodeType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsEntschaedigungCodeType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Entschaedigung des Leistungserbringers, z.B tiers garant, tiers payant, amb TG - stat TP oder Überprüfungsausschluss.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="cc:WsCodeType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsFaktStatusCodeType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Status, wie sicher dieser Fakt zur versicherten Person ist.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="cc:WsCodeType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsGeschlechtCodeType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Geschlecht der natürlichen Person.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="cc:WsCodeType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsInAusbildungCodeType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Ist die natürliche Person in Ausbildung oder nicht.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="cc:WsCodeType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsKontaktAnredeCodeType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Anrede/Geschlecht des Kontaktes.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="cc:WsCodeType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsKontaktschutzCodeType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Definiert die Kontaktschutzgruppe.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="cc:WsCodeType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsKonzernpartnerCodeType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Ist die juristische Person ein Konzernpartner oder nicht.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="cc:WsCodeType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsLeistungspflichtCodeType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Leistungspflicht des Leistungserbringers. z.B Leistungen aus Grund- und Zusatzversicherungen, Beitrag aus Grundversicherung, usw.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="cc:WsCodeType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsLerbAnredeCodeType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Anrede des Leistungserbringers, z.b Dr., Prof., Dr. med., usw.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="cc:WsCodeType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsLstAbrMoeglichCodeType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Leistungsabrechnung auf dem Leistungserbringer möglich.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="cc:WsCodeType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsOrganisationTypCodeType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Typ der Organisationeinheit, z.B Hauptsitz, Agentur, Geschäftsstelle, usw.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="cc:WsCodeType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsRechtsformCodeType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Rechtsform der juristischen Person.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="cc:WsCodeType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsSozialhilfeCodeType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Ist die natürlichen Person Sozialhilfeempfänger oder nicht.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="cc:WsCodeType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsStilleKoGuCodeType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Hat der Leistungserbringer eine stille Vereinbarung über eine Kostengutsprache.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="cc:WsCodeType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsStrasseNrReihenfolgeCodeType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Definiert, ob die Strasse vor der Nummer angezeigt werden soll oder umgekehrt.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="cc:WsCodeType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsPostfachOhneNrCodeType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Bestimmt, ob es sich um eine Postfach-Adresse ohne Postfachnummer handelt.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="cc:WsCodeType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsSystemCodeType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Identifikation des Externen Umsystems.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="cc:WsCodeType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsTitelCodeType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Titel der natürlichen Person.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="cc:WsCodeType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsUnterstPflichtCodeType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Ist die natürlichen Person unterstützungspflichtig oder nicht.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="cc:WsCodeType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsVerbandCodeType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Verbandscode des Leistungserbringers, z.B SCG, FAMH, Spitex-Verband, usw.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="cc:WsCodeType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsVipCodeType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">VIP Code des Partners.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="cc:WsCodeType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsZivilstandCodeType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Zivilstand der natürlichen Person.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="cc:WsCodeType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsKantonCodeType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Kanton der Adresse.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="cc:WsCodeType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsGemeindeKantonCodeType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Kanton der Gemeinde.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="cc:WsCodeType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsMehrfachverwendungCodeType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Bestimmt, ob es von dieser Definition mehrere Objekte geben darf.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="cc:WsCodeType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsRegionCodeType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Bestimmt den Code einer bestimmen Region.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="cc:WsCodeType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsPflegestufeCodeType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Pflegestufe des Leistungserbringers.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="cc:WsCodeType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsPatientenstatusCodeType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Patientenstatus des Leistungserbringers.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="cc:WsCodeType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsAdrAendStatusCodeType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Status der Adressänderung.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="cc:WsCodeType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsAdrAendBegruendungCodeType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Begründung für die Ablehnung/Bearbeitung einer Adressänderung.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="cc:WsCodeType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsPartAendStatusCodeType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Status der Partneränderung.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="cc:WsCodeType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsPartAendBegruendungCodeType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Begründung für die Ablehnung/Bearbeitung einer Partneränderung.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="cc:WsCodeType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsMandatArtCodeType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Art des Mandats.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="cc:WsCodeType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsErlaubnisCodeType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Erlaubnis für die Verwendung einer Kommunikationsverbindung (z.B. Keine Werbung).</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="cc:WsCodeType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsErlaubnisartCodeType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Erlaubnisart für die Verwendung einer Kommunikationsverbindung (z.B. Anweisung Kunde).</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="cc:WsCodeType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsKommVerbTypCodeType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Einschränkung auf einen bestimmten Typ von Kommunikationsverbindung.</xsd:documentation>
            </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="cc:WsCodeType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsDublBeziehungCodeType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Art der Beziehung zum Partner (Dublette, keine Dublette, unbekannt).</xsd:documentation>
            </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="cc:WsCodeType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsPartnerTypCodeType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Code des Partnertyps (z.B. juristische Person).</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="cc:WsCodeType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsNutzungszweckCodeType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Code des Nutzungszwecks.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="cc:WsCodeType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsBusinessProcessStateCodeType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Status des Geschäftsprozess.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="cc:WsCodeType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsNoteCategoryCodeType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Kategorie des Hinweises.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="cc:WsCodeType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsSensitivityTypeCodeType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Sensitivität des Hinweises.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="cc:WsCodeType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsQualitaetsStufeCodeType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Code der Qualitätsstufe.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="cc:WsCodeType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsQualityLevelCodeType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Code der Qualitätsstufe.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="cc:WsCodeType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsCashFlowCodeType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Geldfluss des Zahlungskanals.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="cc:WsCodeType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsUsageCodeType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Verwendungszweck einer Zahlungsweise.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="cc:WsCodeType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsPaymentFrequencyCodeType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Zahlungsart einer Zahlungsweise.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="cc:WsCodeType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsInputChannelCodeType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Eingangskanal einer Zahlungsweise Änderung.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="cc:WsCodeType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsPaymentAdvanceArrearCodeType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Gibt Vor- oder Nachschüssigkeit einer Zahlung an.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="cc:WsCodeType"/>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="WsOriginalDocumentCodeType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">'Orginal', 'Kopie' oder 'Original und Kopie'.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="cc:WsCodeType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsActiveDocRoutingCodeType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Ist der Dokumentversand aktiv oder nicht.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="cc:WsCodeType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsConfidentialLevelCodeType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Definiert die Vertraulichkeitsstufe, in welcher ein Dokument versendet werden soll.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="cc:WsCodeType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsSuppressPrintCodeType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Ja, wenn das Drucken des Dokuments unterdrückt werden soll.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="cc:WsCodeType"/>
        </xsd:complexContent>
    </xsd:complexType>
</xsd:schema>
