master-21371/apibridge-recordsmgmt-suva_4.master.master-21371-13413/wsdl/com/adcubum/syrius/api/recordsmgmt/process/journal/v1/schema/JournalProcessService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:pi="urn:com:adcubum:syrius:api:recordsmgmt:common:identifier:v1"
            xmlns:pt="urn:com:adcubum:syrius:api:recordsmgmt:common:types:v1"
            xmlns:ct="urn:com:adcubum:syrius:api:common:types:v1"
            xmlns:st="urn:com:adcubum:syrius:api:common:simpleTypes:v1"
            xmlns:pc="urn:com:adcubum:syrius:api:recordsmgmt:common:codes:v1"
            xmlns:tns="urn:com:adcubum:syrius:api:recordsmgmt:process:journal:v1:schema"
            elementFormDefault="qualified"
            targetNamespace="urn:com:adcubum:syrius:api:recordsmgmt:process:journal:v1:schema"
            version="1.0.0">
    <xsd:import namespace="urn:com:adcubum:syrius:api:recordsmgmt:common:codes:v1" schemaLocation="../../../../common/codes/v1/codes.xsd"/>
    <xsd:import namespace="urn:com:adcubum:syrius:api:recordsmgmt:common:identifier:v1" schemaLocation="../../../../common/identifier/v1/identifier.xsd"/>
    <xsd:import namespace="urn:com:adcubum:syrius:api:recordsmgmt:common:types:v1" schemaLocation="../../../../common/types/v1/types.xsd"/>
    <xsd:import namespace="urn:com:adcubum:syrius:api:common:types:v1" schemaLocation="../../../../../common/types/v1/types.xsd"/>
    <xsd:import namespace="urn:com:adcubum:syrius:api:common:simpleTypes:v1" schemaLocation="../../../../../common/simpleTypes/v1/simpleTypes.xsd"/>
    
    <xsd:element name="createJournalResponse" type="tns:CreateJournalResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response, um ein neues Journal zu erstellen.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="createJournalRequest" type="tns:CreateJournalRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request der ein Journal erstellt.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    
    <xsd:element name="changeJournalResponse" type="tns:ChangeJournalResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response, um ein bestehendes Journal zu ändern.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="changeJournalRequest" type="tns:ChangeJournalRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request der ein bestehendes Journal ändert.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    
    <xsd:complexType name="CreateJournalRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, um ein Journal zu erstellen.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="journal" type="tns:WsJournalType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Enthält die Daten des neuen Journals.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CreateJournalResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response des Journal create.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="journalId" type="pi:WsJournalIdType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Technische Id des erstellten Journals.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="ChangeJournalRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, um ein Journal zu erstellen.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="journal" type="tns:WsJournalAenderungType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Enthält die Daten des geänderten Journals.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="stichtag" type="xsd:date" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Bestimmt den Stichtag der Änderung.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ChangeJournalResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response des Journal change.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="journalId" type="pi:WsJournalIdType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Technische Id des geänderten Journals.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="WsJournalType">
     	<xsd:annotation>
            <xsd:documentation xml:lang="de">Journal, welches beim Speichern verwendet wird. </xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ct:WsDataObjectType">
                <xsd:sequence>
                    <xsd:element name="journalDefId" type="pi:WsJournalDefIdType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Technischer Schlüssel der Journal-Definition.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="partnerId" type="pi:WsPartnerIdType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Technischer Schlüssel des Partners.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="kommunikationsPartnerId" type="pi:WsPartnerIdType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Technischer Schlüssel des Kommunikationspartners.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="messageBO" type="pt:WsObjektRefType" minOccurs="0" maxOccurs="1">
	                    <xsd:annotation>
	                        <xsd:documentation xml:lang="de">Referenz auf ein beliebiges Fachobjekt (BO), das vom Journal betroffen ist.</xsd:documentation>
	                    </xsd:annotation>
                	</xsd:element>
                    <xsd:element name="sachverhalt" type="st:StringType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Objektiver Sachverhalt.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                     <xsd:element name="geschuetzterSachverhalt" type="st:StringType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Geschützter Sachverhalt.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="journalSchutz" type="pc:WsSchutzCodeType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Code; bestimmt die Journal-Schutzgruppe.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="kategorie" type="pc:WsKategorieCodeType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Code; bestimmt die Kategorie des Journals.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="journalParamAttribute" type="pt:WsJournalParamAttributType" minOccurs="0" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Liste mit allen parametrierbaren Atttributen des Journals.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="dokumentReferenzen" type="pt:WsDokumentReferenzType" minOccurs="0" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Liste mit allen Dokumentreferenzen des Journals.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    <xsd:complexType name="WsJournalAenderungType">
     	<xsd:annotation>
            <xsd:documentation xml:lang="de">Journal, das beim Update verwendet wird. </xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ct:WsDataObjectType">
                <xsd:sequence>
                    <xsd:element name="id" type="pi:WsJournalIdType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Technischer Schlüssel des Journals.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="erstellerId" type="pi:WsBenutzerIdType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Technischer Schlüssel des Erstellers.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="internerBetreuerId" type="pi:WsBenutzerIdType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Technischer Schlüssel des internen Betreuers.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="kommunikationsPartnerId" type="pi:WsPartnerIdType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Technischer Schlüssel des Kommunikationspartners.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="partnerId" type="pi:WsPartnerIdType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Technischer Schlüssel des Partners.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="zustaendigeOEId" type="pi:WsPartnerIdType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Technischer Schlüssel der zusgtändigen OE.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="bemerkung" type="st:StringType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Subjektiver Kommentar</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="sachverhalt" type="st:StringType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Objektiver Sachverhalt.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                     <xsd:element name="geschuetzterSachverhalt" type="st:StringType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Geschützter Sachverhalt.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="messageBO" type="pt:WsObjektRefType" minOccurs="0" maxOccurs="1">
	                    <xsd:annotation>
	                        <xsd:documentation xml:lang="de">Referenz auf beliebiges Fachobjekt (BO) das durch das Journal betroffen ist.</xsd:documentation>
	                    </xsd:annotation>
                	</xsd:element>
	                <xsd:element name="ursprung" type="pt:WsObjektRefType" minOccurs="0" maxOccurs="1">
	                    <xsd:annotation>
	                        <xsd:documentation xml:lang="de">Referenz auf das Business-Objekt, welches der Auslöser war, dass das Journal erstellt wurde.</xsd:documentation>
	                    </xsd:annotation>
	                </xsd:element>              	
                    <xsd:element name="journalSchutz" type="pc:WsSchutzCodeType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Code der die Journal-Schutzgruppe bestimmt.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="kategorie" type="pc:WsKategorieCodeType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Code der die Kategorie des Journals beschreibt.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="kontaktDurch" type="pc:WsKontaktDurchCodeType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Code der bestimmt wer den Kontakt aufgenommen hat.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="kontaktMedium" type="pc:WsKontaktMediumCodeType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Code der bestimmt wie der Kontakt stattgefunden hat.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>                       
                    <xsd:element name="dokumentReferenzen" type="pt:WsDokumentReferenzType" minOccurs="0" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Liste mit allen Dokumentreferenzen des Journals.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="journalParamAttribute" type="pt:WsJournalParamAttributType" minOccurs="0" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Liste mit allen JournalParamAttributen des Journals.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="kommentare" type="pt:WsKommentarType" minOccurs="0" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Liste mit allen Kommentaren des Journals.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
</xsd:schema>
