master-21371/apibridge-unternehmensorg-suva_5.master.master-21371-13184/wsdl/com/adcubum/syrius/api/unternehmensorg/dokumentbestellung/data/docbest/v2/DokumentbestellungService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="DokumentbestellungService"
        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        targetNamespace="urn:com:adcubum:syrius:api:unternehmensorg:dokumentbestellung:data:docbest:v2" 
        xmlns:tns="urn:com:adcubum:syrius:api:unternehmensorg:dokumentbestellung:data:docbest:v2" 
        xmlns:pa="urn:com:adcubum:syrius:api:unternehmensorg:dokumentbestellung:data:docbest:v2:schema" 
        xmlns:flt="urn:com:adcubum:syrius:api:common:faults:v1"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <wsdl:documentation>Version: 2.0.0</wsdl:documentation>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="urn:com:adcubum:syrius:api:unternehmensorg:dokumentbestellung:data:docbest:v2:schema" schemaLocation="schema/DokumentbestellungService.xsd"/>
            <xsd:import namespace="urn:com:adcubum:syrius:api:common:faults:v1" schemaLocation="../../../../../common/faults/v1/faults.xsd"/>
        </xsd:schema>
    </wsdl:types>
    
    <wsdl:message name="GetDokumentbestellungRequestMessage">
        <wsdl:part name="request" element="pa:getDokumentbestellungRequest"/>
    </wsdl:message>
    <wsdl:message name="GetDokumentbestellungResponseMessage">
        <wsdl:part name="response" element="pa:getDokumentbestellungResponse"/>
    </wsdl:message>
    <wsdl:message name="SearchDokumentbestellungRequestMessage">
        <wsdl:part name="request" element="pa:searchDokumentbestellungRequest"/>
    </wsdl:message>
    <wsdl:message name="SearchDokumentbestellungResponseMessage">
        <wsdl:part name="response" element="pa:searchDokumentbestellungResponse"/>
    </wsdl:message>
    <wsdl:message name="ApiFaultMessage">
        <wsdl:part name="fault" element="flt:apiFaultInfo"/>
    </wsdl:message>

    <wsdl:portType name="DokumentbestellungServicePortType">
        <wsdl:operation name="getDokumentbestellung">
            <wsdl:documentation>Ermittelt die Dokumentbestellungen.</wsdl:documentation>
            <wsdl:input name="getDokumentbestellungRequest" message="tns:GetDokumentbestellungRequestMessage"/>
            <wsdl:output name="getDokumentbestellungResponse" message="tns:GetDokumentbestellungResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="searchDokumentbestellung">
            <wsdl:documentation>Ermittelt eine Liste von Dokumentbestellung-Schlüssel.</wsdl:documentation>
            <wsdl:input name="searchDokumentbestellungRequest" message="tns:SearchDokumentbestellungRequestMessage"/>
            <wsdl:output name="searchDokumentbestellungResponse" message="tns:SearchDokumentbestellungResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    
    <wsdl:binding name="DokumentbestellungServiceBinding" type="tns:DokumentbestellungServicePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getDokumentbestellung">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="getDokumentbestellungRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getDokumentbestellungResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="searchDokumentbestellung">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="searchDokumentbestellungRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="searchDokumentbestellungResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    
     <wsdl:service name="DokumentbestellungService_v2">
        <wsdl:port name="DokumentbestellungService_v2" binding="tns:DokumentbestellungServiceBinding">
            <soap:address location="https://example.com/apibridge-unternehmensorg/DokumentbestellungService_v2"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
