master-21371/apibridge-bestandsverw-suva_3.master.master-21371-13979/wsdl/com/adcubum/syrius/api/bestandsverw/objektverw/process/liegenschaftprocess/v2/LiegenschaftProcessService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="LiegenschaftProcessService"
                  targetNamespace="urn:com:adcubum:syrius:api:bestandsverw:objektverw:process:liegenschaftprocess:v2"
                  xmlns:tns="urn:com:adcubum:syrius:api:bestandsverw:objektverw:process:liegenschaftprocess:v2"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:flt="urn:com:adcubum:syrius:api:common:faults:v1"
                  xmlns:pa="urn:com:adcubum:syrius:api:bestandsverw:objektverw:process:liegenschaftprocess:v2:schema">
    <wsdl:documentation>Version: 2.0.0</wsdl:documentation>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="urn:com:adcubum:syrius:api:common:faults:v1" schemaLocation="../../../../../common/faults/v1/faults.xsd"/>
            <xsd:import namespace="urn:com:adcubum:syrius:api:bestandsverw:objektverw:process:liegenschaftprocess:v2:schema" schemaLocation="schema/LiegenschaftProcessService.xsd"/>
        </xsd:schema>
    </wsdl:types>
    
    <wsdl:message name="CreateLiegenschaftRequestMessage">
        <wsdl:part name="Request" element="pa:createLiegenschaftRequest"/>
    </wsdl:message>
    <wsdl:message name="CreateLiegenschaftResponseMessage">
        <wsdl:part name="Response" element="pa:createLiegenschaftResponse"/>
    </wsdl:message>
    <wsdl:message name="ChangeLiegenschaftRequestMessage">
        <wsdl:part name="Request" element="pa:changeLiegenschaftRequest"/>
    </wsdl:message>
    <wsdl:message name="ChangeLiegenschaftResponseMessage">
        <wsdl:part name="Response" element="pa:changeLiegenschaftResponse"/>
    </wsdl:message>
    <wsdl:message name="ApiFaultMessage">
        <wsdl:part name="fault" element="flt:apiFaultInfo"/>
    </wsdl:message>

    <wsdl:portType name="LiegenschaftProcessServicePortType">
        <wsdl:operation name="createLiegenschaft">
            <wsdl:documentation>Erstellt eine neue Liegenschaft. Die Liegenschaft wird nach erfolgreicher Validierung direkt persistiert. Im Falle eines Validierungsfehlers schlägt der komplette Request fehl.</wsdl:documentation>
            <wsdl:input name="createLiegenschaftRequest" message="tns:CreateLiegenschaftRequestMessage"/>
            <wsdl:output name="createLiegenschaftResponse" message="tns:CreateLiegenschaftResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="changeLiegenschaft">
            <wsdl:documentation>Ändert eine bestehende Liegenschaft. Die Liegenschaft wird nach erfolgreicher Validierung direkt persistiert. Im Falle eines Validierungsfehlers schlägt der komplette Request fehl.</wsdl:documentation>
            <wsdl:input name="changeLiegenschaftRequest" message="tns:ChangeLiegenschaftRequestMessage"/>
            <wsdl:output name="changeLiegenschaftResponse" message="tns:ChangeLiegenschaftResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="LiegenschaftProcessServiceBinding" type="tns:LiegenschaftProcessServicePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="createLiegenschaft">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="createLiegenschaftRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="createLiegenschaftResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="changeLiegenschaft">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="changeLiegenschaftRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="changeLiegenschaftResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="LiegenschaftProcessService_v2">
        <wsdl:port name="LiegenschaftProcessService_v2" binding="tns:LiegenschaftProcessServiceBinding">
            <soap:address location="https://example.com/apibridge-bestandsverw/LiegenschaftProcessService_v2"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
