master-21371/apibridge-finanzwesen-suva_3.master.master-21371-12912/wsdl/com/adcubum/syrius/api/finanzwesen/zahlungsverkehr/process/zahler/v1/ZahlerProcessService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="ZahlerProcessService"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="urn:com:adcubum:syrius:api:finanzwesen:zahlungsverkehr:process:zahler:v1"
                  xmlns:tns="urn:com:adcubum:syrius:api:finanzwesen:zahlungsverkehr:process:zahler:v1"
                  xmlns:pa="urn:com:adcubum:syrius:api:finanzwesen:zahlungsverkehr:process:zahler:v1:schema"
                  xmlns:flt="urn:com:adcubum:syrius:api:common:faults:v1"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/">
    <wsdl:documentation>Version: 1.2.0</wsdl:documentation>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="urn:com:adcubum:syrius:api:finanzwesen:zahlungsverkehr:process:zahler:v1:schema" schemaLocation="schema/ZahlerProcessService.xsd"/>
            <xsd:import namespace="urn:com:adcubum:syrius:api:common:faults:v1" schemaLocation="../../../../../common/faults/v1/faults.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="ChangeZahlerRequestMessage">
        <wsdl:part name="Request" element="pa:changeZahlerRequest"/>
    </wsdl:message>
    <wsdl:message name="ChangeZahlerResponseMessage">
        <wsdl:part name="Response" element="pa:changeZahlerResponse"/>
    </wsdl:message>
    <wsdl:message name="CreateZahlerRequestMessage">
        <wsdl:part name="Request" element="pa:createZahlerRequest"/>
    </wsdl:message>
    <wsdl:message name="CreateZahlerResponseMessage">
        <wsdl:part name="Response" element="pa:createZahlerResponse"/>
    </wsdl:message>
    <wsdl:message name="ApiFaultMessage">
        <wsdl:part name="fault" element="flt:apiFaultInfo"/>
    </wsdl:message>
    <wsdl:portType name="ZahlerProcessServicePortType">
        <wsdl:operation name="createZahler">
            <wsdl:documentation>Erstellt einen Zahler mit den übergebenenen Daten.</wsdl:documentation>
            <wsdl:input name="createZahlerRequest" message="tns:CreateZahlerRequestMessage"/>
            <wsdl:output name="createZahlerResponse" message="tns:CreateZahlerResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="changeZahler">
            <wsdl:documentation>Ändert einen Zahler.</wsdl:documentation>
            <wsdl:input name="changeZahlerRequest" message="tns:ChangeZahlerRequestMessage"/>
            <wsdl:output name="changeZahlerResponse" message="tns:ChangeZahlerResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ZahlerProcessServiceBinding" type="tns:ZahlerProcessServicePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="createZahler">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="createZahlerRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="createZahlerResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="changeZahler">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="changeZahlerRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="changeZahlerResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ZahlerProcessService_v1">
        <wsdl:port name="ZahlerProcessService_v1" binding="tns:ZahlerProcessServiceBinding">
            <soap:address location="https://example.com/apibridge-finanzwesen/ZahlerProcessService_v1"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>