master-21371/apibridge-schadenleistungsmgmt-suva_6.master.master-21371-13742/wsdl/com/adcubum/syrius/api/schadenleistungsmgmt/kvuv/regressmanagement/regressabwicklung/data/v1/RegressleistungsfallDataService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="RegressleistungsfallService"
                  targetNamespace="urn:com:adcubum:syrius:api:schadenleistungsmgmt:kvuv:regressmanagement:regressabwicklung:data:v1"
                  xmlns:tns="urn:com:adcubum:syrius:api:schadenleistungsmgmt:kvuv:regressmanagement:regressabwicklung:data:v1"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:flt="urn:com:adcubum:syrius:api:common:faults:v1"
                  xmlns:snr="urn:com:adcubum:syrius:api:schadenleistungsmgmt:kvuv:regressmanagement:regressabwicklung:data:v1:schema">
    <wsdl:documentation>Version: 1.0.0</wsdl:documentation>

    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="urn:com:adcubum:syrius:api:common:faults:v1"
                        schemaLocation="../../../../../../common/faults/v1/faults.xsd"/>
            <xsd:import
                    namespace="urn:com:adcubum:syrius:api:schadenleistungsmgmt:kvuv:regressmanagement:regressabwicklung:data:v1:schema"
                    schemaLocation="schema/RegressleistungsfallDataService.xsd"/>
        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="ReadLeistungskategorieDefinitionRequestMessage">
        <wsdl:part name="Request" element="snr:readLeistungskategorieDefinitionRequest"/>
    </wsdl:message>

    <wsdl:message name="ReadLeistungskategorieDefinitionResponseMessage">
        <wsdl:part name="Response" element="snr:readLeistungskategorieDefinitionResponse"/>
    </wsdl:message>

    <wsdl:message name="ReadRegressleistungsfallRequestMessage">
        <wsdl:part name="Request" element="snr:readRegressleistungsfallRequest"/>
    </wsdl:message>

    <wsdl:message name="ReadRegressleistungsfallResponseMessage">
        <wsdl:part name="Response" element="snr:readRegressleistungsfallResponse"/>
    </wsdl:message>

    <wsdl:message name="ReadLeistungskategorieRequestMessage">
        <wsdl:part name="Request" element="snr:readLeistungskategorieRequest"/>
    </wsdl:message>

    <wsdl:message name="ReadLeistungskategorieResponseMessage">
        <wsdl:part name="Response" element="snr:readLeistungskategorieResponse"/>
    </wsdl:message>

    <wsdl:message name="SearchRegressleistungsfallRequestMessage">
        <wsdl:part name="Request" element="snr:searchRegressleistungsfallRequest"/>
    </wsdl:message>

    <wsdl:message name="SearchRegressleistungsfallResponseMessage">
        <wsdl:part name="Response" element="snr:searchRegressleistungsfallResponse"/>
    </wsdl:message>

    <wsdl:message name="ApiFaultMessage">
        <wsdl:part name="fault" element="flt:apiFaultInfo"/>
    </wsdl:message>

    <wsdl:portType name="RegressleistungsfallServicePortType">
        <wsdl:operation name="searchRegressleistungsfall">
            <wsdl:documentation>Sucht nach Regressleistungsfällen über die übergebenen Parameter.</wsdl:documentation>
            <wsdl:input name="searchRegressleistungsfallRequest" message="tns:SearchRegressleistungsfallRequestMessage"/>
            <wsdl:output name="searchRegressleistungsfallResponse" message="tns:SearchRegressleistungsfallResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="readRegressleistungsfall">
            <wsdl:documentation>Liefert zu den RegressleistungsfallIds die entsprechenden Regressleistungsfälle.</wsdl:documentation>
            <wsdl:input name="readRegressleistungsfallRequest" message="tns:ReadRegressleistungsfallRequestMessage"/>
            <wsdl:output name="readRegressleistungsfallResponse" message="tns:ReadRegressleistungsfallResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="readLeistungskategorie">
            <wsdl:documentation>Liefert zu den LeistungskategorieIds die entsprechenden Leistungskategorien</wsdl:documentation>
            <wsdl:input name="readLeistungskategorieRequest" message="tns:ReadLeistungskategorieRequestMessage"/>
            <wsdl:output name="readLeistungskategorieResponse" message="tns:ReadLeistungskategorieResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="readLeistungskategorieDefinition">
            <wsdl:documentation>Liefert zu den LstKategorieDefIds die entsprechenden LeistungskategorieDefinitionen</wsdl:documentation>
            <wsdl:input name="readLeistungskategorieDefinitionRequest" message="tns:ReadLeistungskategorieDefinitionRequestMessage"/>
            <wsdl:output name="readLeistungskategorieDefinitionResponse" message="tns:ReadLeistungskategorieDefinitionResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="RegressleistungsfallServiceBinding" type="tns:RegressleistungsfallServicePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="searchRegressleistungsfall">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="searchRegressleistungsfallRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="searchRegressleistungsfallResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="readRegressleistungsfall">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="readRegressleistungsfallRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="readRegressleistungsfallResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="readLeistungskategorie">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="readLeistungskategorieRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="readLeistungskategorieResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="readLeistungskategorieDefinition">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="readLeistungskategorieDefinitionRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="readLeistungskategorieDefinitionResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="RegressleistungsfallService_v1">
        <wsdl:documentation>Ein lesender Service für Regressfälle.</wsdl:documentation>
        <wsdl:port name="RegressleistungsfallService_v1" binding="tns:RegressleistungsfallServiceBinding">
            <soap:address location="http://example.com/apibridge-schadenleistungsmgmt/RegressleistungsfallService_v1"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
