master-21371/apibridge-finanzwesen-suva_3.master.master-21371-12912/wsdl/com/adcubum/syrius/api/finanzwesen/common/data/mutationsgrund/v1/MutationsgrundService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="MutationsgrundService"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="urn:com:adcubum:syrius:api:finanzwesen:common:data:mutationsgrund:v1"
                  xmlns:tns="urn:com:adcubum:syrius:api:finanzwesen:common:data:mutationsgrund:v1"
                  xmlns:pa="urn:com:adcubum:syrius:api:finanzwesen:common:data:mutationsgrund:v1:schema"
                  xmlns:flt="urn:com:adcubum:syrius:api:common:faults:v1"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/">
    <wsdl:documentation>Version: 1.0.0</wsdl:documentation>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="urn:com:adcubum:syrius:api:finanzwesen:common:data:mutationsgrund:v1:schema" schemaLocation="schema/MutationsgrundService.xsd"/>
            <xsd:import namespace="urn:com:adcubum:syrius:api:common:faults:v1" schemaLocation="../../../../../common/faults/v1/faults.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="SearchMutationsgrundRequestMessage">
        <wsdl:part name="request" element="pa:searchMutationsgrundRequest"/>
    </wsdl:message>
    <wsdl:message name="SearchMutationsgrundResponseMessage">
        <wsdl:part name="response" element="pa:searchMutationsgrundResponse"/>
    </wsdl:message>
    <wsdl:message name="ReadL10nAttributesMutationsgrundRequestMessage">
        <wsdl:part name="Request" element="pa:readL10nAttributesMutationsgrundRequest"/>
    </wsdl:message>
    <wsdl:message name="ReadL10nAttributesMutationsgrundResponseMessage">
        <wsdl:part name="Response" element="pa:readL10nAttributesMutationsgrundResponse"/>
    </wsdl:message>
    <wsdl:message name="ApiFaultMessage">
        <wsdl:part name="fault" element="flt:apiFaultInfo"/>
    </wsdl:message>
    <wsdl:portType name="MutationsgrundServicePortType">
        <wsdl:operation name="searchMutationsgrund">
            <wsdl:documentation>Liefert eine Liste von technischen Mutationsgrundschlüssel gem. den Suchkriterien.</wsdl:documentation>
            <wsdl:input name="searchMutationsgrundRequest" message="tns:SearchMutationsgrundRequestMessage"/>
            <wsdl:output name="searchMutationsgrundResponse" message="tns:SearchMutationsgrundResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="readL10nAttributesMutationsgrund">
            <wsdl:documentation>Liefert für einen technischen Mutationsgrundschlüssel die Bezeichnung des zugehörigen Mutationsgrunds zurück.</wsdl:documentation>
            <wsdl:input name="readL10nAttributesMutationsgrundRequest" message="tns:ReadL10nAttributesMutationsgrundRequestMessage"/>
            <wsdl:output name="readL10nAttributesMutationsgrundResponse" message="tns:ReadL10nAttributesMutationsgrundResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="MutationsgrundServiceBinding" type="tns:MutationsgrundServicePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="searchMutationsgrund">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="searchMutationsgrundRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="searchMutationsgrundResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="readL10nAttributesMutationsgrund">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="readL10nAttributesMutationsgrundRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="readL10nAttributesMutationsgrundResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="MutationsgrundService_v1">
        <wsdl:port name="MutationsgrundService_v1" binding="tns:MutationsgrundServiceBinding">
            <soap:address location="https://example.com/apibridge-finanzwesen/MutationsgrundService_v1"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
