master-21371/apibridge-partnermgmt-suva_4.master.master-21371-14050/wsdl/com/adcubum/syrius/api/partnermgmt/partnerdatenverw/process/adresseaenderung/v4/schema/AdresseAenderungProcessService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:pi="urn:com:adcubum:syrius:api:partnermgmt:common:identifier:v1"
            xmlns:cp="urn:com:adcubum:syrius:api:common:process:v1"
            xmlns:st="urn:com:adcubum:syrius:api:common:simpleTypes:v1"
            xmlns:pc="urn:com:adcubum:syrius:api:partnermgmt:common:codes:v1"
            xmlns:tns="urn:com:adcubum:syrius:api:partnermgmt:partnerdatenverw:process:adresseaenderung:v4:schema"
            elementFormDefault="qualified"
            targetNamespace="urn:com:adcubum:syrius:api:partnermgmt:partnerdatenverw:process:adresseaenderung:v4:schema"
            version="4.0.0">
    <xsd:import namespace="urn:com:adcubum:syrius:api:partnermgmt:common:codes:v1" schemaLocation="../../../../../common/codes/v1/codes.xsd"/>
    <xsd:import namespace="urn:com:adcubum:syrius:api:partnermgmt:common:identifier:v1"
                schemaLocation="../../../../../common/identifier/v1/identifier.xsd"/>
    <xsd:import namespace="urn:com:adcubum:syrius:api:common:process:v1" schemaLocation="../../../../../../common/process/v1/process.xsd"/>
    <xsd:import namespace="urn:com:adcubum:syrius:api:common:simpleTypes:v1"
                schemaLocation="../../../../../../common/simpleTypes/v1/simpleTypes.xsd"/>

    <xsd:element name="createAdresseAenderungProcessRequest" type="tns:CreateAdresseAenderungProcessRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, um eine Adresseänderung zu erstellen.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="createAdresseAenderungProcessResponse" type="tns:CreateAdresseAenderungProcessResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response der Adresseänderung mit den Prozessinformationen.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="CreateAdresseAenderungProcessRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, um eine Adresseänderung zu erstellen.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:group ref="cp:GeneralProcessParams"/>
            <xsd:element name="adresseId" type="pi:WsAdresseIdType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Technischer Schlüssel einer Domizil- oder Zusatzadresse.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="aenderungAb" type="st:LocalDateType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Bestimmt ab wann die Adressänderung gültig ist.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="adresseAenderung" type="tns:WsAdresseAenderungType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Enthält die Daten der Adresseänderung.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="gemeldetePartnerKeys" type="pi:WsPartnerIdType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Enthält die Liste der in der Adressänderung involvierten Partner (Umzugsmeldung).
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="isFamilienumzug" type="st:BooleanType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Handelt es sich um einen Familienumzug? Ohne angaben oder mit Nein wird bei Nichtübereinstimmung
                        der mitgegebenen Partnerschlüssel und der evaluierten Liste der involvierten Partner ausgesteuert.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="prozessStarten" type="st:BooleanType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Soll der Prozess gestartet werden?</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CreateAdresseAenderungProcessResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response der Adresseänderung.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="adresseAenderungId" type="pi:WsAdresseAenderungIdType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Technische Id der erstellen Adresseänderung.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="businessProcessState" type="cp:BusinessProcessStateType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Status des gestarteten Prozesses.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="createAdresseAenderungPartnerProcessRequest" type="tns:CreateAdresseAenderungPartnerProcessRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, um eine Adresseänderung zu einem Partner zu erstellen.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="createAdresseAenderungPartnerProcessResponse" type="tns:CreateAdresseAenderungPartnerProcessResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response der Adresseänderung mit den Prozessinformationen.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="CreateAdresseAenderungPartnerProcessRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, um eine Adresseänderung zu einem Partner zu erstellen.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:group ref="cp:GeneralProcessParams"/>
            <xsd:element name="partnerId" type="pi:WsPartnerIdType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Technischer Schlüssel des Partners, dessen Adresse geändert werden soll.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="aenderungAb" type="st:LocalDateType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Bestimmt ab wann die Adressänderung gültig ist. Ohne Angabe wird der Prozess ausgesteuert und der
                        Änderungszeitpunkt innerhalb des Prozesses ermittelt.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="adresseAenderung" type="tns:WsAdresseAenderungType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Enthält die Daten der Adresseänderung.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="gemeldetePartnerKeys" type="pi:WsPartnerIdType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Enthält die Liste der in der Adressänderung involvierten Partner (Umzugsmeldung).
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="isFamilienumzug" type="st:BooleanType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Handelt es sich um einen Familienumzug? Ohne angaben oder mit Nein wird bei Nichtübereinstimmung
                        der mitgegebenen Partnerschlüssel und der evaluierten Liste der involvierten Partner ausgesteuert.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="prozessStarten" type="st:BooleanType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Soll der Prozess gestartet werden?</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CreateAdresseAenderungPartnerProcessResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response der Adresseänderung.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="adresseAenderungId" type="pi:WsAdresseAenderungIdType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Technische Id der erstellen Adresseänderung.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="businessProcessState" type="cp:BusinessProcessStateType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Status des gestarteten Prozesses.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="readProcessStateRequest" type="tns:ReadProcessStateRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, um den Status eines Prozesses abzufragen.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="readProcessStateResponse" type="tns:ReadProcessStateResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Status des Prozesses.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ReadProcessStateRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, um den Status eines Prozesses abzufragen.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="businessEventId" type="st:StringType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Business Event Id des Prozesses.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ReadProcessStateResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Status des Prozesses.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="businessProcessState" type="cp:BusinessProcessStateWithWaitStatesType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Status des Prozesses. Wenn der Prozess beendet ist, wird kein State geliefert.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="readProcessStateAdresseRequest" type="tns:ReadProcessStateAdresseRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, um den Status eines Prozesses zu einer Adresse abzufragen.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="readProcessStateAdresseResponse" type="tns:ReadProcessStateAdresseResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Status des Prozesses.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ReadProcessStateAdresseRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, um den Status eines Prozesses zu einer Adresse abzufragen.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="adresseId" type="pi:WsAdresseIdType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Id der Adresse.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ReadProcessStateAdresseResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Status des Prozesses.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="businessProcessState" type="cp:BusinessProcessStateWithWaitStatesType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Status des laufenden und aller Folgeprozesse. Falls kein laufender Prozess vorhanden ist, wird
                        kein Resultat geliefert.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="adresseAenderungProcessBearbeitenRequest" type="tns:AdresseAenderungProcessBearbeitenRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, um eine Adresseänderung zu aktualisieren.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="adresseAenderungProcessBearbeitenResponse" type="tns:AdresseAenderungProcessBearbeitenResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response mit den Prozessinformationen.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="AdresseAenderungProcessBearbeitenRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, um eine Adresseänderung zu aktualisieren.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:group ref="cp:GeneralProcessParams"/>
            <xsd:element name="id" type="pi:WsAdresseAenderungIdType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Technischer Schlüssel der Adressänderung.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="adresseId" type="pi:WsAdresseIdType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Technischer Schlüssel einer Domizil- oder Zusatzadresse.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="aenderungAb" type="st:LocalDateType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Bestimmt ab wann die Adressänderung gültig ist.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="adresseAenderung" type="tns:WsAdresseAenderungType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Enthält die Daten der Adresseänderung.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="gemeldetePartnerKeys" type="pi:WsPartnerIdType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Enthält die Liste der in der Adressänderung involvierten Partner (Umzugsmeldung).
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="isFamilienumzug" type="st:BooleanType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Handelt es sich um einen Familienumzug? Ohne angaben oder mit Nein wird bei Nichtübereinstimmung
                        der mitgegebenen Partnerschlüssel und der evaluierten Liste der involvierten Partner ausgesteuert.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="aufgabeId" type="pi:WsAufgabeIdType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">AufgabeId, falls ein konkreter Schritt (Aufgabe) abgeschlossen werden soll.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="prozessStarten" type="st:BooleanType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Soll der Prozess gestartet werden?</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="AdresseAenderungProcessBearbeitenResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response mit den Prozessinformationen.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="bearbeitenErfolgreich" type="st:BooleanType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Immer True, im Falle eines Fehlers wird eine Exception geworfen.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="adresseAenderungProcessAbbrechenRequest" type="tns:AdresseAenderungProcessAbbrechenRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, um eine Adresseänderung abzubrechen.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="adresseAenderungProcessAbbrechenResponse" type="tns:AdresseAenderungProcessAbbrechenResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response mit den Prozessinformationen.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="AdresseAenderungProcessAbbrechenRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, um eine Adresseänderung abzubrechen.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:group ref="cp:GeneralProcessParams"/>
            <xsd:element name="aufgabeId" type="pi:WsAufgabeIdType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Id, des konkreten Schritts (Aufgabe), der abgebrochen werden soll.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="AdresseAenderungProcessAbbrechenResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response mit den Prozessinformationen.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="abbrechenErfolgreich" type="st:BooleanType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Immer True, im Falle eines Fehlers wird eine Exception geworfen.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="adresseAenderungProcessBestaetigenRequest" type="tns:AdresseAenderungProcessBestaetigenRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, um eine Adresseänderung zu bestätigen.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="adresseAenderungProcessBestaetigenResponse" type="tns:AdresseAenderungProcessBestaetigenResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response mit den Prozessinformationen.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="AdresseAenderungProcessBestaetigenRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, um eine Adresseänderung zu bestätigen.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:group ref="cp:GeneralProcessParams"/>
            <xsd:element name="aufgabeId" type="pi:WsAufgabeIdType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Id, des konkreten Schritts (Aufgabe), der bestätigt werden soll.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="AdresseAenderungProcessBestaetigenResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response mit den Prozessinformationen.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="bestaetigungErfolgreich" type="st:BooleanType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Immer True, im Falle eines Fehlers wird eine Exception geworfen.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="createAdresseAenderungResponse" type="tns:CreateAdresseAenderungResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, um eine Adresseänderung zu erstellen.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="createAdresseAenderungRequest" type="tns:CreateAdresseAenderungRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response der Adresseänderung.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="rejectAdresseAenderungResponse" type="tns:RejectAdresseAenderungResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response der zurückzuweisenden Adresseänderung.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="rejectAdresseAenderungRequest" type="tns:RejectAdresseAenderungRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, um eine Adresseänderung zurückzuweisen.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="CreateAdresseAenderungRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, um eine Adresseänderung zu erstellen.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="adresseId" type="pi:WsAdresseIdType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Technischer Schlüssel einer Domizil- oder Zusatzadresse.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="aenderungAb" type="st:LocalDateType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Bestimmt ab wann die Adressänderung gültig ist. Ohne Angabe wird der Prozess ausgesteuert und der
                        Änderungszeitpunkt innerhalb des Prozesses ermittelt.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="adresseAenderung" type="tns:WsAdresseAenderungType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Enthält die Daten der Adresseänderung.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CreateAdresseAenderungResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response der Adresseänderung.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="adresseAenderungId" type="pi:WsAdresseAenderungIdType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Technische Id der erstellen Adresseänderung.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="RejectAdresseAenderungRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, um eine Adresseänderung zurückzuweisen.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="adresseAenderungId" type="pi:WsAdresseAenderungIdType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Technische Id der zurückzuweisenden Adresseänderung.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="begruendung" type="pc:WsAdrAendBegruendungCodeType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Begründung der Ablehnung.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="RejectAdresseAenderungResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response der Adresseänderung-Zurückweisung.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="zurueckweisenErfolgreich" type="st:BooleanType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Immer True, im Falle eines Fehlers wird eine Exception geworfen.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="WsAdresseAenderungType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Enthält die Daten einer Adresseänderung.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="bemerkungen" type="st:StringType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Bemerkung zu einer Adresse.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="hausId" type="st:StringType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Fachlicher Schlüssel auf die Hausnummer in den Adressstammdaten. HINWEIS: Überflüssiges Attribut,
                        wird in einer künftigen Version entfernt! Id wird ignoriert und in jedem Fall über die vorhandenen Stammdaten neu ermittelt.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="hausNrZusatz" type="st:StringType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Zusatz der Hausnummer.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="hausnummer" type="st:StringType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Hausnummer der Adresse.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="land" type="st:StringType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Land der Adresse.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="ort" type="st:StringType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Ort der Adresse.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="plz" type="st:StringType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Postleitzahl der Adresse.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="plzId" type="st:StringType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Fachlicher Schlüssel auf die Postleitzahl inkl. Zusatz in den Adressstammdaten. HINWEIS:
                        Überflüssiges Attribut, wird in einer künftigen Version entfernt! Id wird ignoriert und in jedem Fall über die vorhandenen
                        Stammdaten neu ermittelt.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="plzZusatz" type="st:StringType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Zusatz der Postleitzahl der Adresse.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="postfach" type="st:StringType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Postfach der Adresse.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="postfachOhneNr" type="pc:WsPostfachOhneNrCodeType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Bestimmt, ob es sich um eine Postfach-Adresse ohne Postfachnummer handelt.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="zusatz1VorStr" type="st:StringType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Adressezusatz1 welcher vor der Strasse steht.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="zusatz2VorStr" type="st:StringType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Adressezusatz2 welcher vor der Strasse steht.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="zusatz3VorStr" type="st:StringType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Adressezusatz3 welcher vor der Strasse steht.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="zusatz4VorStr" type="st:StringType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Adressezusatz4 welcher vor der Strasse steht.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="strasse" type="st:StringType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Strasse der Adresse.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="strasseId" type="st:StringType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Fachlicher Schlüssel auf die Strasse in den Adressstammdaten. HINWEIS: Überflüssiges Attribut,
                        wird in einer künftigen Version entfernt! Id wird ignoriert und in jedem Fall über die vorhandenen Stammdaten neu ermittelt.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="zusatz1NachStr" type="st:StringType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Adressezusatz1 welcher nach der Strasse steht.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="zusatz2NachStr" type="st:StringType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Adressezusatz2 welcher nach der Strasse steht.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="strasseNrReihenfolge" type="pc:WsStrasseNrReihenfolgeCodeType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Definiert, ob die Strasse vor der Nummer angezeigt werden soll oder umgekehrt.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="gemeindenummer" type="st:IntegerType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Gemeindenummer der Adresse.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="mutationsgrundId" type="pi:WsMutationsgrundIdType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Mutationsgrund der Adresse.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="kanton" type="pc:WsKantonCodeType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Kanton der Adresse.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="gemeindeKanton" type="pc:WsGemeindeKantonCodeType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Kanton der Gemeinde.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
