master-21371/apibridge-finanzwesen-suva_3.master.master-21371-12912/wsdl/com/adcubum/syrius/api/finanzwesen/fakturamgmt/data/zahlungsmitteldef/v1/ZahlungsmittelDefService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="ZahlungsmittelDefService"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="urn:com:adcubum:syrius:api:finanzwesen:fakturamgmt:data:zahlungsmitteldef:v1"
                  xmlns:tns="urn:com:adcubum:syrius:api:finanzwesen:fakturamgmt:data:zahlungsmitteldef:v1"
                  xmlns:pa="urn:com:adcubum:syrius:api:finanzwesen:fakturamgmt:data:zahlungsmitteldef:v1:schema"
                  xmlns:flt="urn:com:adcubum:syrius:api:common:faults:v1"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/">
    <wsdl:documentation>Version: 1.0.0</wsdl:documentation>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="urn:com:adcubum:syrius:api:finanzwesen:fakturamgmt:data:zahlungsmitteldef:v1:schema" schemaLocation="schema/ZahlungsmittelDefService.xsd"/>
            <xsd:import namespace="urn:com:adcubum:syrius:api:common:faults:v1" schemaLocation="../../../../../common/faults/v1/faults.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="ReadL10nAttributesZahlungsmittelDefRequestMessage">
        <wsdl:part name="Request" element="pa:readL10nAttributesZahlungsmittelDefRequest"/>
    </wsdl:message>
    <wsdl:message name="ReadL10nAttributesZahlungsmittelDefResponseMessage">
        <wsdl:part name="Response" element="pa:readL10nAttributesZahlungsmittelDefResponse"/>
    </wsdl:message>
    <wsdl:message name="SearchZahlungsmittelDefRequestMessage">
        <wsdl:part name="Request" element="pa:searchZahlungsmittelDefRequest"/>
    </wsdl:message>
    <wsdl:message name="SearchZahlungsmittelDefResponseMessage">
        <wsdl:part name="Response" element="pa:searchZahlungsmittelDefResponse"/>
    </wsdl:message>
    <wsdl:message name="GetZahlungsmittelDefRequestMessage">
        <wsdl:part name="Request" element="pa:getZahlungsmittelDefRequest"/>
    </wsdl:message>
    <wsdl:message name="GetZahlungsmittelDefResponseMessage">
        <wsdl:part name="Response" element="pa:getZahlungsmittelDefResponse"/>
    </wsdl:message>
    <wsdl:message name="ApiFaultMessage">
        <wsdl:part name="fault" element="flt:apiFaultInfo"/>
    </wsdl:message>
    <wsdl:portType name="ZahlungsmittelDefServicePortType">
        <wsdl:operation name="readL10nAttributesZahlungsmittelDef">
            <wsdl:documentation>Liefert für einen technischen ZahlungsmittelDef-Schlüssel die Bezeichnung der zugehörigen ZahlungsmittelDef zurück.</wsdl:documentation>
            <wsdl:input name="readL10nAttributesZahlungsmittelDefRequest" message="tns:ReadL10nAttributesZahlungsmittelDefRequestMessage"/>
            <wsdl:output name="readL10nAttributesZahlungsmittelDefResponse" message="tns:ReadL10nAttributesZahlungsmittelDefResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="searchZahlungsmittelDef">
            <wsdl:documentation>Liefert für einen technischen ZahlungsmittelDef-Schlüssel den zugehörigen fachlichen ZahlungsmittelDef-Schlüssel.</wsdl:documentation>
            <wsdl:input name="searchZahlungsmittelDefRequest" message="tns:SearchZahlungsmittelDefRequestMessage"/>
            <wsdl:output name="searchZahlungsmittelDefResponse" message="tns:SearchZahlungsmittelDefResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>        
        <wsdl:operation name="getZahlungsmittelDef">
            <wsdl:documentation>Liefert für einen fachlichen ZahlungsmittelDef-Schlüssel die Daten der zugehörigen ZahlungsmittelDefinition zurück..</wsdl:documentation>
            <wsdl:input name="getZahlungsmittelDefRequest" message="tns:GetZahlungsmittelDefRequestMessage"/>
            <wsdl:output name="getZahlungsmittelDefResponse" message="tns:GetZahlungsmittelDefResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ZahlungsmittelDefServiceBinding" type="tns:ZahlungsmittelDefServicePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="readL10nAttributesZahlungsmittelDef">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="readL10nAttributesZahlungsmittelDefRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="readL10nAttributesZahlungsmittelDefResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="searchZahlungsmittelDef">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="searchZahlungsmittelDefRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="searchZahlungsmittelDefResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getZahlungsmittelDef">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="getZahlungsmittelDefRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getZahlungsmittelDefResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ZahlungsmittelDefService_v1">
        <wsdl:port name="ZahlungsmittelDefService_v1" binding="tns:ZahlungsmittelDefServiceBinding">
            <soap:address location="https://example.com/apibridge-finanzwesen/ZahlungsmittelDefService_v1"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
