master-21371/apibridge-partnermgmt-suva_4.master.master-21371-14050/wsdl/com/adcubum/syrius/api/partnermgmt/partnerdatenverw/process/zahlungsverbindung/v1/schema/ZahlungsverbindungProcessService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:pi="urn:com:adcubum:syrius:api:partnermgmt:common:identifier:v1"
            xmlns:pt="urn:com:adcubum:syrius:api:partnermgmt:common:types:v1"
            xmlns:ct="urn:com:adcubum:syrius:api:common:types:v1"
            xmlns:st="urn:com:adcubum:syrius:api:common:simpleTypes:v1"
            xmlns:xt="urn:com:adcubum:syrius:api:common:externalTypes:v1"
            xmlns:pc="urn:com:adcubum:syrius:api:partnermgmt:common:codes:v1"
            xmlns:tns="urn:com:adcubum:syrius:api:partnermgmt:partnerdatenverw:process:zahlungsverbindung:v1:schema"
            elementFormDefault="qualified"
            targetNamespace="urn:com:adcubum:syrius:api:partnermgmt:partnerdatenverw:process:zahlungsverbindung:v1:schema"
            version="1.1.0">
    <xsd:import namespace="urn:com:adcubum:syrius:api:partnermgmt:common:codes:v1" schemaLocation="../../../../../common/codes/v1/codes.xsd"/>
    <xsd:import namespace="urn:com:adcubum:syrius:api:partnermgmt:common:identifier:v1" schemaLocation="../../../../../common/identifier/v1/identifier.xsd"/>
    <xsd:import namespace="urn:com:adcubum:syrius:api:partnermgmt:common:types:v1" schemaLocation="../../../../../common/types/v1/types.xsd"/>
    <xsd:import namespace="urn:com:adcubum:syrius:api:common:types:v1" schemaLocation="../../../../../../common/types/v1/types.xsd"/>
    <xsd:import namespace="urn:com:adcubum:syrius:api:common:simpleTypes:v1" schemaLocation="../../../../../../common/simpleTypes/v1/simpleTypes.xsd"/>
    <xsd:import namespace="urn:com:adcubum:syrius:api:common:externalTypes:v1" schemaLocation="../../../../../../common/externalTypes/v1/externalTypes.xsd"/>
    <xsd:element name="changeBankZahlungsverbindungResponse" type="tns:ChangeBankZahlungsverbindungResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response, um eine Bank-Zahlungsverbindung zu ändern.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="changeBankZahlungsverbindungRequest" type="tns:ChangeBankZahlungsverbindungRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request der Bank-Zahlungsverbindung.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="createBankZahlungsverbindungResponse" type="tns:ZahlungsverbindungCreateResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response, um eine neue Bank-Zahlungsverbindung zu erstellen.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="createBankZahlungsverbindungRequest" type="tns:CreateBankZahlungsverbindungRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request der Bank-Zahlungsverbindung.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="terminateBankZahlungsverbindungResponse" type="tns:TerminateBankZahlungsverbindungResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response, um eine Bank-Zahlungsverbindung zu terminieren.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="terminateBankZahlungsverbindungRequest" type="tns:TerminateBankZahlungsverbindungRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, um eine Bank-Zahlungsverbindung zu terminieren.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ChangeBankZahlungsverbindungRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, um eine Bank-Zahlungsverbindung zu ändern.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="bankZahlungsverbindung" type="tns:WsBankZahlungsverbindungType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Enthält die Daten der geänderten Bank-Zahlungsverbindung.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="id" type="pi:WsZahlungsverbindungIdType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Technischer Schlüssel einer Zahlungsverbindung.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="aenderungAb" type="xsd:date" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Bestimmt ab wann die Bank-Zahlungsverbindung geändert ist.</xsd:documentation>
                </xsd:annotation>
            </xsd:element> 
            <xsd:element name="aenderungBis" type="xsd:date" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Bestimmt bis wann die Bank-Zahlungsverbindung geändert ist.</xsd:documentation>
                </xsd:annotation>
            </xsd:element> 
        </xsd:sequence>
    </xsd:complexType>
        <xsd:complexType name="ChangeBankZahlungsverbindungResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response der Bank-Zahlungsverbindung.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="zahlungsverbindungId" type="pi:WsZahlungsverbindungIdType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Technische Id der geänderten Bank-Zahlungsverbindung.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CreateBankZahlungsverbindungRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, um eine Bank-Zahlungsverbindung zu erstellen.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="bankZahlungsverbindung" type="tns:WsBankZahlungsverbindungType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Enthält die Daten der neuen Bank-Zahlungsverbindung.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="partnerId" type="pi:WsPartnerIdType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Technischer Schlüssel des Partners, für welchen die Bank-Zahlungsverbindung erstellt wird.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="gueltigAb" type="xsd:date" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Bestimmt ab wann die Bank-Zahlungsverbindung gültig ist.</xsd:documentation>
                </xsd:annotation>
            </xsd:element> 
            <xsd:element name="gueltigBis" type="xsd:date" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Bestimmt bis wann die Bank-Zahlungsverbindung gültig ist.</xsd:documentation>
                </xsd:annotation>
            </xsd:element> 
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ZahlungsverbindungCreateResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response der Bank-Zahlungsverbindung.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="zahlungsverbindungId" type="pi:WsZahlungsverbindungIdType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Technische Id der erstellen Bank-Zahlungsverbindung.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="WsBankZahlungsverbindungType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Enthält die geänderte Bank-Zahlungsverbindung.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="bankId" type="pi:WsBankIdType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Fachlicher Schlüssel auf eine Bank..</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="waehrungId" type="pi:WsWaehrungIdType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Fachlicher Schlüssel auf eine Währung.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="iban" type="xt:IbanType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">IBAN-Nummer.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="kontoNr" type="st:StringType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Kontonummer.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="kontoInhaber" type="st:StringType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Inhaber des Kontos.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="einzugsermaechtigung" type="pc:WsEinzugsermaechtigungCodeType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Einzugsermächtigung.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="customAttribute" type="ct:WsCustomAttributeType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>Auflistung der im Objekt enthaltenen kundenspezifischen Attribute.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
			<xsd:element name="customerId" type="st:StringType" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">Customer-Id für BankingProvider.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="TerminateBankZahlungsverbindungRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response für das terminieren einer bestimmten Bank-Zahlungsverbindung.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="zahlungsverbindungId" type="pi:WsZahlungsverbindungIdType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Technische Id der zu terminierenden Zahlungsverbindung.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="beendigungsdatum" type="xsd:date" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Bestimmt per welchem Datum die Zahlungsverbindung terminiert wird.</xsd:documentation>
                </xsd:annotation>
            </xsd:element> 
        </xsd:sequence>
    </xsd:complexType>
     <xsd:complexType name="TerminateBankZahlungsverbindungResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response für das terminieren einer bestimmten Bank-Zahlungsverbindung.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="terminierenErfolgreich" type="st:BooleanType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Immer True, im Falle eines Fehlers wird eine Exception geworfen.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>