master-21371/apibridge-partnermgmt-suva_4.master.master-21371-14050/wsdl/com/adcubum/syrius/api/partnermgmt/partnerdatenverw/data/telefon/v1/TelefonService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="TelefonService"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="urn:com:adcubum:syrius:api:partnermgmt:partnerdatenverw:data:telefon:v1"
                  xmlns:tns="urn:com:adcubum:syrius:api:partnermgmt:partnerdatenverw:data:telefon:v1"
                  xmlns:pa="urn:com:adcubum:syrius:api:partnermgmt:partnerdatenverw:data:telefon:v1:schema"
                  xmlns:flt="urn:com:adcubum:syrius:api:common:faults:v1"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/">
    <wsdl:documentation>Version: 1.0.0</wsdl:documentation>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="urn:com:adcubum:syrius:api:partnermgmt:partnerdatenverw:data:telefon:v1:schema" schemaLocation="schema/TelefonService.xsd"/>
            <xsd:import namespace="urn:com:adcubum:syrius:api:common:faults:v1" schemaLocation="../../../../../common/faults/v1/faults.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="GetTelefonRequestMessage">
        <wsdl:part name="Request" element="pa:getTelefonRequest"/>
    </wsdl:message>
    <wsdl:message name="GetTelefonResponseMessage">
        <wsdl:part name="Response" element="pa:getTelefonResponse"/>
    </wsdl:message>
    <wsdl:message name="GetPartnerTelefonRequestMessage">
        <wsdl:part name="Request" element="pa:getPartnerTelefonRequest"/>
    </wsdl:message>
    <wsdl:message name="GetPartnerTelefonResponseMessage">
        <wsdl:part name="Response" element="pa:getPartnerTelefonResponse"/>
    </wsdl:message>
    <wsdl:message name="GetAdresseTelefonRequestMessage">
        <wsdl:part name="Request" element="pa:getAdresseTelefonRequest"/>
    </wsdl:message>
    <wsdl:message name="GetAdresseTelefonResponseMessage">
        <wsdl:part name="Response" element="pa:getAdresseTelefonResponse"/>
    </wsdl:message>
    <wsdl:message name="GetLeistungserbringerTelefonRequestMessage">
        <wsdl:part name="Request" element="pa:getLeistungserbringerTelefonRequest"/>
    </wsdl:message>
    <wsdl:message name="GetLeistungserbringerTelefonResponseMessage">
        <wsdl:part name="Response" element="pa:getLeistungserbringerTelefonResponse"/>
    </wsdl:message>
    <wsdl:message name="GetOrganisationseinheitTelefonRequestMessage">
        <wsdl:part name="Request" element="pa:getOrganisationseinheitTelefonRequest"/>
    </wsdl:message>
    <wsdl:message name="GetOrganisationseinheitTelefonResponseMessage">
        <wsdl:part name="Response" element="pa:getOrganisationseinheitTelefonResponse"/>
    </wsdl:message>
    <wsdl:message name="ApiFaultMessage">
        <wsdl:part name="fault" element="flt:apiFaultInfo"/>
    </wsdl:message>
    <wsdl:portType name="TelefonServicePortType">
        <wsdl:operation name="getTelefon">
            <wsdl:documentation>Liefert für einen technischen Telefonschlüssel die Daten der zugehörigen Telefonnummer.</wsdl:documentation>
            <wsdl:input name="getTelefonRequest" message="tns:GetTelefonRequestMessage"/>
            <wsdl:output name="getTelefonResponse" message="tns:GetTelefonResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="getPartnerTelefon">
            <wsdl:documentation>Liefert für einen technischen Partnerschlüssel die Daten der dazugehörenden Telefonnummern.</wsdl:documentation>
            <wsdl:input name="getPartnerTelefonRequest" message="tns:GetPartnerTelefonRequestMessage"/>
            <wsdl:output name="getPartnerTelefonResponse" message="tns:GetPartnerTelefonResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="getAdresseTelefon">
            <wsdl:documentation>Liefert für einen technischen Adressschlüssel die Daten aller dazugehörenden Telefonnummern.</wsdl:documentation>
            <wsdl:input name="getAdresseTelefonRequest" message="tns:GetAdresseTelefonRequestMessage"/>
            <wsdl:output name="getAdresseTelefonResponse" message="tns:GetAdresseTelefonResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="getLeistungserbringerTelefon">
            <wsdl:documentation>Liefert für einen technischen Leistungserbringerschlüssel die Daten der dazugehörenden Telefonnummern.</wsdl:documentation>
            <wsdl:input name="getLeistungserbringerTelefonRequest" message="tns:GetLeistungserbringerTelefonRequestMessage"/>
            <wsdl:output name="getLeistungserbringerTelefonResponse" message="tns:GetLeistungserbringerTelefonResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="getOrganisationseinheitTelefon">
            <wsdl:documentation>Liefert für einen technischen Organisationseinheitschlüssel die Daten der dazugehörenden Telefonnummern.</wsdl:documentation>
            <wsdl:input name="getOrganisationseinheitTelefonRequest" message="tns:GetOrganisationseinheitTelefonRequestMessage"/>
            <wsdl:output name="getOrganisationseinheitTelefonResponse" message="tns:GetOrganisationseinheitTelefonResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="TelefonServiceBinding" type="tns:TelefonServicePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getTelefon">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="getTelefonRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getTelefonResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getPartnerTelefon">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="getPartnerTelefonRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getPartnerTelefonResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAdresseTelefon">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="getAdresseTelefonRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getAdresseTelefonResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getLeistungserbringerTelefon">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="getLeistungserbringerTelefonRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getLeistungserbringerTelefonResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getOrganisationseinheitTelefon">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="getOrganisationseinheitTelefonRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getOrganisationseinheitTelefonResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="TelefonService_v1">
        <wsdl:port name="TelefonService_v1" binding="tns:TelefonServiceBinding">
            <soap:address location="https://example.com/apibridge-partnermgmt/TelefonService_v1"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
