master-21371/apibridge-recordsmgmt-suva_4.master.master-21371-13413/wsdl/com/adcubum/syrius/api/recordsmgmt/data/journal/v1/JournalService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="JournalService"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="urn:com:adcubum:syrius:api:recordsmgmt:data:journal:v1"
                  xmlns:tns="urn:com:adcubum:syrius:api:recordsmgmt:data:journal:v1"
                  xmlns:pa="urn:com:adcubum:syrius:api:recordsmgmt:data:journal:v1:schema"
                  xmlns:flt="urn:com:adcubum:syrius:api:common:faults:v1"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/">
    <wsdl:documentation>Version: 1.0.0</wsdl:documentation>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="urn:com:adcubum:syrius:api:recordsmgmt:data:journal:v1:schema" schemaLocation="schema/JournalService.xsd"/>
            <xsd:import namespace="urn:com:adcubum:syrius:api:common:faults:v1" schemaLocation="../../../../common/faults/v1/faults.xsd"/>
        </xsd:schema>
    </wsdl:types>
    
    <!-- Journal lesen -->
    <wsdl:message name="GetJournalRequestMessage">
        <wsdl:part name="Request" element="pa:getJournalRequest"/>
    </wsdl:message>
    <wsdl:message name="GetJournalResponseMessage">
        <wsdl:part name="Response" element="pa:getJournalResponse"/>
    </wsdl:message>

    <!-- Journal Liste lesen -->
    <wsdl:message name="GetJournalsForPartnerRequestMessage">
        <wsdl:part name="Request" element="pa:getJournalsForPartnerRequest"/>
    </wsdl:message>
    <wsdl:message name="GetJournalsForPartnerResponseMessage">
        <wsdl:part name="Response" element="pa:getJournalsForPartnerResponse"/>
    </wsdl:message>
    
    <!-- JournalId zu JournalNr ermitteln -->
    <wsdl:message name="GetJournalIdsForJournalNumbersRequestMessage">
        <wsdl:part name="Request" element="pa:getJournalIdsForJournalNumbersRequest"/>
    </wsdl:message>
    <wsdl:message name="GetJournalIdsForJournalNumbersResponseMessage">
        <wsdl:part name="Response" element="pa:getJournalIdsForJournalNumbersResponse"/>
    </wsdl:message>
    
    <wsdl:message name="ApiFaultMessage">
        <wsdl:part name="fault" element="flt:apiFaultInfo"/>
    </wsdl:message>
    
    <wsdl:portType name="JournalServicePortType">
        <!-- Journal lesen -->
        <wsdl:operation name="getJournal">
            <wsdl:documentation>Liefert für einen technischen Journalschlüssel die Stammdaten des zugehörigen Journals.</wsdl:documentation>
            <wsdl:input name="getJournalRequest" message="tns:GetJournalRequestMessage"/>
            <wsdl:output name="getJournalResponse" message="tns:GetJournalResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
        
        <!-- Journal List lesen -->
        <wsdl:operation name="getJournalsForPartner">
            <wsdl:documentation>Liefert eine Liste mit Journalen die die gewünschten Suchkriterien erfüllen.</wsdl:documentation>
            <wsdl:input name="getJournalsForPartnerRequest" message="tns:GetJournalsForPartnerRequestMessage"/>
            <wsdl:output name="getJournalsForPartnerResponse" message="tns:GetJournalsForPartnerResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
        
        <!-- JournalId zu JournalNr ermitteln -->
        <wsdl:operation name="getJournalIdsForJournalNumbers">
            <wsdl:documentation>Liefert JournalId zu der Journal-Nummer (Fachschluessel).</wsdl:documentation>
            <wsdl:input name="getJournalIdsForJournalNumbersRequest" message="tns:GetJournalIdsForJournalNumbersRequestMessage"/>
            <wsdl:output name="getJournalIdsForJournalNumbersResponse" message="tns:GetJournalIdsForJournalNumbersResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="JournalServiceBinding" type="tns:JournalServicePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <!--  Journal lesen -->
        <wsdl:operation name="getJournal">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="getJournalRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getJournalResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        
        <!--  Journal Liste lesen  -->
        <wsdl:operation name="getJournalsForPartner">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="getJournalsForPartnerRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getJournalsForPartnerResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        
        <!-- JournalId zu JournalNr ermitteln -->
        <wsdl:operation name="getJournalIdsForJournalNumbers">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="getJournalIdsForJournalNumbersRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getJournalIdsForJournalNumbersResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="JournalService_v1">
        <wsdl:port name="JournalService_v1" binding="tns:JournalServiceBinding">
            <soap:address location="https://example.com/apibridge-recordsmgmt/JournalService_v1"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>