master-21371/apibridge-bestandsverw-suva_3.master.master-21371-13979/wsdl/com/adcubum/syrius/api/bestandsverw/vertragsverw/process/grundversicherungsproduktprocess/v1/GrundversicherungsproduktProcessService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="GrundversicherungsproduktProcessService"
                  targetNamespace="urn:com:adcubum:syrius:api:bestandsverw:vertragsverw:process:grundversicherungsproduktprocess:v1"
                  xmlns:tns="urn:com:adcubum:syrius:api:bestandsverw:vertragsverw:process:grundversicherungsproduktprocess:v1"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:flt="urn:com:adcubum:syrius:api:common:faults:v1"
                  xmlns:pa="urn:com:adcubum:syrius:api:bestandsverw:vertragsverw:process:grundversicherungsproduktprocess:v1:schema">

    <wsdl:documentation>
    	Version: 1.1.0
    </wsdl:documentation>

    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="urn:com:adcubum:syrius:api:common:faults:v1" schemaLocation="../../../../../common/faults/v1/faults.xsd"/>
            <xsd:import namespace="urn:com:adcubum:syrius:api:bestandsverw:vertragsverw:process:grundversicherungsproduktprocess:v1:schema" 
                        schemaLocation="schema/GrundversicherungsproduktProcessService.xsd"/>
        </xsd:schema>
    </wsdl:types>
    
    <wsdl:message name="CalculateVertragsproduktForHausarztRequestMessage">
        <wsdl:part name="Request" element="pa:calculateVertragsproduktForHausarztRequest"/>
    </wsdl:message>
    <wsdl:message name="CalculateVertragsproduktForHausarztResponseMessage">
        <wsdl:part name="Response" element="pa:calculateVertragsproduktForHausarztResponse"/>
    </wsdl:message>
    <wsdl:message name="ChangeVertragsproduktForHausarztRequestMessage">
        <wsdl:part name="Request" element="pa:changeVertragsproduktForHausarztRequest"/>
    </wsdl:message>
    <wsdl:message name="ChangeVertragsproduktForHausarztResponseMessage">
        <wsdl:part name="Response" element="pa:changeVertragsproduktForHausarztResponse"/>
    </wsdl:message>
    <wsdl:message name="ApiFaultMessage">
        <wsdl:part name="fault" element="flt:apiFaultInfo"/>
    </wsdl:message>
    
    <wsdl:portType name="GrundversicherungsproduktProcessServicePortType">
        <wsdl:operation name="calculateVertragsproduktForHausarzt">
            <wsdl:documentation>Berechnet ein Vertragsprodukt nach der Änderung des Hausarztes.
            Optional kann dabei auch das HMO-Modell, und der Hausarzt-Übersteuern-Code geändert werden.</wsdl:documentation>
            <wsdl:input name="calculateVertragsproduktForHausarztRequest" message="tns:CalculateVertragsproduktForHausarztRequestMessage"/>
            <wsdl:output name="calculateVertragsproduktForHausarztResponse" message="tns:CalculateVertragsproduktForHausarztResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
        
        <wsdl:operation name="changeVertragsproduktForHausarzt">
            <wsdl:documentation>Ändert ein Vertragsprodukt nach der Änderung des Hausarztes.
            Optional kann dabei auch das HMO-Modell, und der Hausarzt-Übersteuern-Code geändert werden.</wsdl:documentation>
            <wsdl:input name="changeVertragsproduktForHausarztRequest" message="tns:ChangeVertragsproduktForHausarztRequestMessage"/>
            <wsdl:output name="changeVertragsproduktForHausarztResponse" message="tns:ChangeVertragsproduktForHausarztResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    
    <wsdl:binding name="GrundversicherungsproduktProcessServiceBinding" type="tns:GrundversicherungsproduktProcessServicePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="calculateVertragsproduktForHausarzt">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="calculateVertragsproduktForHausarztRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="calculateVertragsproduktForHausarztResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="changeVertragsproduktForHausarzt">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="changeVertragsproduktForHausarztRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="changeVertragsproduktForHausarztResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    
    <wsdl:service name="GrundversicherungsproduktProcessService_v1">
        <wsdl:port name="GrundversicherungsproduktProcessService_v1" binding="tns:GrundversicherungsproduktProcessServiceBinding">
            <soap:address location="https://example.com/apibridge-bestandsverw/GrundversicherungsproduktProcessService_v1"/>
        </wsdl:port>
    </wsdl:service>
    
</wsdl:definitions>