master-21371/apibridge-unternehmensorg-suva_5.master.master-21371-13184/wsdl/com/adcubum/syrius/api/unternehmensorg/geschaeftsprozessmgmt/data/aufgabe/v2/AufgabeService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="AufgabeService"
        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        targetNamespace="urn:com:adcubum:syrius:api:unternehmensorg:geschaeftsprozessmgmt:data:aufgabe:v2" 
        xmlns:tns="urn:com:adcubum:syrius:api:unternehmensorg:geschaeftsprozessmgmt:data:aufgabe:v2" 
        xmlns:pa="urn:com:adcubum:syrius:api:unternehmensorg:geschaeftsprozessmgmt:data:aufgabe:v2:schema" 
        xmlns:flt="urn:com:adcubum:syrius:api:common:faults:v1"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <wsdl:documentation>Version: 2.0.0</wsdl:documentation>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="urn:com:adcubum:syrius:api:unternehmensorg:geschaeftsprozessmgmt:data:aufgabe:v2:schema" schemaLocation="schema/AufgabeService.xsd" />
            <xsd:import namespace="urn:com:adcubum:syrius:api:common:faults:v1" schemaLocation="../../../../../common/faults/v1/faults.xsd" />
        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="GetAufgabeRequestMessage">
        <wsdl:part name="request" element="pa:getAufgabeRequest" />
    </wsdl:message>
    <wsdl:message name="GetAufgabeResponseMessage">
        <wsdl:part name="response" element="pa:getAufgabeResponse" />
    </wsdl:message>
    <wsdl:message name="GetAufgabenschrittRequestMessage">
        <wsdl:part name="request" element="pa:getAufgabenschrittRequest" />
    </wsdl:message>
    <wsdl:message name="GetAufgabenschrittResponseMessage">
        <wsdl:part name="response" element="pa:getAufgabenschrittResponse" />
    </wsdl:message>
    <wsdl:message name="SearchAufgabeRequestMessage">
        <wsdl:part name="request" element="pa:searchAufgabeRequest" />
    </wsdl:message>
    <wsdl:message name="SearchAufgabeResponseMessage">
        <wsdl:part name="response" element="pa:searchAufgabeResponse" />
    </wsdl:message>
    <wsdl:message name="SearchAufgabenschrittRequestMessage">
        <wsdl:part name="request" element="pa:searchAufgabenschrittRequest" />
    </wsdl:message>
    <wsdl:message name="SearchAufgabenschrittResponseMessage">
        <wsdl:part name="response" element="pa:searchAufgabenschrittResponse" />
    </wsdl:message>
    <wsdl:message name="ApiFaultMessage">
        <wsdl:part name="fault" element="flt:apiFaultInfo" />
    </wsdl:message>

    <wsdl:portType name="AufgabeServicePortType">
        <wsdl:operation name="getAufgabe">
            <wsdl:documentation>Ermittelt eine Aufgabe.</wsdl:documentation>
            <wsdl:input name="getAufgabeRequest" message="tns:GetAufgabeRequestMessage" />
            <wsdl:output name="getAufgabeResponse" message="tns:GetAufgabeResponseMessage" />
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage" />
        </wsdl:operation>
        <wsdl:operation name="getAufgabenschritt">
            <wsdl:documentation>Ermittelt ein Aufgabenschritt.</wsdl:documentation>
            <wsdl:input name="getAufgabenschrittRequest" message="tns:GetAufgabenschrittRequestMessage" />
            <wsdl:output name="getAufgabenschrittResponse" message="tns:GetAufgabenschrittResponseMessage" />
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage" />
        </wsdl:operation>
        <wsdl:operation name="searchAufgabe">
            <wsdl:documentation>Ermittelt eine Liste von Aufgaben-Schlüssel.</wsdl:documentation>
            <wsdl:input name="searchAufgabeRequest" message="tns:SearchAufgabeRequestMessage" />
            <wsdl:output name="searchAufgabeResponse" message="tns:SearchAufgabeResponseMessage" />
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage" />
        </wsdl:operation>
        <wsdl:operation name="searchAufgabenschritt">
            <wsdl:documentation>Ermittelt eine Liste von Aufgabenschritte-Schlüssel.</wsdl:documentation>
            <wsdl:input name="searchAufgabenschrittRequest" message="tns:SearchAufgabenschrittRequestMessage" />
            <wsdl:output name="searchAufgabenschrittResponse" message="tns:SearchAufgabenschrittResponseMessage" />
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage" />
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="AufgabeServiceBinding" type="tns:AufgabeServicePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="getAufgabe">
            <soap:operation soapAction="" style="document" />
            <wsdl:input name="getAufgabeRequest">
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="getAufgabeResponse">
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAufgabenschritt">
            <soap:operation soapAction="" style="document" />
            <wsdl:input name="getAufgabenschrittRequest">
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="getAufgabenschrittResponse">
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="searchAufgabe">
            <soap:operation soapAction="" style="document" />
            <wsdl:input name="searchAufgabeRequest">
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="searchAufgabeResponse">
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="searchAufgabenschritt">
            <soap:operation soapAction="" style="document" />
            <wsdl:input name="searchAufgabenschrittRequest">
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="searchAufgabenschrittResponse">
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal" />
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="AufgabeService_v2">
        <wsdl:port name="AufgabeService_v2" binding="tns:AufgabeServiceBinding">
            <soap:address location="https://example.com/apibridge-unternehmensorg/AufgabeService_v2" />
        </wsdl:port>
    </wsdl:service>
    
</wsdl:definitions>
