master-21371/apibridge-partnermgmt-suva_4.master.master-21371-14050/wsdl/com/adcubum/syrius/api/partnermgmt/partnerdatenverw/data/telefonbereichdef/v1/schema/TelefonBereichDefService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:pi="urn:com:adcubum:syrius:api:partnermgmt:common:identifier:v1"
            xmlns:pt="urn:com:adcubum:syrius:api:partnermgmt:common:types:v1"
            xmlns:ct="urn:com:adcubum:syrius:api:common:types:v1"
            xmlns:st="urn:com:adcubum:syrius:api:common:simpleTypes:v1"
            xmlns:syrtype="urn:com:adcubum:syrius:api:common:syriusTypes:v1"
            xmlns:pc="urn:com:adcubum:syrius:api:partnermgmt:common:codes:v1"
            xmlns:tns="urn:com:adcubum:syrius:api:partnermgmt:partnerdatenverw:data:telefonbereichdef:v1:schema"
            elementFormDefault="qualified"
            targetNamespace="urn:com:adcubum:syrius:api:partnermgmt:partnerdatenverw:data:telefonbereichdef:v1:schema"
            version="1.0.0">
    <xsd:import namespace="urn:com:adcubum:syrius:api:partnermgmt:common:codes:v1" schemaLocation="../../../../../common/codes/v1/codes.xsd"/>
    <xsd:import namespace="urn:com:adcubum:syrius:api:partnermgmt:common:identifier:v1" schemaLocation="../../../../../common/identifier/v1/identifier.xsd"/>
    <xsd:import namespace="urn:com:adcubum:syrius:api:partnermgmt:common:types:v1" schemaLocation="../../../../../common/types/v1/types.xsd"/>
    <xsd:import namespace="urn:com:adcubum:syrius:api:common:syriusTypes:v1" schemaLocation="../../../../../../common/syriusTypes/v1/syriusTypes.xsd" />
    <xsd:import namespace="urn:com:adcubum:syrius:api:common:types:v1" schemaLocation="../../../../../../common/types/v1/types.xsd"/>
    <xsd:import namespace="urn:com:adcubum:syrius:api:common:simpleTypes:v1" schemaLocation="../../../../../../common/simpleTypes/v1/simpleTypes.xsd"/>
    <xsd:element name="getTelefonBereichDefRequest" type="tns:GetTelefonBereichDefRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, mit dem die Telefonbereich-Definitionen geladen werden.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="getTelefonBereichDefResponse" type="tns:GetTelefonBereichDefResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response, der die geladenen Telefonbereich-Definitionen enthält.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="getAllTelefonBereichDefRequest" type="tns:GetAllTelefonBereichDefRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request um alle Telefonbereich-Definition zu laden.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="getAllTelefonBereichDefResponse" type="tns:GetAllTelefonBereichDefResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response, der die geladenen Telefonbereich-Definition enthält.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="readAllL10nAttributesTelefonBereichDefRequest" type="tns:ReadAllL10nAttributesTelefonBereichDefRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, um die lokalisierten Informationen aller Telefonbereich-Definition zu laden.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="readAllL10nAttributesTelefonBereichDefResponse" type="tns:ReadAllL10nAttributesTelefonBereichDefResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response mit den lokalisierten Informationen aller Telefonbereich-Definition.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="readL10nAttributesTelefonBereichDefRequest" type="tns:ReadL10nAttributesTelefonBereichDefRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, um die lokalisierten Informationen einer Telefonbereich-Definition zu laden.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="readL10nAttributesTelefonBereichDefResponse" type="tns:ReadL10nAttributesTelefonBereichDefResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response mit den lokalisierten Informationen der Telefonbereich-Definition.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="GetTelefonBereichDefRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, mit dem die Telefonbereich-Definitionen geladen werden.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="telefonBereichDefId" type="pi:WsTelefonBereichDefIdType" minOccurs="1" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Technischer Schlüssel einer Telefonbereich-Definition.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="syrtype:stichtagStrictOrNextBest">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">Fachlicher Zeitpunkt.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="GetTelefonBereichDefResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response, der die geladenen Telefonbereich-Definitionen enthält.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="telefonBereichDef" type="tns:WsTelefonBereichDefType" minOccurs="1" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Enthält eine Liste mit den geladenen Telefonbereich-Definitionen.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="GetAllTelefonBereichDefRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request um alle Telefonbereich-Definitionen zu laden.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element ref="syrtype:stichtagStrictOrNextBest">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">Fachlicher Zeitpunkt.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="GetAllTelefonBereichDefResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response, der die geladenen Telefonbereich-Definitionen enthält.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="telefonBereichDef" type="tns:WsTelefonBereichDefType" minOccurs="1" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Enthält eine Liste mit den geladenen Telefonbereich-Definitionen.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ReadL10nAttributesTelefonBereichDefRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, um die lokalisierten Informationen einer Telefonbereich-Definition zu laden.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="telefonBereichDefId" type="pi:WsTelefonBereichDefIdType" minOccurs="1" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Technischer Schlüssel einer Telefonbereich-Definition.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="locale" type="xsd:language" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Local mit welcher die korrekte Sprache ermittelt wird.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="syrtype:stichtagStrictOrNextBest">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">Fachlicher Zeitpunkt.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ReadL10nAttributesTelefonBereichDefResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response mit den lokalisierten Informationen der Telefonbereich-Definition.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="localizedAttrs" type="tns:WsL10nAttributesTelefonBereichDefType" minOccurs="1" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Übersetzter Text einer Telefonbereich-Definition.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ReadAllL10nAttributesTelefonBereichDefRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, um die lokalisierten Informationen aller Telefonbereich-Definitionen zu laden.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="locale" type="xsd:language" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Local mit welcher die korrekte Sprache ermittelt wird.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="syrtype:stichtagStrictOrNextBest">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">Fachlicher Zeitpunkt.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ReadAllL10nAttributesTelefonBereichDefResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response mit den lokalisierten Informationen aller Telefonbereich-Definition.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="localizedAttrs" type="tns:WsL10nAttributesTelefonBereichDefType" minOccurs="1" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Übersetzter Text einer Telefonbereich-Definition.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="WsL10nAttributesTelefonBereichDefType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response mit den lokalisierten Informationen aller Telefonbereich-Definitionen.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="telefonBereichDefId" type="pi:WsTelefonBereichDefIdType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Technischer Schlüssel der Telefonbereich-Definition.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="bezeichnung" type="ct:WsLocalizedTextType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Lokalisierte Bezeichnung der Telefonbereich-Definition.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="WsTelefonBereichDefType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Enthält die Daten einer Telefonbereich-Definition.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ct:WsHistObjectType">
                <xsd:sequence>
                    <xsd:element name="id" type="pi:WsTelefonBereichDefIdType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Technischer Schlüssel einer Telefonbereich-Definition.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="mehrfachverwendung" type="st:BooleanType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Bestimmt, ob es von dieser Definition mehrere Objekte geben darf.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="definitionsname" type="st:StringType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Fachlicher Schlüssel dieser Definition.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="sequenz" type="st:IntegerType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Die Sortierungssequenz der Definition.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
</xsd:schema>
