master-21371/apibridge-partnermgmt-suva_4.master.master-21371-14050/wsdl/com/adcubum/syrius/api/partnermgmt/partnerdatenverw/process/telefon/v1/schema/TelefonProcessService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:pi="urn:com:adcubum:syrius:api:partnermgmt:common:identifier:v1"
            xmlns:pt="urn:com:adcubum:syrius:api:partnermgmt:common:types:v1"
            xmlns:ct="urn:com:adcubum:syrius:api:common:types:v1"
            xmlns:st="urn:com:adcubum:syrius:api:common:simpleTypes:v1"
            xmlns:pc="urn:com:adcubum:syrius:api:partnermgmt:common:codes:v1"
            xmlns:tns="urn:com:adcubum:syrius:api:partnermgmt:partnerdatenverw:process:telefon:v1:schema"
            elementFormDefault="qualified"
            targetNamespace="urn:com:adcubum:syrius:api:partnermgmt:partnerdatenverw:process:telefon:v1:schema"
            version="1.3.0">
    <xsd:import namespace="urn:com:adcubum:syrius:api:partnermgmt:common:codes:v1" schemaLocation="../../../../../common/codes/v1/codes.xsd"/>
    <xsd:import namespace="urn:com:adcubum:syrius:api:partnermgmt:common:identifier:v1" schemaLocation="../../../../../common/identifier/v1/identifier.xsd"/>
    <xsd:import namespace="urn:com:adcubum:syrius:api:partnermgmt:common:types:v1" schemaLocation="../../../../../common/types/v1/types.xsd"/>
    <xsd:import namespace="urn:com:adcubum:syrius:api:common:types:v1" schemaLocation="../../../../../../common/types/v1/types.xsd"/>
    <xsd:import namespace="urn:com:adcubum:syrius:api:common:simpleTypes:v1" schemaLocation="../../../../../../common/simpleTypes/v1/simpleTypes.xsd"/>
    <xsd:element name="createTelefonForPartnerResponse" type="tns:CreateTelefonForPartnerResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response, um eine neue Telefonnummer zu erstellen.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="createTelefonForPartnerRequest" type="tns:CreateTelefonForPartnerRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request der Telefonnummer Create.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="changeTelefonResponse" type="tns:ChangeTelefonResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response, um eine Telefonnummer zu ändern.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="changeTelefonRequest" type="tns:ChangeTelefonRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request der Telefonnummer Change.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="changeTelefonGueltigkeitRequest" type="tns:ChangeTelefonGueltigkeitRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, um die Gültigkeit einer Telefonnummer zu ändern.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="changeTelefonGueltigkeitResponse" type="tns:ChangeTelefonGueltigkeitResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response, um die Gültigkeit einer Telefonnummer zu ändern.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="terminateTelefonRequest" type="tns:TerminateTelefonRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, um eine Telefonnummer zu terminieren.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="terminateTelefonResponse" type="tns:TerminateTelefonResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response, um eine Telefonnummer zu terminieren.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="CreateTelefonForPartnerRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, um eine neue Telefonnummer zu erstellen.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="telefon" type="tns:WsTelefonType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Enthält die Daten der neuen Telefonnummer.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="partnerId" type="pi:WsPartnerIdType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Technischer Schlüssel des Partners, für welchen die Telefonnummer erstellt wird.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="gueltigAb" type="xsd:date" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Bestimmt ab wann die Telefonnummer gültig ist.</xsd:documentation>
                </xsd:annotation>
            </xsd:element> 
            <xsd:element name="gueltigBis" type="xsd:date" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Bestimmt bis wann die Telefonnummer gültig ist.</xsd:documentation>
                </xsd:annotation>
            </xsd:element> 
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CreateTelefonForPartnerResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response der Telefonnummer Create.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="telefonId" type="pi:WsTelefonIdType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Technische Id der erstellen Telefonnummer.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ChangeTelefonRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, um eine Telefonnummer zu ändern.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="telefon" type="tns:WsTelefonType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Enthält die Daten der geänderten Telefonnummer.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="id" type="pi:WsTelefonIdType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Technischer Schlüssel der zu ändernden Telefonnummer.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="aenderungAb" type="xsd:date" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Bestimmt ab wann die geänderte Telefonnummer gültig ist.</xsd:documentation>
                </xsd:annotation>
            </xsd:element> 
            <xsd:element name="aenderungBis" type="xsd:date" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Bestimmt bis wann die geänderte Telefonnummer gültig ist.</xsd:documentation>
                </xsd:annotation>
            </xsd:element> 
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ChangeTelefonResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response der Telefonnummer Change.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="telefonId" type="pi:WsTelefonIdType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Technische Id der geänderten Telefonnummer.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ChangeTelefonGueltigkeitRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, um die Gültigkeit einer Telefonnummer zu ändern.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="telefonId" type="pi:WsTelefonIdType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Technische Id der erstellten Telefonnummer.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="mutationsgrundId" type="pi:WsMutationsgrundIdType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Technische Id des verwendeten Mutationsgrunds.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="gueltigAb" type="xsd:date" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Bestimmt ab wann die neue Gültigkeit ist.</xsd:documentation>
                </xsd:annotation>
            </xsd:element> 
            <xsd:element name="gueltigBis" type="xsd:date" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Bestimmt bis wann die neue Gültigkeit ist.</xsd:documentation>
                </xsd:annotation>
            </xsd:element> 
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ChangeTelefonGueltigkeitResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response für das Ändern der Gültigkeit einer bestimmten Telefonnummer.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="aendernErfolgreich" type="st:BooleanType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Immer True, im Falle eines Fehlers wird eine Exception geworfen.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="TerminateTelefonRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, um eine Telefonnummer zu terminieren.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="telefonId" type="pi:WsTelefonIdType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Technische Id der zu terminierenden Telefonnummer.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="mutationsgrundId" type="pi:WsMutationsgrundIdType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Technische Id des verwendeten Mutationsgrunds.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="beendigungsdatum" type="xsd:date" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Bestimmt per welchem Datum die Telefonnummer terminiert wird.</xsd:documentation>
                </xsd:annotation>
            </xsd:element> 
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="TerminateTelefonResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response für das terminieren einer bestimmten Telefonnummer.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="terminierenErfolgreich" type="st:BooleanType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Immer True, im Falle eines Fehlers wird eine Exception geworfen.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="WsTelefonType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Enthält die Daten einer Telefonnummer.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="telefonDefId" type="pi:WsTelefonDefIdType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Technischer Schlüssel der Telefonnummer-Definition.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="mutationsgrundId" type="pi:WsMutationsgrundIdType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Mutationsgrund der Änderung, z.B Neuerfassung, Adressänderung, Mutation, usw.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="isDefStandard" type="st:BooleanType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Standard-Telefonnummer der Definition.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="isStandard" type="st:BooleanType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Standard-Telefonnummer, unabhängig von der Definition.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="telefonNummer" type="st:StringType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Die Telefonnummer inkl. internationaler Vorwahl.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="telefonArt" type="pt:WsTelefonArtType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Die Art des Telefons (Telefon, Mobile oder Fax). HINWEIS: Überflüssiges Attribut, wird in einer künftigen Version entfernt! Art ergibt sich über die gewählte Definition.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
