master-21371/apibridge-partnermgmt-suva_4.master.master-21371-14050/wsdl/com/adcubum/syrius/api/partnermgmt/partnerdatenverw/data/partnerenvironment/v1/schema/PartnerEnvironmentService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:pi="urn:com:adcubum:syrius:api:partnermgmt:common:identifier:v1"
            xmlns:pt="urn:com:adcubum:syrius:api:partnermgmt:common:types:v1"
            xmlns:ct="urn:com:adcubum:syrius:api:common:types:v1"
            xmlns:st="urn:com:adcubum:syrius:api:common:simpleTypes:v1"
            xmlns:pc="urn:com:adcubum:syrius:api:partnermgmt:common:codes:v1"
            xmlns:xt="urn:com:adcubum:syrius:api:common:externalTypes:v1"
            xmlns:tns="urn:com:adcubum:syrius:api:partnermgmt:partnerdatenverw:data:partnerenvironment:v1:schema"
            elementFormDefault="qualified"
            targetNamespace="urn:com:adcubum:syrius:api:partnermgmt:partnerdatenverw:data:partnerenvironment:v1:schema"
            version="1.2.0">
    <xsd:import namespace="urn:com:adcubum:syrius:api:partnermgmt:common:codes:v1" schemaLocation="../../../../../common/codes/v1/codes.xsd"/>
    <xsd:import namespace="urn:com:adcubum:syrius:api:partnermgmt:common:identifier:v1" schemaLocation="../../../../../common/identifier/v1/identifier.xsd"/>
    <xsd:import namespace="urn:com:adcubum:syrius:api:partnermgmt:common:types:v1" schemaLocation="../../../../../common/types/v1/types.xsd"/>
    <xsd:import namespace="urn:com:adcubum:syrius:api:common:types:v1" schemaLocation="../../../../../../common/types/v1/types.xsd"/>
    <xsd:import namespace="urn:com:adcubum:syrius:api:common:simpleTypes:v1" schemaLocation="../../../../../../common/simpleTypes/v1/simpleTypes.xsd"/>
    <xsd:import namespace="urn:com:adcubum:syrius:api:common:externalTypes:v1" schemaLocation="../../../../../../common/externalTypes/v1/externalTypes.xsd"/>
    <xsd:element name="getNatPersonEnvironmentRequest" type="tns:GetNatPersonEnvironmentRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, mit dem das NatPerson-Environment geladen wird.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="getNatPersonEnvironmentResponse" type="tns:GetNatPersonEnvironmentResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response, der das geladene NatPerson-Environment enthält.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="getJurPersonEnvironmentRequest" type="tns:GetJurPersonEnvironmentRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, mit dem das JurPerson-Environment geladen wird.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="getJurPersonEnvironmentResponse" type="tns:GetJurPersonEnvironmentResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response, der das geladene JurPerson-Environment enthält.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="GetNatPersonEnvironmentRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, mit dem das NatPerson-Environment geladen wird.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="stichtag" type="xsd:date" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Fachlicher Zeitpunkt. Der Parameter ist optional, wird er nicht gesetzt wird der aktuelle Zeitpunkt verwendet.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="GetNatPersonEnvironmentResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response, der das geladene NatPerson-Environment enthält.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="natPersonEnvironment" type="tns:WsNatPersonEnvironmentType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Enthält NatPerson-Environment.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="GetJurPersonEnvironmentRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, mit dem das JurPerson-Environment geladen wird.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="stichtag" type="xsd:date" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Fachlicher Zeitpunkt. Der Parameter ist optional, wird er nicht gesetzt wird der aktuelle Zeitpunkt verwendet.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="GetJurPersonEnvironmentResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response, der das geladene JurPerson-Environment enthält.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="jurPersonEnvironment" type="tns:WsJurPersonEnvironmentType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Enthält die JurPerson-Environment.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="WsNatPersonEnvironmentType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Enthält die Daten einer NatPerson-Environment.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ct:WsHistObjectType">
                <xsd:sequence>
                	<xsd:element name="sprachen" type="xt:LanguageTagType" minOccurs="1" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Liste aller möglichen Sprachen als IETF BCP 47 language tag (z.B. de-CH).</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="vipCodes" type="pc:WsVipCodeType" minOccurs="1" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Liste aller möglichen VIP-Codes.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="geschlechtCodes" type="pc:WsGeschlechtCodeType" minOccurs="1" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Liste aller möglichen Geschlecht-Codes.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="titelCodes" type="pc:WsTitelCodeType" minOccurs="1" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Liste aller möglichen Titel-Codes.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="berufsgruppeCodes" type="pc:WsBerufsgruppeCodeType" minOccurs="1" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Liste aller möglichen Berufsgruppe-Codes.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
	                <xsd:element name="arbeitslosCodes" type="pc:WsArbeitslosCodeType" minOccurs="1" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Liste aller möglichen Arbeitslos-Codes.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
	                <xsd:element name="aufenthaltsbewCodes" type="pc:WsAufenthaltsbewCodeType" minOccurs="1" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Liste aller möglichen Aufenthaltsbewiligung-Codes.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
	                <xsd:element name="unterstPflichtCodes" type="pc:WsUnterstPflichtCodeType" minOccurs="1" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Liste aller möglichen Unterstützungs-Pflicht-Codes.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
	                <xsd:element name="zivilstandCodes" type="pc:WsZivilstandCodeType" minOccurs="1" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Liste aller möglichen Zivilstand-Codes.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="partnerschutzDefIds" type="pi:WsPartnerschutzDefIdType" minOccurs="1" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Technische Schlüssel aller möglichen Partnerschutz-Definitionen.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="auslaenderstatusIds" type="pi:WsAuslaenderstatusIdType" minOccurs="1" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Technische Schlüssel aller möglichen Ausländerstati.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="begruendungAblehnungCodes" type="pc:WsPartAendBegruendungCodeType" minOccurs="0" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Liste aller möglichen Begründungen, um eine Partneränderung abzulehnen.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="brancheCodes" type="pc:WsBrancheCodeType" minOccurs="1" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Liste aller möglichen Branche-Codes.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
        <xsd:complexType name="WsJurPersonEnvironmentType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Enthält die Daten einer JurPerson-Environment.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ct:WsHistObjectType">
                <xsd:sequence>
                    <xsd:element name="sprachen" type="xt:LanguageTagType" minOccurs="1" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Liste aller möglichen Sprachen als IETF BCP 47 language tag (z.B. de-CH).</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="vipCodes" type="pc:WsVipCodeType" minOccurs="1" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Liste aller möglichen VIP-Codes.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="brancheCodes" type="pc:WsBrancheCodeType" minOccurs="1" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Liste aller möglichen Branche-Codes.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="rechtsformCodes" type="pc:WsRechtsformCodeType" minOccurs="1" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Liste aller möglichen Rechtsform-Codes.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="partnerschutzDefIds" type="pi:WsPartnerschutzDefIdType" minOccurs="1" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Technische Schlüssel aller möglichen Partnerschutz-Definitionen.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
</xsd:schema>
