master-21371/apibridge-operativesrechnungswesen-suva_1.master.master-21371-9481/wsdl/com/adcubum/syrius/api/operativesrechnungswesen/versicherungsnebenbuchfuehrung/data/abrechnungsposition/v1/schema/AbrechnungspositionService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:ct="urn:com:adcubum:syrius:api:common:types:v1"
            xmlns:oi="urn:com:adcubum:syrius:api:operativesrechnungswesen:common:identifier:v1"
            xmlns:st="urn:com:adcubum:syrius:api:common:simpleTypes:v1"
            xmlns:tns="urn:com:adcubum:syrius:api:operativesrechnungswesen:versicherungsnebenbuchfuehrung:data:abrechnungsposition:v1:schema"
            xmlns:et="urn:com:adcubum:syrius:api:common:extendedTypes:v1"
            xmlns:ext="urn:com:adcubum:syrius:api:common:externalTypes:v1"
            targetNamespace="urn:com:adcubum:syrius:api:operativesrechnungswesen:versicherungsnebenbuchfuehrung:data:abrechnungsposition:v1:schema"
            elementFormDefault="qualified"
            version="1.1.0">
 <xsd:import namespace="urn:com:adcubum:syrius:api:operativesrechnungswesen:common:identifier:v1" schemaLocation="../../../../../common/identifier/v1/identifier.xsd"/>
 <xsd:import namespace="urn:com:adcubum:syrius:api:common:types:v1" schemaLocation="../../../../../../common/types/v1/types.xsd"/>
 <xsd:import namespace="urn:com:adcubum:syrius:api:common:simpleTypes:v1" schemaLocation="../../../../../../common/simpleTypes/v1/simpleTypes.xsd"/>
 <xsd:import namespace="urn:com:adcubum:syrius:api:common:extendedTypes:v1" schemaLocation="../../../../../../common/extendedTypes/v1/extendedTypes.xsd"/>
 <xsd:import namespace="urn:com:adcubum:syrius:api:common:externalTypes:v1" schemaLocation="../../../../../../common/externalTypes/v1/externalTypes.xsd"/>
 <xsd:element name="getAbrechnungspositionRequest" type="tns:GetAbrechnungspositionRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, mit dem die Abrechnungsposition geladen werden.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="getAbrechnungspositionResponse" type="tns:GetAbrechnungspositionResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response, in dem die geladenen Abrechnungsposition enthalten sind.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
     <xsd:complexType name="GetAbrechnungspositionRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, mit dem die Abrechnungsposition geladen werden.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="abrechnungspositionId" type="oi:WsAbrechnungspositionIdType" minOccurs="1" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Technischer Schlüssel einer Abrechnung.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="GetAbrechnungspositionResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response, in dem die geladenen Abrechnungspositionen enthalten sind.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="abrechnungsposition" type="tns:WsAbrechnungspositionType" minOccurs="1" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Abrechnungsposition.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
     <xsd:element name="readAbrechnungspositionenForAbrechnungRequest" type="tns:ReadAbrechnungspositionenForAbrechnungRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, mit dem die Abrechnungspositionsschlüssel geladen werden.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="readAbrechnungspositionenForAbrechnungResponse" type="tns:ReadAbrechnungspositionenForAbrechnungResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response, in dem die Abrechnungspositionschlüssel der Abrechnung enthalten sind.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
     <xsd:complexType name="ReadAbrechnungspositionenForAbrechnungRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, mit dem die Abrechnungspositionsschlüssel für die Abrechnung geladen werden.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="abrechnungId" type="oi:WsAbrechnungIdType" minOccurs="1" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Technischer Schlüssel einer Abrechnung, von welchem die Abrechnungspositionen geladen werden sollen.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ReadAbrechnungspositionenForAbrechnungResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response, in dem die geladenen Abrechnungspositionsschlüssel enthalten sind.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="abrechnungAbrechnungspositionen" type="tns:WsAbrechnungAbrechnungspositionenType" minOccurs="1" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Technischer Schlüssel einer Abrechnungsposition.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="readL10nAttributesAbrechnungspositionRequest" type="tns:ReadL10nAttributesAbrechnungspositionRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, um die lokalisierten Informationen einer Abrechnungsposition zu laden.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="readL10nAttributesAbrechnungspositionResponse" type="tns:ReadL10nAttributesAbrechnungspositionResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response mit den lokalisierten Informationen der Abrechnungsposition.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ReadL10nAttributesAbrechnungspositionRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, um die lokalisierten Informationen einer Abrechnungsposition zu laden.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="abrechnungspositionId" type="oi:WsAbrechnungspositionIdType" minOccurs="1" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Technischer Schlüssel einer Abrechnungsposition.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="locale" type="xsd:language" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Local mit welcher die korrekte Sprache ermittelt wird.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ReadL10nAttributesAbrechnungspositionResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response mit den lokalisierten Informationen der Abrechnungsposition.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="localizedAttrs" type="tns:WsL10nAttributesAbrechnungspositionType" minOccurs="1" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Übersetzter Text einer Abrechnungsposition.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="WsAbrechnungspositionType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Eigenschaften einer Abrechnungsposition.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ct:WsDataObjectType">
                <xsd:sequence>
                    <xsd:element name="id" type="oi:WsAbrechnungspositionIdType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Technischer Schlüssel einer Abrechnungsposition.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="abrechnungId" type="oi:WsAbrechnungIdType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Technischer Schlüssel einer Abrechnung.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="datum" type="st:DateType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Datum zu einer Abrechnungsposition.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="periode" type="et:WsDateRangeType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Periode der Abrechnungsposition.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="originalsaldo" type="ext:WsMoneyType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Originalsaldo der Abrechnungsposition.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="originalbetrag" type="ext:WsMoneyType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Originalbetrag der Abrechnungsposition.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="referenzsaldo" type="ext:WsMoneyType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Referenzsaldo der Abrechnungsposition.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="referenzbetrag" type="ext:WsMoneyType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Referenzbetrag der Abrechnungsposition.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="versicherter" type="oi:WsPartnerIdType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Fachlicher Schlüssel auf den Versicherten.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="gesetzesgrund" type="oi:WsGesetzesgrundIdType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Fachlicher Schlüssel auf den Gesetzesgrund.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsAbrechnungAbrechnungspositionenType">
        <xsd:annotation>
           <xsd:documentation xml:lang="de">Enthält die geladenen Abrechnung-Ids und die dazugehörigen Abrechnungsposition-Ids.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="abrechnungId" type="oi:WsAbrechnungIdType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Technischer Schlüssel eines Zahlers, von welchem die Fakturen-Id geladen wurden.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="abrechnungspositionId" type="oi:WsAbrechnungspositionIdType" minOccurs="1" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Enthält eine Liste mit den gefunden Abrechnungsposition-Id.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="WsL10nAttributesAbrechnungspositionType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Lokalisierte Informationen der Abrechnungsposition.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="abrechnungspositionId" type="oi:WsAbrechnungspositionIdType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Technischer Schlüssel der Abrechnungsposition.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="bezeichnung" type="ct:WsLocalizedTextType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Lokalisierte Bezeichnung der Abrechnungsposition.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>