master-21371/apibridge-partnermgmt-suva_4.master.master-21371-14050/wsdl/com/adcubum/syrius/api/partnermgmt/partnerdatenverw/data/adressedef/v1/schema/AdresseDefService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:pi="urn:com:adcubum:syrius:api:partnermgmt:common:identifier:v1"
            xmlns:pt="urn:com:adcubum:syrius:api:partnermgmt:common:types:v1"
            xmlns:ct="urn:com:adcubum:syrius:api:common:types:v1"
            xmlns:cc="urn:com:adcubum:syrius:api:common:codes:v1"
            xmlns:st="urn:com:adcubum:syrius:api:common:simpleTypes:v1"
            xmlns:pc="urn:com:adcubum:syrius:api:partnermgmt:common:codes:v1"
            xmlns:tns="urn:com:adcubum:syrius:api:partnermgmt:partnerdatenverw:data:adressedef:v1:schema"
            elementFormDefault="qualified"
            targetNamespace="urn:com:adcubum:syrius:api:partnermgmt:partnerdatenverw:data:adressedef:v1:schema"
            version="1.0.0">
    <xsd:import namespace="urn:com:adcubum:syrius:api:partnermgmt:common:codes:v1" schemaLocation="../../../../../common/codes/v1/codes.xsd"/>
    <xsd:import namespace="urn:com:adcubum:syrius:api:partnermgmt:common:identifier:v1" schemaLocation="../../../../../common/identifier/v1/identifier.xsd"/>
    <xsd:import namespace="urn:com:adcubum:syrius:api:partnermgmt:common:types:v1" schemaLocation="../../../../../common/types/v1/types.xsd"/>
    <xsd:import namespace="urn:com:adcubum:syrius:api:common:types:v1" schemaLocation="../../../../../../common/types/v1/types.xsd"/>
    <xsd:import namespace="urn:com:adcubum:syrius:api:common:codes:v1" schemaLocation="../../../../../../common/codes/v1/codes.xsd"/>
    <xsd:import namespace="urn:com:adcubum:syrius:api:common:simpleTypes:v1" schemaLocation="../../../../../../common/simpleTypes/v1/simpleTypes.xsd"/>
    <xsd:element name="getAdresseDefRequest" type="tns:GetAdresseDefRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, mit dem die Adresse-Definitionen geladen werden.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="getAdresseDefResponse" type="tns:GetAdresseDefResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response, der die geladenen Adresse-Definitionen enthält.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="getAllAdresseDefRequest" type="tns:GetAllAdresseDefRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request um alle Adresse-Definition zu laden.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="getAllAdresseDefResponse" type="tns:GetAllAdresseDefResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response, der die geladenen Adresse-Definition enthält.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="readAllL10nAttributesAdresseDefRequest" type="tns:ReadAllL10nAttributesAdresseDefRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, um die lokalisierten Informationen aller Adresse-Definition zu laden.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="readAllL10nAttributesAdresseDefResponse" type="tns:ReadAllL10nAttributesAdresseDefResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response mit den lokalisierten Informationen aller Adresse-Definition.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="readL10nAttributesAdresseDefRequest" type="tns:ReadL10nAttributesAdresseDefRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, um die lokalisierten Informationen einer Adresse-Definition zu laden.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="readL10nAttributesAdresseDefResponse" type="tns:ReadL10nAttributesAdresseDefResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response mit den lokalisierten Informationen der Adresse-Definition.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="GetAdresseDefRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, mit dem die Adresse-Definitionen geladen werden.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="adresseDefId" type="pi:WsAdresseDefIdType" minOccurs="1" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Technischer Schlüssel einer Adresse-Definition.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="stichtag" type="xsd:date" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Fachlicher Zeitpunkt. Der Parameter ist optional, wird er nicht gesetzt wird der aktuelle Zeitpunkt verwendet.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="GetAdresseDefResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response, der die geladenen Adresse-Definitionen enthält.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="adresseDef" type="tns:WsAdresseDefType" minOccurs="1" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Enthält eine Liste mit den geladenen Adresse-Definitionen.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="GetAllAdresseDefRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request um alle Adresse-Definition zu laden.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="stichtag" type="xsd:date" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Fachlicher Zeitpunkt. Der Parameter ist optional, wird er nicht gesetzt wird der aktuelle Zeitpunkt verwendet.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="GetAllAdresseDefResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response, der die geladenen Adresse-Definition enthält.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="adresseDef" type="tns:WsAdresseDefType" minOccurs="1" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Enthält eine Liste mit den geladenen Adresse-Definitionen.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ReadL10nAttributesAdresseDefRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, um die lokalisierten Informationen einer Adresse-Definition zu laden.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="adresseDefId" type="pi:WsAdresseDefIdType" minOccurs="1" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Technischer Schlüssel einer Adresse-Definition.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="locale" type="xsd:language" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Local mit welcher die korrekte Sprache ermittelt wird.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="stichtag" type="xsd:date" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Fachlicher Zeitpunkt. Der Parameter ist optional, wird er nicht gesetzt wird der aktuelle Zeitpunkt verwendet.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ReadL10nAttributesAdresseDefResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response mit den lokalisierten Informationen der Adresse-Definition.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="localizedAttrs" type="tns:WsL10nAttributesAdresseDefType" minOccurs="1" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Übersetzter Text einer Adresse-Definition.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ReadAllL10nAttributesAdresseDefRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, um die lokalisierten Informationen aller Adresse-Definition zu laden.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="locale" type="xsd:language" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Local mit welcher die korrekte Sprache ermittelt wird.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="stichtag" type="xsd:date" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Fachlicher Zeitpunkt. Der Parameter ist optional, wird er nicht gesetzt wird der aktuelle Zeitpunkt verwendet.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ReadAllL10nAttributesAdresseDefResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response mit den lokalisierten Informationen aller Adresse-Definition.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="localizedAttrs" type="tns:WsL10nAttributesAdresseDefType" minOccurs="1" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Übersetzter Text einer Adresse-Definition.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="WsL10nAttributesAdresseDefType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Lokalisierte Informationen der Adresse-Definition.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="adresseDefId" type="pi:WsAdresseDefIdType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Technischer Schlüssel der Adresse-Definition.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="bezeichnung" type="ct:WsLocalizedTextType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Lokalisierte Bezeichnung der Adresse-Definition.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="WsAdresseDefType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Enthält die Daten einer Adresse-Definition.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ct:WsHistObjectType">
                <xsd:sequence>
                    <xsd:element name="id" type="pi:WsAdresseDefIdType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Technischer Schlüssel einer Adresse-Definition.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="mehrfachverwendung" type="st:BooleanType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Bestimmt, ob es von dieser Definition mehrere Objekte geben darf.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="definitionsname" type="st:StringType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Fachlicher Schlüssel dieser Definition.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="sequenz" type="st:IntegerType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Die Sortierungssequenz der Definition.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="qualitaetsStufen" type="cc:WsCodeTabelleType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Die Liste von möglich Qualitätsstufen für diese Definition.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
</xsd:schema>
