master-21371/apibridge-schadenleistungsmgmt-suva_6.master.master-21371-13742/wsdl/com/adcubum/syrius/api/schadenleistungsmgmt/kvuv/leistungserbringung/leistungsabrechnung/data/leistungsabrechnung/v1/LeistungsabrechnungService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="LeistungsabrechnungService"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  targetNamespace="urn:com:adcubum:syrius:api:schadenleistungsmgmt:kvuv:leistungserbringung:leistungsabrechnung:data:leistungsabrechnung:v1"
                  xmlns:tns="urn:com:adcubum:syrius:api:schadenleistungsmgmt:kvuv:leistungserbringung:leistungsabrechnung:data:leistungsabrechnung:v1"
                  xmlns:ov="urn:com:adcubum:syrius:api:schadenleistungsmgmt:kvuv:leistungserbringung:leistungsabrechnung:data:leistungsabrechnung:v1:schema"
                  xmlns:flt="urn:com:adcubum:syrius:api:common:faults:v1"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/">
    <wsdl:documentation>Version: 1.1.0</wsdl:documentation>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="urn:com:adcubum:syrius:api:schadenleistungsmgmt:kvuv:leistungserbringung:leistungsabrechnung:data:leistungsabrechnung:v1:schema" schemaLocation="schema/LeistungsabrechnungService.xsd"/>
            <xsd:import namespace="urn:com:adcubum:syrius:api:common:faults:v1" schemaLocation="../../../../../../../common/faults/v1/faults.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="GetLeistungsabrechnungRequestMessage">
        <wsdl:part name="request" element="ov:getLeistungsabrechnungRequest"/>
    </wsdl:message>
    <wsdl:message name="GetLeistungsabrechnungResponseMessage">
        <wsdl:part name="response" element="ov:getLeistungsabrechnungResponse"/>
    </wsdl:message>
    <wsdl:message name="GetLeistungsabrechnungMitPositionenRequestMessage">
        <wsdl:part name="request" element="ov:getLeistungsabrechnungMitPositionenRequest"/>
    </wsdl:message>
    <wsdl:message name="GetLeistungsabrechnungMitPositionenResponseMessage">
        <wsdl:part name="response" element="ov:getLeistungsabrechnungMitPositionenResponse"/>
    </wsdl:message>
    <wsdl:message name="ReadL10nAttributesLeistungsabrechnungRequestMessage">
        <wsdl:part name="Request" element="ov:readL10nAttributesLeistungsabrechnungRequest"/>
    </wsdl:message>
    <wsdl:message name="ReadL10nAttributesLeistungsabrechnungResponseMessage">
        <wsdl:part name="Response" element="ov:readL10nAttributesLeistungsabrechnungResponse"/>
    </wsdl:message>
    <wsdl:message name="ApiFaultMessage">
        <wsdl:part name="fault" element="flt:apiFaultInfo"/>
    </wsdl:message>
    <wsdl:portType name="LeistungsabrechnungServicePortType">
        <wsdl:operation name="getLeistungsabrechnung">
            <wsdl:documentation>Liefert für einen technischen Leistungsabrechnungsschlüssel die Daten der zugehörigen Leistungsabrechnungbrechnung.</wsdl:documentation>
            <wsdl:input name="getLeistungsabrechnungRequest" message="tns:GetLeistungsabrechnungRequestMessage"/>
            <wsdl:output name="getLeistungsabrechnungResponse" message="tns:GetLeistungsabrechnungResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="getLeistungsabrechnungMitPositionen">
            <wsdl:documentation>Liefert für einen technischen Leistungsabrechnungsschlüssel die Daten der zugehörigen Leistungsabrechnungbrechnung mitsamt allen Leistungsabrechnungspositionen.</wsdl:documentation>
            <wsdl:input name="getLeistungsabrechnungMitPositionenRequest" message="tns:GetLeistungsabrechnungMitPositionenRequestMessage"/>
            <wsdl:output name="getLeistungsabrechnungMitPositionenResponse" message="tns:GetLeistungsabrechnungMitPositionenResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="readL10nAttributesLeistungsabrechnung">
            <wsdl:documentation>Liefert für einen technischen Leistungsabrechnungsschlüssel die Bezeichnung der zugehörigen Leistungsabrechnungbrechnung zurück.</wsdl:documentation>
            <wsdl:input name="readL10nAttributesLeistungsabrechnungRequest" message="tns:ReadL10nAttributesLeistungsabrechnungRequestMessage"/>
            <wsdl:output name="readL10nAttributesLeistungsabrechnungResponse" message="tns:ReadL10nAttributesLeistungsabrechnungResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="LeistungsabrechnungServiceBinding" type="tns:LeistungsabrechnungServicePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getLeistungsabrechnung">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="getLeistungsabrechnungRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getLeistungsabrechnungResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getLeistungsabrechnungMitPositionen">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="getLeistungsabrechnungMitPositionenRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getLeistungsabrechnungMitPositionenResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="readL10nAttributesLeistungsabrechnung">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="readL10nAttributesLeistungsabrechnungRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="readL10nAttributesLeistungsabrechnungResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="LeistungsabrechnungService_v1">
        <wsdl:port name="LeistungsabrechnungService_v1" binding="tns:LeistungsabrechnungServiceBinding">
            <soap:address location="https://example.com/apibridge-schadenleistungsmgmt/LeistungsabrechnungService_v1"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>