master-21371/apibridge-bestandsverw-suva_3.master.master-21371-13979/wsdl/com/adcubum/syrius/api/bestandsverw/vertragsverw/auskunft/data/praemienabrechnung/v1/PraemienabrechnungService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="PraemienabrechnungService"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  targetNamespace="urn:com:adcubum:syrius:api:bestandsverw:vertragsverw:auskunft:data:praemienabrechnung:v1"
                  xmlns:tns="urn:com:adcubum:syrius:api:bestandsverw:vertragsverw:auskunft:data:praemienabrechnung:v1"
                  xmlns:ov="urn:com:adcubum:syrius:api:bestandsverw:vertragsverw:auskunft:data:praemienabrechnung:v1:schema"
                  xmlns:flt="urn:com:adcubum:syrius:api:common:faults:v1"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/">
    <wsdl:documentation>Version: 1.0.0</wsdl:documentation>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="urn:com:adcubum:syrius:api:bestandsverw:vertragsverw:auskunft:data:praemienabrechnung:v1:schema" schemaLocation="schema/PraemienabrechnungService.xsd"/>
            <xsd:import namespace="urn:com:adcubum:syrius:api:common:faults:v1" schemaLocation="../../../../../../common/faults/v1/faults.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="GetPraemienabrechnungRequestMessage">
        <wsdl:part name="request" element="ov:getPraemienabrechnungRequest"/>
    </wsdl:message>
        <wsdl:message name="GetPraemienabrechnungResponseMessage">
        <wsdl:part name="response" element="ov:getPraemienabrechnungResponse"/>
    </wsdl:message>
    <wsdl:message name="ReadL10nAttributesPraemienabrechnungRequestMessage">
        <wsdl:part name="Request" element="ov:readL10nAttributesPraemienabrechnungRequest"/>
    </wsdl:message>
    <wsdl:message name="ReadL10nAttributesPraemienabrechnungResponseMessage">
        <wsdl:part name="Response" element="ov:readL10nAttributesPraemienabrechnungResponse"/>
    </wsdl:message>
    <wsdl:message name="ApiFaultMessage">
        <wsdl:part name="fault" element="flt:apiFaultInfo"/>
    </wsdl:message>
    <wsdl:portType name="PraemienabrechnungServicePortType">
        <wsdl:operation name="getPraemienabrechnung">
            <wsdl:documentation>Liefert für einen technischen Prämienabrechnungsschlüssel die Daten der zugehörigen Prämienabrechnung.</wsdl:documentation>
            <wsdl:input name="getPraemienabrechnungRequest" message="tns:GetPraemienabrechnungRequestMessage"/>
            <wsdl:output name="getPraemienabrechnungResponse" message="tns:GetPraemienabrechnungResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="readL10nAttributesPraemienabrechnung">
            <wsdl:documentation>Liefert für einen technischen Praemienabrechnungsschlüssel die Bezeichnung der zugehörigen Praemienabrechnung zurück.</wsdl:documentation>
            <wsdl:input name="readL10nAttributesPraemienabrechnungRequest" message="tns:ReadL10nAttributesPraemienabrechnungRequestMessage"/>
            <wsdl:output name="readL10nAttributesPraemienabrechnungResponse" message="tns:ReadL10nAttributesPraemienabrechnungResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PraemienabrechnungServiceBinding" type="tns:PraemienabrechnungServicePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getPraemienabrechnung">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="getPraemienabrechnungRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getPraemienabrechnungResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="readL10nAttributesPraemienabrechnung">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="readL10nAttributesPraemienabrechnungRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="readL10nAttributesPraemienabrechnungResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="PraemienabrechnungService_v1">
        <wsdl:port name="PraemienabrechnungService_v1" binding="tns:PraemienabrechnungServiceBinding">
            <soap:address location="https://example.com/apibridge-bestandsverw/PraemienabrechnungService_v1"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>