master-21371/apibridge-bestandsverw-suva_3.master.master-21371-13979/wsdl/com/adcubum/syrius/api/bestandsverw/vertragsverw/process/produktwechselprocess/v1/ProduktwechselProcessService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="ProduktwechselProcessService"
                  targetNamespace="urn:com:adcubum:syrius:api:bestandsverw:vertragsverw:process:produktwechselprocess:v1"
                  xmlns:tns="urn:com:adcubum:syrius:api:bestandsverw:vertragsverw:process:produktwechselprocess:v1"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:flt="urn:com:adcubum:syrius:api:common:faults:v1"
                  xmlns:pa="urn:com:adcubum:syrius:api:bestandsverw:vertragsverw:process:produktwechselprocess:v1:schema">

    <wsdl:documentation>Version: 1.0.0</wsdl:documentation>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="urn:com:adcubum:syrius:api:common:faults:v1" schemaLocation="../../../../../common/faults/v1/faults.xsd"/>
            <xsd:import namespace="urn:com:adcubum:syrius:api:bestandsverw:vertragsverw:process:produktwechselprocess:v1:schema" 
                        schemaLocation="schema/ProduktwechselProcessService.xsd"/>
        </xsd:schema>
    </wsdl:types>
    
    <wsdl:message name="ProduktwechselAnreicherungRequestMessage">
        <wsdl:part name="Request" element="pa:produktwechselAnreicherungRequest"/>
    </wsdl:message>
    <wsdl:message name="ProduktwechselAnreicherungResponseMessage">
        <wsdl:part name="Response" element="pa:produktwechselAnreicherungResponse"/>
    </wsdl:message>
    <wsdl:message name="ProduktwechselRequestMessage">
        <wsdl:part name="Request" element="pa:produktwechselRequest"/>
    </wsdl:message>
    <wsdl:message name="ProduktwechselResponseMessage">
        <wsdl:part name="Response" element="pa:produktwechselResponse"/>
    </wsdl:message>
    <wsdl:message name="ApiFaultMessage">
        <wsdl:part name="fault" element="flt:apiFaultInfo"/>
    </wsdl:message>
    <wsdl:portType name="ProduktwechselProcessServicePortType">
        <wsdl:operation name="startProduktwechselAnreicherung">
            <wsdl:documentation>Produktwechsel-Anreicherung für einen Partner</wsdl:documentation>
            <wsdl:input name="startProduktwechselAnreicherungRequest" message="tns:ProduktwechselAnreicherungRequestMessage"/>
            <wsdl:output name="startProduktwechselAnreicherungResponse" message="tns:ProduktwechselAnreicherungResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="startProduktwechsel">
            <wsdl:documentation>Produktwechsel für einen Vertrag starten</wsdl:documentation>
            <wsdl:input name="startProduktwechselRequest" message="tns:ProduktwechselRequestMessage"/>
            <wsdl:output name="startProduktwechselResponse" message="tns:ProduktwechselResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    
    <wsdl:binding name="ProduktwechselProcessServiceBinding" type="tns:ProduktwechselProcessServicePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="startProduktwechselAnreicherung">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="startProduktwechselAnreicherungRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="startProduktwechselAnreicherungResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="startProduktwechsel">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="startProduktwechselRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="startProduktwechselResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    
    <wsdl:service name="ProduktwechselProcessService_v1">
        <wsdl:port name="ProduktwechselProcessService_v1" binding="tns:ProduktwechselProcessServiceBinding">
            <soap:address location="https://example.com/apibridge-bestandsverw/ProduktwechselProcessService_v1"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>