master-21371/apibridge-bestandsverw-suva_3.master.master-21371-13979/wsdl/com/adcubum/syrius/api/bestandsverw/vertragsverw/auskunft/data/bedingung/v1/BedingungService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="BedingungService"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="urn:com:adcubum:syrius:api:bestandsverw:vertragsverw:auskunft:data:bedingung:v1"
                  xmlns:tns="urn:com:adcubum:syrius:api:bestandsverw:vertragsverw:auskunft:data:bedingung:v1"
                  xmlns:pa="urn:com:adcubum:syrius:api:bestandsverw:vertragsverw:auskunft:data:bedingung:v1:schema"
                  xmlns:flt="urn:com:adcubum:syrius:api:common:faults:v1"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
                  
    <wsdl:documentation>
    	Version: 1.0.0
    </wsdl:documentation>

    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="urn:com:adcubum:syrius:api:bestandsverw:vertragsverw:auskunft:data:bedingung:v1:schema" schemaLocation="schema/BedingungService.xsd"/>
            <xsd:import namespace="urn:com:adcubum:syrius:api:common:faults:v1" schemaLocation="../../../../../../common/faults/v1/faults.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="EvaluateEinschliessbareBedingungForVertragRequestMessage">
        <wsdl:part name="Request" element="pa:evaluateEinschliessbareBedingungForVertragRequest"/>
    </wsdl:message>
    <wsdl:message name="EvaluateEinschliessbareBedingungForVertragResponseMessage">
        <wsdl:part name="Response" element="pa:evaluateEinschliessbareBedingungForVertragResponse"/>
    </wsdl:message>
    <wsdl:message name="EvaluateEinschliessbareBedingungForVersichertesObjektRequestMessage">
        <wsdl:part name="Request" element="pa:evaluateEinschliessbareBedingungForVersichertesObjektRequest"/>
    </wsdl:message>
    <wsdl:message name="EvaluateEinschliessbareBedingungForVersichertesObjektResponseMessage">
        <wsdl:part name="Response" element="pa:evaluateEinschliessbareBedingungForVersichertesObjektResponse"/>
    </wsdl:message>
    <wsdl:message name="EvaluateEinschliessbareBedingungForVertragsproduktRequestMessage">
        <wsdl:part name="Request" element="pa:evaluateEinschliessbareBedingungForVertragsproduktRequest"/>
    </wsdl:message>
    <wsdl:message name="EvaluateEinschliessbareBedingungForVertragsproduktResponseMessage">
        <wsdl:part name="Response" element="pa:evaluateEinschliessbareBedingungForVertragsproduktResponse"/>
    </wsdl:message>
    <wsdl:message name="ReadL10nAttributesEinschliessbareBedingungRequestMessage">
        <wsdl:part name="Request" element="pa:readL10nAttributesEinschliessbareBedingungRequest"/>
    </wsdl:message>
    <wsdl:message name="ReadL10nAttributesEinschliessbareBedingungResponseMessage">
        <wsdl:part name="Response" element="pa:readL10nAttributesEinschliessbareBedingungResponse"/>
    </wsdl:message>
    <wsdl:message name="SearchBedingungForVertragRequestMessage">
        <wsdl:part name="Request" element="pa:searchBedingungForVertragRequest"/>
    </wsdl:message>
    <wsdl:message name="SearchBedingungForVertragResponseMessage">
        <wsdl:part name="Response" element="pa:searchBedingungForVertragResponse"/>
    </wsdl:message>
    <wsdl:message name="SearchBedingungForVersichertesObjektRequestMessage">
        <wsdl:part name="Request" element="pa:searchBedingungForVersichertesObjektRequest"/>
    </wsdl:message>
    <wsdl:message name="SearchBedingungForVersichertesObjektResponseMessage">
        <wsdl:part name="Response" element="pa:searchBedingungForVersichertesObjektResponse"/>
    </wsdl:message>
    <wsdl:message name="SearchBedingungForVertragsproduktRequestMessage">
        <wsdl:part name="Request" element="pa:searchBedingungForVertragsproduktRequest"/>
    </wsdl:message>
    <wsdl:message name="SearchBedingungForVertragsproduktResponseMessage">
        <wsdl:part name="Response" element="pa:searchBedingungForVertragsproduktResponse"/>
    </wsdl:message>
    <wsdl:message name="ReadL10nAttributesBedingungRequestMessage">
        <wsdl:part name="Request" element="pa:readL10nAttributesBedingungRequest"/>
    </wsdl:message>
    <wsdl:message name="ReadL10nAttributesBedingungResponseMessage">
        <wsdl:part name="Response" element="pa:readL10nAttributesBedingungResponse"/>
    </wsdl:message>
    <wsdl:message name="GetBedingungRequestMessage">
        <wsdl:part name="Request" element="pa:getBedingungRequest"/>
    </wsdl:message>
    <wsdl:message name="GetBedingungResponseMessage">
        <wsdl:part name="Response" element="pa:getBedingungResponse"/>
    </wsdl:message>
    
    <wsdl:message name="ApiFaultMessage">
        <wsdl:part name="fault" element="flt:apiFaultInfo"/>
    </wsdl:message>
    
    <wsdl:portType name="BedingungServicePortType">
        <wsdl:operation name="evaluateEinschliessbareBedingungForVertrag">
            <wsdl:documentation>Liefert für einen Vertrag eine Liste von einschliessbaren Bedingungen.</wsdl:documentation>
            <wsdl:input name="evaluateEinschliessbareBedingungForVertragRequest" message="tns:EvaluateEinschliessbareBedingungForVertragRequestMessage"/>
            <wsdl:output name="evaluateEinschliessbareBedingungForVertragResponse" message="tns:EvaluateEinschliessbareBedingungForVertragResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="evaluateEinschliessbareBedingungForVersichertesObjekt">
            <wsdl:documentation>Liefert für ein versichertes Objekt eine Liste von einschliessbaren Bedingungen.</wsdl:documentation>
            <wsdl:input name="evaluateEinschliessbareBedingungForVersichertesObjektRequest" message="tns:EvaluateEinschliessbareBedingungForVersichertesObjektRequestMessage"/>
            <wsdl:output name="evaluateEinschliessbareBedingungForVersichertesObjektResponse" message="tns:EvaluateEinschliessbareBedingungForVersichertesObjektResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="evaluateEinschliessbareBedingungForVertragsprodukt">
            <wsdl:documentation>Liefert für ein Vertragsprodukt eine Liste von einschliessbaren Bedingungen.</wsdl:documentation>
            <wsdl:input name="evaluateEinschliessbareBedingungForVertragsproduktRequest" message="tns:EvaluateEinschliessbareBedingungForVertragsproduktRequestMessage"/>
            <wsdl:output name="evaluateEinschliessbareBedingungForVertragsproduktResponse" message="tns:EvaluateEinschliessbareBedingungForVertragsproduktResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="readL10nAttributesEinschliessbareBedingung">
            <wsdl:documentation>Liefert zu den technischen Schlüsseln zu einschliessbaren Bedingungen die sprachabhängige Bezeichnung und, sofern gegeben, weitere sprachabhängige Attribute.</wsdl:documentation>
            <wsdl:input name="readL10nAttributesEinschliessbareBedingungRequest" message="tns:ReadL10nAttributesEinschliessbareBedingungRequestMessage"/>
            <wsdl:output name="readL10nAttributesEinschliessbareBedingungResponse" message="tns:ReadL10nAttributesEinschliessbareBedingungResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="searchBedingungForVertrag">
            <wsdl:documentation>Liefert eine Liste von BedingungIDs der eingeschlossenen Bedingungen zum Vertrag.</wsdl:documentation>
            <wsdl:input name="searchBedingungForVertragRequest" message="tns:SearchBedingungForVertragRequestMessage"/>
            <wsdl:output name="searchBedingungForVertragResponse" message="tns:SearchBedingungForVertragResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="searchBedingungForVersichertesObjekt">
            <wsdl:documentation>Liefert eine Liste von BedingungIDs der eingeschlossenen Bedingungen zum versicherten Objekt.</wsdl:documentation>
            <wsdl:input name="searchBedingungForVersichertesObjektRequest" message="tns:SearchBedingungForVersichertesObjektRequestMessage"/>
            <wsdl:output name="searchBedingungForVersichertesObjektResponse" message="tns:SearchBedingungForVersichertesObjektResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="searchBedingungForVertragsprodukt">
            <wsdl:documentation>Liefert eine Liste von BedingungIDs der eingeschlossenen Bedingungen zum Vertragsprodukt.</wsdl:documentation>
            <wsdl:input name="searchBedingungForVertragsproduktRequest" message="tns:SearchBedingungForVertragsproduktRequestMessage"/>
            <wsdl:output name="searchBedingungForVertragsproduktResponse" message="tns:SearchBedingungForVertragsproduktResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="readL10nAttributesBedingung">
            <wsdl:documentation>Liefert zu den technischen Schlüsseln zu Bedingungen die sprachabhängige Bezeichnung und, sofern gegeben, weitere sprachabhängige Attribute.</wsdl:documentation>
            <wsdl:input name="readL10nAttributesBedingungRequest" message="tns:ReadL10nAttributesBedingungRequestMessage"/>
            <wsdl:output name="readL10nAttributesBedingungResponse" message="tns:ReadL10nAttributesBedingungResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="getBedingung">
            <wsdl:documentation>Liefert zu den übergebenen BedingungIDs die entsprechenden Bedingungen</wsdl:documentation>
            <wsdl:input name="getBedingungRequest" message="tns:GetBedingungRequestMessage"/>
            <wsdl:output name="getBedingungResponse" message="tns:GetBedingungResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    
    <wsdl:binding name="BedingungServiceBinding" type="tns:BedingungServicePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

        <wsdl:operation name="evaluateEinschliessbareBedingungForVertrag">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="evaluateEinschliessbareBedingungForVertragRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="evaluateEinschliessbareBedingungForVertragResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="evaluateEinschliessbareBedingungForVersichertesObjekt">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="evaluateEinschliessbareBedingungForVersichertesObjektRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="evaluateEinschliessbareBedingungForVersichertesObjektResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="evaluateEinschliessbareBedingungForVertragsprodukt">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="evaluateEinschliessbareBedingungForVertragsproduktRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="evaluateEinschliessbareBedingungForVertragsproduktResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        
        <wsdl:operation name="readL10nAttributesEinschliessbareBedingung">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="readL10nAttributesEinschliessbareBedingungRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="readL10nAttributesEinschliessbareBedingungResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="searchBedingungForVertrag">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="searchBedingungForVertragRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="searchBedingungForVertragResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="searchBedingungForVersichertesObjekt">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="searchBedingungForVersichertesObjektRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="searchBedingungForVersichertesObjektResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="searchBedingungForVertragsprodukt">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="searchBedingungForVertragsproduktRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="searchBedingungForVertragsproduktResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="readL10nAttributesBedingung">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="readL10nAttributesBedingungRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="readL10nAttributesBedingungResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="getBedingung">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="getBedingungRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getBedingungResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

    </wsdl:binding>
    
    <wsdl:service name="BedingungService_v1">
        <wsdl:port name="BedingungService_v1" binding="tns:BedingungServiceBinding">
            <soap:address location="https://example.com/apibridge-bestandsverw/BedingungService_v1"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
