master-21371/apibridge-schadenleistungsmgmt-suva_6.master.master-21371-13742/wsdl/com/adcubum/syrius/api/schadenleistungsmgmt/kvuv/schadenleistungsfallfuehrung/schadenfallverwaltung/lohnangaben/data/v1/schema/LohnangabenDataService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema
        targetNamespace="urn:com:adcubum:syrius:api:schadenleistungsmgmt:kvuv:schadenleistungsfallfuehrung:schadenfallverwaltung:lohnangaben:data:v1:schema"
        xmlns:tns="urn:com:adcubum:syrius:api:schadenleistungsmgmt:kvuv:schadenleistungsfallfuehrung:schadenfallverwaltung:lohnangaben:data:v1:schema"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:ct="urn:com:adcubum:syrius:api:common:types:v1"
        xmlns:lcot="urn:com:adcubum:syrius:api:schadenleistungsmgmt:kvuv:schadenleistungsfallfuehrung:schadenfallverwaltung:codes:v1"
        xmlns:li="urn:com:adcubum:syrius:api:schadenleistungsmgmt:kvuv:common:identifier:v1"
        xmlns:et="urn:com:adcubum:syrius:api:common:externalTypes:v1"
        xmlns:st="urn:com:adcubum:syrius:api:common:simpleTypes:v1"
        elementFormDefault="qualified"
        version="1.0.0">

    <xsd:import namespace="urn:com:adcubum:syrius:api:schadenleistungsmgmt:kvuv:schadenleistungsfallfuehrung:schadenfallverwaltung:codes:v1"
                schemaLocation="../../../../codes/v1/codes.xsd"/>
    <xsd:import namespace="urn:com:adcubum:syrius:api:schadenleistungsmgmt:kvuv:common:identifier:v1"
                schemaLocation="../../../../../../common/identifier/v1/identifier.xsd"/>
    <xsd:import namespace="urn:com:adcubum:syrius:api:common:simpleTypes:v1"
                schemaLocation="../../../../../../../../common/simpleTypes/v1/simpleTypes.xsd"/>
    <xsd:import namespace="urn:com:adcubum:syrius:api:common:types:v1"
                schemaLocation="../../../../../../../../../../../../com/adcubum/syrius/api/common/types/v1/types.xsd"/>
    <xsd:import namespace="urn:com:adcubum:syrius:api:common:externalTypes:v1"
                schemaLocation="../../../../../../../../../../../../com/adcubum/syrius/api/common/externalTypes/v1/externalTypes.xsd"/>

    <!-- READ -->
    <xsd:complexType name="WsReadLohnangabenRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request mit dem Informationen zu Lohnangabenn gelesen werden
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="leistungsfallId" type="li:WsLeistungsfallRueckfallIdType" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Objekt-ID des Leistungsfalls zu dem die Lohnangaben gelesen werden
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="WsReadLohnangabenResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response mit dem die Informationen zu Lohnangaben geliefert werden
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="lohnangaben" type="tns:WsLohnangabeType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Enthält die Informationen zu Lohnangaben</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="WsLohnangabeType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Enthält die Informationen zu einer Lohnangabe</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ct:WsHistObjectType">
                <xsd:sequence>
                    <xsd:element name="lohnangabeId" type="li:WsLohnangabeIdType">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Objekt-ID einer Lohnangabe
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="schadenfallId" type="li:WsSchadenfallIdType">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Objekt-ID eines Schadenfalls
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="leistungsfallId" type="li:WsLeistungsfallRueckfallIdType">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Objekt-ID eines Leistungsfalls
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="kostenartId" type="li:WsKostenartIdType" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Objekt-ID einer Kostenart
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="grundlohnBrutto" type="et:WsMoneyType" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Bruttolohn des Versicherten
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="grundlohnZeiteinheit" type="lcot:WsLohnangabeZeiteinheitCodeType" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Zeiteinheit für den Grundlohn (pro Std., Tag, Monat, Jahr)
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="kinderzulagen" type="et:WsMoneyType" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Kinder- bzw. Familienzulagen
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="kinderzulagenZeiteinheit" type="lcot:WsLohnangabeZeiteinheitCodeType" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Zeiteinheit für die Kinder- bzw. Familienzulagen (pro Std., Tag, Monat, Jahr)
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="uebrigeLohnzulagen" type="et:WsMoneyType" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Übrige Lohnzulagen
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="uebrigeLohnzulagenZeiteinheit" type="lcot:WsLohnangabeZeiteinheitCodeType" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Zeiteinheit für die übrigen Lohnzulagen (pro Std., Tag, Monat, Jahr)
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="gratifikation" type="et:WsMoneyType" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Gratifikation / 13. Monatslohn
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="gratifikationZeiteinheit" type="lcot:WsLohnangabeZeiteinheitMitProzentCodeType" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Zeiteinheit für Gratifikationen (pro Std., Tag, Monat, Jahr, Prozent des
                                Bruttogrundlohns, Prozent des Jahres-Bruttogrundlohns)
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="ferienentschaedigung" type="et:WsMoneyType" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Ferien- und Feiertagsentschaedigung
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="ferienentschaedigungZeiteinheit" type="lcot:WsLohnangabeZeiteinheitMitProzentCodeType" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Zeiteinheit für Ferienentschädigung (pro Std., Tag, Monat, Jahr, Prozent des
                                Bruttogrundlohns, Prozent des Jahres-Bruttogrundlohns)
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="jahreslohn" type="et:WsMoneyType" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Berechneter Jahreslohn
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="jahreslohnUebersteuert" type="st:BooleanType">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Kennzeichnet ob der Jahreslohn übersteuert wurde
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="readLohnangabenRequest" type="tns:WsReadLohnangabenRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, mit dem Lohnangaben gelesen werden</xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:element name="readLohnangabenResponse" type="tns:WsReadLohnangabenResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">
                Response mit dem die Informationen zu Lohnangaben geliefert werden
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>

</xsd:schema>