master-21371/apibridge-bestandsverw-suva_3.master.master-21371-13979/wsdl/com/adcubum/syrius/api/bestandsverw/vertragsverw/process/bedingungprocess/v1/schema/BedingungProcessService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="urn:com:adcubum:syrius:api:bestandsverw:vertragsverw:process:bedingungprocess:v1:schema"
            xmlns:tns="urn:com:adcubum:syrius:api:bestandsverw:vertragsverw:process:bedingungprocess:v1:schema"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:st="urn:com:adcubum:syrius:api:common:simpleTypes:v1"
            xmlns:ct="urn:com:adcubum:syrius:api:common:types:v1"
            xmlns:pi="urn:com:adcubum:syrius:api:bestandsverw:common:identifier:v1"
            version="1.0.0"
            elementFormDefault="qualified">

	<xsd:import namespace="urn:com:adcubum:syrius:api:common:simpleTypes:v1" schemaLocation="../../../../../../common/simpleTypes/v1/simpleTypes.xsd"/>
	<xsd:import namespace="urn:com:adcubum:syrius:api:common:types:v1" schemaLocation="../../../../../../common/types/v1/types.xsd"/>
    <xsd:import namespace="urn:com:adcubum:syrius:api:bestandsverw:common:identifier:v1" schemaLocation="../../../../../common/identifier/v1/identifier.xsd"/>

    <xsd:element name="ausschliessenBedingungRequest" type="tns:AusschliessenBedingungRequestType">
	    <xsd:annotation>
	        <xsd:documentation>Request zum Ausschliessen von Bedingungen.</xsd:documentation>
	    </xsd:annotation>
    </xsd:element>

    <xsd:element name="ausschliessenBedingungResponse" type="tns:AusschliessenBedingungResponseType">
	    <xsd:annotation>
	        <xsd:documentation>Response zum Ausschliessen von Bedingungen.</xsd:documentation>
	    </xsd:annotation>
    </xsd:element>

    <xsd:complexType name="AusschliessenBedingungRequestType">
        <xsd:annotation>
        	<xsd:documentation>Request zum Ausschliessen von Bedingungen</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="bedingungId" type="pi:WsBedingungIdType" minOccurs="1" maxOccurs="unbounded">
                <xsd:annotation>
                     <xsd:documentation>Technischer Schlüssel der Bedingung.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="stichdatum" type="st:DateType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Stichdatum, zu dem die Bedingung ausgeschlossen werden soll.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="AusschliessenBedingungResponseType">
        <xsd:annotation>
	        <xsd:documentation>Response zum Ausschliessen von Bedingungen.</xsd:documentation>
	    </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="bedingungId" type="pi:WsBedingungIdType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                     <xsd:documentation>Technischer Schlüssel der Bedingung.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="einschliessenVertragBedingungRequest" type="tns:EinschliessenVertragBedingungRequestType">
	    <xsd:annotation>
	        <xsd:documentation>Request zum Einschliessen von Bedingungen am Vertrag.</xsd:documentation>
	    </xsd:annotation>
    </xsd:element>

    <xsd:element name="einschliessenVertragBedingungResponse" type="tns:EinschliessenVertragBedingungResponseType">
	    <xsd:annotation>
	        <xsd:documentation>Response zum Einschliessen von Bedingungen am Vertrag.</xsd:documentation>
	    </xsd:annotation>
    </xsd:element>

    <xsd:complexType name="EinschliessenVertragBedingungRequestType">
        <xsd:annotation>
	        <xsd:documentation>Request zum Einschliessen von Vertragsbedingungen.</xsd:documentation>
	    </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="vertragId" type="pi:WsVertragIdType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                     <xsd:documentation>Technischer Schlüssel des Vertrages.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="id" type="pi:WsEinschliessbareBedingungIdType" minOccurs="1" maxOccurs="unbounded">
                <xsd:annotation>
                     <xsd:documentation>Technischer Schlüssel der einzuschliessenden Bedingung.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="stichdatum" type="st:DateType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Stichdatum zu dem die Bedingung eingeschlossen werden soll.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="EinschliessenVertragBedingungResponseType">
        <xsd:annotation>
	        <xsd:documentation>Response zum Einschliessen von Vertragsbedingungen.</xsd:documentation>
	    </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="bedingungId" type="pi:WsBedingungIdType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                     <xsd:documentation>Technischer Schlüssel der Bedingung die eingeschlossen wurde.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="einschliessenVersichertesObjektBedingungRequest" type="tns:EinschliessenVersichertesObjektBedingungRequestType">
	    <xsd:annotation>
	        <xsd:documentation>Request zum Einschliessen von Bedingungen am versicherten Objekt.</xsd:documentation>
	    </xsd:annotation>
    </xsd:element>

    <xsd:element name="einschliessenVersichertesObjektBedingungResponse" type="tns:EinschliessenVersichertesObjektBedingungResponseType">
	    <xsd:annotation>
	        <xsd:documentation>Response zum Einschliessen von Bedingungen am versicherten Objekt.</xsd:documentation>
	    </xsd:annotation>
    </xsd:element>

    <xsd:complexType name="EinschliessenVersichertesObjektBedingungRequestType">
        <xsd:annotation>
	        <xsd:documentation>Request zum Einschliessen von Bedingungen des versicherten Objektes.</xsd:documentation>
	    </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="versichertesObjektId" type="pi:WsVersichertesObjektIdType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                     <xsd:documentation>Technischer Schlüssel des versicherten Objektes.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="id" type="pi:WsEinschliessbareBedingungIdType" minOccurs="1" maxOccurs="unbounded">
                <xsd:annotation>
                     <xsd:documentation>Technischer Schlüssel der einzuschliessenden Bedingung.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="stichdatum" type="st:DateType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Stichdatum zu dem die Bedingung eingeschlossen werden soll.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="EinschliessenVersichertesObjektBedingungResponseType">
        <xsd:annotation>
	        <xsd:documentation>Response zum Einschliessen von Bedingungen des versicherten Objektes.</xsd:documentation>
	    </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="bedingungId" type="pi:WsBedingungIdType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                     <xsd:documentation>Technischer Schlüssel der Bedingung die eingeschlossen wurde.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="einschliessenVertragsproduktBedingungRequest" type="tns:EinschliessenVertragsproduktBedingungRequestType">
	    <xsd:annotation>
	        <xsd:documentation>Request zum Einschliessen von Bedingungen am Vertragsprodukt.</xsd:documentation>
	    </xsd:annotation>
    </xsd:element>

    <xsd:element name="einschliessenVertragsproduktBedingungResponse" type="tns:EinschliessenVertragsproduktBedingungResponseType">
	    <xsd:annotation>
	        <xsd:documentation>Response zum Einschliessen von Bedingungen am Vertragsprodukt.</xsd:documentation>
	    </xsd:annotation>
    </xsd:element>

    <xsd:complexType name="EinschliessenVertragsproduktBedingungRequestType">
        <xsd:annotation>
	        <xsd:documentation>Request zum Einschliessen von Vertragsproduktbedingungen.</xsd:documentation>
	    </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="vertragsproduktId" type="pi:WsVertragsproduktIdType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                     <xsd:documentation>Technischer Schlüssel des Vertragsproduktes.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="id" type="pi:WsEinschliessbareBedingungIdType" minOccurs="1" maxOccurs="unbounded">
                <xsd:annotation>
                     <xsd:documentation>Technischer Schlüssel der einzuschliessenden Bedingung.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="stichdatum" type="st:DateType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Stichdatum zu dem die Bedingung eingeschlossen werden soll.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="EinschliessenVertragsproduktBedingungResponseType">
       <xsd:annotation>
	        <xsd:documentation>Response zum Einschliessen von Vertragsproduktbedingungen.</xsd:documentation>
	    </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="bedingungId" type="pi:WsBedingungIdType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                     <xsd:documentation>Technischer Schlüssel der Bedingung die eingeschlossen wurde.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

</xsd:schema>