master-21371/apibridge-bestandsverw-suva_3.master.master-21371-13979/wsdl/com/adcubum/syrius/api/bestandsverw/objektverw/auskunft/data/liegenschaft/v2/LiegenschaftService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="LiegenschaftService"
                  targetNamespace="urn:com:adcubum:syrius:api:bestandsverw:objektverw:auskunft:data:liegenschaft:v2"
                  xmlns:tns="urn:com:adcubum:syrius:api:bestandsverw:objektverw:auskunft:data:liegenschaft:v2"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:flt="urn:com:adcubum:syrius:api:common:faults:v1"
                  xmlns:pa="urn:com:adcubum:syrius:api:bestandsverw:objektverw:auskunft:data:liegenschaft:v2:schema">
    <wsdl:documentation>Version: 2.0.0</wsdl:documentation>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="urn:com:adcubum:syrius:api:common:faults:v1" schemaLocation="../../../../../../common/faults/v1/faults.xsd"/>
            <xsd:import namespace="urn:com:adcubum:syrius:api:bestandsverw:objektverw:auskunft:data:liegenschaft:v2:schema"
                        schemaLocation="schema/LiegenschaftService.xsd"/>
        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="GetLiegenschaftRequestMessage">
        <wsdl:part name="Request" element="pa:getLiegenschaftRequest"/>
    </wsdl:message>
    <wsdl:message name="GetLiegenschaftResponseMessage">
        <wsdl:part name="Response" element="pa:getLiegenschaftResponse"/>
    </wsdl:message>
    <wsdl:message name="SearchLiegenschaftRequestMessage">
        <wsdl:part name="Request" element="pa:searchLiegenschaftRequest"/>
    </wsdl:message>
    <wsdl:message name="SearchLiegenschaftResponseMessage">
        <wsdl:part name="Response" element="pa:searchLiegenschaftResponse"/>
    </wsdl:message>
    <wsdl:message name="GetLiegenschaftVorlageRequestMessage">
        <wsdl:part name="Request" element="pa:getLiegenschaftVorlageRequest"/>
    </wsdl:message>
    <wsdl:message name="GetLiegenschaftVorlageResponseMessage">
        <wsdl:part name="Response" element="pa:getLiegenschaftVorlageResponse"/>
    </wsdl:message>
    <wsdl:message name="ApiFaultMessage">
        <wsdl:part name="fault" element="flt:apiFaultInfo"/>
    </wsdl:message>

    <wsdl:portType name="LiegenschaftServicePortType">
        <wsdl:operation name="getLiegenschaft">
            <wsdl:documentation>Liefert zu den übergebenen LiegenschaftIDs die entsprechenden Liegenschaften.
            </wsdl:documentation>
            <wsdl:input name="getLiegenschaftRequest" message="tns:GetLiegenschaftRequestMessage"/>
            <wsdl:output name="getLiegenschaftResponse" message="tns:GetLiegenschaftResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="searchLiegenschaft">
            <wsdl:documentation>Sucht nach Liegenschaften, die den Suchbedingungen entsprechen.
            </wsdl:documentation>
            <wsdl:input name="searchLiegenschaftRequest" message="tns:SearchLiegenschaftRequestMessage"/>
            <wsdl:output name="searchLiegenschaftResponse" message="tns:SearchLiegenschaftResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="getLiegenschaftVorlage">
            <wsdl:documentation>Liefert zu der übergebenen VersichertesObjektDefinitionID eine Liegenschaft-Vorlage mit Default-Werten.</wsdl:documentation>
            <wsdl:input name="getLiegenschaftVorlageRequest" message="tns:GetLiegenschaftVorlageRequestMessage"/>
            <wsdl:output name="getLiegenschaftVorlageResponse" message="tns:GetLiegenschaftVorlageResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="LiegenschaftServiceBinding" type="tns:LiegenschaftServicePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getLiegenschaft">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="getLiegenschaftRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getLiegenschaftResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="searchLiegenschaft">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="searchLiegenschaftRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="searchLiegenschaftResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getLiegenschaftVorlage">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="getLiegenschaftVorlageRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getLiegenschaftVorlageResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="LiegenschaftService_v2">
        <wsdl:port name="LiegenschaftService_v2" binding="tns:LiegenschaftServiceBinding">
            <soap:address location="https://example.com/apibridge-bestandsverw/LiegenschaftService_v2"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
