master-21371/apibridge-bestandsverw-suva_3.master.master-21371-13979/wsdl/com/adcubum/syrius/api/bestandsverw/vertragsverw/auskunft/data/versichertenkarte/v1/VersichertenkarteService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="VersichertenkarteService"
                  targetNamespace="urn:com:adcubum:syrius:api:bestandsverw:vertragsverw:auskunft:data:versichertenkarte:v1"
                  xmlns:tns="urn:com:adcubum:syrius:api:bestandsverw:vertragsverw:auskunft:data:versichertenkarte:v1"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:flt="urn:com:adcubum:syrius:api:common:faults:v1"
                  xmlns:pa="urn:com:adcubum:syrius:api:bestandsverw:vertragsverw:auskunft:data:versichertenkarte:v1:schema">

    <wsdl:documentation>
    	Version: 1.0.0
    </wsdl:documentation>

    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="urn:com:adcubum:syrius:api:common:faults:v1" schemaLocation="../../../../../../common/faults/v1/faults.xsd"/>
            <xsd:import namespace="urn:com:adcubum:syrius:api:bestandsverw:vertragsverw:auskunft:data:versichertenkarte:v1:schema"
                        schemaLocation="schema/VersichertenkarteService.xsd"/>
        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="SearchAktuelleVersichertenkarteForPartnerRequestMessage">
        <wsdl:part name="Request" element="pa:searchAktuelleVersichertenkarteForPartnerRequest"/>
    </wsdl:message>

    <wsdl:message name="SearchAktuelleVersichertenkarteForPartnerResponseMessage">
        <wsdl:part name="Response" element="pa:searchAktuelleVersichertenkarteForPartnerResponse"/>
    </wsdl:message>

    <wsdl:message name="GetVersichertenkarteRequestMessage">
        <wsdl:part name="Request" element="pa:getVersichertenkarteRequest"/>
    </wsdl:message>

    <wsdl:message name="GetVersichertenkarteResponseMessage">
        <wsdl:part name="Response" element="pa:getVersichertenkarteResponse"/>
    </wsdl:message>

    <wsdl:message name="ApiFaultMessage">
        <wsdl:part name="fault" element="flt:apiFaultInfo"/>
    </wsdl:message>

    <wsdl:portType name="VersichertenkarteServicePortType">
        <wsdl:operation name="searchAktuelleVersichertenkarteForPartner">
            <wsdl:documentation>Liefert eine VersichertenkarteId für eine PartnerID.
            </wsdl:documentation>
            <wsdl:input name="searchAktuelleVersichertenkarteForPartnerRequest" message="tns:SearchAktuelleVersichertenkarteForPartnerRequestMessage"/>
            <wsdl:output name="searchAktuelleVersichertenkarteForPartnerResponse" message="tns:SearchAktuelleVersichertenkarteForPartnerResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="getVersichertenkarte">
            <wsdl:documentation>Liefert eine Versichertenkarte für eine VersichertenkarteId.
            </wsdl:documentation>
            <wsdl:input name="getVersichertenkarteRequest" message="tns:GetVersichertenkarteRequestMessage"/>
            <wsdl:output name="getVersichertenkarteResponse" message="tns:GetVersichertenkarteResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="VersichertenkarteServiceBinding" type="tns:VersichertenkarteServicePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="searchAktuelleVersichertenkarteForPartner">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="searchAktuelleVersichertenkarteForPartnerRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="searchAktuelleVersichertenkarteForPartnerResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getVersichertenkarte">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="getVersichertenkarteRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getVersichertenkarteResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="VersichertenkarteService_v1">
        <wsdl:port name="VersichertenkarteService_v1" binding="tns:VersichertenkarteServiceBinding">
            <soap:address location="https://example.com/apibridge-bestandsverw/VersichertenkarteService_v1"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
