master-21371/apibridge-partnermgmt-suva_4.master.master-21371-14050/wsdl/com/adcubum/syrius/api/partnermgmt/partnerdatenverw/data/telefonbereich/v1/schema/TelefonBereichService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:pi="urn:com:adcubum:syrius:api:partnermgmt:common:identifier:v1"
            xmlns:pt="urn:com:adcubum:syrius:api:partnermgmt:common:types:v1"
            xmlns:ct="urn:com:adcubum:syrius:api:common:types:v1"
            xmlns:st="urn:com:adcubum:syrius:api:common:simpleTypes:v1"
            xmlns:syrtype="urn:com:adcubum:syrius:api:common:syriusTypes:v1"
            xmlns:pc="urn:com:adcubum:syrius:api:partnermgmt:common:codes:v1"
            xmlns:tns="urn:com:adcubum:syrius:api:partnermgmt:partnerdatenverw:data:telefonbereich:v1:schema"
            elementFormDefault="qualified"
            targetNamespace="urn:com:adcubum:syrius:api:partnermgmt:partnerdatenverw:data:telefonbereich:v1:schema"
            version="1.0.0">
    <xsd:import namespace="urn:com:adcubum:syrius:api:partnermgmt:common:codes:v1" schemaLocation="../../../../../common/codes/v1/codes.xsd"/>
    <xsd:import namespace="urn:com:adcubum:syrius:api:partnermgmt:common:identifier:v1" schemaLocation="../../../../../common/identifier/v1/identifier.xsd"/>
    <xsd:import namespace="urn:com:adcubum:syrius:api:partnermgmt:common:types:v1" schemaLocation="../../../../../common/types/v1/types.xsd"/>
    <xsd:import namespace="urn:com:adcubum:syrius:api:common:syriusTypes:v1" schemaLocation="../../../../../../common/syriusTypes/v1/syriusTypes.xsd" />
    <xsd:import namespace="urn:com:adcubum:syrius:api:common:types:v1" schemaLocation="../../../../../../common/types/v1/types.xsd"/>
    <xsd:import namespace="urn:com:adcubum:syrius:api:common:simpleTypes:v1" schemaLocation="../../../../../../common/simpleTypes/v1/simpleTypes.xsd"/>
    <xsd:element name="getTelefonBereichRequest" type="tns:GetTelefonBereichRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, mit dem die Telefonbereiche geladen werden.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="getTelefonBereichResponse" type="tns:GetTelefonBereichResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response, in dem die geladenen Telefonbereiche enthalten sind.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="getPartnerTelefonBereichRequest" type="tns:GetPartnerTelefonBereichRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, mit dem die Telefonbereiche von bestimmten Partnern geladen werden.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="getPartnerTelefonBereichResponse" type="tns:GetPartnerTelefonBereichResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response, in dem die geladenen Telefonbereiche der angegebenen Partner enthalten sind.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="getAdresseTelefonBereichRequest" type="tns:GetAdresseTelefonBereichRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, mit dem die Telefonbereiche von bestimmten Adressen geladen werden.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="getAdresseTelefonBereichResponse" type="tns:GetAdresseTelefonBereichResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response, in dem die geladenen Telefonbereiche der angegebenen Adressen enthalten sind.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="getLeistungserbringerTelefonBereichRequest" type="tns:GetLeistungserbringerTelefonBereichRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, mit dem die Telefonbereiche von bestimmten Leistungserbringern geladen werden.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="getLeistungserbringerTelefonBereichResponse" type="tns:GetLeistungserbringerTelefonBereichResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response, in dem die geladenen Telefonbereiche der angegebenen Leistungserbringer enthalten sind.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="getOrganisationseinheitTelefonBereichRequest" type="tns:GetOrganisationseinheitTelefonBereichRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, mit dem die Telefonbereiche von bestimmten Organisationseinheiten geladen werden.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="getOrganisationseinheitTelefonBereichResponse" type="tns:GetOrganisationseinheitTelefonBereichResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response, in dem die geladenen Telefonbereiche der angegebenen Organisationseinheiten enthalten sind.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="GetTelefonBereichRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, mit dem die Telefonbereiche geladen werden.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="telefonBereichId" type="pi:WsTelefonBereichIdType" minOccurs="1" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Technischer Schlüssel eines Telefonbereichs.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="syrtype:stichtagStrictOrNextBest">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">Fachlicher Zeitpunkt.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="GetTelefonBereichResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response, in dem die geladenen Telefonbereiche enthalten sind.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="telefonBereich" type="tns:WsTelefonBereichType" minOccurs="1" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Enthält eine Liste mit den geladenen Telefonbereichen.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="GetPartnerTelefonBereichRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, mit dem die Telefonbereiche von bestimmten Partnern geladen werden.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="partnerId" type="pi:WsPartnerIdType" minOccurs="1" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Technischer Schlüssel eines Partners, von welchem die Telefonbereiche geladen werden sollen.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="syrtype:stichtagStrictOrNextBest">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">Fachlicher Zeitpunkt.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="GetPartnerTelefonBereichResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response, in dem die geladenen Telefonbereiche der angegebenen Partner enthalten sind.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="partnerTelefonBereich" type="tns:WsPartnerTelefonBereichType" minOccurs="1" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Enthält die Liste mit den geladenen Telefonbereichen des Partners.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="GetAdresseTelefonBereichRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, mit dem die Telefonbereiche von bestimmten Adressen geladen werden.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="adresseId" type="pi:WsAdresseIdType" minOccurs="1" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Technischer Schlüssel einer Adresse, von welcher die Telefonbereiche geladen werden sollen.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="syrtype:stichtagStrictOrNextBest">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">Fachlicher Zeitpunkt.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="GetAdresseTelefonBereichResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response, in dem die geladenen Telefonbereiche der angegebenen Adressen enthalten sind.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="adresseTelefonBereich" type="tns:WsAdresseTelefonBereichType" minOccurs="1" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Enthält die Liste mit den geladenen Telefonbereichen der Adresse.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="GetLeistungserbringerTelefonBereichRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, mit dem die Telefonbereiche von bestimmten Leistungserbringern geladen werden.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="leistungserbringerId" type="pi:WsLeistungserbringerIdType" minOccurs="1" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Technischer Schlüssel eines Leistungserbringers, von welchem die Telefonbereiche geladen werden sollen.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="syrtype:stichtagStrictOrNextBest">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">Fachlicher Zeitpunkt.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="GetLeistungserbringerTelefonBereichResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response, in dem die geladenen Telefonbereiche der angegebenen Leistungserbringer enthalten sind.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="leistungserbringerTelefonBereich" type="tns:WsLeistungserbringerTelefonBereichType" minOccurs="1" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Enthält die Liste mit den geladenen Telefonbereichen des Leistungserbringers.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="GetOrganisationseinheitTelefonBereichRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, mit dem die Telefonbereiche von bestimmten Organisationseinheiten geladen werden.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="organisationseinheitId" type="pi:WsOrganisationseinheitIdType" minOccurs="1" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Technischer Schlüssel einer Organisationseinheit, von welcher die Telefonbereiche geladen werden sollen.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="syrtype:stichtagStrictOrNextBest">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">Fachlicher Zeitpunkt.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="GetOrganisationseinheitTelefonBereichResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response, in dem die geladenen Telefonbereichen der angegebenen Organisationseinheit enthalten sind.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="organisationseinheitTelefonBereich" type="tns:WsOrganisationseinheitTelefonBereichType" minOccurs="1" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Enthält die Liste mit den geladenen Telefonbereichen der Organisationseinheit.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="WsPartnerTelefonBereichType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Liste mit Telefonbereichen eines Partners.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="partnerId" type="pi:WsPartnerIdType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Technische Id des Partners.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="telefonBereich" type="tns:WsTelefonBereichType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Liste mit den geladenen Telefonbereichen des Partners.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="WsLeistungserbringerTelefonBereichType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Liste mit Telefonbereichen eines Leistungserbringers.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="leistungserbringerId" type="pi:WsLeistungserbringerIdType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Technische Id des Leistungserbringers.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="telefonBereich" type="tns:WsTelefonBereichType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Liste mit den geladenen Telefonbereichen des Leistungserbringers.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="WsOrganisationseinheitTelefonBereichType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Liste mit Telefonbereichen einer Organisationseinheit.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="organisationseinheitId" type="pi:WsOrganisationseinheitIdType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Technische Id der Organisationseinheit.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="telefonBereich" type="tns:WsTelefonBereichType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Liste mit den geladenen Telefonbereichen der Organisationseinheit.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="WsAdresseTelefonBereichType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Liste mit Telefonbereichen einer Adresse.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="adresseId" type="pi:WsAdresseIdType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Technische Id der Adresse.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="telefonBereich" type="tns:WsTelefonBereichType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Liste mit den geladenen Telefonbereichen der Adresse.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="WsTelefonBereichType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Enthält die Daten eines Telefonbereichs.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ct:WsHistObjectType">
                <xsd:sequence>
                    <xsd:element name="id" type="pi:WsTelefonBereichIdType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Technischer Schlüssel eines Telefonnummerbereichs.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="telefonBereichDefId" type="pi:WsTelefonBereichDefIdType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Technischer Schlüssel der Telefonnummerbereich-Definition.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="mutationsgrundId" type="pi:WsMutationsgrundIdType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Mutationsgrund der Änderung, z.B Neuerfassung, Adressänderung, Mutation, usw.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="isDefStandard" type="st:BooleanType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Standard-Telefonnummerbereich der Definition.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="isStandard" type="st:BooleanType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Standard-Telefonnummerbereich, unabhängig von der Definition.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="bereichAnfang" type="st:StringType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Anfang des Telefonnummernbereichs.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="bereichEnde" type="st:StringType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Ende des Telefonnummernbereichs.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
</xsd:schema>
