master-21371/apibridge-partnermgmt-suva_4.master.master-21371-14050/wsdl/com/adcubum/syrius/api/partnermgmt/partnerdatenverw/process/adresse/v1/AdresseProcessService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="AdresseProcessService"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="urn:com:adcubum:syrius:api:partnermgmt:partnerdatenverw:process:adresse:v1"
                  xmlns:tns="urn:com:adcubum:syrius:api:partnermgmt:partnerdatenverw:process:adresse:v1"
                  xmlns:pa="urn:com:adcubum:syrius:api:partnermgmt:partnerdatenverw:process:adresse:v1:schema"
                  xmlns:xhtml="http://www.w3.org/1999/xhtml"
                  xmlns:flt="urn:com:adcubum:syrius:api:common:faults:v1"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:wsdlsi="urn:com:adcubum:syrius:api:common:serviceinfo:v1">
    <wsdl:documentation>Version: 1.0.0</wsdl:documentation>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="urn:com:adcubum:syrius:api:partnermgmt:partnerdatenverw:process:adresse:v1:schema" schemaLocation="schema/AdresseProcessService.xsd"/>
            <xsd:import namespace="urn:com:adcubum:syrius:api:common:faults:v1" schemaLocation="../../../../../common/faults/v1/faults.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="CreateDomiziladresseRequestMessage">
        <wsdl:part name="Request" element="pa:createDomiziladresseRequest"/>
    </wsdl:message>
    <wsdl:message name="CreateDomiziladresseResponseMessage">
        <wsdl:part name="Response" element="pa:createDomiziladresseResponse"/>
    </wsdl:message>
    <wsdl:message name="CreateZusatzadresseRequestMessage">
        <wsdl:part name="Request" element="pa:createZusatzadresseRequest"/>
    </wsdl:message>
    <wsdl:message name="CreateZusatzadresseResponseMessage">
        <wsdl:part name="Response" element="pa:createZusatzadresseResponse"/>
    </wsdl:message>
    <wsdl:message name="ApiFaultMessage">
        <wsdl:part name="fault" element="flt:apiFaultInfo"/>
    </wsdl:message>
    <wsdl:portType name="AdresseProcessServicePortType">
        <wsdl:operation name="createDomiziladresse">
            <wsdl:documentation>Erstellt eine neue Domiziladresse zu einem Partner.</wsdl:documentation>
            <wsdl:input name="createDomiziladresseRequest" message="tns:CreateDomiziladresseRequestMessage"/>
            <wsdl:output name="createDomiziladresseResponse" message="tns:CreateDomiziladresseResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="createZusatzadresse">
            <wsdl:documentation>Erstellt eine neue Zusatzadresse zu einem Partner.</wsdl:documentation>
            <wsdl:input name="createZusatzadresseRequest" message="tns:CreateZusatzadresseRequestMessage"/>
            <wsdl:output name="createZusatzadresseResponse" message="tns:CreateZusatzadresseResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="AdresseProcessServiceBinding" type="tns:AdresseProcessServicePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="createDomiziladresse">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="createDomiziladresseRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="createDomiziladresseResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="createZusatzadresse">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="createZusatzadresseRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="createZusatzadresseResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="AdresseProcessService_v1">
    <wsdl:documentation>
        <xhtml:ul>
            <xhtml:li>Deprecation: Der Ortsteil und die OrtsteilId wurden der Adresse hinzugefügt.
                      Da das Adresse Objekt noch erweitert wird, ist es nicht möglich das Attribut am Ende anzufügen, was zu einem Breaking Change führt.
            </xhtml:li>
        </xhtml:ul>
    </wsdl:documentation>
        <wsdlsi:serviceInfo>
            <wsdlsi:deprecation>
                <wsdlsi:deprecationReason>Replaced</wsdlsi:deprecationReason>
                <wsdlsi:replacedBy>
                    <wsdlsi:serviceName>AdresseService_v3</wsdlsi:serviceName>
                    <wsdlsi:targetNamespace>urn:com:adcubum:syrius:api:partnermgmt:partnerdatenverw:data:adresse:v3</wsdlsi:targetNamespace>
                </wsdlsi:replacedBy>
                <wsdlsi:ticketReference>APAR-624</wsdlsi:ticketReference>
            </wsdlsi:deprecation>
        </wsdlsi:serviceInfo>
        <wsdl:port name="AdresseProcessService_v1" binding="tns:AdresseProcessServiceBinding">
            <soap:address location="https://example.com/apibridge-partnermgmt/AdresseProcessService_v1"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
