master-21371/apibridge-bestandsverw-suva_3.master.master-21371-13979/wsdl/com/adcubum/syrius/api/bestandsverw/vertragsverw/process/versichertesobjektprocess/v1/VersichertesObjektProcessService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="VersichertesObjektProcessService"
                  targetNamespace="urn:com:adcubum:syrius:api:bestandsverw:vertragsverw:process:versichertesobjektprocess:v1"
                  xmlns:tns="urn:com:adcubum:syrius:api:bestandsverw:vertragsverw:process:versichertesobjektprocess:v1"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:xhtml="http://www.w3.org/1999/xhtml"
                  xmlns:flt="urn:com:adcubum:syrius:api:common:faults:v1"
                  xmlns:wsdlsi="urn:com:adcubum:syrius:api:common:serviceinfo:v1"
                  xmlns:pa="urn:com:adcubum:syrius:api:bestandsverw:vertragsverw:process:versichertesobjektprocess:v1:schema">

    <wsdl:documentation>
    	Version: 1.0.0
    </wsdl:documentation>

    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="urn:com:adcubum:syrius:api:common:faults:v1" schemaLocation="../../../../../common/faults/v1/faults.xsd"/>
            <xsd:import namespace="urn:com:adcubum:syrius:api:common:serviceinfo:v1" schemaLocation="../../../../../common/serviceinfo/v1/serviceinfo.xsd"/>
            <xsd:import namespace="urn:com:adcubum:syrius:api:bestandsverw:vertragsverw:process:versichertesobjektprocess:v1:schema"
                        schemaLocation="schema/VersichertesObjektProcessService.xsd"/>
        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="ChangeVerkaufsproduktRequestMessage">
        <wsdl:part name="Request" element="pa:changeVerkaufsproduktRequest"/>
    </wsdl:message>
    <wsdl:message name="ChangeVerkaufsproduktResponseMessage">
        <wsdl:part name="Response" element="pa:changeVerkaufsproduktResponse"/>
    </wsdl:message>
    <wsdl:message name="ChangeParamAttributRequestMessage">
        <wsdl:part name="Request" element="pa:changeParamAttributRequest"/>
    </wsdl:message>
    <wsdl:message name="ChangeParamAttributResponseMessage">
        <wsdl:part name="Response" element="pa:changeParamAttributResponse"/>
    </wsdl:message>
    <wsdl:message name="ApiFaultMessage">
        <wsdl:part name="fault" element="flt:apiFaultInfo"/>
    </wsdl:message>

    <wsdl:portType name="VersichertesObjektProcessServicePortType">
        <wsdl:operation name="changeVerkaufsprodukt">
            <wsdl:documentation>Fügt hinzu und jeweils entfernt eine Liste mit Verkaufsprodukte zu dem versicherten Objekt.</wsdl:documentation>
            <wsdl:input name="changeVerkaufsproduktRequest" message="tns:ChangeVerkaufsproduktRequestMessage"/>
            <wsdl:output name="changeVerkaufsproduktResponse" message="tns:ChangeVerkaufsproduktResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="changeParamAttribut">
            <wsdl:documentation>Ändert die ParamAttribute eines Versicherten Objekts entsprechend der übergebenen Liste.</wsdl:documentation>
            <wsdl:input name="changeParamAttributRequest" message="tns:ChangeParamAttributRequestMessage"/>
            <wsdl:output name="changeParamAttributResponse" message="tns:ChangeParamAttributResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="VersichertesObjektProcessServiceBinding" type="tns:VersichertesObjektProcessServicePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="changeVerkaufsprodukt">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="changeVerkaufsproduktRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="changeVerkaufsproduktResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="changeParamAttribut">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="changeParamAttributRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="changeParamAttributResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="VersichertesObjektProcessService_v1">
    	<wsdl:documentation>
            <xhtml:ul>
                <xhtml:li>Deprecation: Der Service ist NUR nach vorheriger Absprache mit Adcubum zu benutzen.</xhtml:li>
            </xhtml:ul>
        </wsdl:documentation>
        <wsdlsi:serviceInfo>
            <wsdlsi:deprecation>
                <wsdlsi:deprecationReason>Discontinued</wsdlsi:deprecationReason>
                <wsdlsi:ticketReference>ABES-316</wsdlsi:ticketReference>
            </wsdlsi:deprecation>
        </wsdlsi:serviceInfo>
        <wsdl:port name="VersichertesObjektProcessService_v1" binding="tns:VersichertesObjektProcessServiceBinding">
            <soap:address location="https://example.com/apibridge-bestandsverw/VersichertesObjektProcessService_v1"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
