master-21371/apibridge-partnermgmt-suva_4.master.master-21371-14050/wsdl/com/adcubum/syrius/api/partnermgmt/partnerdatenverw/process/telefonbereich/v1/schema/TelefonBereichProcessService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:pi="urn:com:adcubum:syrius:api:partnermgmt:common:identifier:v1"
            xmlns:pt="urn:com:adcubum:syrius:api:partnermgmt:common:types:v1"
            xmlns:ct="urn:com:adcubum:syrius:api:common:types:v1"
            xmlns:st="urn:com:adcubum:syrius:api:common:simpleTypes:v1"
            xmlns:pc="urn:com:adcubum:syrius:api:partnermgmt:common:codes:v1"
            xmlns:tns="urn:com:adcubum:syrius:api:partnermgmt:partnerdatenverw:process:telefonbereich:v1:schema"
            elementFormDefault="qualified"
            targetNamespace="urn:com:adcubum:syrius:api:partnermgmt:partnerdatenverw:process:telefonbereich:v1:schema"
            version="1.0.0">
    <xsd:import namespace="urn:com:adcubum:syrius:api:partnermgmt:common:codes:v1" schemaLocation="../../../../../common/codes/v1/codes.xsd"/>
    <xsd:import namespace="urn:com:adcubum:syrius:api:partnermgmt:common:identifier:v1" schemaLocation="../../../../../common/identifier/v1/identifier.xsd"/>
    <xsd:import namespace="urn:com:adcubum:syrius:api:partnermgmt:common:types:v1" schemaLocation="../../../../../common/types/v1/types.xsd"/>
    <xsd:import namespace="urn:com:adcubum:syrius:api:common:types:v1" schemaLocation="../../../../../../common/types/v1/types.xsd"/>
    <xsd:import namespace="urn:com:adcubum:syrius:api:common:simpleTypes:v1" schemaLocation="../../../../../../common/simpleTypes/v1/simpleTypes.xsd"/>
    <xsd:element name="createTelefonBereichForPartnerResponse" type="tns:CreateTelefonBereichForPartnerResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response, um einen neuen Telefonnummerbereich zu erstellen.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="createTelefonBereichForPartnerRequest" type="tns:CreateTelefonBereichForPartnerRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request der Telefonnummerbereich Erstellung.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="changeTelefonBereichResponse" type="tns:ChangeTelefonBereichResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response, um einen Telefonnummerbereich zu ändern.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="changeTelefonBereichRequest" type="tns:ChangeTelefonBereichRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request der Telefonnummerbereich Änderung.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="terminateTelefonBereichRequest" type="tns:TerminateTelefonBereichRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, um einen Telefonnummerbereich zu terminieren.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="terminateTelefonBereichResponse" type="tns:TerminateTelefonBereichResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response einer Telefonnummerbereich Beendigung.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="CreateTelefonBereichForPartnerRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, um einen neuen Telefonnummerbereich zu erstellen.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="telefonBereich" type="tns:WsTelefonBereichType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Enthält die Daten des neuen Telefonnummerbereichs.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="partnerId" type="pi:WsPartnerIdType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Technischer Schlüssel des Partners, für welchen der Telefonnummerbereich erstellt wird.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="gueltigAb" type="xsd:date" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Bestimmt ab wann der Telefonnummerbereich gültig ist.</xsd:documentation>
                </xsd:annotation>
            </xsd:element> 
            <xsd:element name="gueltigBis" type="xsd:date" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Bestimmt bis wann der Telefonnummerbereich gültig ist.</xsd:documentation>
                </xsd:annotation>
            </xsd:element> 
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CreateTelefonBereichForPartnerResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response der Telefonnummerbereich Erstellung.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="telefonBereichId" type="pi:WsTelefonBereichIdType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Technische Id des erstellten Telefonnummerbereichs.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ChangeTelefonBereichRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, um einen Telefonnummerbereich zu ändern.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="telefonBereich" type="tns:WsTelefonBereichType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Enthält die Daten des geänderten Telefonnummerbereichs.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="id" type="pi:WsTelefonBereichIdType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Technischer Schlüssel des zu ändernden Telefonnummerbereichs.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="aenderungAb" type="xsd:date" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Bestimmt ab wann der geänderte Telefonnummerbereich gültig ist.</xsd:documentation>
                </xsd:annotation>
            </xsd:element> 
            <xsd:element name="aenderungBis" type="xsd:date" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Bestimmt bis wann der geänderte Telefonnummerbereich gültig ist.</xsd:documentation>
                </xsd:annotation>
            </xsd:element> 
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ChangeTelefonBereichResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response der Telefonnummerbereich Änderung.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="telefonBereichId" type="pi:WsTelefonBereichIdType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Technische Id des geänderten Telefonnummerbereichs.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="TerminateTelefonBereichRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, um eine Telefonnummerbereich zu terminieren.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="telefonBereichId" type="pi:WsTelefonBereichIdType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Technische Id des zu terminierenden Telefonnummerbereichs.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="mutationsgrundId" type="pi:WsMutationsgrundIdType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Technische Id des verwendeten Mutationsgrunds.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="beendigungsdatum" type="xsd:date" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Bestimmt per welchem Datum der Telefonnummerbereich terminiert wird.</xsd:documentation>
                </xsd:annotation>
            </xsd:element> 
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="TerminateTelefonBereichResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response für das Terminieren eines bestimmten Telefonnummerbereichs.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="terminierenErfolgreich" type="st:BooleanType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Immer True, im Falle eines Fehlers wird eine Exception geworfen.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="WsTelefonBereichType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Enthält die Daten eines Telefonnummerbereichs.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="telefonBereichDefId" type="pi:WsTelefonBereichDefIdType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Technischer Schlüssel der Telefonnummerbereich-Definition.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="mutationsgrundId" type="pi:WsMutationsgrundIdType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Mutationsgrund der Änderung, z.B Neuerfassung, Adressänderung, Mutation, usw.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="isDefStandard" type="st:BooleanType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Standard-Telefonnummerbereich der Definition.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="isStandard" type="st:BooleanType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Standard-Telefonnummerbereich, unabhängig von der Definition.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="bereichAnfang" type="st:StringType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Anfang des Telefonnummernbereichs.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="bereichEnde" type="st:StringType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Ende des Telefonnummernbereichs.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
