master-21371/apibridge-finanzwesen-suva_3.master.master-21371-12912/wsdl/com/adcubum/syrius/api/finanzwesen/fakturamgmt/process/belastungsermaechtigung/v0/schema/BelastungsermaechtigungProcessService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:ct="urn:com:adcubum:syrius:api:common:types:v1"
            xmlns:cp="urn:com:adcubum:syrius:api:common:process:v0"
            xmlns:fi="urn:com:adcubum:syrius:api:finanzwesen:common:identifier:v1"
            xmlns:st="urn:com:adcubum:syrius:api:common:simpleTypes:v1"
            xmlns:tns="urn:com:adcubum:syrius:api:finanzwesen:fakturamgmt:process:belastungsermaechtigung:v0:schema"
            xmlns:et="urn:com:adcubum:syrius:api:common:extendedTypes:v1"
            xmlns:ext="urn:com:adcubum:syrius:api:common:externalTypes:v1"
            targetNamespace="urn:com:adcubum:syrius:api:finanzwesen:fakturamgmt:process:belastungsermaechtigung:v0:schema"
            elementFormDefault="qualified"
            version="0.0.0">
 <xsd:import namespace="urn:com:adcubum:syrius:api:finanzwesen:common:identifier:v1" schemaLocation="../../../../../common/identifier/v1/identifier.xsd"/>
 <xsd:import namespace="urn:com:adcubum:syrius:api:common:types:v1" schemaLocation="../../../../../../common/types/v1/types.xsd"/>
 <xsd:import namespace="urn:com:adcubum:syrius:api:common:process:v0" schemaLocation="../../../../../../common/process/v0/process.xsd"/>
 <xsd:import namespace="urn:com:adcubum:syrius:api:common:simpleTypes:v1" schemaLocation="../../../../../../common/simpleTypes/v1/simpleTypes.xsd"/>
 <xsd:import namespace="urn:com:adcubum:syrius:api:common:extendedTypes:v1" schemaLocation="../../../../../../common/extendedTypes/v1/extendedTypes.xsd"/>
 <xsd:import namespace="urn:com:adcubum:syrius:api:common:externalTypes:v1" schemaLocation="../../../../../../common/externalTypes/v1/externalTypes.xsd"/>
 
 <xsd:element name="createBelastungsermaechtigungRequest" type="tns:CreateBelastungsermaechtigungRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, mit dem die Belastungsermächtigung importiert wird.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="createBelastungsermaechtigungResponse" type="tns:CreateBelastungsermaechtigungResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response, in dem der technische Schlüssel der importierten Belastungsermächtigung enthalten ist.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
     <xsd:complexType name="CreateBelastungsermaechtigungRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, mit dem die Belastungsermächtigung importiert wird.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
	        <xsd:element name="belastungsermaechtigung" type="tns:WsBelastungsermaechtigungType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Die Belastungsermächtigung welche erstellt werden soll.</xsd:documentation>
                </xsd:annotation>
        	</xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CreateBelastungsermaechtigungResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response, in dem der technische Schlüssel der importierten Belastungsermächtigung enthalten ist.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="belastungsermaechtigungId" type="fi:WsBelastungsermaechtigungIdType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Schlüssel der Belastungsermächtigung welche erstellt wurde.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
     
    <xsd:complexType name="WsBelastungsermaechtigungType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Eigenschaften einer Belastungsermächtigung.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ct:WsDataObjectType">
                <xsd:sequence>
                	<xsd:group ref="cp:GeneralProcessParams" />
                    <xsd:element name="id" type="fi:WsBelastungsermaechtigungIdType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Technischer Schlüssel einer Belastungsermächtigung.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="clid" type="st:StringType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">clid.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="gueltigAbDatum" type="st:LocalDateType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Gültigkeit der Belastungsermächtigung.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="versicherungsnehmer" type="fi:WsPartnerIdType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Technischer Schlüssel des Versicherungsnehmers</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="versicherungsnehmerKundennummer" type="st:StringType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Kundennummer des Versicherungsnehmers.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="versicherungsnehmerAHVNummer" type="st:StringType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">AHV Nummer des Versicherungsnehmers.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="versicherungsnehmerNachname" type="st:StringType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Nachname des Versicherungsnehmers.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="versicherungsnehmerVorname" type="st:StringType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Vorname des Versicherungsnehmers.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="versicherungsnehmerStrasse" type="st:StringType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Strasse des Versicherungsnehmers.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="versicherungsnehmerStrassennummer" type="st:StringType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Strassennummer des Versicherungsnehmers.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="versicherungsnehmerPLZ" type="st:StringType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">PLZ des Versicherungsnehmers.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="versicherungsnehmerOrt" type="st:StringType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Wohnort des Versicherungsnehmers.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="versicherungsnehmerEmail" type="st:StringType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Email des Versicherungsnehmer.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="kontoInhaber" type="fi:WsPartnerIdType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Technischer Schlüssel des Kontoinhabers.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="kontoInhaberKundennummer" type="st:StringType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Kundennummer des Kontoinhabers.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="kontoInhaberAHVNummer" type="st:StringType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">AHV Nummer des Kontoinhabers.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="kontoInhaberNachname" type="st:StringType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Nachname des Kontoinhabers.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="kontoInhaberVorname" type="st:StringType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Vorname des Kontoinhabers.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="kontoInhaberStrasse" type="st:StringType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Strasse des Kontoinhabers.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="kontoInhaberStrassennummer" type="st:StringType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Strassennummer des Kontoinhabers.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="kontoInhaberPLZ" type="st:StringType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">PLZ des Kontoinhabers.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="kontoInhaberOrt" type="st:StringType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Wohnort des Kontoinhabers.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="kontoInhaberEmail" type="st:StringType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Email des Kontoinhabers.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="praemiengeltungsbereich" type="st:BooleanType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Prämiengeltungsbereich.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="kostenbeteiligungsgeltungsbereich" type="st:BooleanType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Kostenbeteiligungsgeltungsbereich.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="gueltigAuchFuerAuszahlungskonto" type="st:BooleanType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Gültigkeit auch für das Auszahlungskonto.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="bankbelastung" type="st:BooleanType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Bankbelastung.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="postbelastung" type="st:BooleanType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Postbelastung.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="iban" type="st:StringType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">IBAN-Nummer.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="unterschriftVersicherungsnehmer" type="st:BooleanType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Unterschrift Versicherungesnehmer.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="unterschriftKontoinhaber" type="st:BooleanType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Unterschrift Kontoinhaber.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="unterschriftBank" type="st:BooleanType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Unterschrift Bank.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
</xsd:schema>