master-21371/apibridge-partnermgmt-suva_4.master.master-21371-14050/wsdl/com/adcubum/syrius/api/partnermgmt/partnerdatenverw/data/dokumentversand/v1/DokumentversandService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="DokumentversandService"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="urn:com:adcubum:syrius:api:partnermgmt:partnerdatenverw:data:dokumentversand:v1"
                  xmlns:tns="urn:com:adcubum:syrius:api:partnermgmt:partnerdatenverw:data:dokumentversand:v1"
                  xmlns:pa="urn:com:adcubum:syrius:api:partnermgmt:partnerdatenverw:data:dokumentversand:v1:schema"
                  xmlns:flt="urn:com:adcubum:syrius:api:common:faults:v1"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:wsdlsi="urn:com:adcubum:syrius:api:common:serviceinfo:v1"
                  xmlns:xhtml="http://www.w3.org/1999/xhtml">
    <wsdl:documentation>
       Version: 1.0.0
    </wsdl:documentation>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="urn:com:adcubum:syrius:api:partnermgmt:partnerdatenverw:data:dokumentversand:v1:schema" schemaLocation="schema/DokumentversandService.xsd"/>
            <xsd:import namespace="urn:com:adcubum:syrius:api:common:faults:v1" schemaLocation="../../../../../common/faults/v1/faults.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="GetDokumentversandRequestMessage">
        <wsdl:part name="request" element="pa:getDokumentversandRequest"/>
    </wsdl:message>
    <wsdl:message name="GetDokumentversandResponseMessage">
        <wsdl:part name="response" element="pa:getDokumentversandResponse"/>
    </wsdl:message>
    <wsdl:message name="GetPartnerDokumentversandRequestMessage">
        <wsdl:part name="request" element="pa:getPartnerDokumentversandRequest"/>
    </wsdl:message>
    <wsdl:message name="GetPartnerDokumentversandResponseMessage">
        <wsdl:part name="response" element="pa:getPartnerDokumentversandResponse"/>
    </wsdl:message>
    <wsdl:message name="GetPartnerStdDokumentversandRequestMessage">
        <wsdl:part name="request" element="pa:getPartnerStdDokumentversandRequest"/>
    </wsdl:message>
    <wsdl:message name="GetPartnerStdDokumentversandResponseMessage">
        <wsdl:part name="response" element="pa:getPartnerStdDokumentversandResponse"/>
    </wsdl:message>
    <wsdl:message name="GetPartnerAusgDokumentversandRequestMessage">
        <wsdl:part name="request" element="pa:getPartnerAusgDokumentversandRequest"/>
    </wsdl:message>
    <wsdl:message name="GetPartnerAusgDokumentversandResponseMessage">
        <wsdl:part name="response" element="pa:getPartnerAusgDokumentversandResponse"/>
    </wsdl:message>
    <wsdl:message name="GetPartnerEingDokumentversandRequestMessage">
        <wsdl:part name="request" element="pa:getPartnerEingDokumentversandRequest"/>
    </wsdl:message>
    <wsdl:message name="GetPartnerEingDokumentversandResponseMessage">
        <wsdl:part name="response" element="pa:getPartnerEingDokumentversandResponse"/>
    </wsdl:message>
    <wsdl:message name="ApiFaultMessage">
        <wsdl:part name="fault" element="flt:apiFaultInfo"/>
    </wsdl:message>
    <wsdl:portType name="DokumentversandServicePortType">
        <wsdl:operation name="getDokumentversand">
            <wsdl:documentation>Liefert für einen technischen Dokumentversandschlüssel die Daten des zugehörigen Dokumentversands.</wsdl:documentation>
            <wsdl:input name="getDokumentversandRequest" message="tns:GetDokumentversandRequestMessage"/>
            <wsdl:output name="getDokumentversandResponse" message="tns:GetDokumentversandResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="getPartnerDokumentversand">
            <wsdl:documentation>Liefert für einen technischen Partnerschlüssel die Daten aller Dokumentversand.</wsdl:documentation>
            <wsdl:input name="getPartnerDokumentversandRequest" message="tns:GetPartnerDokumentversandRequestMessage"/>
            <wsdl:output name="getPartnerDokumentversandResponse" message="tns:GetPartnerDokumentversandResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="getPartnerStdDokumentversand">
            <wsdl:documentation>Liefert für einen technischen Partnerschlüssel die Daten aller Standard-Dokumentversand.</wsdl:documentation>
            <wsdl:input name="getPartnerStdDokumentversandRequest" message="tns:GetPartnerStdDokumentversandRequestMessage"/>
            <wsdl:output name="getPartnerStdDokumentversandResponse" message="tns:GetPartnerStdDokumentversandResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="getPartnerAusgDokumentversand">
            <wsdl:documentation>Liefert für einen technischen Partnerschlüssel die Daten aller ausgehenden Dokumentversand.</wsdl:documentation>
            <wsdl:input name="getPartnerAusgDokumentversandRequest" message="tns:GetPartnerAusgDokumentversandRequestMessage"/>
            <wsdl:output name="getPartnerAusgDokumentversandResponse" message="tns:GetPartnerAusgDokumentversandResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="getPartnerEingDokumentversand">
            <wsdl:documentation>Liefert für einen technischen Partnerschlüssel die Daten aller eingehenden Dokumentversand.</wsdl:documentation>
            <wsdl:input name="getPartnerEingDokumentversandRequest" message="tns:GetPartnerEingDokumentversandRequestMessage"/>
            <wsdl:output name="getPartnerEingDokumentversandResponse" message="tns:GetPartnerEingDokumentversandResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="DokumentversandServiceBinding" type="tns:DokumentversandServicePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getDokumentversand">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="getDokumentversandRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getDokumentversandResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getPartnerDokumentversand">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="getPartnerDokumentversandRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getPartnerDokumentversandResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getPartnerStdDokumentversand">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="getPartnerStdDokumentversandRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getPartnerStdDokumentversandResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getPartnerAusgDokumentversand">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="getPartnerAusgDokumentversandRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getPartnerAusgDokumentversandResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getPartnerEingDokumentversand">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="getPartnerEingDokumentversandRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getPartnerEingDokumentversandResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="DokumentversandService_v1">
        <wsdl:documentation>
            <xhtml:ul>
                <xhtml:li>Deprecation: Die Dokumentversand-Informationen wohin oder woher Dokumente geroutet werden, werden nicht mehr als Ids geliefert, sondern als vollständige Datenobjekte.</xhtml:li>
            </xhtml:ul>
        </wsdl:documentation>
        <wsdlsi:serviceInfo>
            <wsdlsi:deprecation>
                <wsdlsi:deprecationReason>Replaced</wsdlsi:deprecationReason>
                <wsdlsi:replacedBy>
                    <wsdlsi:serviceName>DokumentversandService_v2</wsdlsi:serviceName>
                    <wsdlsi:targetNamespace>urn:com:adcubum:syrius:api:partnermgmt:partnerdatenverw:data:dokumentversand:v2</wsdlsi:targetNamespace>
                </wsdlsi:replacedBy>
                <wsdlsi:ticketReference>APAR-654</wsdlsi:ticketReference>
            </wsdlsi:deprecation>
        </wsdlsi:serviceInfo>   
        <wsdl:port name="DokumentversandService_v1" binding="tns:DokumentversandServiceBinding">
            <soap:address location="https://example.com/apibridge-partnermgmt/DokumentversandService_v1"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
