master-21371/apibridge-recordsmgmt-suva_4.master.master-21371-13413/wsdl/com/adcubum/syrius/api/recordsmgmt/process/journal/v1/JournalProcessService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="JournalProcessService"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="urn:com:adcubum:syrius:api:recordsmgmt:process:journal:v1"
                  xmlns:tns="urn:com:adcubum:syrius:api:recordsmgmt:process:journal:v1"
                  xmlns:pa="urn:com:adcubum:syrius:api:recordsmgmt:process:journal:v1:schema"
                  xmlns:flt="urn:com:adcubum:syrius:api:common:faults:v1"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/">
    <wsdl:documentation>Version: 1.0.0</wsdl:documentation>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="urn:com:adcubum:syrius:api:recordsmgmt:process:journal:v1:schema" schemaLocation="schema/JournalProcessService.xsd"/>
            <xsd:import namespace="urn:com:adcubum:syrius:api:common:faults:v1" schemaLocation="../../../../common/faults/v1/faults.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="CreateJournalRequestMessage">
        <wsdl:part name="Request" element="pa:createJournalRequest"/>
    </wsdl:message>
    <wsdl:message name="CreateJournalResponseMessage">
        <wsdl:part name="Response" element="pa:createJournalResponse"/>
    </wsdl:message>
    <wsdl:message name="ChangeJournalRequestMessage">
        <wsdl:part name="Request" element="pa:changeJournalRequest"/>
    </wsdl:message>
    <wsdl:message name="ChangeJournalResponseMessage">
        <wsdl:part name="Response" element="pa:changeJournalResponse"/>
    </wsdl:message>
    <wsdl:message name="ApiFaultMessage">
        <wsdl:part name="fault" element="flt:apiFaultInfo"/>
    </wsdl:message>
    <wsdl:portType name="JournalProcessServicePortType">
        <wsdl:operation name="createJournal">
            <wsdl:documentation>Erstellt ein neues Journal.</wsdl:documentation>
            <wsdl:input name="createJournalRequest" message="tns:CreateJournalRequestMessage"/>
            <wsdl:output name="createJournalResponse" message="tns:CreateJournalResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="changeJournal">
            <wsdl:documentation>Ändert ein bestehendes Journal.</wsdl:documentation>
            <wsdl:input name="changeJournalRequest" message="tns:ChangeJournalRequestMessage"/>
            <wsdl:output name="changeJournalResponse" message="tns:ChangeJournalResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="JournalProcessServiceBinding" type="tns:JournalProcessServicePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="createJournal">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="createJournalRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="createJournalResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="changeJournal">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="changeJournalRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="changeJournalResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="JournalProcessService_v1">
        <wsdl:port name="JournalProcessService_v1" binding="tns:JournalProcessServiceBinding">
            <soap:address location="https://example.com/apibridge-recordsmgmt/JournalProcessService_v1"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
