master-21371/apibridge-schadenleistungsmgmt-suva_6.master.master-21371-13742/wsdl/com/adcubum/syrius/api/schadenleistungsmgmt/kvuv/schadenleistungsfallfuehrung/ereignisaktualisierung/process/uvgktgereignismeldung/v3/schema/UvgKtgEreignismeldungAktualisierungService.xsd

<xsd:schema
        targetNamespace="urn:com:adcubum:syrius:api:schadenleistungsmgmt:kvuv:schadenleistungsfallfuehrung:ereignisaktualisierung:process:uvgktgereignismeldung:v3:schema"
        xmlns:tns="urn:com:adcubum:syrius:api:schadenleistungsmgmt:kvuv:schadenleistungsfallfuehrung:ereignisaktualisierung:process:uvgktgereignismeldung:v3:schema"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:st="urn:com:adcubum:syrius:api:common:simpleTypes:v1"
        xmlns:et="urn:com:adcubum:syrius:api:common:externalTypes:v1"
        xmlns:pst="urn:com:adcubum:syrius:api:schadenleistungsmgmt:kvuv:extern:partner:types:v1"
        xmlns:cc="urn:com:adcubum:syrius:api:common:codes:v1"
        elementFormDefault="qualified" version="3.6.0">

    <xsd:import namespace="urn:com:adcubum:syrius:api:common:simpleTypes:v1"
                schemaLocation="../../../../../../../../../../../../com/adcubum/syrius/api/common/simpleTypes/v1/simpleTypes.xsd"/>
    <xsd:import namespace="urn:com:adcubum:syrius:api:common:types:v1"
                schemaLocation="../../../../../../../../../../../../com/adcubum/syrius/api/common/types/v1/types.xsd"/>
    <xsd:import namespace="urn:com:adcubum:syrius:api:common:externalTypes:v1"
                schemaLocation="../../../../../../../../../../../../com/adcubum/syrius/api/common/externalTypes/v1/externalTypes.xsd"/>
    <xsd:import namespace="urn:com:adcubum:syrius:api:schadenleistungsmgmt:kvuv:extern:partner:types:v1"
                schemaLocation="../../../../../../../kvuv/extern/partner/types/v1/simpleTypes.xsd"/>
    <xsd:import namespace="urn:com:adcubum:syrius:api:common:codes:v1"
                schemaLocation="../../../../../../../../../../../../com/adcubum/syrius/api/common/codes/v1/codes.xsd"/>

    <xsd:element name="ereignisAktualisierenRequest" type="tns:UvgKtgEreignisAktualisierenRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request mit dem ein Ereignis gemäss UVG/KTG aktualisiert wird.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="UvgKtgEreignisAktualisierenRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request mit dem ein Ereignis gemäss UVG/KTG aktualisiert wird.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="ereignismeldung" type="tns:WsUvgKtgEreignismeldungType">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Enthält die Informationen zur Ereignismeldung die aktualisiert werden sollen</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="WsUvgKtgEreignismeldungType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Enthält die Informationen zur Ereignismeldung, die aktualisiert werden sollen</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="ereignismeldungId" type="tns:WsEreignismeldungIdType">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Eindeutige Identifikation der Kommunikation über den Leistungsfall</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="schadennummer" type="tns:WsSchadennummerType">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Schadennummer zur Identifikation des Falldossiers zum Ereignis</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="partnernummerBetrieb">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Partner-Nummer des Betriebes der verunfallten Person</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:annotation>
                        <xsd:documentation xml:lang="de">String mit länge 255</xsd:documentation>
                    </xsd:annotation>
                    <xsd:restriction base="st:StringType">
                        <xsd:maxLength value="255"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>

            <xsd:element name="lohn" type="tns:WsUvgKtgLohnType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Lohnangaben zum Ereignis</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="arbeitsunfaehigkeitsverlauf" type="tns:WsUvgKtgArbeitsunfaehigkeitsverlaufType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Arbeitsunfähigkeitsverlauf zum Ereignis</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="ausfallstunden" type="tns:WsUvgKtgAusfallstundenType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Ausfallstunden zum Ereignis</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="ereignisbeschreibung" type="tns:WsUvgKtgEreignisbeschreibungType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Beschreibung zum Ereignis</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="arbeitsvertrag" type="tns:WsUvgKtgArbeitsvertragType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Arbeitsvertrag zum Ereignis</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="medizinischeBehandlungen" type="tns:WsUvgKtgMedizinischeBehandlungenType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Medizinische Behandlungen zum Ereignis</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="spezialCode" type="tns:WsUvgKtgSpezialCodeType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Spezialcode zum Ereignis</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="arbeitswiederaufnahme" type="tns:WsUvgKtgArbeitswiederaufnahmeType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Arbeitswiederaufnahme Daten zum Ereignis</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="personenmutation" type="tns:WsUvgKtgPersonenmutationType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Enthält die Personendaten, die aktualisiert werden sollen</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="schadenfallSchliessen" type="tns:WsSchadenfallSchliessenType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Signalisiert, dass die bisherige Kommunikation zu dieser Ereignismeldung ungültig war und
                        annulliert bzw. geschlossen werden darf
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="nbuAbsenzgrund" type="tns:WsUvgKtgNbuAbsenzgrundType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Enthält den NBU-Absenzgrund
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="zahlungsverbindung" type="tns:WsUvgKtgZahlungsverbindungType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Enthält Informationen zur Zahlungsverbindung
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="anderweitigeVersicherungen" type="tns:WsUvgKtgAnderweitigeVersicherungenType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Liste anderweitiger Versicherungen</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="sonderfall" type="tns:WsUvgKtgSonderfallType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Sonderfall</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="sonstiges" type="tns:WsUvgKtgSonstigesType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Enthält Informationen zur Auslandstätigkeit
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <!-- TYPEN DEFINITIONEN -->

    <xsd:complexType name="WsArbeitgeberEreignisinformationType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">
                Eine Arbeitgeber-Ereignisinformation ist eine Menge fachlich zusammenhängender Informationen zu einem UVG bzw. KTG Ereignis.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="meldungId">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Pro Ereignis-Aktualisierung und Arbeitgeber-Ereignisinformation eindeutige Identifikation.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:annotation>
                        <xsd:documentation xml:lang="de">String mit länge 255</xsd:documentation>
                    </xsd:annotation>
                    <xsd:restriction base="st:StringType">
                        <xsd:maxLength value="255"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="dokumentId" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Identifikation eines Dokumentes mit weiteren Informationen zur spezifischen Arbeitgeber-Ereignisinformation.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:annotation>
                        <xsd:documentation xml:lang="de">String mit länge 255</xsd:documentation>
                    </xsd:annotation>
                    <xsd:restriction base="st:StringType">
                        <xsd:maxLength value="255"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>

        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="WsSchadennummerType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Schadennummer des Falles</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="schadennummer">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Schadennummer des Falles</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:annotation>
                        <xsd:documentation xml:lang="de">String mit länge 30</xsd:documentation>
                    </xsd:annotation>
                    <xsd:restriction base="st:StringType">
                        <xsd:maxLength value="30"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="WsEreignismeldungIdType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Eindeutige Identifikation der Kommunikation über den Leistungsfall</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="id">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Eindeutige Identifikation der Kommunikation über den Leistungsfall</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:annotation>
                        <xsd:documentation xml:lang="de">String mit länge 255</xsd:documentation>
                    </xsd:annotation>
                    <xsd:restriction base="st:StringType">
                        <xsd:maxLength value="255"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="WsUvgKtgLohnType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Enthält die Informationen zum Lohn</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="tns:WsArbeitgeberEreignisinformationType">
                <xsd:sequence>
                    <xsd:element name="jahreslohn" type="et:WsMoneyType">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">
                                Der Jahreslohn der Versicherten Person
                                (Betrag und zwingend die Währung (CHF oder EUR), wenn ein Betrag übergeben wird)
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="bruttogrundlohn" type="et:WsMoneyType" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">
                                Der Bruttogrundlohn der Versicherten Person
                                (Betrag und zwingend die Währung (CHF oder EUR), wenn ein Betrag übergeben wird)
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="kinderfamilienzulagen" type="et:WsMoneyType" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">
                                Die Kinder- bzw. Familienzulagen der Versicherten Person
                                (Betrag und zwingend die Währung (CHF oder EUR), wenn ein Betrag übergeben wird)
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="ferienfeiertagsentschaedigung" type="et:WsMoneyType" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">
                                Die Ferien- bzw. Feiertagsentschädigung der Versicherten Person
                                (Betrag und zwingend die Währung (CHF oder EUR), wenn ein Betrag übergeben wird)
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="uebrigelohnzulagen" type="et:WsMoneyType" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">
                                Die übrigen Lohnzulagen der Versicherten Person
                                (Betrag und zwingend die Währung (CHF oder EUR), wenn ein Betrag übergeben wird)
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="gratifikation" type="et:WsMoneyType" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">
                                Die Gratifikation (z.B. 13 Monatslohn) der Versicherten Person
                                (Betrag und zwingend die Währung (CHF oder EUR), wenn ein Betrag übergeben wird)
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="manuelleergaenzungen" type="tns:WsManuelleErgaenzungenType" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">
                                Manuelle Ergänzungen zu den Lohnbestandteilen. Die ergänzgenden Lohnbestandteile werden nicht automatisch
                                für die Berechnung der Leistungen mit den Hauptlohnbestandteilen zusammengerechnet, sondern dienen vielmehr als
                                Entscheidungsgrundlage in nachgelagerten Prozessen in Verbindung mit dem Lohn.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="WsManuelleErgaenzungenType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Enthält zusätzliche manuelle Ergänzungen zu Lohnbestandteilen</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="jahreslohn" type="et:WsMoneyType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">
                        Der Jahreslohn der Versicherten Person
                        (Betrag und zwingend die Währung (CHF oder EUR), wenn ein Betrag übergeben wird)
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="bruttogrundlohn" type="et:WsMoneyType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">
                        Der Bruttogrundlohn der Versicherten Person
                        (Betrag und zwingend die Währung (CHF oder EUR), wenn ein Betrag übergeben wird)
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="kinderfamilienzulagen" type="et:WsMoneyType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">
                        Die Kinder- bzw. Familienzulagen der Versicherten Person
                        (Betrag und zwingend die Währung (CHF oder EUR), wenn ein Betrag übergeben wird)
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="ferienfeiertagsentschaedigung" type="et:WsMoneyType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">
                        Die Ferien- bzw. Feiertagsentschädigung der Versicherten Person
                        (Betrag und zwingend die Währung (CHF oder EUR), wenn ein Betrag übergeben wird)
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="uebrigelohnzulagen" type="et:WsMoneyType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">
                        Die übrigen Lohnzulagen der Versicherten Person
                        (Betrag und zwingend die Währung (CHF oder EUR), wenn ein Betrag übergeben wird)
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="gratifikation" type="et:WsMoneyType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">
                        Die Gratifikation (z.B. 13 Monatslohn) der Versicherten Person
                        (Betrag und zwingend die Währung (CHF oder EUR), wenn ein Betrag übergeben wird)
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="WsUvgKtgArbeitsunfaehigkeitsverlaufType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Enthält eine Liste mit Arbeitsunfähigkeiten</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="tns:WsArbeitgeberEreignisinformationType">
                <xsd:sequence>
                    <xsd:element name="arbeitsunfaehigkeiten" type="tns:WsUvgKtgArbeitsunfaehigkeitType" minOccurs="0" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">
                                Der komplette Arbeitsunfähigkeitsverlauf des Versicherten.
                                Auch bei einer Aktualisierung ist der ganze Verlauf mitzuliefern.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="WsUvgKtgArbeitsunfaehigkeitType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Definiert eine Arbeitsunfähigkeit bis 100% in einem Zeitraum</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="prozent" type="st:DecimalType">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Höhe der Arbeitsunfähigkeit in Prozent (Wert von 0 bis 100)</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="von" type="st:LocalDateType">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Beginn der Arbeitsunfähigkeit (YYYY-MM-DD)</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="bis" type="st:LocalDateType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Ende der Arbeitsunfähigkeit (YYYY-MM-DD)</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="WsUvgKtgAusfallstundenType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Enthält eine Liste mit neuen Ausfallstunden im Zusammenhang mit dem versicherten Ereignis</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="tns:WsArbeitgeberEreignisinformationType">
                <xsd:sequence>
                    <xsd:element name="perioden" type="tns:WsUvgKtgAusfallstundenPeriodeType" minOccurs="0" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Neu gemeldete Perioden von Ausfallstunden</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="WsUvgKtgAusfallstundenPeriodeType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Eine Periode von Ausfallstunden</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="stunden" type="tns:WsStundenUndIndustrieMinutenType">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Ausfallstunden mittels Dezimalzahl (z.B. 2.75 = 2 Stunden und 45 Minuten)</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="von" type="xsd:date">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Beginn der Periode der Ausfallstunden (YYYY-MM-DD)</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="bis" type="xsd:date">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Ende der Periode der Ausfallstunden (YYYY-MM-DD)</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:simpleType name="WsStundenUndIndustrieMinutenType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Stunden in Dezimalzahl (z.B. 2.75 = 2 Stunden und 45 Minuten)</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:decimal">
            <xsd:pattern value="[0-9]+\.[0-9]{2}"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="WsUvgKtgEreignisbeschreibungType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Enthält die Informationen zur Ereignisbeschreibung</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="tns:WsArbeitgeberEreignisinformationType">
                <xsd:sequence>
                    <xsd:choice>
                        <xsd:element name="berufsunfall" type="tns:WsUvgKtgBerufsunfallType">
                            <xsd:annotation>
                                <xsd:documentation xml:lang="de">Definiert einen Berufsunfall (aktuell ohne weitere Daten)</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="nichtberufsunfall" type="tns:WsUvgKtgNichtberufsunfallType">
                            <xsd:annotation>
                                <xsd:documentation xml:lang="de">Definiert einen Nichtberufsunfall</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="berufskrankheit" type="tns:WsUvgKtgBerufskrankheitType">
                            <xsd:annotation>
                                <xsd:documentation xml:lang="de">Definiert eine Berufskrankheit</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="todesfall" type="tns:WsUvgKtgTodesfallType">
                            <xsd:annotation>
                                <xsd:documentation xml:lang="de">Definiert einen Todesfall als Berufs- oder Nichtberufsunfall</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="rueckfall" type="tns:WsUvgKtgRueckfallType">
                            <xsd:annotation>
                                <xsd:documentation xml:lang="de">Definiert einen Rückfall</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:choice>
                    <xsd:element name="ereignisdatum" type="tns:WsEreignisdatumType">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Das Ereignisdatum und die Datumsausprägung präzis oder unpräzis</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="unfallbeschreibung">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Unfallbeschreibung</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:annotation>
                                <xsd:documentation xml:lang="de">String mit länge 2000</xsd:documentation>
                            </xsd:annotation>
                            <xsd:restriction base="st:StringType">
                                <xsd:maxLength value="2000"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="unfallort">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Unfallort</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:annotation>
                                <xsd:documentation xml:lang="de">String mit länge 300</xsd:documentation>
                            </xsd:annotation>
                            <xsd:restriction base="st:StringType">
                                <xsd:maxLength value="300"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="polizeirapportVorhanden" type="tns:WsPolizeirapportVorhandenType">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Gibt an, ob ein Polizeirapport vorhanden ist (ja, nein, unbekannt)</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="hauptverletzung" type="tns:WsVerletzungType">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Gibt die Hauptversletzung in Folge des Ereignisses an</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="nebenverletzung" type="tns:WsVerletzungType" minOccurs="0" maxOccurs="2">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Gibt optionale Nebenverletzungen in Folge des Ereignisses an</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
         	        <xsd:element name="unfallstelle" minOccurs="0">    
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Unfallstelle</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:annotation>
                                <xsd:documentation xml:lang="de">String mit länge 70</xsd:documentation>
                            </xsd:annotation>
                            <xsd:restriction base="st:StringType">
                                <xsd:maxLength value="70"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
         	        <xsd:element name="unfallgegenstand" minOccurs="0">    
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Unfallgegenstand</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:annotation>
                                <xsd:documentation xml:lang="de">String mit länge 100</xsd:documentation>
                            </xsd:annotation>
                            <xsd:restriction base="st:StringType">
                                <xsd:maxLength value="100"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="WsUvgKtgBerufsunfallType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Definiert einen Berufsunfall (aktuell ohne weitere Daten)</xsd:documentation>
        </xsd:annotation>
    </xsd:complexType>

    <xsd:complexType name="WsUvgKtgNichtberufsunfallType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Definiert einen Nichtberufsunfall</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="letzterArbeitstag" type="st:LocalDateType">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Letzter Arbeitstag (YYYY-MM-DD)</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="taetigkeit">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Tätigkeit</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:annotation>
                        <xsd:documentation xml:lang="de">String mit länge 255</xsd:documentation>
                    </xsd:annotation>
                    <xsd:restriction base="st:StringType">
                        <xsd:maxLength value="255"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="WsUvgKtgTodesfallType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Definiert einen Todesfall als Berufs- oder Nichtberufsunfall</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="todesdatum" type="st:LocalDateType">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Todesdatum (YYYY-MM-DD)</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:choice>
                <xsd:element name="berufsunfall" type="tns:WsUvgKtgBerufsunfallType">
                    <xsd:annotation>
                        <xsd:documentation xml:lang="de">Definiert einen Berufsunfall (aktuell ohne weitere Daten)</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="nichtberufsunfall" type="tns:WsUvgKtgNichtberufsunfallType">
                    <xsd:annotation>
                        <xsd:documentation xml:lang="de">Definiert einen Nichtberufsunfall</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:choice>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="WsUvgKtgBerufskrankheitType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Definiert eine Berufskrankheit</xsd:documentation>
        </xsd:annotation>
    </xsd:complexType>

    <xsd:complexType name="WsUvgKtgRueckfallType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Definiert einen Rückfall</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="rueckfalldatum" type="st:LocalDateType">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Das Rückfalldatum (YYYY-MM-DD)</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="WsVerletzungType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Eine durch das Ereignis herbeigeführte Verletzung</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="koerperteil" type="tns:WsVerletzungKoerperteilType">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Bestimmt das verletzte Körperteil</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="position" type="tns:WsVerletzungPositionType">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Bestimmt die Position der Verletzung</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:choice>
                <xsd:element name="artDerVerletzung" type="tns:WsVerletzungArtType">
                    <xsd:annotation>
                        <xsd:documentation xml:lang="de">Definiert die Art der Verletzung als Element einer geschlossenen Menge von Verletzungsarten
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="artDerVerletzungFreitext">
                    <xsd:annotation>
                        <xsd:documentation xml:lang="de">Definiert die Art der Verletzung als Freitext, falls keine der Vordefinierten Versletzungsarten zutrifft
                        </xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">String mit länge 4000</xsd:documentation>
                        </xsd:annotation>
                        <xsd:restriction base="st:StringType">
                            <xsd:maxLength value="4000"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:choice>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:simpleType name="WsVerletzungPositionType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Die Position der Verletzung - links, rechts, beidiseitig, oder unbestimmt</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="links"/>
            <xsd:enumeration value="rechts"/>
            <xsd:enumeration value="beidseitig"/>
            <xsd:enumeration value="unbestimmt"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="WsVerletzungKoerperteilType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Das verletzte Körperteil</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="auge"/>
            <xsd:enumeration value="becken"/>
            <xsd:enumeration value="ellbogen"/>
            <xsd:enumeration value="finger"/>
            <xsd:enumeration value="mittelfussOhneZehen"/>
            <xsd:enumeration value="fussgelenk"/>
            <xsd:enumeration value="gesicht"/>
            <xsd:enumeration value="mittelhandOhneFinger"/>
            <xsd:enumeration value="handgelenk"/>
            <xsd:enumeration value="hueftgelenk"/>
            <xsd:enumeration value="kiefer"/>
            <xsd:enumeration value="knie"/>
            <xsd:enumeration value="leiste"/>
            <xsd:enumeration value="lungeInklAtemwege"/>
            <xsd:enumeration value="mehrereBereicheObereExtremitaeten"/>
            <xsd:enumeration value="mehrereBereicheUntereExtremitaeten"/>
            <xsd:enumeration value="niere"/>
            <xsd:enumeration value="oberarm"/>
            <xsd:enumeration value="oberschenkel"/>
            <xsd:enumeration value="ohrGehoer"/>
            <xsd:enumeration value="ruecken"/>
            <xsd:enumeration value="schulter"/>
            <xsd:enumeration value="brustkorb"/>
            <xsd:enumeration value="unterarm"/>
            <xsd:enumeration value="unterschenkel"/>
            <xsd:enumeration value="zaehne"/>
            <xsd:enumeration value="zehen"/>
            <xsd:enumeration value="bauch"/>
            <xsd:enumeration value="blase"/>
            <xsd:enumeration value="brustwirbelsaeule"/>
            <xsd:enumeration value="ganzerKoerperSystemischeWirkung"/>
            <xsd:enumeration value="genitalien"/>
            <xsd:enumeration value="hals"/>
            <xsd:enumeration value="halswirbelsaeule"/>
            <xsd:enumeration value="herz"/>
            <xsd:enumeration value="andereInnereVerletzungen"/>
            <xsd:enumeration value="leber"/>
            <xsd:enumeration value="lendenwirbelsaeule"/>
            <xsd:enumeration value="milz"/>
            <xsd:enumeration value="nase"/>
            <xsd:enumeration value="mehrfachverletzung"/>
            <xsd:enumeration value="schaedelHirn"/>
            <xsd:enumeration value="schockPsyche"/>
            <xsd:enumeration value="steissbeinGesaess"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="WsVerletzungArtType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Die Art der Verletzung</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="biss"/>
            <xsd:enumeration value="bruch"/>
            <xsd:enumeration value="entzuendung"/>
            <xsd:enumeration value="prellung"/>
            <xsd:enumeration value="quetschung"/>
            <xsd:enumeration value="schnitt"/>
            <xsd:enumeration value="schuss"/>
            <xsd:enumeration value="schwellung"/>
            <xsd:enumeration value="schuerfung"/>
            <xsd:enumeration value="stauchungWirbelsaeule"/>
            <xsd:enumeration value="stich"/>
            <xsd:enumeration value="riss"/>
            <xsd:enumeration value="verbrennung"/>
            <xsd:enumeration value="verderehungVerstauchung"/>
            <xsd:enumeration value="vergiftung"/>
            <xsd:enumeration value="veraetzung"/>
            <xsd:enumeration value="zerrung"/>
            <xsd:enumeration value="fremdkoerper"/>
            <xsd:enumeration value="verrenkung"/>
            <xsd:enumeration value="trennungAbtrennung"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="WsUvgKtgArbeitsvertragType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Enthält die Informationen zum Arbeitsvertrag</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="tns:WsArbeitgeberEreignisinformationType">
                <xsd:sequence>
                    <xsd:element name="stellungImBeruf" type="tns:WsStellungImBerufType">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Gibt die Stellung im Beruf an(hoeheresKader,
                                mittleresKader, unteresKader, unterstesKader, ohneKaderfunktion)
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="arbeitsverhaeltnis" type="tns:WsArbeitsVerhaeltnisType">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Gibt das Arbeitsverhaeltnis
                                an(unbefristeterVertragMitMonatslohn,
                                unbefristeterVertragMitMonatslohnUndJahresarbeitszeit,
                                unbefristeterVertragMitStundenlohn,
                                unbefristeterVertragMitProvisionPauschaleAkkord,
                                befristeterVertragMitMonatslohn, befristeterVertragMitStundenlohn,
                                befristeterVertragMitProvisionPauschaleAkkord, Lehrvertrag,
                                Praktikumsvertrag)
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="befristetBis" type="st:LocalDateType" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Datum bis wann der Vertrag befristet ist (YYYY-MM-DD)</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="gekuendigtZum" type="st:LocalDateType"
                                 minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Datum zu wann der Vertrag gekündigt ist (YYYY-MM-DD)</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="beruf" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Beruf der als Freitext übermittelt wird</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:annotation>
                                <xsd:documentation xml:lang="de">String mit länge 80</xsd:documentation>
                            </xsd:annotation>
                            <xsd:restriction base="st:StringType">
                                <xsd:maxLength value="80"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="quellensteuer" type="tns:WsQuellensteuerType" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">
                                Optional können Informationen zur Quellensteuer mitgeliefert werden.
                                Erwartet werden diese Informationen bei einem Quellensteuerpflichtigen Direktzahler.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="WsUvgKtgMedizinischeBehandlungenType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Enthält Daten zu medizinischen Behandlungen.
                Es wird zwischen einem zwingenden erstbehandelnden Leistungserbringer,
                und weiteren, nachbehandelnden Leistungserbringern unterschieden
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="tns:WsArbeitgeberEreignisinformationType">
                <xsd:sequence>
                    <xsd:element name="erstbehandelnderLeistungserbringer" type="tns:WsLeistungserbringerType">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Der zum Ereignis erstbehandelnde Leistungserbringer</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="nachbehandelndeLeistungserbringer" type="tns:WsLeistungserbringerType" minOccurs="0" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Eine beliebige Menge zum Ereignis nachbehandelnde Leistungserbringer</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="WsUvgKtgSpezialCodeType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Enthält die Informationen zum SpezialCode</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="tns:WsArbeitgeberEreignisinformationType">
                <xsd:sequence>
                    <xsd:element name="spezialString">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Irgendeine Zeichenkette</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:annotation>
                                <xsd:documentation xml:lang="de">String mit länge 35</xsd:documentation>
                            </xsd:annotation>
                            <xsd:restriction base="st:StringType">
                                <xsd:maxLength value="35"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:simpleType name="WsStellungImBerufType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Der StellungImBeruftyp</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="hoeheresKader">
            </xsd:enumeration>
            <xsd:enumeration value="mittleresKader">
            </xsd:enumeration>
            <xsd:enumeration value="unteresKader">
            </xsd:enumeration>
            <xsd:enumeration value="unterstesKader">
            </xsd:enumeration>
            <xsd:enumeration value="ohneKaderfunktion">
            </xsd:enumeration>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="WsArbeitsVerhaeltnisType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Der ArbeitsVerhaeltnistyp</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="unbefristeterVertragMitMonatslohn">
            </xsd:enumeration>
            <xsd:enumeration
                    value="unbefristeterVertragMitMonatslohnUndJahresarbeitszeit">
            </xsd:enumeration>
            <xsd:enumeration value="unbefristeterVertragMitStundenlohn">
            </xsd:enumeration>
            <xsd:enumeration value="unbefristeterVertragMitProvisionPauschaleAkkord">
            </xsd:enumeration>
            <xsd:enumeration value="befristeterVertragMitMonatslohn">
            </xsd:enumeration>
            <xsd:enumeration value="befristeterVertragMitStundenlohn">
            </xsd:enumeration>
            <xsd:enumeration value="befristeterVertragMitProvisionPauschaleAkkord">
            </xsd:enumeration>
            <xsd:enumeration value="Lehrvertrag">
            </xsd:enumeration>
            <xsd:enumeration value="Praktikumsvertrag">
            </xsd:enumeration>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="WsQuellensteuerType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Grundlagen zur Berechnung des Quellensteuer-Satzes
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="kanton" type="tns:WsKantonType">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Gibt den Kanton an in dem der Versicherte
                        Quellensteuerpflichtig ist(AG, AI, AR, BE, BL, BS, FR, GE, GL, GR,
                        JU, LU, NE, NW, OW, SG, SH, SO, SZ, TG, TI, UR, VD, VS, ZG, ZH)
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="tarif">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Der Quellensteuertarif pattern [A-Z][0-9][Y,N] (z.B. A2Y)</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:annotation>
                        <xsd:documentation xml:lang="de">String mit länge 3</xsd:documentation>
                    </xsd:annotation>
                    <xsd:restriction base="st:StringType">
                        <xsd:maxLength value="3"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:simpleType name="WsKantonType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Ein schweizer Kanton</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="AG">
            </xsd:enumeration>
            <xsd:enumeration value="AI">
            </xsd:enumeration>
            <xsd:enumeration value="AR">
            </xsd:enumeration>
            <xsd:enumeration value="BE">
            </xsd:enumeration>
            <xsd:enumeration value="BL">
            </xsd:enumeration>
            <xsd:enumeration value="BS">
            </xsd:enumeration>
            <xsd:enumeration value="FR">
            </xsd:enumeration>
            <xsd:enumeration value="GE">
            </xsd:enumeration>
            <xsd:enumeration value="GL">
            </xsd:enumeration>
            <xsd:enumeration value="GR">
            </xsd:enumeration>
            <xsd:enumeration value="JU">
            </xsd:enumeration>
            <xsd:enumeration value="LU">
            </xsd:enumeration>
            <xsd:enumeration value="NE">
            </xsd:enumeration>
            <xsd:enumeration value="NW">
            </xsd:enumeration>
            <xsd:enumeration value="OW">
            </xsd:enumeration>
            <xsd:enumeration value="SG">
            </xsd:enumeration>
            <xsd:enumeration value="SH">
            </xsd:enumeration>
            <xsd:enumeration value="SO">
            </xsd:enumeration>
            <xsd:enumeration value="SZ">
            </xsd:enumeration>
            <xsd:enumeration value="TG">
            </xsd:enumeration>
            <xsd:enumeration value="TI">
            </xsd:enumeration>
            <xsd:enumeration value="UR">
            </xsd:enumeration>
            <xsd:enumeration value="VD">
            </xsd:enumeration>
            <xsd:enumeration value="VS">
            </xsd:enumeration>
            <xsd:enumeration value="ZG">
            </xsd:enumeration>
            <xsd:enumeration value="ZH">
            </xsd:enumeration>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="WsPolizeirapportVorhandenType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Der PolizeirapportVorhandentyp</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="ja">
            </xsd:enumeration>
            <xsd:enumeration value="nein">
            </xsd:enumeration>
            <xsd:enumeration value="unbekannt">
            </xsd:enumeration>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:element name="ereignisAktualisierenResponse" type="tns:UvgKtgEreignisAktualisierenResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response mit der der Erfolg der Aktualisierung gemeldet wird</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="UvgKtgEreignisAktualisierenResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response mit der Id des Aktualisierungsprozesses</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="prozessid" type="st:StringType">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Id des Aktualisierungsprozesses</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="WsLeistungserbringerType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Ein behandelnder Leistungserbringer, z.B. ein Arzt, ein Spital, oder ein Therapeut</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="zsrNummer" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Die Zahlstellenregister Nummer zur eindeutigen Identifikation von Ärzten und Spitälern als Leistungserbringer
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:annotation>
                        <xsd:documentation xml:lang="de">String mit länge 8</xsd:documentation>
                    </xsd:annotation>
                    <xsd:restriction base="st:StringType">
                        <xsd:maxLength value="8"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="glnNummer" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Die Global Location Number zur eindeutigen Identifikation des Leistungserbringers als juristische Person
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:annotation>
                        <xsd:documentation xml:lang="de">String mit länge 35</xsd:documentation>
                    </xsd:annotation>
                    <xsd:restriction base="st:StringType">
                        <xsd:maxLength value="35"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="name">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Der Name des Leistungserbringers</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:annotation>
                        <xsd:documentation xml:lang="de">String mit länge 60</xsd:documentation>
                    </xsd:annotation>
                    <xsd:restriction base="st:StringType">
                        <xsd:maxLength value="60"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="strasse" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Die Strasse der Adresse des Leistungserbringers</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:annotation>
                        <xsd:documentation xml:lang="de">String mit länge 35</xsd:documentation>
                    </xsd:annotation>
                    <xsd:restriction base="st:StringType">
                        <xsd:maxLength value="35"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="ort">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Der Ort der Adresse des Leistungserbringers</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:annotation>
                        <xsd:documentation xml:lang="de">String mit länge 35</xsd:documentation>
                    </xsd:annotation>
                    <xsd:restriction base="st:StringType">
                        <xsd:maxLength value="35"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="postleitzahl">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Die Postleitzahl der Adresse des Leistungserbringers</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:annotation>
                        <xsd:documentation xml:lang="de">String mit länge 15</xsd:documentation>
                    </xsd:annotation>
                    <xsd:restriction base="st:StringType">
                        <xsd:maxLength value="15"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="WsUvgKtgArbeitswiederaufnahmeType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Informationen bezüglich Arbeitswiederaufnahme bzw. Ende der Arbeitsunfähigkeit</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="tns:WsArbeitgeberEreignisinformationType">
                <xsd:sequence>
                    <xsd:choice>
                        <xsd:element name="arbeitswiederaufnahme" type="st:LocalDateType">
                            <xsd:annotation>
                                <xsd:documentation xml:lang="de">Datum vollumfängliche Wiederaufnahme der Arbeit (YYYY-MM-DD)</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="arbeitsunfaehigkeitende" type="st:LocalDateType">
                            <xsd:annotation>
                                <xsd:documentation xml:lang="de">Voraussichtliches Datum der letzten Arbeitsunfähigkeit (YYYY-MM-DD)</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="voraussichtlicheDauer" type="tns:WsVoraussichtlicheDauerType">
                            <xsd:annotation>
                                <xsd:documentation xml:lang="de">Voraussichtliche Dauer der Arbeitsunfähigkeit (bis30Tage, mehrAls30Tage, unbekannt)
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:choice>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="WsUvgKtgPersonenmutationType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Enthält die Personendaten, die aktualisiert werden sollen</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="tns:WsArbeitgeberEreignisinformationType">
                <xsd:sequence>
                    <xsd:element name="aenderungAb" type="st:LocalDateType">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Datum ab welchem die Änderungen gelten</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="nachname" type="pst:NameVornameType" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Vollständiger Familienname des Versicherten</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="vorname" type="pst:NameVornameType" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Vorname des Versicherten</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="austrittsdatum" type="st:LocalDateType" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Datum des Austrittes bei Beendigung des Arbeitsverhältnisses</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="adresse" type="tns:WsUvgKtgAdresseType" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Vollständige und exakte Anschrift des Versicherten</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="WsUvgKtgAdresseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Vollständige und exakte Anschrift des Versicherten</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="zusatzzeile" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Zusatzzeile für Postadresse</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:annotation>
                        <xsd:documentation xml:lang="de">String mit länge 60</xsd:documentation>
                    </xsd:annotation>
                    <xsd:restriction base="st:StringType">
                        <xsd:maxLength value="60"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="strasse" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Die Strasse der Wohnadresse des Versicherten</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:annotation>
                        <xsd:documentation xml:lang="de">String mit länge 35</xsd:documentation>
                    </xsd:annotation>
                    <xsd:restriction base="st:StringType">
                        <xsd:maxLength value="35"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="hausnummer" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Die Hausnummer der Wohnadresse des Versicherten</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:annotation>
                        <xsd:documentation xml:lang="de">String mit länge 8</xsd:documentation>
                    </xsd:annotation>
                    <xsd:restriction base="st:StringType">
                        <xsd:maxLength value="8"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="postfach" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Das Postfach der Wohnadresse des Versicherten</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:annotation>
                        <xsd:documentation xml:lang="de">String mit länge 25</xsd:documentation>
                    </xsd:annotation>
                    <xsd:restriction base="st:StringType">
                        <xsd:maxLength value="25"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="ort">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Der Ort der Wohnadresse des Versicherten</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:annotation>
                        <xsd:documentation xml:lang="de">String mit länge 35</xsd:documentation>
                    </xsd:annotation>
                    <xsd:restriction base="st:StringType">
                        <xsd:maxLength value="35"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="postleitzahl">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Die Postleitzahl der Wohnadresse des Versicherten</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:annotation>
                        <xsd:documentation xml:lang="de">String mit länge 20</xsd:documentation>
                    </xsd:annotation>
                    <xsd:restriction base="st:StringType">
                        <xsd:maxLength value="20"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="land" type="pst:LaenderType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Das Land der Wohnadresse des Versicherten (2-Stelliger ISO-3166-Code CH, DE, ...)</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="WsEreignisdatumType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Das Ereignisdatum mit der Ausprägung präzise oder unpräzise</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="datumAuspraegung" type="tns:WsDatumAuspraegungType">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Die Datumausprägung präzise oder unpräzise</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="datumUndZeit" type="st:OffsetDateTimeType">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Das Ereignisdatum inklusive Uhrzeit</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:simpleType name="WsDatumAuspraegungType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Datum Ausprägung präzise/unpräzise</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="praezise">
            </xsd:enumeration>
            <xsd:enumeration value="unpraezise">
            </xsd:enumeration>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="WsVoraussichtlicheDauerType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Die voraussichtliche Dauer der Arbeitsunfähigkeit</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="bis30Tage"/>
            <xsd:enumeration value="mehrAls30Tage"/>
            <xsd:enumeration value="unbekannt"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="WsSchadenfallSchliessenType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Daten für das Schliessen der bisherigen Kommunikation</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="tns:WsArbeitgeberEreignisinformationType">
                <xsd:sequence>
                    <xsd:element name="schliessenArt" type="tns:WsSchliessenArtType">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de"> Art wie der Schadenfall geschlossen werden soll.
                                ANNULLIERUNG: wenn ungewollt gemeldet, SCHLIESSUNG: wenn Fachlich nicht mehr relevant für den Betrieb
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:simpleType name="WsSchliessenArtType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Schliessen Art Typ</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="ANNULLIERUNG">
            </xsd:enumeration>
            <xsd:enumeration value="SCHLIESSUNG">
            </xsd:enumeration>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="WsUvgKtgNbuAbsenzgrundType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Nbu Grund der Absenz
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="tns:WsArbeitgeberEreignisinformationType">
                <xsd:sequence>
                    <xsd:choice>
                        <xsd:element name="nbuAbsenz" type="tns:WsNbuAbsenzType"> 
                            <xsd:annotation>
                                <xsd:documentation xml:lang="de">Gibt Grund der Absenz an (KRANKHEIT, UNFALL, MUTTERSCHAFT, 
                                MILITAERDIENST, FERIEN, UNBEZAHLTER_URLAUB, AUSTRITT_AUS_BETRIEB, TAETIGKEIT_BEI_ANDEREM_ARBEITGEBER)
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="absenzgrundFreitext" minOccurs="0">
                            <xsd:annotation>
                                <xsd:documentation xml:lang="de">Freitext zum Absenzgrund.</xsd:documentation>
                            </xsd:annotation>
                            <xsd:simpleType>
                                <xsd:annotation>
                                    <xsd:documentation xml:lang="de">String mit länge 100</xsd:documentation>
                                </xsd:annotation>
                                <xsd:restriction base="st:StringType">
                                	<xsd:pattern value="\S(.*\S)"/>
                                    <xsd:minLength value="1"/>
                                    <xsd:maxLength value="100"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                    </xsd:choice>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    <xsd:simpleType name="WsNbuAbsenzType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Nbu Absenz Typ</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="KRANKHEIT">
            </xsd:enumeration>
            <xsd:enumeration value="UNFALL">
            </xsd:enumeration>
            <xsd:enumeration value="MUTTERSCHAFT">
            </xsd:enumeration>
            <xsd:enumeration value="MILITAERDIENST">
            </xsd:enumeration>
            <xsd:enumeration value="FERIEN">
            </xsd:enumeration>
            <xsd:enumeration value="UNBEZAHLTER_URLAUB">
            </xsd:enumeration>
            <xsd:enumeration value="AUSTRITT_AUS_BETRIEB">
            </xsd:enumeration>
            <xsd:enumeration value="TAETIGKEIT_BEI_ANDEREM_ARBEITGEBER">
            </xsd:enumeration>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="WsUvgKtgZahlungsverbindungType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Zahlungsverbindung der versicherten Person
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="tns:WsArbeitgeberEreignisinformationType">
                <xsd:sequence>
                    <xsd:element name="betrieb" type="tns:WsUvgKtgZahlungsverbindungAdresseBaseType" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>Zahlungsverbindung des Betriebs</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="versicherter" type="tns:WsUvgKtgZahlungsverbindungAdresseType" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>Zahlungsverbindung des Versicherten</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="WsUvgKtgZahlungsverbindungAdresseBaseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Adresse der Zahlungsverbindung
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="kontoinhaber">
                <xsd:annotation>
                    <xsd:documentation>Kontoinhaber</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:annotation>
                        <xsd:documentation xml:lang="de">String mit Länge 255</xsd:documentation>
                    </xsd:annotation>
                    <xsd:restriction base="st:StringType">
                        <xsd:maxLength value="255"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="zusatzadresse" type="tns:WsUvgKtgNameUndAdresseType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Zusatzadresse</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="iban" type="et:IbanType">
                <xsd:annotation>
                    <xsd:documentation>IBAN</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="institut" type="tns:WsUvgKtgNameUndAdresseType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Name und Adresse des Finanzinstituts</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="WsUvgKtgNameUndAdresseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Name und Adresse der Zahlungsverbindung
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="name" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Name</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:annotation>
                        <xsd:documentation xml:lang="de">String mit Länge 255</xsd:documentation>
                    </xsd:annotation>
                    <xsd:restriction base="st:StringType">
                        <xsd:maxLength value="255"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="vorname" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Vorname</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:annotation>
                        <xsd:documentation xml:lang="de">String mit Länge 255</xsd:documentation>
                    </xsd:annotation>
                    <xsd:restriction base="st:StringType">
                        <xsd:maxLength value="255"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="firmenname" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Firmenname</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:annotation>
                        <xsd:documentation xml:lang="de">String mit Länge 255</xsd:documentation>
                    </xsd:annotation>
                    <xsd:restriction base="st:StringType">
                        <xsd:maxLength value="255"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="adresse" type="tns:WsUvgKtgAdresseType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Adresse</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="WsUvgKtgZahlungsverbindungAdresseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Adresse der Zahlungsverbindung
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="tns:WsUvgKtgZahlungsverbindungAdresseBaseType">
                <xsd:sequence>
                    <xsd:element name="leistungszahlungAb" type="st:LocalDateType">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">
                                Datum ab wann der Versicherer direkt an die versicherte Person zahlen soll.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    <xsd:simpleType name="WsAnderweitigeVersicherungType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Anderweitige Versicherung Typ</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="SUVA">
            </xsd:enumeration>
            <xsd:enumeration value="ANDERE_OBLIGATORISCHE_UNFALLVERSICHERER">
            </xsd:enumeration>
            <xsd:enumeration value="KRANKENTAGGELDVERSICHERUNG">
            </xsd:enumeration>
            <xsd:enumeration value="INVALIDENVERSICHERUNG">
            </xsd:enumeration>
            <xsd:enumeration value="AHV_AVS">
            </xsd:enumeration>
            <xsd:enumeration value="BERUFLICHE_VORSORGEEINRICHTUNG">
            </xsd:enumeration>
            <xsd:enumeration value="MILITAERVERSICHERUNG">
            </xsd:enumeration>
            <xsd:enumeration value="ARBEITSLOSENVERSICHERUNG">
            </xsd:enumeration>
            <xsd:enumeration value="MUTTERSCHAFTSVERSICHERUNG">
            </xsd:enumeration>
            <xsd:enumeration value="ANDERE">
            </xsd:enumeration>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="WsUvgKtgAnderweitigeVersicherungenType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Enthält eine Liste mit anderweitigen Versicherungen</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="tns:WsArbeitgeberEreignisinformationType">
                <xsd:sequence>
                    <xsd:element name="anderweitigeVersicherung" type="tns:WsUvgKtgAnderweitigeVersicherungType" minOccurs="0" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Die anderweitigen Versicherungen</xsd:documentation> 
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="WsUvgKtgAnderweitigeVersicherungType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Definiert eine anderweitige Versicherung</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="anderweitigeVersicherung" type="tns:WsAnderweitigeVersicherungType">  
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Gibt die anderweitige Versicherung an (SUVA, ANDERE_OBLIGATORISCHE_UNFALLVERSICHERER, KRANKENTAGGELDVERSICHERUNG, 
                    INVALIDENVERSICHERUNG, AHV_AVS, BERUFLICHE_VORSORGEEINRICHTUNG, MILITAERVERSICHERUNG, ARBEITSLOSENVERSICHERUNG, MUTTERSCHAFTSVERSICHERUNG, ANDERE)
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="anderweitigeVersicherungFreitext" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Freitext zur anderweitigen Versicherung</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:annotation>
                        <xsd:documentation xml:lang="de">String mit länge 50</xsd:documentation>
                    </xsd:annotation>
                    <xsd:restriction base="st:StringType">
                        <xsd:maxLength value="50"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="WsUvgKtgSonderfallType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Enthält einen Sonderfall</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="tns:WsArbeitgeberEreignisinformationType">
                <xsd:sequence>
                    <xsd:element name="sonderfall" type="tns:WsUvgKtgSonderfallCodeType" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Sonderfall</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    <xsd:complexType name="WsUvgKtgSonderfallCodeType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">
                Sonderfall der Ereignismeldung als BOID eines Codes aus der Codetabelle SYR_CodeTab_Sonderfall.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="cc:WsCodeType"/>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="WsUvgKtgSonstigesType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Information zur Auslandstätigkeit
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="tns:WsArbeitgeberEreignisinformationType">
                <xsd:sequence>
                    <xsd:element name="auslandstaetigkeit" type="tns:WsAuslandstaetigkeitType" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Gibt an, ob der Versicherte in den letzten 12 Monaten im Ausland tätig war (ja oder
                                nein).
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="auslandstaetigkeitFreitext" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Freitext zur Auslandstätitgkeit.</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:annotation>
                                <xsd:documentation xml:lang="de">String mit länge 255</xsd:documentation>
                            </xsd:annotation>
                            <xsd:restriction base="st:StringType">
                                <xsd:maxLength value="255"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:simpleType name="WsAuslandstaetigkeitType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Auslandstätigkeit</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="ja">
            </xsd:enumeration>
            <xsd:enumeration value="nein">
            </xsd:enumeration>
        </xsd:restriction>
    </xsd:simpleType>
</xsd:schema>
