master-21371/apibridge-marketingvertrieb-vertriebsmgmt-suva_1.master.master-21371-8534/wsdl/com/adcubum/syrius/api/marketingvertrieb/vertriebsmgmt/data/distributionemployee/v1/DistributionEmployeeService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="DistributionEmployeeService"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="urn:com:adcubum:syrius:api:marketingvertrieb:vertriebsmgmt:data:distributionemployee:v1"
                  xmlns:tns="urn:com:adcubum:syrius:api:marketingvertrieb:vertriebsmgmt:data:distributionemployee:v1"
                  xmlns:vp="urn:com:adcubum:syrius:api:marketingvertrieb:vertriebsmgmt:data:distributionemployee:v1:schema"
                  xmlns:flt="urn:com:adcubum:syrius:api:common:faults:v1"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/">
    <wsdl:documentation>
        Version: 1.0.0
    </wsdl:documentation>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="urn:com:adcubum:syrius:api:marketingvertrieb:vertriebsmgmt:data:distributionemployee:v1:schema" schemaLocation="schema/DistributionEmployeeService.xsd"/>
            <xsd:import namespace="urn:com:adcubum:syrius:api:common:faults:v1" schemaLocation="../../../../../common/faults/v1/faults.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="GetDistributionEmployeeAndDistributionContractRequestMessage">
        <wsdl:part name="request" element="vp:getDistributionEmployeeAndDistributionContractRequest"/>
    </wsdl:message>
    <wsdl:message name="GetDistributionEmployeeAndDistributionContractResponseMessage">
        <wsdl:part name="response" element="vp:getDistributionEmployeeAndDistributionContractResponse"/>
    </wsdl:message>
    <wsdl:message name="SearchDistributionEmployeeRequestMessage">
        <wsdl:part name="request" element="vp:searchDistributionEmployeeRequest"/>
    </wsdl:message>
    <wsdl:message name="SearchDistributionEmployeeResponseMessage">
        <wsdl:part name="response" element="vp:searchDistributionEmployeeResponse"/>
    </wsdl:message>
    <wsdl:message name="CreateDistributionEmployeeAndDistributionContractRequestMessage">
        <wsdl:part name="request" element="vp:createDistributionEmployeeAndDistributionContractRequest"/>
    </wsdl:message>
    <wsdl:message name="CreateDistributionEmployeeAndDistributionContractResponseMessage">
        <wsdl:part name="response" element="vp:createDistributionEmployeeAndDistributionContractResponse"/>
    </wsdl:message>
    <wsdl:message name="ChangeDistributionEmployeeAndDistributionContractRequestMessage">
        <wsdl:part name="request" element="vp:changeDistributionEmployeeAndDistributionContractRequest"/>
    </wsdl:message>
    <wsdl:message name="ChangeDistributionEmployeeAndDistributionContractResponseMessage">
        <wsdl:part name="response" element="vp:changeDistributionEmployeeAndDistributionContractResponse"/>
    </wsdl:message> 
    <wsdl:message name="ApiFaultMessage">
        <wsdl:part name="fault" element="flt:apiFaultInfo"/>
    </wsdl:message>
    <wsdl:portType name="DistributionEmployeeServicePortType">
        <wsdl:operation name="getDistributionEmployeeAndDistributionContract">
            <wsdl:documentation>Returns the sales partner object for a set technical sales partner key.
The sales partner object contains all sales partner-specific data. Partner data or address data must be queried with the appropriate partner services.</wsdl:documentation>
            <wsdl:input name="getDistributionEmployeeAndDistributionContractRequest" message="tns:GetDistributionEmployeeAndDistributionContractRequestMessage"/>
            <wsdl:output name="getDistributionEmployeeAndDistributionContractResponse" message="tns:GetDistributionEmployeeAndDistributionContractResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="searchDistributionEmployee">
            <wsdl:documentation>Returns a list of basic attributes and technical keys of a distribution employee matching the set search criteria. The attributes/keys refer to the Adcubum Syrius business objects sales partner, partner and address. The search is performed per key date.</wsdl:documentation>
            <wsdl:input name="searchDistributionEmployeeRequest" message="tns:SearchDistributionEmployeeRequestMessage"/>
            <wsdl:output name="searchDistributionEmployeeResponse" message="tns:SearchDistributionEmployeeResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="createDistributionEmployeeAndDistributionContract">
            <wsdl:documentation>Creates a new distribution exployee with a contribution contract. If a distribution employee already exists for the specified external number, an error is reported.</wsdl:documentation>
            <wsdl:input name="createDistributionEmployeeAndDistributionContractRequest" message="tns:CreateDistributionEmployeeAndDistributionContractRequestMessage"/>
            <wsdl:output name="createDistributionEmployeeAndDistributionContractResponse" message="tns:CreateDistributionEmployeeAndDistributionContractResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="changeDistributionEmployeeAndDistributionContract">
            <wsdl:documentation>Changes an existing distribution employee and/or a distribution contract.</wsdl:documentation>
            <wsdl:input name="changeDistributionEmployeeAndDistributionContractRequest" message="tns:ChangeDistributionEmployeeAndDistributionContractRequestMessage"/>
            <wsdl:output name="changeDistributionEmployeeAndDistributionContractResponse" message="tns:ChangeDistributionEmployeeAndDistributionContractResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="DistributionEmployeeServiceBinding" type="tns:DistributionEmployeeServicePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getDistributionEmployeeAndDistributionContract">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="getDistributionEmployeeAndDistributionContractRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getDistributionEmployeeAndDistributionContractResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="searchDistributionEmployee">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="searchDistributionEmployeeRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="searchDistributionEmployeeResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="createDistributionEmployeeAndDistributionContract">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="createDistributionEmployeeAndDistributionContractRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="createDistributionEmployeeAndDistributionContractResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="changeDistributionEmployeeAndDistributionContract">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="changeDistributionEmployeeAndDistributionContractRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="changeDistributionEmployeeAndDistributionContractResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="DistributionEmployeeService_v1">
        <wsdl:port name="DistributionEmployeeService_v1" binding="tns:DistributionEmployeeServiceBinding">
            <soap:address location="https://example.com/apibridge-marketingvertrieb-vertriebsmgmt/DistributionEmployeeService_v1"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
