master-21371/apibridge-bestandsverw-suva_3.master.master-21371-13979/wsdl/com/adcubum/syrius/api/bestandsverw/vertragsverw/process/criteriaprocess/v1/FranchiseProcessService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="FranchiseProcessService"
                  targetNamespace="urn:com:adcubum:syrius:api:bestandsverw:vertragsverw:process:criteriaprocess:v1"
                  xmlns:tns="urn:com:adcubum:syrius:api:bestandsverw:vertragsverw:process:criteriaprocess:v1"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:flt="urn:com:adcubum:syrius:api:common:faults:v1"
                  xmlns:pa="urn:com:adcubum:syrius:api:bestandsverw:vertragsverw:process:criteriaprocess:v1:schema">

    <wsdl:documentation>Version: 1.1.0</wsdl:documentation>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="urn:com:adcubum:syrius:api:common:faults:v1" schemaLocation="../../../../../common/faults/v1/faults.xsd"/>
            <xsd:import namespace="urn:com:adcubum:syrius:api:bestandsverw:vertragsverw:process:criteriaprocess:v1:schema" 
                        schemaLocation="schema/FranchiseProcessService.xsd"/>
        </xsd:schema>
    </wsdl:types>
    
    <wsdl:message name="FranchiseAenderungAnreicherungRequestMessage">
        <wsdl:part name="Request" element="pa:franchiseAenderungAnreicherungRequest"/>
    </wsdl:message>
    <wsdl:message name="FranchiseAenderungAnreicherungResponseMessage">
        <wsdl:part name="Response" element="pa:franchiseAenderungAnreicherungResponse"/>
    </wsdl:message>
    <wsdl:message name="FranchiseAenderungRequestMessage">
        <wsdl:part name="Request" element="pa:franchiseAenderungRequest"/>
    </wsdl:message>
    <wsdl:message name="FranchiseAenderungResponseMessage">
        <wsdl:part name="Response" element="pa:franchiseAenderungResponse"/>
    </wsdl:message>
    <wsdl:message name="ApiFaultMessage">
        <wsdl:part name="fault" element="flt:apiFaultInfo"/>
    </wsdl:message>
    
    <wsdl:portType name="FranchiseProcessServicePortType">
        <wsdl:operation name="startFranchiseAenderungAnreicherung">
            <wsdl:documentation>Franchisenänderung für einen Partner</wsdl:documentation>
            <wsdl:input name="startFranchiseAenderungAnreicherungRequest" message="tns:FranchiseAenderungAnreicherungRequestMessage"/>
            <wsdl:output name="startFranchiseAenderungAnreicherungResponse" message="tns:FranchiseAenderungAnreicherungResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="startFranchiseAenderung">
            <wsdl:documentation>Ändert die Franchise eines einzelnen Vertragsproduktes.</wsdl:documentation>
            <wsdl:input name="startFranchiseAenderungRequest" message="tns:FranchiseAenderungRequestMessage"/>
            <wsdl:output name="startFranchiseAenderungResponse" message="tns:FranchiseAenderungResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    
    <wsdl:binding name="FranchiseProcessServiceBinding" type="tns:FranchiseProcessServicePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="startFranchiseAenderungAnreicherung">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="startFranchiseAenderungAnreicherungRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="startFranchiseAenderungAnreicherungResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
 		  <wsdl:operation name="startFranchiseAenderung">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="startFranchiseAenderungRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="startFranchiseAenderungResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    
    <wsdl:service name="FranchiseProcessService_v1">
        <wsdl:port name="FranchiseProcessService_v1" binding="tns:FranchiseProcessServiceBinding">
            <soap:address location="https://example.com/apibridge-bestandsverw/FranchiseProcessService_v1"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>