master-21371/apibridge-partnermgmt-suva_4.master.master-21371-14050/wsdl/com/adcubum/syrius/api/partnermgmt/referenzdatenverw/data/provinz/v1/schema/ProvinzService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema
	targetNamespace="urn:com:adcubum:syrius:api:partnermgmt:referenzdatenverw:data:provinz:v1:schema"
	xmlns:tns="urn:com:adcubum:syrius:api:partnermgmt:referenzdatenverw:data:provinz:v1:schema"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:pi="urn:com:adcubum:syrius:api:partnermgmt:common:identifier:v1"
	xmlns:ct="urn:com:adcubum:syrius:api:common:types:v1" xmlns:st="urn:com:adcubum:syrius:api:common:simpleTypes:v1"
	xmlns:xt="urn:com:adcubum:syrius:api:common:externalTypes:v1"
	elementFormDefault="qualified" version="1.0.0">
	<xsd:import
		namespace="urn:com:adcubum:syrius:api:partnermgmt:common:identifier:v1"
		schemaLocation="../../../../../common/identifier/v1/identifier.xsd" />
	<xsd:import namespace="urn:com:adcubum:syrius:api:common:simpleTypes:v1"
		schemaLocation="../../../../../../common/simpleTypes/v1/simpleTypes.xsd" />
	<xsd:import namespace="urn:com:adcubum:syrius:api:common:types:v1"
		schemaLocation="../../../../../../common/types/v1/types.xsd" />
	<xsd:import namespace="urn:com:adcubum:syrius:api:common:externalTypes:v1"
		schemaLocation="../../../../../../common/externalTypes/v1/externalTypes.xsd" />
	<xsd:element name="getProvinzRequest" type="tns:GetProvinzRequestType">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">Request, mit dem die
				Provinzen geladenen werden sollen.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="getProvinzResponse" type="tns:GetProvinzResponseType">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">Response, in dem die
				geladenen Provinzen enthalten sind.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="getProvinzForLandRequest" type="tns:GetProvinzForLandRequestType">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">Request um alle
				Provinzen für ein Land zu laden.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="getProvinzForLandResponse" type="tns:GetProvinzForLandResponseType">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">Response, der die
				geladenen Provinz für ein Land enthält.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="readL10nAttributesProvinzRequest"
		type="tns:ReadL10nAttributesProvinzRequestType">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">Request, um die
				lokalisierten Informationen einer Provinz zu laden.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="readL10nAttributesProvinzResponse"
		type="tns:ReadL10nAttributesProvinzResponseType">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">Response mit den
				lokalisierten Informationen der Provinz.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="readL10nAttributesProvinzForLandRequest"
		type="tns:ReadL10nAttributesProvinzForLandRequestType">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">Request, um die
				lokalisierten Informationen aller Provinzen für ein Land zu laden.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="readL10nAttributesProvinzForLandResponse"
		type="tns:ReadL10nAttributesProvinzForLandResponseType">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">Response mit den
				lokalisierten Informationen aller Provinzen für ein Land.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="GetProvinzRequestType">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">Request, mit dem die
				Provinzen geladen werden sollen.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="provinzId" type="pi:WsProvinzIdType"
				minOccurs="1" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">Technischer Schlüssel
						einer Provinz.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="stichtag" type="xsd:date" minOccurs="0"
				maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">Fachlicher Zeitpunkt.
						Der Parameter ist optional, wird er nicht gesetzt wird der
						aktuelle Zeitpunkt verwendet</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="GetProvinzResponseType">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">Response der Provinz.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="provinz" type="tns:WsProvinzType"
				minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">Liste der Provinzen.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="GetProvinzForLandRequestType">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">Request um alle Provinzen für ein Land
				zu laden.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="isoCodeLand" type="st:StringType"
				minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">Ländercode 2-stellig
						nach ISO 3166.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="stichtag" type="xsd:date" minOccurs="0"
				maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">Fachlicher Zeitpunkt.
						Der Parameter ist optional, wird er nicht gesetzt wird der
						aktuelle Zeitpunkt verwendet.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="GetProvinzForLandResponseType">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">Response, der die
				geladenen Provinzen für ein Land enthält.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="provinz" type="tns:WsProvinzType"
				minOccurs="1" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">Enthält eine Liste
						mit den geladenen Provinzen.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ReadL10nAttributesProvinzForLandRequestType">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">Request, um die
				lokalisierten Informationen aller Provinzen für ein Land zu laden.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="isoCodeLand" type="st:StringType"
				minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">Ländercode 2-stellig
						nach ISO 3166.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="locale" type="xsd:language" minOccurs="1"
				maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">Local mit welcher die
						korrekte Sprache ermittelt wird.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="stichtag" type="xsd:date" minOccurs="0"
				maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">Fachlicher Zeitpunkt.
						Der Parameter ist optional, wird er nicht gesetzt wird der
						aktuelle Zeitpunkt verwendet.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ReadL10nAttributesProvinzForLandResponseType">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">Response mit den
				lokalisierten Informationen aller Provinzen für ein Land.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="localizedAttrs" type="tns:WsL10nAttributesProvinzType"
				minOccurs="1" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">Übersetzter Text
						einer Provinz.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ReadL10nAttributesProvinzRequestType">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">Request, um die
				lokalisierten Informationen einer Provinz zu laden.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="provinzId" type="pi:WsProvinzIdType"
				minOccurs="1" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">Technischer Schlüssel
						einer Provinz.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="locale" type="xsd:language" minOccurs="1"
				maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">Local mit welcher die
						korrekte Sprache ermittelt wird.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="stichtag" type="xsd:date" minOccurs="0"
				maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">Fachlicher Zeitpunkt.
						Der Parameter ist optional, wird er nicht gesetzt wird der
						aktuelle Zeitpunkt verwendet.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ReadL10nAttributesProvinzResponseType">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">Response mit den
				lokalisierten Informationen der Provinz.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="localizedAttrs" type="tns:WsL10nAttributesProvinzType"
				minOccurs="1" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">Übersetzter Text
						einer Provinz.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="WsL10nAttributesProvinzType">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">Lokalisierte
				Informationen der Provinz.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="provinzId" type="pi:WsProvinzIdType"
				minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">Technischer Schlüssel
						der Provinz.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="bezeichnung" type="ct:WsLocalizedTextType"
				minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">Lokalisierte
						Bezeichnung der Provinz.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="WsProvinzType">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">Enthält die Provinz.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ct:WsHistObjectType">
				<xsd:sequence>
					<xsd:element name="id" type="pi:WsProvinzIdType"
						minOccurs="1" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">Technischer
								Schlüssel der Provinzes.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="isoCode" type="st:StringType"
						minOccurs="1" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">Provinz-ISO-Code
								ISO 3166-2.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>
