master-21371/apibridge-partnermgmt-suva_4.master.master-21371-14050/wsdl/com/adcubum/syrius/api/partnermgmt/partnerdatenverw/process/emailaenderungexp/v0/EmailAenderungExpProcessService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="EmailAenderungExpProcessService"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="urn:com:adcubum:syrius:api:partnermgmt:partnerdatenverw:process:emailaenderungexp:v0"
                  xmlns:tns="urn:com:adcubum:syrius:api:partnermgmt:partnerdatenverw:process:emailaenderungexp:v0"
                  xmlns:pa="urn:com:adcubum:syrius:api:partnermgmt:partnerdatenverw:process:emailaenderungexp:v0:schema"
                  xmlns:flt="urn:com:adcubum:syrius:api:common:faults:v1"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/">
    <wsdl:documentation>Version: 0.2.0</wsdl:documentation>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="urn:com:adcubum:syrius:api:partnermgmt:partnerdatenverw:process:emailaenderungexp:v0:schema"
                        schemaLocation="schema/EmailAenderungExpProcessService.xsd"/>
            <xsd:import namespace="urn:com:adcubum:syrius:api:common:faults:v1" schemaLocation="../../../../../common/faults/v1/faults.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="CreateEmailAenderungProcessRequestMessage">
        <wsdl:part name="Request" element="pa:createEmailAenderungProcessRequest"/>
    </wsdl:message>
    <wsdl:message name="CreateEmailAenderungProcessResponseMessage">
        <wsdl:part name="Response" element="pa:createEmailAenderungProcessResponse"/>
    </wsdl:message>
    <wsdl:message name="CreateEmailRequestMessage">
        <wsdl:part name="Request" element="pa:createEmailRequest"/>
    </wsdl:message>
    <wsdl:message name="CreateEmailResponseMessage">
        <wsdl:part name="Response" element="pa:createEmailResponse"/>
    </wsdl:message>
    <wsdl:message name="ChangeEmailRequestMessage">
        <wsdl:part name="Request" element="pa:changeEmailRequest"/>
    </wsdl:message>
    <wsdl:message name="ChangeEmailResponseMessage">
        <wsdl:part name="Response" element="pa:changeEmailResponse"/>
    </wsdl:message>
    <wsdl:message name="TerminateEmailRequestMessage">
        <wsdl:part name="Request" element="pa:terminateEmailRequest"/>
    </wsdl:message>
    <wsdl:message name="TerminateEmailResponseMessage">
        <wsdl:part name="Response" element="pa:terminateEmailResponse"/>
    </wsdl:message>
    <wsdl:message name="ApiFaultMessage">
        <wsdl:part name="fault" element="flt:apiFaultInfo"/>
    </wsdl:message>
    <wsdl:portType name="EmailAenderungExpProcessServicePortType">
        <wsdl:operation name="CreateEmailAenderungProcess">
            <wsdl:documentation>Startet einen E-Mail-Adresse Aenderungs-Prozess (BPM) für einen bestimmten Partner. Dabei ist noch nicht unbedingt klar, ob es sich um eine Neuerfassung oder Änderung handelt. Dies kann ggf. in einer Anreicherung innerhalb vom Prozess gesteuert werden.</wsdl:documentation>
            <wsdl:input name="CreateEmailAenderungProcessRequest" message="tns:CreateEmailAenderungProcessRequestMessage"/>
            <wsdl:output name="CreateEmailAenderungProcessResponse" message="tns:CreateEmailAenderungProcessResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="createEmail">
           <wsdl:documentation>Startet den BPM Prozess für eine neue E-Mail-Adresse zu einem bestimmten Partner.</wsdl:documentation>
           <wsdl:input name="createEmailRequest" message="tns:CreateEmailRequestMessage"/>
           <wsdl:output name="createEmailResponse" message="tns:CreateEmailResponseMessage"/>
           <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
       </wsdl:operation>
       <wsdl:operation name="changeEmail">
           <wsdl:documentation>Startet den BPM Prozess um eine bestehende E-Mail-Adresse zu ändern.</wsdl:documentation>
           <wsdl:input name="changeEmailRequest" message="tns:ChangeEmailRequestMessage"/>
           <wsdl:output name="changeEmailResponse" message="tns:ChangeEmailResponseMessage"/>
           <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
       </wsdl:operation>
       <wsdl:operation name="terminateEmail">
           <wsdl:documentation>Startet den BPM Prozess um eine bestehende E-Mail-Adresse zu terminieren.</wsdl:documentation>
           <wsdl:input name="terminateEmailRequest" message="tns:TerminateEmailRequestMessage"/>
           <wsdl:output name="terminateEmailResponse" message="tns:TerminateEmailResponseMessage"/>
           <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
       </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="EmailAenderungExpProcessServiceBinding" type="tns:EmailAenderungExpProcessServicePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="CreateEmailAenderungProcess">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="CreateEmailAenderungProcessRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="CreateEmailAenderungProcessResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="createEmail">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="createEmailRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="createEmailResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="changeEmail">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="changeEmailRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="changeEmailResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="terminateEmail">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="terminateEmailRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="terminateEmailResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="EmailAenderungExpProcessService_v0">
        <wsdl:port name="EmailAenderungExpProcessService_v0" binding="tns:EmailAenderungExpProcessServiceBinding">
            <soap:address location="https://example.com/apibridge-partnermgmt/EmailAenderungExpProcessService_v0"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>