master-21371/apibridge-finanzwesen-suva_3.master.master-21371-12912/wsdl/com/adcubum/syrius/api/finanzwesen/zahlungsverkehr/data/zahler/v3/schema/ZahlerService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:ct="urn:com:adcubum:syrius:api:common:types:v1"
            xmlns:st="urn:com:adcubum:syrius:api:common:simpleTypes:v1"
            xmlns:syrtype="urn:com:adcubum:syrius:api:common:syriusTypes:v1"
            xmlns:fi="urn:com:adcubum:syrius:api:finanzwesen:common:identifier:v1"
            xmlns:fc="urn:com:adcubum:syrius:api:finanzwesen:common:codes:v1"
            xmlns:tns="urn:com:adcubum:syrius:api:finanzwesen:zahlungsverkehr:data:zahler:v3:schema"
            elementFormDefault="qualified"
            targetNamespace="urn:com:adcubum:syrius:api:finanzwesen:zahlungsverkehr:data:zahler:v3:schema"
            version="3.0.0">
    <xsd:import namespace="urn:com:adcubum:syrius:api:common:types:v1" schemaLocation="../../../../../../common/types/v1/types.xsd"/>
    <xsd:import namespace="urn:com:adcubum:syrius:api:common:simpleTypes:v1" schemaLocation="../../../../../../common/simpleTypes/v1/simpleTypes.xsd"/>
    <xsd:import namespace="urn:com:adcubum:syrius:api:finanzwesen:common:codes:v1" schemaLocation="../../../../../common/codes/v1/codes.xsd"/>
    <xsd:import namespace="urn:com:adcubum:syrius:api:common:syriusTypes:v1" schemaLocation="../../../../../../common/syriusTypes/v1/syriusTypes.xsd"/>
    <xsd:import namespace="urn:com:adcubum:syrius:api:finanzwesen:common:identifier:v1" schemaLocation="../../../../../common/identifier/v1/identifier.xsd"/>
    <xsd:element name="getZahlerRequest" type="tns:GetZahlerRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, mit dem die Zahler geladen werden.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="getZahlerResponse" type="tns:GetZahlerResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response, der die geladenen Zahler enthält.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="getZahlerForPartnerRequest" type="tns:GetZahlerForPartnerRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, mit dem alle Zahler für einen Partner geladen werden.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="getZahlerForPartnerResponse" type="tns:GetZahlerForPartnerResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response, der die alle Zahler zu einem Partner enthält.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="GetZahlerRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, mit dem die Zahler geladen werden.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="zahlerId" type="fi:WsZahlerIdType" minOccurs="1" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Technischer Schlüssel eines Zahlers.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="syrtype:stichtagStrictOrNextBest">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Fachlicher Zeitpunkt.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="GetZahlerResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response, der die geladenen Zahler enthält.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="zahler" type="tns:WsZahlerType" minOccurs="1" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Enthält eine Liste mit den geladenen Zahlern.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="GetZahlerForPartnerRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, mit dem alle Zahler für einen Partenr geladen werden.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="partnerId" type="fi:WsPartnerIdType" minOccurs="1" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Technischer Schlüssel eines Partners.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="syrtype:stichtagStrictOrNextBest">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Fachlicher Zeitpunkt.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="GetZahlerForPartnerResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response, der alle Zahler für einen Partner enthält.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="zahlerPartner" type="tns:WsPartnerZahlerType" minOccurs="1" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Enthält eine Liste mit allen Zahlern für einen Partner.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="WsPartnerZahlerType">
         <xsd:annotation>
            <xsd:documentation xml:lang="de">Enthält alle Zahler eines Partners.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="partnerId" type="fi:WsPartnerIdType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Technischer Schlüssel des Partners.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="zahler" type="tns:WsZahlerType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Enthält eine Liste mit allen Zahlern des Partners.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="WsZahlerType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Enthält die Daten eines Zahlers.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ct:WsHistObjectType">
                <xsd:sequence>
                    <xsd:element name="id" type="fi:WsZahlerIdType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Technischer Schlüssel eines Zahlers.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="zahlerNr" type="st:StringType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Eindeutige Nummer des Zahlers.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="partnerId" type="fi:WsPartnerIdType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Technischer Schlüssel des Partners, zu welchem dieser Zahler gehört.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="bezeichnung" type="st:StringType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Zahlerbezeichnung zur Identifizierung bei mehreren Zahlern pro Partner.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="zahlertypId" type="fi:WsZahlertypIdType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Technischer Schlüssel des Zahlertyps des Zahlers.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="mutationsgrundId" type="fi:WsMutationsgrundIdType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Mutationsgrund der Änderung, z.B Neuerfassung, Adressänderung, Mutation, usw.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="zahlungsartCode" type="fc:WsZahlungsartCodeType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Zahlungsmodus (1-, 2-, 3-, 4-, 6-, 12 Monatlich)</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="exkassoZahlungsmittelDefId" type="fi:WsZahlungsmittelDefIdType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Zahlungsmittel-Definition des Zahlers für das Exkasso</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="exkassoZahlungsadresseId" type="fi:WsZahlungsadresseIdType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Zahlungsadresse des Zahlers für das Exkasso</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="inkassoZahlungsmittelDefId" type="fi:WsZahlungsmittelDefIdType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Zahlungsmittel-Definition des Zahlers für das Inkasso</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="inkassoZahlungsadresseId" type="fi:WsZahlungsadresseIdType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Zahlungsadresse des Zahlers für das Inkasso</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="praemienZustellPartnerId" type="fi:WsPartnerIdType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Partner für die Prämienzustellungen des Zahlers</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="leistungZustellPartnerId" type="fi:WsPartnerIdType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Partner für die Leistungszustellungen des Zahlers</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="zahlungVorNachschuessigCode" type="fc:WsZahlungVorNachschuessigCodeType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Bestimmt ob Zahlungen vor oder nachschüssig sind</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="verzugszinsBerechnenCode" type="fc:WsVerzugszinsBerechnenCodeType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Bestimmt ob Verzugszins berechnet wird</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="schuldvertreterId" type="fi:WsZahlungsadresseIdType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Zahlungsadresse des Schuldenvertreters</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="gesetzlVertreterCode" type="fc:WsGesetzlVertreterCodeType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Bestimmt ob der Schuldenvertreter der gesetzliche Vertreter ist.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="inkassoZahlerId" type="fi:WsZahlerIdType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Hier kann ein Inkasso-Zahler angegeben werden</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="bonitaetsstufeDefId" type="fi:WsBonitaetsstufeDefIdType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Hier wird die Bonitätsstufen-Definition des Zahlers angegeben.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsSammelkontoZahlerType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Enthält die Daten eines Sammelkonto-Zahlers.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="tns:WsZahlerType">
                <xsd:sequence>
                    <xsd:element name="kontoAbrTag" type="st:IntegerType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Der Tag mit welchem mit diesem Zahler abgerechnet wird.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="kontoAbrMonat" type="st:IntegerType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Der Monat mit welchem mit diesem Zahler abgerechnet wird.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="abgerechnetBis" type="st:DateType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Datum zu welchem mit diesem Zahler abgerechnet wird.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="periodizitaetCode" type="fc:WsPeriodizitaetCodeType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Die Periodizität des Zahlers</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="sollBetragslimit" type="st:DecimalType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Bestimmt das Soll-Betragslimit für die Sammelkontoabrechnung</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="habenBetragslimit" type="st:DecimalType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Bestimmt das Haben-Betragslimit für die Sammelkontoabrechnung</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="sollKreditlimit" type="st:DecimalType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Bestimmt das Soll-Kreditlimit für die Zahlungsmittelerstellung bei der Sammelkontoabrechnung</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="habenKreditlimit" type="st:DecimalType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Bestimmt das Haben-Kreditlimit für die Zahlungsmittelerstellung bei der Sammelkontoabrechnung</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
</xsd:schema>
