master-21371/apibridge-unternehmensorg-suva_5.master.master-21371-13184/wsdl/com/adcubum/syrius/api/unternehmensorg/geschaeftsprozessmgmt/data/aufgabe/v1/schema/AufgabeService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
    xmlns:st="urn:com:adcubum:syrius:api:common:simpleTypes:v1"
    xmlns:ct="urn:com:adcubum:syrius:api:common:types:v1"
    xmlns:search="urn:com:adcubum:syrius:api:common:searchTypes:v1"
    xmlns:ugt="urn:com:adcubum:syrius:api:unternehmensorg:geschaeftsprozessmgmt:common:types:v1" 
    xmlns:ucc="urn:com:adcubum:syrius:api:unternehmensorg:common:codes:v1"
    xmlns:uci="urn:com:adcubum:syrius:api:unternehmensorg:common:identifier:v1" 
    xmlns:uct="urn:com:adcubum:syrius:api:unternehmensorg:common:types:v1"	

    xmlns:tns="urn:com:adcubum:syrius:api:unternehmensorg:geschaeftsprozessmgmt:data:aufgabe:v1:schema"
    targetNamespace="urn:com:adcubum:syrius:api:unternehmensorg:geschaeftsprozessmgmt:data:aufgabe:v1:schema"
    elementFormDefault="qualified"
    version="1.0.0">

    <xsd:import namespace="urn:com:adcubum:syrius:api:common:types:v1" schemaLocation="../../../../../../common/types/v1/types.xsd"/>
    <xsd:import namespace="urn:com:adcubum:syrius:api:common:simpleTypes:v1" schemaLocation="../../../../../../common/simpleTypes/v1/simpleTypes.xsd"/>
    <xsd:import namespace="urn:com:adcubum:syrius:api:common:searchTypes:v1" schemaLocation="../../../../../../common/searchTypes/v1/searchTypes.xsd"/>
    
    <xsd:import namespace="urn:com:adcubum:syrius:api:unternehmensorg:common:codes:v1" schemaLocation="../../../../../common/codes/v1/codes.xsd"/>
	<xsd:import namespace="urn:com:adcubum:syrius:api:unternehmensorg:common:types:v1" schemaLocation="../../../../../common/types/v1/types.xsd"/>
    <xsd:import namespace="urn:com:adcubum:syrius:api:unternehmensorg:common:identifier:v1" schemaLocation="../../../../../common/identifier/v1/identifier.xsd"/>
    <xsd:import namespace="urn:com:adcubum:syrius:api:unternehmensorg:geschaeftsprozessmgmt:common:types:v1" schemaLocation="../../../../common/types/v1/types.xsd"/>

    <xsd:element name="getAufgabeRequest" type="tns:GetAufgabeRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, mit dem eine Aufgabe geladen wird.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="getAufgabeResponse" type="tns:GetAufgabeResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response, in dem die geladene Aufgabe enthalten ist.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:element name="searchAufgabeRequest" type="tns:SearchAufgabeRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, mit dem eine Liste von Aufgabe-Schlüssel geladen werden.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="searchAufgabeResponse" type="tns:SearchAufgabeResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response, in dem die gefundenen Aufgabe-Schlüssel enthalten sind.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:element name="getAufgabenschrittRequest" type="tns:GetAufgabenschrittRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, mit dem eine Liste von Aufgaben geladen werden.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="getAufgabenschrittResponse" type="tns:GetAufgabenschrittResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response, in dem die gefundenen Aufgaben enthalten sind.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:element name="searchAufgabenschrittRequest" type="tns:SearchAufgabenschrittRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, mit dem eine Liste von Aufgabenschritte-Schlüssel geladen werden.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="searchAufgabenschrittResponse" type="tns:SearchAufgabenschrittResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response, in dem die gefundenen Aufgabenschritte-Schlüssel enthalten sind.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:complexType name="GetAufgabeRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, mit dem eine Aufgabe geladen wird.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="aufgabeId" type="uci:WsAufgabeIdType" minOccurs="1" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Die Id der Aufgabe.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="GetAufgabeResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response, in dem die geladenen Aufgaben enthalten sind.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="aufgabe" type="ugt:WsAufgabeType" minOccurs="1" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Response, in dem die geladene Aufgabe enthalten ist.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="SearchAufgabeRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, mit dem eine Liste von Aufgaben-Schlüssel geladen werden.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="suchbedingungen" type="search:WsSearchConditionType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Technische Suchbedingungen für den Suchrequest.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="aufgabenDefinitionId" type="uci:WsAufgabeDefIdType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Technischer Schlüssel der Aufgabe-Definition.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="workflowId" type="uci:WsWorkflowIdType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Technischer Schlüssel des Workflows.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="betroffenerPartnerId" type="uci:WsPartnerIdType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Technischer Schlüssel des betroffenenen Partners.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="geschaeftsObjekt" type="uct:WsReferenzType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Referenz zum betroffenen Objekt der Aufgabe.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="ausfuehrenderId" type="uci:WsBenutzerIdType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Technischer Schlüssel des Benutzers.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="postkorbId" type="uci:WsPostkorbIdType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Technischer Schlüssel des Postkorbes.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="faelligkeitsDatum" type="st:DateTimeType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Fälligkeitsdatum.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="status" type="ucc:WsStatusCodeType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Status Code.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="kategorie" type="ucc:WsWorkflowElementKategorieCodeType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Kategorie Code.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="prioritaet" type="ucc:WsWorkflowElementPrioritaetCodeType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Priorität Code.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="SearchAufgabenschrittRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, mit dem eine Liste von Aufgabenschritt geladen werden.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="suchbedingungen" type="search:WsSearchConditionType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Technische Suchbedingungen für den Suchrequest.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="aufgabenDefinitionId" type="uci:WsAufgabeDefIdType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Technischer Schlüssel der Aufgabe-Definition.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="uebergeordneteAufgabeId" type="uci:WsAufgabeIdType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Technischer Schlüssel der uebergeordneten Aufgabe.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="betroffenerPartnerId" type="uci:WsPartnerIdType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Technischer Schlüssel des betroffenenen Partners.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="geschaeftsObjekt" type="uct:WsReferenzType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Referenz zum betroffenen Objekt der Aufgabe.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="ausfuehrenderId" type="uci:WsBenutzerIdType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Technischer Schlüssel des Benutzers.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="postkorbId" type="uci:WsPostkorbIdType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Technischer Schlüssel des Postkorbes.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="faelligkeitsDatum" type="st:DateTimeType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Fälligkeitsdatum.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="status" type="ucc:WsStatusCodeType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Status Code.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="kategorie" type="ucc:WsWorkflowElementKategorieCodeType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Kategorie Code.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="prioritaet" type="ucc:WsWorkflowElementPrioritaetCodeType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Priorität Code.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="SearchAufgabeResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response, in dem die gefundenen Aufgaben-Schlüssel enthalten sind.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="aufgabe" type="tns:WsAufgabeSearchType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>Eine Liste mit technischen Schlüssel der Aufgaben</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="GetAufgabenschrittRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, mit dem die Aufgaben geladen werden.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="aufgabeId" type="uci:WsAufgabeIdType" minOccurs="1" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Die Id der Aufgabe.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="GetAufgabenschrittResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response, in dem die geladenen Aufgabenschritte enthalten sind.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="aufgabenschritt" type="ugt:WsAufgabenschrittType" minOccurs="1" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Enthält gefundenen Aufgabenschritt.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="WsAufgabeSearchType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Eine gefundene Aufgabe (IDs).</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="id" type="uci:WsAufgabeIdType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Technischer Schlüssel der Aufgaben.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="WsAufgabenschrittSearchType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Eine gefundener Aufgabenschritt (IDs).</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="id" type="uci:WsAufgabeIdType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Technischer Schlüssel der Aufgaben.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>


    <xsd:complexType name="SearchAufgabenschrittResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response, in dem die gefundenen Aufgabenschritte-Schlüssel enthalten sind.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="aufgabenschritt" type="tns:WsAufgabenschrittSearchType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>Eine Liste mit technischen Schlüssel der Aufgabenschritten.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>    
    
   
</xsd:schema>
