master-21371/apibridge-partnermgmt-suva_4.master.master-21371-14050/wsdl/com/adcubum/syrius/api/partnermgmt/partnerdatenverw/process/familie/v1/FamilieProcessService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="FamilieProcessService"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="urn:com:adcubum:syrius:api:partnermgmt:partnerdatenverw:process:familie:v1"
                  xmlns:tns="urn:com:adcubum:syrius:api:partnermgmt:partnerdatenverw:process:familie:v1"
                  xmlns:pa="urn:com:adcubum:syrius:api:partnermgmt:partnerdatenverw:process:familie:v1:schema"
                  xmlns:flt="urn:com:adcubum:syrius:api:common:faults:v1"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/">
    <wsdl:documentation>Version: 1.1.0</wsdl:documentation>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="urn:com:adcubum:syrius:api:partnermgmt:partnerdatenverw:process:familie:v1:schema" schemaLocation="schema/FamilieProcessService.xsd"/>
            <xsd:import namespace="urn:com:adcubum:syrius:api:common:faults:v1" schemaLocation="../../../../../common/faults/v1/faults.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="AddNatPersonToFamilieRequestMessage">
        <wsdl:part name="Request" element="pa:addNatPersonToFamilieRequest"/>
    </wsdl:message>
    <wsdl:message name="AddNatPersonToFamilieResponseMessage">
        <wsdl:part name="Response" element="pa:addNatPersonToFamilieResponse"/>
    </wsdl:message>
    <wsdl:message name="RemoveNatPersonFromFamilieRequestMessage">
        <wsdl:part name="Request" element="pa:removeNatPersonFromFamilieRequest"/>
    </wsdl:message>
    <wsdl:message name="RemoveNatPersonFromFamilieResponseMessage">
        <wsdl:part name="Response" element="pa:removeNatPersonFromFamilieResponse"/>
    </wsdl:message>
    <wsdl:message name="ApiFaultMessage">
        <wsdl:part name="fault" element="flt:apiFaultInfo"/>
    </wsdl:message>
    <wsdl:portType name="FamilieProcessServicePortType">
        <wsdl:operation name="addNatPersonToFamilie">
            <wsdl:documentation>Fügt eine natürliche Person zu einer Familie hinzu.</wsdl:documentation>
            <wsdl:input name="addNatPersonToFamilieRequest" message="tns:AddNatPersonToFamilieRequestMessage"/>
            <wsdl:output name="addNatPersonToFamilieResponse" message="tns:AddNatPersonToFamilieResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="removeNatPersonFromFamilie">
            <wsdl:documentation>Entfernt eine natürliche Person von einer Familie.</wsdl:documentation>
            <wsdl:input name="removeNatPersonFromFamilieRequest" message="tns:RemoveNatPersonFromFamilieRequestMessage"/>
            <wsdl:output name="removeNatPersonFromFamilieResponse" message="tns:RemoveNatPersonFromFamilieResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="FamilieProcessServiceBinding" type="tns:FamilieProcessServicePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="addNatPersonToFamilie">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="addNatPersonToFamilieRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="addNatPersonToFamilieResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="removeNatPersonFromFamilie">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="removeNatPersonFromFamilieRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="removeNatPersonFromFamilieResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="FamilieProcessService_v1">
        <wsdl:port name="FamilieProcessService_v1" binding="tns:FamilieProcessServiceBinding">
            <soap:address location="https://example.com/apibridge-partnermgmt/FamilieProcessService_v1"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
