master-21371/apibridge-finanzwesen-suva_3.master.master-21371-12912/wsdl/com/adcubum/syrius/api/finanzwesen/fakturamgmt/data/faktura/v2/FakturaService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="FakturaService"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="urn:com:adcubum:syrius:api:finanzwesen:fakturamgmt:data:faktura:v2"
                  xmlns:tns="urn:com:adcubum:syrius:api:finanzwesen:fakturamgmt:data:faktura:v2"
                  xmlns:pa="urn:com:adcubum:syrius:api:finanzwesen:fakturamgmt:data:faktura:v2:schema"
                  xmlns:flt="urn:com:adcubum:syrius:api:common:faults:v1"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/">
    <wsdl:documentation>Version: 2.1.0</wsdl:documentation>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="urn:com:adcubum:syrius:api:finanzwesen:fakturamgmt:data:faktura:v2:schema" schemaLocation="schema/FakturaService.xsd"/>
            <xsd:import namespace="urn:com:adcubum:syrius:api:common:faults:v1" schemaLocation="../../../../../common/faults/v1/faults.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="GetFakturaRequestMessage">
        <wsdl:part name="Request" element="pa:getFakturaRequest"/>
    </wsdl:message>
    <wsdl:message name="GetFakturaResponseMessage">
        <wsdl:part name="Response" element="pa:getFakturaResponse"/>
    </wsdl:message>
    <wsdl:message name="ReadFakturaForZahlerRequestMessage">
        <wsdl:part name="Request" element="pa:readFakturaForZahlerRequest"/>
    </wsdl:message>
    <wsdl:message name="ReadFakturaForZahlerResponseMessage">
        <wsdl:part name="Response" element="pa:readFakturaForZahlerResponse"/>
    </wsdl:message>
    <wsdl:message name="SearchFakturaRequestMessage">
        <wsdl:part name="Request" element="pa:searchFakturaRequest"/>
    </wsdl:message>
    <wsdl:message name="SearchFakturaResponseMessage">
        <wsdl:part name="Response" element="pa:searchFakturaResponse"/>
    </wsdl:message>
    <wsdl:message name="GetFakturaForAbrechnungRequestMessage">
        <wsdl:part name="Request" element="pa:getFakturaForAbrechnungRequest"/>
    </wsdl:message>
    <wsdl:message name="GetFakturaForAbrechnungResponseMessage">
        <wsdl:part name="Response" element="pa:getFakturaForAbrechnungResponse"/>
    </wsdl:message>
    <wsdl:message name="ApiFaultMessage">
        <wsdl:part name="fault" element="flt:apiFaultInfo"/>
    </wsdl:message>
    <wsdl:message name="ReadFremdbezahlteFakturaForPartnerRequestMessage">
        <wsdl:part name="Request" element="pa:readFremdbezahlteFakturaForPartnerRequest"/>
    </wsdl:message>
    <wsdl:message name="ReadFremdbezahlteFakturaForPartnerResponseMessage">
        <wsdl:part name="Response" element="pa:readFremdbezahlteFakturaForPartnerResponse"/>
    </wsdl:message>
    <wsdl:portType name="FakturaServicePortType">
        <wsdl:operation name="getFaktura">
            <wsdl:documentation>Liefert für einen technischen Fakturaschlüssel die Daten der zugehörigen Faktura zurück.</wsdl:documentation>
            <wsdl:input name="getFakturaRequest" message="tns:GetFakturaRequestMessage"/>
            <wsdl:output name="getFakturaResponse" message="tns:GetFakturaResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="readFakturaForZahler">
            <wsdl:documentation>Liefert für einen technischen Zahlerschlüssel eine Liste von dazugehörigen Faktura-Ids.</wsdl:documentation>
            <wsdl:input name="readFakturaForZahlerRequest" message="tns:ReadFakturaForZahlerRequestMessage"/>
            <wsdl:output name="readFakturaForZahlerResponse" message="tns:ReadFakturaForZahlerResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="searchFaktura">
            <wsdl:documentation>Liefert eine Liste von technischen Schlüssel gemäss den gesetzten Suchkriterien. Die Schlüssel beziehen sich dabei auf Faktura. Die Suche erfolgt per Stichdatum.</wsdl:documentation>
            <wsdl:input name="searchFakturaRequest" message="tns:SearchFakturaRequestMessage"/>
            <wsdl:output name="searchFakturaResponse" message="tns:SearchFakturaResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="getFakturaForAbrechnung">
            <wsdl:documentation>Liefert für einen technischen Abrechnungsschlüssel die dazugehörende Faktura falls vorhanden.</wsdl:documentation>
            <wsdl:input name="getFakturaForAbrechnungRequest" message="tns:GetFakturaForAbrechnungRequestMessage"/>
            <wsdl:output name="getFakturaForAbrechnungResponse" message="tns:GetFakturaForAbrechnungResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="readFremdbezahlteFakturaForPartner">
            <wsdl:documentation>Liefert für einen technischen Partnerschlüssel eine Liste von dazugehörigen fremdbezahlten Faktura-Ids.</wsdl:documentation>
            <wsdl:input name="readFremdbezahlteFakturaForPartnerRequest" message="tns:ReadFremdbezahlteFakturaForPartnerRequestMessage"/>
            <wsdl:output name="readFremdbezahlteFakturaForPartnerResponse" message="tns:ReadFremdbezahlteFakturaForPartnerResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="FakturaServiceBinding" type="tns:FakturaServicePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getFaktura">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="getFakturaRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getFakturaResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="readFakturaForZahler">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="readFakturaForZahlerRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="readFakturaForZahlerResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="searchFaktura">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="searchFakturaRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="searchFakturaResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getFakturaForAbrechnung">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="getFakturaForAbrechnungRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getFakturaForAbrechnungResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="readFremdbezahlteFakturaForPartner">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="readFremdbezahlteFakturaForPartnerRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="readFremdbezahlteFakturaForPartnerResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="FakturaService_v2">
        <wsdl:port name="FakturaService_v2" binding="tns:FakturaServiceBinding">
            <soap:address location="https://example.com/apibridge-finanzwesen/FakturaService_v2"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>