master-21371/apibridge-bestandsverw-suva_3.master.master-21371-13979/wsdl/com/adcubum/syrius/api/bestandsverw/vertragsverw/auskunft/data/bedingung/v1/schema/BedingungService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:pi="urn:com:adcubum:syrius:api:bestandsverw:common:identifier:v1"
            xmlns:ct="urn:com:adcubum:syrius:api:common:types:v1"
            xmlns:st="urn:com:adcubum:syrius:api:common:simpleTypes:v1"
            xmlns:pc="urn:com:adcubum:syrius:api:bestandsverw:common:codes:v1"
            xmlns:tns="urn:com:adcubum:syrius:api:bestandsverw:vertragsverw:auskunft:data:bedingung:v1:schema"
            targetNamespace="urn:com:adcubum:syrius:api:bestandsverw:vertragsverw:auskunft:data:bedingung:v1:schema"
            version="1.0.0"
            elementFormDefault="qualified">

    <xsd:import namespace="urn:com:adcubum:syrius:api:bestandsverw:common:identifier:v1" schemaLocation="../../../../../../common/identifier/v1/identifier.xsd"/>
    <xsd:import namespace="urn:com:adcubum:syrius:api:bestandsverw:common:codes:v1" schemaLocation="../../../../../../common/codes/v1/codes.xsd"/>
    <xsd:import namespace="urn:com:adcubum:syrius:api:common:simpleTypes:v1" schemaLocation="../../../../../../../common/simpleTypes/v1/simpleTypes.xsd"/>
    <xsd:import namespace="urn:com:adcubum:syrius:api:common:types:v1" schemaLocation="../../../../../../../common/types/v1/types.xsd"/>
    
   	<xsd:element name="evaluateEinschliessbareBedingungForVertragRequest" type="tns:EvaluateEinschliessbareBedingungForVertragRequestType">
    		<xsd:annotation>
        		<xsd:documentation>Request zur Ermittlung der einschliessbaren Bedingungen auf der Ebene Vertrag</xsd:documentation>
        	</xsd:annotation>
    </xsd:element>
    
    <xsd:element name="evaluateEinschliessbareBedingungForVertragResponse" type="tns:EvaluateEinschliessbareBedingungForVertragResponseType">
    		<xsd:annotation>
        		<xsd:documentation>Response zur Ermittlung der einschliessbaren Bedingungen auf der Ebene Vertrag</xsd:documentation>
        	</xsd:annotation>
    </xsd:element>

    <xsd:complexType name="EvaluateEinschliessbareBedingungForVertragRequestType">
    	<xsd:annotation>
    		<xsd:documentation>Request zur Funktion EvaluateEinschliessbareBedingungForVertrag</xsd:documentation>
    	</xsd:annotation>
        <xsd:sequence>
            <xsd:element name="vertragId" type="pi:WsVertragIdType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                     <xsd:documentation>Technischer Schlüssel des Vertrages.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="stichdatum" type="st:DateType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Stichdatum, zu dem die einschliessbaren Bedingungen zu ermitteln sind.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="EvaluateEinschliessbareBedingungForVertragResponseType">
    	<xsd:annotation>
    		<xsd:documentation>Response zur Funktion EvaluateEinschliessbareBedingungForVertrag</xsd:documentation>
    	</xsd:annotation>
        <xsd:sequence>
            <xsd:element name="einschliessbareBedingungVertrag" type="tns:WsEinschliessbareBedingungVertragType" minOccurs="0" maxOccurs="unbounded">
            	<xsd:annotation>
    				<xsd:documentation>Response zur Funktion EvaluateEinschliessbareBedingungForVertrag</xsd:documentation>
    			</xsd:annotation>
    		</xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="WsEinschliessbareBedingungVertragType">
    	<xsd:annotation>
    		<xsd:documentation>Einschliessbare Bedingungen zum Vertrag</xsd:documentation>
    	</xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ct:WsDataObjectType">
                <xsd:sequence>
                    <xsd:element name="id" type="pi:WsEinschliessbareBedingungIdType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Technischer Schlüssel der einschliessbaren Bedingung.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="bedingungTyp" type="pc:WsBedingungTypCodeType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Bedingungstyp.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="istEinschliessbar" type="st:BooleanType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Ist die Bedingung einschliessbar?</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="sortierreihenfolge" type="st:IntegerType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Sortierreihenfolge</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
		            <xsd:element name="vertragId" type="pi:WsVertragIdType" minOccurs="1" maxOccurs="1">
        		        <xsd:annotation>
                		    <xsd:documentation>Technischer Schlüssel des Vertrages.</xsd:documentation>
                		</xsd:annotation>
            		</xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
  
    <xsd:element name="evaluateEinschliessbareBedingungForVersichertesObjektRequest" type="tns:EvaluateEinschliessbareBedingungForVersichertesObjektRequestType">
    		<xsd:annotation>
        		<xsd:documentation>Request zur Ermittlung der einschliessbaren Bedingungen auf der Ebene versichertes Objekt</xsd:documentation>
        	</xsd:annotation>
    </xsd:element>
    
    <xsd:element name="evaluateEinschliessbareBedingungForVersichertesObjektResponse" type="tns:EvaluateEinschliessbareBedingungForVersichertesObjektResponseType">
    		<xsd:annotation>
        		<xsd:documentation>Response zur Ermittlung der einschliessbaren Bedingungen auf der Ebene versichertes Objekt</xsd:documentation>
        	</xsd:annotation>
    </xsd:element>

    <xsd:complexType name="EvaluateEinschliessbareBedingungForVersichertesObjektRequestType">
    	<xsd:annotation>
    		<xsd:documentation>Request zur Funktion EvaluateEinschliessbareBedingungForVersichertesObjekt</xsd:documentation>
    	</xsd:annotation>
        <xsd:sequence>
            <xsd:element name="versichertesObjektId" type="pi:WsVersichertesObjektIdType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                     <xsd:documentation>Technischer Schlüssel des versicherten Objektes.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="stichdatum" type="st:DateType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Stichdatum, zu dem die einschliessbaren Bedingungen zu ermitteln sind.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="EvaluateEinschliessbareBedingungForVersichertesObjektResponseType">
    	<xsd:annotation>
    		<xsd:documentation>Response zur Funktion EvaluateEinschliessbareBedingungForVersichertesObjekt</xsd:documentation>
    	</xsd:annotation>
        <xsd:sequence>
            <xsd:element name="einschliessbareBedingungVersichertesObjekt" type="tns:WsEinschliessbareBedingungVersichertesObjektType" minOccurs="0" maxOccurs="unbounded">
            	<xsd:annotation>
    				<xsd:documentation>Einschliessbare Bedingungen zu einem versicherten Objekt</xsd:documentation>
    			</xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="WsEinschliessbareBedingungVersichertesObjektType">
    	<xsd:annotation>
    		<xsd:documentation>Einschliessbare Bedingungen zu einem Versicherten Objekt</xsd:documentation>
    	</xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ct:WsDataObjectType">
                <xsd:sequence>
                    <xsd:element name="id" type="pi:WsEinschliessbareBedingungIdType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Technischer Schlüssel der einschliessbaren Bedingung.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="bedingungTyp" type="pc:WsBedingungTypCodeType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Bedingungstyp.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="istEinschliessbar" type="st:BooleanType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Ist die Bedingung einschliessbar?</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="sortierreihenfolge" type="st:IntegerType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Sortierreihenfolge</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
		            <xsd:element name="versichertesObjektId" type="pi:WsVersichertesObjektIdType" minOccurs="1" maxOccurs="1">
        		        <xsd:annotation>
                		    <xsd:documentation>Technischer Schlüssel des versicherten Objektes.</xsd:documentation>
                		</xsd:annotation>
            		</xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
   	<xsd:element name="evaluateEinschliessbareBedingungForVertragsproduktRequest" type="tns:EvaluateEinschliessbareBedingungForVertragsproduktRequestType">
    		<xsd:annotation>
        		<xsd:documentation>Request zur Ermittlung der einschliessbaren Bedingungen auf der Ebene Vertragsprodukt</xsd:documentation>
        	</xsd:annotation>
    </xsd:element>
    
    <xsd:element name="evaluateEinschliessbareBedingungForVertragsproduktResponse" type="tns:EvaluateEinschliessbareBedingungForVertragsproduktResponseType">
    		<xsd:annotation>
        		<xsd:documentation>Response zur Ermittlung der einschliessbaren Bedingungen auf der Ebene Vertragsprodukt</xsd:documentation>
        	</xsd:annotation>
    </xsd:element>

    <xsd:complexType name="EvaluateEinschliessbareBedingungForVertragsproduktRequestType">
    	<xsd:annotation>
    		<xsd:documentation>Request zur Funktion EvaluateEinschliessbareBedingungForVertragsprodukt</xsd:documentation>
    	</xsd:annotation>
        <xsd:sequence>
            <xsd:element name="vertragsproduktId" type="pi:WsVertragsproduktIdType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                     <xsd:documentation>Technischer Schlüssel des Vertragsproduktes.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="stichdatum" type="st:DateType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Stichdatum, zu dem die einschliessbaren Bedingungen zu ermitteln sind.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="EvaluateEinschliessbareBedingungForVertragsproduktResponseType">
    	<xsd:annotation>
    		<xsd:documentation>Response zur Funktion EvaluateEinschliessbareBedingungForVertragsprodukt</xsd:documentation>
    	</xsd:annotation>
        <xsd:sequence>
            <xsd:element name="einschliessbareBedingungVertragsprodukt" type="tns:WsEinschliessbareBedingungVertragsproduktType" minOccurs="0" maxOccurs="unbounded">
            	<xsd:annotation>
    				<xsd:documentation>Einschliessbare Bedingungen zu einem Vertragsprodukt</xsd:documentation>
    			</xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="WsEinschliessbareBedingungVertragsproduktType">
    	<xsd:annotation>
    		<xsd:documentation>Einschliessbare Bedingungen zu einem Vertragsprodukt</xsd:documentation>
    	</xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ct:WsDataObjectType">
                <xsd:sequence>
                    <xsd:element name="id" type="pi:WsEinschliessbareBedingungIdType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Technischer Schlüssel der einschliessbaren Bedingung.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="bedingungTyp" type="pc:WsBedingungTypCodeType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Bedingungstyp.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="istEinschliessbar" type="st:BooleanType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Ist die Bedingung einschliessbar?</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="sortierreihenfolge" type="st:IntegerType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Sortierreihenfolge</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
		            <xsd:element name="vertragsproduktId" type="pi:WsVertragsproduktIdType" minOccurs="1" maxOccurs="1">
        		        <xsd:annotation>
                		    <xsd:documentation>Technischer Schlüssel des Vertragsproduktes.</xsd:documentation>
                		</xsd:annotation>
            		</xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    <xsd:element name="readL10nAttributesEinschliessbareBedingungRequest" type="tns:ReadL10nAttributesEinschliessbareBedingungRequestType">
        <xsd:annotation>
	    	<xsd:documentation>Request zur Ermittlung der lokalisierten Attribute der einschliessbaren Bedingungen.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    
    <xsd:complexType name="ReadL10nAttributesEinschliessbareBedingungRequestType">
    	<xsd:annotation>
    		<xsd:documentation>Response zur Ermittlung der lokalisierten Attribute der einschliessbaren Bedingungen.</xsd:documentation>
    	</xsd:annotation>
        <xsd:sequence>
        	<xsd:element name="einschliessbareBedingungId" type="pi:WsEinschliessbareBedingungIdType" minOccurs="1" maxOccurs="unbounded">
            	<xsd:annotation>
                	<xsd:documentation>Mehrere Technische Schlüssel von Einschliessbare Bedingung.</xsd:documentation>
             	</xsd:annotation>
         	</xsd:element>
         <xsd:element name="locale" type="xsd:language" minOccurs="1" maxOccurs="1">
             <xsd:annotation>
                 <xsd:documentation xml:lang="de">Local mit welcher die korrekte Sprache ermittelt wird.</xsd:documentation>
             </xsd:annotation>
         </xsd:element>
         <xsd:element name="stichtag" type="xsd:date" minOccurs="0" maxOccurs="1">
             <xsd:annotation>
                 <xsd:documentation xml:lang="de">Optionale Angabe des Stichtags zur Datenermittlung, ohne Angabe wird das Tagesdatum verwendet.</xsd:documentation>
             </xsd:annotation>
         </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="readL10nAttributesEinschliessbareBedingungResponse" type="tns:ReadL10nAttributesEinschliessbareBedingungResponseType">
        <xsd:annotation>
	    	<xsd:documentation>Response zur Ermittlung der lokalisierten Attribute der einschliessbaren Bedingungen.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    
    <xsd:complexType name="ReadL10nAttributesEinschliessbareBedingungResponseType">
    	<xsd:annotation>
	    	<xsd:documentation>Response zur Ermittlung der lokalisierten Attribute der einschliessbaren Bedingungen.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="localizedAttrs" type="tns:WsL10nAttributesEinschliessbareBedingungType" minOccurs="1" maxOccurs="unbounded">
             <xsd:annotation>
                 <xsd:documentation xml:lang="de">Übersetzter Text einer einschliessbaren Bedingung.</xsd:documentation>
             </xsd:annotation>
         </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="WsL10nAttributesEinschliessbareBedingungType">
    	<xsd:annotation>
	    	<xsd:documentation>Lokalisierte Attribute zu einschliessbaren Bedingungen.</xsd:documentation>
        </xsd:annotation>
          <xsd:sequence>
            <xsd:element name="einschliessbareBedingungId" type="pi:WsEinschliessbareBedingungIdType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
                	<xsd:documentation>Technischer Schlüssel der einschliessbaren Bedingung.</xsd:documentation>
				</xsd:annotation>
            </xsd:element>
			<xsd:element name="bezeichnung" type="ct:WsLocalizedTextType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
                	<xsd:documentation xml:lang="de">Lokalisierte Bezeichnung der einschliessbaren Bedingung.</xsd:documentation>
              	</xsd:annotation>
        	</xsd:element>
		</xsd:sequence>
    </xsd:complexType>

   	<xsd:element name="searchBedingungForVertragRequest" type="tns:SearchBedingungForVertragRequestType">
    		<xsd:annotation>
        		<xsd:documentation>Request zur Ermittlung der eingeschlossenen Bedingungen auf der Ebene Vertrag</xsd:documentation>
        	</xsd:annotation>
    </xsd:element>
    
    <xsd:element name="searchBedingungForVertragResponse" type="tns:SearchBedingungForVertragResponseType">
    		<xsd:annotation>
        		<xsd:documentation>Response zur Ermittlung der eingeschlossenen Bedingungen auf der Ebene Vertrag</xsd:documentation>
        	</xsd:annotation>
    </xsd:element>

    <xsd:complexType name="SearchBedingungForVertragRequestType">
    	<xsd:annotation>
	    	<xsd:documentation>Request zur Suche von Bedingungen zu einem Vertrag.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="vertragId" type="pi:WsVertragIdType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                     <xsd:documentation>Technischer Schlüssel des Vertrages.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="stichdatum" type="st:DateType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Stichdatum, zu dem die eingeschlossenen Bedingungen zu ermitteln sind. Wird kein Datum übergeben, werden die Bedingungen zum Tagesdatum ermittelt</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="SearchBedingungForVertragResponseType">
    	<xsd:annotation>
	    	<xsd:documentation>Response zur Suche von Bedingungen zu einem Vertrag.</xsd:documentation>
        </xsd:annotation>
		<xsd:sequence>
			<xsd:element name="bedingungId" type="pi:WsBedingungIdType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Technischer Schlüssel der Bedingung.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
    </xsd:complexType>

   	<xsd:element name="searchBedingungForVersichertesObjektRequest" type="tns:SearchBedingungForVersichertesObjektRequestType">
    		<xsd:annotation>
        		<xsd:documentation>Request zur Ermittlung der eingeschlossenen Bedingungen auf der Ebene versichertes Objekt</xsd:documentation>
        	</xsd:annotation>
    </xsd:element>
    
    <xsd:element name="searchBedingungForVersichertesObjektResponse" type="tns:SearchBedingungForVersichertesObjektResponseType">
    		<xsd:annotation>
        		<xsd:documentation>Response zur Ermittlung der eingeschlossenen Bedingungen auf der Ebene versichertes Objekt</xsd:documentation>
        	</xsd:annotation>
    </xsd:element>

    <xsd:complexType name="SearchBedingungForVersichertesObjektRequestType">
    	<xsd:annotation>
	    	<xsd:documentation>Request zur Suche von Bedingungen zu einem versicherten Objekt.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="versichertesObjektId" type="pi:WsVersichertesObjektIdType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                     <xsd:documentation>Technischer Schlüssel des versicherten Objektes.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="stichdatum" type="st:DateType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Stichdatum, zu dem die eingeschlossenen Bedingungen zu ermitteln sind. Wird kein Datum übergeben, werden die Bedingungen zum Tagesdatum ermittelt</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="SearchBedingungForVersichertesObjektResponseType">
    	<xsd:annotation>
	    	<xsd:documentation>Response zur Suche von Bedingungen zu einem versicherten Objekt.</xsd:documentation>
        </xsd:annotation>
		<xsd:sequence>
			<xsd:element name="bedingungId" type="pi:WsBedingungIdType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Technischer Schlüssel der Bedingung.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
    </xsd:complexType>

   	<xsd:element name="searchBedingungForVertragsproduktRequest" type="tns:SearchBedingungForVertragsproduktRequestType">
    		<xsd:annotation>
        		<xsd:documentation>Request zur Ermittlung der eingeschlossenen Bedingungen auf der Ebene Vertragsprodukt</xsd:documentation>
        	</xsd:annotation>
    </xsd:element>
    
    <xsd:element name="searchBedingungForVertragsproduktResponse" type="tns:SearchBedingungForVertragsproduktResponseType">
    		<xsd:annotation>
        		<xsd:documentation>Response zur Ermittlung der eingeschlossenen Bedingungen auf der Ebene Vertragsprodukt</xsd:documentation>
        	</xsd:annotation>
    </xsd:element>

    <xsd:complexType name="SearchBedingungForVertragsproduktRequestType">
    	<xsd:annotation>
	    	<xsd:documentation>Request zur Suche von Bedingungen zu einem Vertragsprodukt.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="vertragsproduktId" type="pi:WsVertragsproduktIdType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                     <xsd:documentation>Technischer Schlüssel des Vertragsprodukt.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="stichdatum" type="st:DateType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Stichdatum, zu dem die eingeschlossenen Bedingungen zu ermitteln sind. Wird kein Datum übergeben, werden die Bedingungen zum Tagesdatum ermittelt</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

	<xsd:complexType name="SearchBedingungForVertragsproduktResponseType">
		<xsd:annotation>
	    	<xsd:documentation>Response zur Suche von Bedingungen zu einem Vertragsprodukt.</xsd:documentation>
        </xsd:annotation>
		<xsd:sequence>
			<xsd:element name="bedingungId" type="pi:WsBedingungIdType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Technischer Schlüssel der Bedingung.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

   	<xsd:element name="getBedingungRequest" type="tns:GetBedingungRequestType">
    		<xsd:annotation>
        		<xsd:documentation>Request zur Ermittlung der Bedingungen zu den übergebenen BedingungIDs</xsd:documentation>
        	</xsd:annotation>
    </xsd:element>
    
    <xsd:element name="getBedingungResponse" type="tns:GetBedingungResponseType">
    		<xsd:annotation>
        		<xsd:documentation>Response zur Ermittlung der Bedingungen zu den übergebenen BedingungIDs</xsd:documentation>
        	</xsd:annotation>
    </xsd:element>

    <xsd:complexType name="GetBedingungRequestType">
    	<xsd:annotation>
	    	<xsd:documentation>Request zum Lesen von Bedingungen.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="bedingungId" type="pi:WsBedingungIdType" minOccurs="1" maxOccurs="unbounded">
                <xsd:annotation>
                     <xsd:documentation>Technischer Schlüssel der Bedingung.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="stichdatum" type="st:DateType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Stichdatum, zu dem die Bedingung ermittelt werden soll. Wird keine Datum übergeben, wird das Tagesdatum herangezogen</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="GetBedingungResponseType">
    	<xsd:annotation>
	    	<xsd:documentation>Response zum Lesen von Bedingungen.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="bedingung" type="tns:WsBedingungType" minOccurs="0" maxOccurs="unbounded">
            	<xsd:annotation>
    				<xsd:documentation>Bedingung</xsd:documentation>
    			</xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="WsBedingungType">
    	<xsd:annotation>
	    	<xsd:documentation>Bedingung</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ct:WsDataObjectType">
                <xsd:sequence>
                    <xsd:element name="id" type="pi:WsBedingungIdType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Technischer Schlüssel der Bedingung.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:choice>
                        <xsd:element name="vertragId" type="pi:WsVertragIdType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation xml:lang="de">Technischer Schlüssel des zugehörigen Vertrages.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="versichertesObjektId" type="pi:WsVersichertesObjektIdType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation xml:lang="de">Technischer Schlüssel des zugehörigen versicherten Objektes.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="vertragsproduktId" type="pi:WsVertragsproduktIdType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation xml:lang="de">Technischer Schlüssel des zugehörigen Vertragsproduktes.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:choice>
                    <xsd:element name="bedingungTyp" type="pc:WsBedingungTypCodeType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Bedingungstyp.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="istAusschliessbar" type="st:BooleanType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Ist die Bedingung ausschliessbar?</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="sortierreihenfolge" type="st:IntegerType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Sortierreihenfolge</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
		            <xsd:element name="textquelle" type="pc:WsTextquelleCodeType" minOccurs="1" maxOccurs="1">
        		        <xsd:annotation>
                		    <xsd:documentation>Textquelle der Bedingung.</xsd:documentation>
                		</xsd:annotation>
            		</xsd:element>
		            <xsd:element name="istSchadenrelevant" type="pc:WsSchadenrelevantCodeType" minOccurs="1" maxOccurs="1">
        		        <xsd:annotation>
                		    <xsd:documentation>Kennzeichen ob eine Bedingung schadenrelevant ist oder nicht</xsd:documentation>
                		</xsd:annotation>
            		</xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    <xsd:element name="readL10nAttributesBedingungRequest" type="tns:ReadL10nAttributesBedingungRequestType">
        <xsd:annotation>
	    	<xsd:documentation>Request zur Ermittlung der lokalisierten Attribute der Bedingungen.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    
    <xsd:complexType name="ReadL10nAttributesBedingungRequestType">
    	<xsd:annotation>
	    	<xsd:documentation>Request zum Lesen lokalisierten Attributen von Bedingungen.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
        	<xsd:element name="bedingungId" type="pi:WsBedingungIdType" minOccurs="1" maxOccurs="unbounded">
            	<xsd:annotation>
                	<xsd:documentation>Mehrere Technische Schlüssel von Bedingungen.</xsd:documentation>
             	</xsd:annotation>
         	</xsd:element>
         <xsd:element name="locale" type="xsd:language" minOccurs="1" maxOccurs="1">
             <xsd:annotation>
                 <xsd:documentation xml:lang="de">Local mit welcher die korrekte Sprache ermittelt wird.</xsd:documentation>
             </xsd:annotation>
         </xsd:element>
         <xsd:element name="stichtag" type="xsd:date" minOccurs="0" maxOccurs="1">
             <xsd:annotation>
                 <xsd:documentation xml:lang="de">Optionale Angabe des Stichtags zur Datenermittlung, ohne Angabe wird das Tagesdatum verwendet.</xsd:documentation>
             </xsd:annotation>
         </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="readL10nAttributesBedingungResponse" type="tns:ReadL10nAttributesBedingungResponseType">
        <xsd:annotation>
	    	<xsd:documentation>Response zur Ermittlung der lokalisierten Attribute der Bedingungen.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    
    <xsd:complexType name="ReadL10nAttributesBedingungResponseType">
    	<xsd:annotation>
	    	<xsd:documentation>Response zum Lesen lokalisierten Attributen von Bedingungen.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="localizedAttrs" type="tns:WsL10nAttributesBedingungType" minOccurs="1" maxOccurs="unbounded">
             <xsd:annotation>
                 <xsd:documentation xml:lang="de">Übersetzte Texte einer Bedingung.</xsd:documentation>
             </xsd:annotation>
         </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="WsL10nAttributesBedingungType">
    	<xsd:annotation>
	    	<xsd:documentation>Lokalisierte Attribute von Bedingungen.</xsd:documentation>
        </xsd:annotation>
          <xsd:sequence>
            <xsd:element name="bedingungId" type="pi:WsBedingungIdType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
                	<xsd:documentation>Technischer Schlüssel der Bedingung.</xsd:documentation>
				</xsd:annotation>
            </xsd:element>
			<xsd:element name="bezeichnung" type="ct:WsLocalizedTextType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
                	<xsd:documentation xml:lang="de">Lokalisierte Bezeichnung der Bedingung.</xsd:documentation>
              	</xsd:annotation>
        	</xsd:element>
			<xsd:element name="text" type="ct:WsLocalizedTextType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
                	<xsd:documentation xml:lang="de">Lokalisierter Text der Bedingung.</xsd:documentation>
              	</xsd:annotation>
        	</xsd:element>
		</xsd:sequence>
    </xsd:complexType>
    
</xsd:schema>
