master-21371/apibridge-partnermgmt-suva_4.master.master-21371-14050/wsdl/com/adcubum/syrius/api/partnermgmt/partnerdatenverw/data/partneraenderung/v1/PartnerAenderungService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="PartnerAenderungService"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="urn:com:adcubum:syrius:api:partnermgmt:partnerdatenverw:data:partneraenderung:v1"
                  xmlns:tns="urn:com:adcubum:syrius:api:partnermgmt:partnerdatenverw:data:partneraenderung:v1"
                  xmlns:pa="urn:com:adcubum:syrius:api:partnermgmt:partnerdatenverw:data:partneraenderung:v1:schema"
                  xmlns:flt="urn:com:adcubum:syrius:api:common:faults:v1"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/">
    <wsdl:documentation>Version: 1.2.0</wsdl:documentation>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="urn:com:adcubum:syrius:api:partnermgmt:partnerdatenverw:data:partneraenderung:v1:schema" schemaLocation="schema/PartnerAenderungService.xsd"/>
            <xsd:import namespace="urn:com:adcubum:syrius:api:common:faults:v1" schemaLocation="../../../../../common/faults/v1/faults.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="GetNatPersonAenderungRequestMessage">
        <wsdl:part name="request" element="pa:getNatPersonAenderungRequest"/>
    </wsdl:message>
    <wsdl:message name="GetNatPersonAenderungResponseMessage">
        <wsdl:part name="response" element="pa:getNatPersonAenderungResponse"/>
    </wsdl:message>
    <wsdl:message name="GetPartnerNatPersonAenderungRequestMessage">
        <wsdl:part name="request" element="pa:getPartnerNatPersonAenderungRequest"/>
    </wsdl:message>
    <wsdl:message name="GetPartnerNatPersonAenderungResponseMessage">
        <wsdl:part name="response" element="pa:getPartnerNatPersonAenderungResponse"/>
    </wsdl:message>
    <wsdl:message name="GetNatPersonAenderungDifferenzRequestMessage">
        <wsdl:part name="request" element="pa:getNatPersonAenderungDifferenzRequest"/>
    </wsdl:message>
    <wsdl:message name="GetNatPersonAenderungDifferenzResponseMessage">
        <wsdl:part name="response" element="pa:getNatPersonAenderungDifferenzResponse"/>
    </wsdl:message>
    <wsdl:message name="GetJurPersonAenderungRequestMessage">
        <wsdl:part name="request" element="pa:getJurPersonAenderungRequest"/>
    </wsdl:message>
    <wsdl:message name="GetJurPersonAenderungResponseMessage">
        <wsdl:part name="response" element="pa:getJurPersonAenderungResponse"/>
    </wsdl:message>
    <wsdl:message name="GetPartnerJurPersonAenderungRequestMessage">
        <wsdl:part name="request" element="pa:getPartnerJurPersonAenderungRequest"/>
    </wsdl:message>
    <wsdl:message name="GetPartnerJurPersonAenderungResponseMessage">
        <wsdl:part name="response" element="pa:getPartnerJurPersonAenderungResponse"/>
    </wsdl:message>
    <wsdl:message name="ApiFaultMessage">
        <wsdl:part name="fault" element="flt:apiFaultInfo"/>
    </wsdl:message>
    <wsdl:portType name="PartnerAenderungServicePortType">
        <wsdl:operation name="getNatPersonAenderung">
            <wsdl:documentation>Liefert für einen technischen Partneränderungschlüssel die Daten der zugehörigen NatPersonänderung.</wsdl:documentation>
            <wsdl:input name="getNatPersonAenderungRequest" message="tns:GetNatPersonAenderungRequestMessage"/>
            <wsdl:output name="getNatPersonAenderungResponse" message="tns:GetNatPersonAenderungResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="getPartnerNatPersonAenderung">
            <wsdl:documentation>Liefert für einen technischen Partnerschlüssel die Daten aller dazugehörenden offenen NatPersonänderungen.</wsdl:documentation>
            <wsdl:input name="getPartnerNatPersonAenderungRequest" message="tns:GetPartnerNatPersonAenderungRequestMessage"/>
            <wsdl:output name="getPartnerNatPersonAenderungResponse" message="tns:GetPartnerNatPersonAenderungResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="getNatPersonAenderungDifferenz">
            <wsdl:documentation>Liefert für einen technischen Partneränderungschlüssel die geänderten Daten der zugehörigen NatPersonänderung.</wsdl:documentation>
            <wsdl:input name="getNatPersonAenderungDifferenzRequest" message="tns:GetNatPersonAenderungDifferenzRequestMessage"/>
            <wsdl:output name="getNatPersonAenderungDifferenzResponse" message="tns:GetNatPersonAenderungDifferenzResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="getJurPersonAenderung">
            <wsdl:documentation>Liefert für einen technischen Partneränderungschlüssel die Daten der zugehörigen JurPersonänderung.</wsdl:documentation>
            <wsdl:input name="getJurPersonAenderungRequest" message="tns:GetJurPersonAenderungRequestMessage"/>
            <wsdl:output name="getJurPersonAenderungResponse" message="tns:GetJurPersonAenderungResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="getPartnerJurPersonAenderung">
            <wsdl:documentation>Liefert für einen technischen Partnerschlüssel die Daten aller dazugehörenden offenen JurPersonänderungen.</wsdl:documentation>
            <wsdl:input name="getPartnerJurPersonAenderungRequest" message="tns:GetPartnerJurPersonAenderungRequestMessage"/>
            <wsdl:output name="getPartnerJurPersonAenderungResponse" message="tns:GetPartnerJurPersonAenderungResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PartnerAenderungServiceBinding" type="tns:PartnerAenderungServicePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getNatPersonAenderung">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="getNatPersonAenderungRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getNatPersonAenderungResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getPartnerNatPersonAenderung">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="getPartnerNatPersonAenderungRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getPartnerNatPersonAenderungResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getNatPersonAenderungDifferenz">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="getNatPersonAenderungDifferenzRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getNatPersonAenderungDifferenzResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getJurPersonAenderung">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="getJurPersonAenderungRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getJurPersonAenderungResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getPartnerJurPersonAenderung">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="getPartnerJurPersonAenderungRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getPartnerJurPersonAenderungResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="PartnerAenderungService_v1">
        <wsdl:port name="PartnerAenderungService_v1" binding="tns:PartnerAenderungServiceBinding">
            <soap:address location="https://example.com/apibridge-partnermgmt/PartnerAenderungService_v1"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
