master-21371/apibridge-finanzwesen-suva_3.master.master-21371-12912/wsdl/com/adcubum/syrius/api/finanzwesen/fakturamgmt/data/zahlungsmittel/v1/ZahlungsmittelService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="ZahlungsmittelService"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="urn:com:adcubum:syrius:api:finanzwesen:fakturamgmt:data:zahlungsmittel:v1"
                  xmlns:tns="urn:com:adcubum:syrius:api:finanzwesen:fakturamgmt:data:zahlungsmittel:v1"
                  xmlns:pa="urn:com:adcubum:syrius:api:finanzwesen:fakturamgmt:data:zahlungsmittel:v1:schema"
                  xmlns:flt="urn:com:adcubum:syrius:api:common:faults:v1"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/">
    <wsdl:documentation>Version: 1.1.0</wsdl:documentation>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="urn:com:adcubum:syrius:api:finanzwesen:fakturamgmt:data:zahlungsmittel:v1:schema" schemaLocation="schema/ZahlungsmittelService.xsd"/>
            <xsd:import namespace="urn:com:adcubum:syrius:api:common:faults:v1" schemaLocation="../../../../../common/faults/v1/faults.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="GetZahlungsmittelRequestMessage">
        <wsdl:part name="Request" element="pa:getZahlungsmittelRequest"/>
    </wsdl:message>
    <wsdl:message name="GetZahlungsmittelResponseMessage">
        <wsdl:part name="Response" element="pa:getZahlungsmittelResponse"/>
    </wsdl:message>
    <wsdl:message name="GetZahlungsmittelMitRatenRequestMessage">
        <wsdl:part name="Request" element="pa:getZahlungsmittelMitRatenRequest"/>
    </wsdl:message>
    <wsdl:message name="GetZahlungsmittelMitRatenResponseMessage">
        <wsdl:part name="Response" element="pa:getZahlungsmittelMitRatenResponse"/>
    </wsdl:message>
    <wsdl:message name="ReadZahlungsmittelForFakturaRequestMessage">
        <wsdl:part name="Request" element="pa:readZahlungsmittelForFakturaRequest"/>
    </wsdl:message>
    <wsdl:message name="ReadZahlungsmittelForFakturaResponseMessage">
        <wsdl:part name="Response" element="pa:readZahlungsmittelForFakturaResponse"/>
    </wsdl:message>
    <wsdl:message name="ApiFaultMessage">
        <wsdl:part name="fault" element="flt:apiFaultInfo"/>
    </wsdl:message>
    <wsdl:portType name="ZahlungsmittelServicePortType">
        <wsdl:operation name="getZahlungsmittel">
            <wsdl:documentation>Liefert für einen technischen Zahlungsmittelschlüssel die Daten des zugehörigen Zahlungsmittels zurück.</wsdl:documentation>
            <wsdl:input name="getZahlungsmittelRequest" message="tns:GetZahlungsmittelRequestMessage"/>
            <wsdl:output name="getZahlungsmittelResponse" message="tns:GetZahlungsmittelResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="getZahlungsmittelMitRaten">
            <wsdl:documentation>Liefert für einen technischen Zahlungsmittelschlüssel die Daten des zugehörigen Zahlungsmittels mitsamt den Raten zurück.</wsdl:documentation>
            <wsdl:input name="getZahlungsmittelMitRatenRequest" message="tns:GetZahlungsmittelMitRatenRequestMessage"/>
            <wsdl:output name="getZahlungsmittelMitRatenResponse" message="tns:GetZahlungsmittelMitRatenResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="readZahlungsmittelForFaktura">
            <wsdl:documentation>Liefert für einen technischen Fakturaschlüssel eine Liste von dazugehörigen Zahlungsmittel-Ids.</wsdl:documentation>
            <wsdl:input name="readZahlungsmittelForFakturaRequest" message="tns:ReadZahlungsmittelForFakturaRequestMessage"/>
            <wsdl:output name="readZahlungsmittelForFakturaResponse" message="tns:ReadZahlungsmittelForFakturaResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ZahlungsmittelServiceBinding" type="tns:ZahlungsmittelServicePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getZahlungsmittel">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="getZahlungsmittelRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getZahlungsmittelResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getZahlungsmittelMitRaten">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="getZahlungsmittelMitRatenRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getZahlungsmittelMitRatenResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="readZahlungsmittelForFaktura">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="readZahlungsmittelForFakturaRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="readZahlungsmittelForFakturaResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ZahlungsmittelService_v1">
        <wsdl:port name="ZahlungsmittelService_v1" binding="tns:ZahlungsmittelServiceBinding">
            <soap:address location="https://example.com/apibridge-finanzwesen/ZahlungsmittelService_v1"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
