master-21371/apibridge-schadenleistungsmgmt-suva_6.master.master-21371-13742/wsdl/com/adcubum/syrius/api/schadenleistungsmgmt/kvuv/leistungserbringung/leistungsabrechnung/data/leistungsabrechnungsposition/v1/schema/LeistungsabrechnungspositionService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:ct="urn:com:adcubum:syrius:api:common:types:v1"
            xmlns:oi="urn:com:adcubum:syrius:api:schadenleistungsmgmt:kvuv:common:identifier:v1"
            xmlns:st="urn:com:adcubum:syrius:api:common:simpleTypes:v1"
            xmlns:tns="urn:com:adcubum:syrius:api:schadenleistungsmgmt:kvuv:leistungserbringung:leistungsabrechnung:data:leistungsabrechnungsposition:v1:schema"
            xmlns:et="urn:com:adcubum:syrius:api:common:extendedTypes:v1"
            xmlns:ext="urn:com:adcubum:syrius:api:common:externalTypes:v1"
            xmlns:cip="urn:com:adcubum:syrius:api:schadenleistungsmgmt:kvuv:extern:partner:identifier:v1"
            xmlns:cis="urn:com:adcubum:syrius:api:schadenleistungsmgmt:kvuv:extern:sysdef:identifier:v1"
            xmlns:lai="urn:com:adcubum:syrius:api:schadenleistungsmgmt:kvuv:leistungserbringung:leistungsabrechnung:common:identifier:v1"
            targetNamespace="urn:com:adcubum:syrius:api:schadenleistungsmgmt:kvuv:leistungserbringung:leistungsabrechnung:data:leistungsabrechnungsposition:v1:schema"
            elementFormDefault="qualified"
            version="1.1.0">
 <xsd:import namespace="urn:com:adcubum:syrius:api:schadenleistungsmgmt:kvuv:common:identifier:v1" schemaLocation="../../../../../../common/identifier/v1/identifier.xsd"/>
 <xsd:import namespace="urn:com:adcubum:syrius:api:common:types:v1" schemaLocation="../../../../../../../../common/types/v1/types.xsd"/>
 <xsd:import namespace="urn:com:adcubum:syrius:api:common:simpleTypes:v1" schemaLocation="../../../../../../../../common/simpleTypes/v1/simpleTypes.xsd"/>
 <xsd:import namespace="urn:com:adcubum:syrius:api:common:extendedTypes:v1" schemaLocation="../../../../../../../../common/extendedTypes/v1/extendedTypes.xsd"/>
 <xsd:import namespace="urn:com:adcubum:syrius:api:common:externalTypes:v1" schemaLocation="../../../../../../../../common/externalTypes/v1/externalTypes.xsd"/>
 <xsd:import namespace="urn:com:adcubum:syrius:api:schadenleistungsmgmt:kvuv:extern:partner:identifier:v1" schemaLocation="../../../../../../extern/partner/identifier/v1/identifier.xsd" />
 <xsd:import namespace="urn:com:adcubum:syrius:api:schadenleistungsmgmt:kvuv:extern:sysdef:identifier:v1" schemaLocation="../../../../../../extern/sysdef/identifier/v1/identifier.xsd" />
 <xsd:import namespace="urn:com:adcubum:syrius:api:schadenleistungsmgmt:kvuv:leistungserbringung:leistungsabrechnung:common:identifier:v1" schemaLocation="../../../../../../leistungserbringung/leistungsabrechnung/common/identifier/v1/identifier.xsd" />
 <xsd:element name="getLeistungsabrechnungspositionRequest" type="tns:GetLeistungsabrechnungspositionRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, mit dem die Leistungsabrechnungsposition geladen werden.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="getLeistungsabrechnungspositionResponse" type="tns:GetLeistungsabrechnungspositionResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response, in dem die geladenen Leistungsabrechnungsposition enthalten sind.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
     <xsd:complexType name="GetLeistungsabrechnungspositionRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, mit dem die Leistungsabrechnungsposition geladen werden.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="leistungsabrechnungspositionId" type="oi:WsLeistungsabrechnungspositionIdType" minOccurs="1" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Technischer Schlüssel einer Leistungsabrechnungsposition.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="GetLeistungsabrechnungspositionResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response, in dem die geladenen Leistungsabrechnungspositionen enthalten sind.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="leistungsabrechnungsposition" type="tns:WsLeistungsabrechnungspositionType" minOccurs="1" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Leistungsabrechnungsposition.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
     <xsd:element name="readLeistungsabrechnungspositionenForLeistungsabrechnungRequest" type="tns:ReadLeistungsabrechnungspositionenForLeistungsabrechnungRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, mit dem die Leistungsabrechnungspositionsschlüssel geladen werden.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="readLeistungsabrechnungspositionenForLeistungsabrechnungResponse" type="tns:ReadLeistungsabrechnungspositionenForLeistungsabrechnungResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response, in dem die Leistungsabrechnungspositionschlüssel der Leistungsabrechnung enthalten sind.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
     <xsd:complexType name="ReadLeistungsabrechnungspositionenForLeistungsabrechnungRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, mit dem die Leistungsabrechnungspositionsschlüssel für die Leistungsabrechnung geladen werden.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="leistungsabrechnungId" type="oi:WsLeistungsabrechnungIdType" minOccurs="1" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Technischer Schlüssel einer Leistungsabrechnung, von welchem die Leistungsabrechnungspositionen geladen werden sollen.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ReadLeistungsabrechnungspositionenForLeistungsabrechnungResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response, in dem die geladenen Leistungsabrechnungspositionsschlüssel enthalten sind.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="leistungsabrechnungLeistungsabrechnungspositionen" type="tns:WsLeistungsabrechnungLeistungsabrechnungspositionenType" minOccurs="1" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Technischer Schlüssel einer Leistungsabrechnungsposition.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="readL10nAttributesLeistungsabrechnungspositionRequest" type="tns:ReadL10nAttributesLeistungsabrechnungspositionRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, um die lokalisierten Informationen einer Leistungsabrechnungsposition zu laden.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="readL10nAttributesLeistungsabrechnungspositionResponse" type="tns:ReadL10nAttributesLeistungsabrechnungspositionResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response mit den lokalisierten Informationen der Leistungsabrechnungsposition.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ReadL10nAttributesLeistungsabrechnungspositionRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, um die lokalisierten Informationen einer Leistungsabrechnungsposition zu laden.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="leistungsabrechnungspositionId" type="oi:WsLeistungsabrechnungspositionIdType" minOccurs="1" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Technischer Schlüssel einer Leistungsabrechnungsposition.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="locale" type="xsd:language" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Local mit welcher die korrekte Sprache ermittelt wird.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ReadL10nAttributesLeistungsabrechnungspositionResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response mit den lokalisierten Informationen der Leistungsabrechnungsposition.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="localizedAttrs" type="tns:WsL10nAttributesLeistungsabrechnungspositionType" minOccurs="1" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Übersetzter Text einer Leistungsabrechnungsposition.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="WsLeistungsabrechnungspositionType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Eigenschaften einer Leistungsabrechnungsposition.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ct:WsDataObjectType">
                <xsd:sequence>
                    <xsd:element name="id" type="oi:WsLeistungsabrechnungspositionIdType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Technischer Schlüssel einer Leistungsabrechnungsposition.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="leistungsabrechnung" type="oi:WsLeistungsabrechnungIdType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Technischer Schlüssel einer Leistungsabrechnung.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="datum" type="st:LocalDateType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Datum zu einer Leistungsabrechnungsposition.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="periode" type="et:WsLocalDateRangeType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Periode der Leistungsabrechnungsposition.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="originalsaldo" type="ext:WsMoneyType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Originalsaldo der Leistungsabrechnungsposition.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="originalbetrag" type="ext:WsMoneyType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Originalbetrag der Leistungsabrechnungsposition.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="referenzsaldo" type="ext:WsMoneyType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Referenzsaldo der Leistungsabrechnungsposition.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="referenzbetrag" type="ext:WsMoneyType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Referenzbetrag der Leistungsabrechnungsposition.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="versicherter" type="cip:WsPartnerIdType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Fachlicher Schlüssel auf den Versicherten.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="gesetzesgrund" type="cis:WsGesetzesgrundIdType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Fachlicher Schlüssel auf den Gesetzesgrund.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="herkunft" type="st:StringType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Herkunft zu einer Leistungsabrechnung.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="leistung" type="lai:WsLeistungIdType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Fachlicher Schlüssel der zugehörenden Leistung.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="leistungsabrechnungsNummer" type="st:StringType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Leistungsabrechnungsnummer der Leistung.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsLeistungsabrechnungLeistungsabrechnungspositionenType">
        <xsd:annotation>
           <xsd:documentation xml:lang="de">Enthält die geladenen Leistungsabrechnung-Ids und die dazugehörigen Leistungsabrechnungsposition-Ids.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="leistungsabrechnungId" type="oi:WsLeistungsabrechnungIdType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Technischer Schlüssel einer Leistungsabrechnung.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="leistungsabrechnungspositionId" type="oi:WsLeistungsabrechnungspositionIdType" minOccurs="1" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Enthält eine Liste mit den gefunden Leistungsabrechnungsposition-Id.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="WsL10nAttributesLeistungsabrechnungspositionType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Lokalisierte Informationen der Leistungsabrechnungsposition.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="leistungsabrechnungspositionId" type="oi:WsLeistungsabrechnungspositionIdType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Technischer Schlüssel der Leistungsabrechnungsposition.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="bezeichnung" type="ct:WsLocalizedTextType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Lokalisierte Bezeichnung der Leistungsabrechnungsposition.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>