master-21371/apibridge-finanzwesen-suva_3.master.master-21371-12912/wsdl/com/adcubum/syrius/api/finanzwesen/fakturamgmt/data/rechtlichesinkasso/v1/RechtlichesInkassoService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="RechtlichesInkassoService"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="urn:com:adcubum:syrius:api:finanzwesen:fakturamgmt:data:rechtlichesinkasso:v1"
                  xmlns:tns="urn:com:adcubum:syrius:api:finanzwesen:fakturamgmt:data:rechtlichesinkasso:v1"
                  xmlns:pa="urn:com:adcubum:syrius:api:finanzwesen:fakturamgmt:data:rechtlichesinkasso:v1:schema"
                  xmlns:flt="urn:com:adcubum:syrius:api:common:faults:v1"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/">
    <wsdl:documentation>Version: 1.0.0</wsdl:documentation>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="urn:com:adcubum:syrius:api:finanzwesen:fakturamgmt:data:rechtlichesinkasso:v1:schema" schemaLocation="schema/RechtlichesInkassoService.xsd"/>
            <xsd:import namespace="urn:com:adcubum:syrius:api:common:faults:v1" schemaLocation="../../../../../common/faults/v1/faults.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="ReadL10nAttributesRechtlichesInkassoRequestMessage">
        <wsdl:part name="Request" element="pa:readL10nAttributesRechtlichesInkassoRequest"/>
    </wsdl:message>
    <wsdl:message name="ReadL10nAttributesRechtlichesInkassoResponseMessage">
        <wsdl:part name="Response" element="pa:readL10nAttributesRechtlichesInkassoResponse"/>
    </wsdl:message>
    <wsdl:message name="ReadAllL10nAttributesRechtlichesInkassoRequestMessage">
        <wsdl:part name="Request" element="pa:readAllL10nAttributesRechtlichesInkassoRequest"/>
    </wsdl:message>
    <wsdl:message name="ReadAllL10nAttributesRechtlichesInkassoResponseMessage">
        <wsdl:part name="Response" element="pa:readAllL10nAttributesRechtlichesInkassoResponse"/>
    </wsdl:message>
    <wsdl:message name="ApiFaultMessage">
        <wsdl:part name="fault" element="flt:apiFaultInfo"/>
    </wsdl:message>
    <wsdl:portType name="RechtlichesInkassoServicePortType">
        <wsdl:operation name="readL10nAttributesRechtlichesInkasso">
            <wsdl:documentation>Liefert für einen technischen Schlüssel des rechtlichen Inkassos die Bezeichnung des zugehörigen rechtlichen Inkassos zurück.</wsdl:documentation>
            <wsdl:input name="readL10nAttributesRechtlichesInkassoRequest" message="tns:ReadL10nAttributesRechtlichesInkassoRequestMessage"/>
            <wsdl:output name="readL10nAttributesRechtlichesInkassoResponse" message="tns:ReadL10nAttributesRechtlichesInkassoResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="readAllL10nAttributesRechtlichesInkasso">
            <wsdl:documentation>Liefert alle Bezeichnungen von rechtlichen Inkasso zurück.</wsdl:documentation>
            <wsdl:input name="readAllL10nAttributesRechtlichesInkassoRequest" message="tns:ReadAllL10nAttributesRechtlichesInkassoRequestMessage"/>
            <wsdl:output name="readAllL10nAttributesRechtlichesInkassoResponse" message="tns:ReadAllL10nAttributesRechtlichesInkassoResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="RechtlichesInkassoServiceBinding" type="tns:RechtlichesInkassoServicePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="readL10nAttributesRechtlichesInkasso">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="readL10nAttributesRechtlichesInkassoRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="readL10nAttributesRechtlichesInkassoResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="readAllL10nAttributesRechtlichesInkasso">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="readAllL10nAttributesRechtlichesInkassoRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="readAllL10nAttributesRechtlichesInkassoResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="RechtlichesInkassoService_v1">
        <wsdl:port name="RechtlichesInkassoService_v1" binding="tns:RechtlichesInkassoServiceBinding">
            <soap:address location="https://example.com/apibridge-finanzwesen/RechtlichesInkassoService_v1"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
