master-21371/apibridge-partnermgmt-suva_4.master.master-21371-14050/wsdl/com/adcubum/syrius/api/partnermgmt/partnerdatenverw/process/zahlungskanal/v1/ZahlungskanalProcessService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="ZahlungskanalProcessService"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="urn:com:adcubum:syrius:api:partnermgmt:partnerdatenverw:process:zahlungskanal:v1"
                  xmlns:tns="urn:com:adcubum:syrius:api:partnermgmt:partnerdatenverw:process:zahlungskanal:v1"
                  xmlns:pa="urn:com:adcubum:syrius:api:partnermgmt:partnerdatenverw:process:zahlungskanal:v1:schema"
                  xmlns:flt="urn:com:adcubum:syrius:api:common:faults:v1"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/">
    <wsdl:documentation>Version: 1.0.0</wsdl:documentation>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="urn:com:adcubum:syrius:api:partnermgmt:partnerdatenverw:process:zahlungskanal:v1:schema" schemaLocation="schema/ZahlungskanalProcessService.xsd"/>
            <xsd:import namespace="urn:com:adcubum:syrius:api:common:faults:v1" schemaLocation="../../../../../common/faults/v1/faults.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="ChangeZahlungskanalRequestMessage">
        <wsdl:part name="Request" element="pa:changeZahlungskanalRequest"/>
    </wsdl:message>
    <wsdl:message name="ChangeZahlungskanalResponseMessage">
        <wsdl:part name="Response" element="pa:changeZahlungskanalResponse"/>
    </wsdl:message>
    <wsdl:message name="CreateZahlungskanalRequestMessage">
        <wsdl:part name="Request" element="pa:createZahlungskanalRequest"/>
    </wsdl:message>
    <wsdl:message name="CreateZahlungskanalResponseMessage">
        <wsdl:part name="Response" element="pa:createZahlungskanalResponse"/>
    </wsdl:message>
    <wsdl:message name="TerminateZahlungskanalRequestMessage">
        <wsdl:part name="Request" element="pa:terminateZahlungskanalRequest"/>
    </wsdl:message>
    <wsdl:message name="TerminateZahlungskanalResponseMessage">
        <wsdl:part name="Response" element="pa:terminateZahlungskanalResponse"/>
    </wsdl:message>
    <wsdl:message name="ApiFaultMessage">
        <wsdl:part name="fault" element="flt:apiFaultInfo"/>
    </wsdl:message>
    <wsdl:portType name="ZahlungskanalProcessServicePortType">
        <wsdl:operation name="changeZahlungskanal">
            <wsdl:documentation>Ändert ein Zahlungskanal-Objekt.</wsdl:documentation>
            <wsdl:input name="changeZahlungskanalRequest" message="tns:ChangeZahlungskanalRequestMessage"/>
            <wsdl:output name="changeZahlungskanalResponse" message="tns:ChangeZahlungskanalResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="createZahlungskanal">
            <wsdl:documentation>Erstellt eine neue Zahlungskanal-Objekt.</wsdl:documentation>
            <wsdl:input name="createZahlungskanalRequest" message="tns:CreateZahlungskanalRequestMessage"/>
            <wsdl:output name="createZahlungskanalResponse" message="tns:CreateZahlungskanalResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="terminateZahlungskanal">
            <wsdl:documentation>Terminiert ein Zahlungskanal-Objekt.</wsdl:documentation>
            <wsdl:input name="terminateZahlungskanalRequest" message="tns:TerminateZahlungskanalRequestMessage"/>
            <wsdl:output name="terminateZahlungskanalResponse" message="tns:TerminateZahlungskanalResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ZahlungskanalProcessServiceBinding" type="tns:ZahlungskanalProcessServicePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="changeZahlungskanal">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="changeZahlungskanalRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="changeZahlungskanalResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="createZahlungskanal">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="createZahlungskanalRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="createZahlungskanalResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="terminateZahlungskanal">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="terminateZahlungskanalRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="terminateZahlungskanalResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ZahlungskanalProcessService_v1">
        <wsdl:port name="ZahlungskanalProcessService_v1" binding="tns:ZahlungskanalProcessServiceBinding">
            <soap:address location="https://example.com/apibridge-partnermgmt/ZahlungskanalProcessService_v1"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>