master-21371/apibridge-partnermgmt-suva_4.master.master-21371-14050/wsdl/com/adcubum/syrius/api/partnermgmt/partnerdatenverw/data/organisationseinheit/v2/OrganisationseinheitService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="OrganisationseinheitService"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="urn:com:adcubum:syrius:api:partnermgmt:partnerdatenverw:data:organisationseinheit:v2"
                  xmlns:tns="urn:com:adcubum:syrius:api:partnermgmt:partnerdatenverw:data:organisationseinheit:v2"
                  xmlns:pa="urn:com:adcubum:syrius:api:partnermgmt:partnerdatenverw:data:organisationseinheit:v2:schema"
                  xmlns:flt="urn:com:adcubum:syrius:api:common:faults:v1"
                  xmlns:wsdlsi="urn:com:adcubum:syrius:api:common:serviceinfo:v1"
                  xmlns:xhtml="http://www.w3.org/1999/xhtml"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/">
    <wsdl:documentation>Version: 2.1.1</wsdl:documentation>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="urn:com:adcubum:syrius:api:partnermgmt:partnerdatenverw:data:organisationseinheit:v2:schema" schemaLocation="schema/OrganisationseinheitService.xsd"/>
            <xsd:import namespace="urn:com:adcubum:syrius:api:common:faults:v1" schemaLocation="../../../../../common/faults/v1/faults.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="GetOrganisationseinheitRequestMessage">
        <wsdl:part name="Request" element="pa:getOrganisationseinheitRequest"/>
    </wsdl:message>
    <wsdl:message name="GetOrganisationseinheitResponseMessage">
        <wsdl:part name="Response" element="pa:getOrganisationseinheitResponse"/>
    </wsdl:message>
    <wsdl:message name="GetPublicOrganisationseinheitRequestMessage">
        <wsdl:part name="Request" element="pa:getPublicOrganisationseinheitRequest"/>
    </wsdl:message>
    <wsdl:message name="GetPublicOrganisationseinheitResponseMessage">
        <wsdl:part name="Response" element="pa:getPublicOrganisationseinheitResponse"/>
    </wsdl:message>
    <wsdl:message name="ApiFaultMessage">
        <wsdl:part name="fault" element="flt:apiFaultInfo"/>
    </wsdl:message>
    <wsdl:message name="ReadL10nAttributesOrganisationseinheitRequestMessage">
        <wsdl:part name="Request" element="pa:readL10nAttributesOrganisationseinheitRequest"/>
    </wsdl:message>
    <wsdl:message name="ReadL10nAttributesOrganisationseinheitResponseMessage">
        <wsdl:part name="Response" element="pa:readL10nAttributesOrganisationseinheitResponse"/>
    </wsdl:message>
    <wsdl:portType name="OrganisationseinheitServicePortType">
        <wsdl:operation name="getOrganisationseinheit">
            <wsdl:documentation>Liefert für einen technischen Organisationseinheitschlüssel die Stammdaten der zugehörigen Organisationseinheit.</wsdl:documentation>
            <wsdl:input name="getOrganisationseinheitRequest" message="tns:GetOrganisationseinheitRequestMessage"/>
            <wsdl:output name="getOrganisationseinheitResponse" message="tns:GetOrganisationseinheitResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="getPublicOrganisationseinheit">
            <wsdl:documentation>Liefert für einen technischen Organisationseinheitschlüssel die öffentlichen Stammdaten der zugehörigen Organisationseinheit.</wsdl:documentation>
            <wsdl:input name="getPublicOrganisationseinheitRequest" message="tns:GetPublicOrganisationseinheitRequestMessage"/>
            <wsdl:output name="getPublicOrganisationseinheitResponse" message="tns:GetPublicOrganisationseinheitResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="readL10nAttributesOrganisationseinheit">
            <wsdl:documentation>Liefert für einen technischen Organisationseinheitschlüssel die Bezeichnung des zugehörenden TextModules zurück.</wsdl:documentation>
            <wsdl:input name="readL10nAttributesOrganisationseinheitRequest" message="tns:ReadL10nAttributesOrganisationseinheitRequestMessage"/>
            <wsdl:output name="readL10nAttributesOrganisationseinheitResponse" message="tns:ReadL10nAttributesOrganisationseinheitResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="OrganisationseinheitServiceBinding" type="tns:OrganisationseinheitServicePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getOrganisationseinheit">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="getOrganisationseinheitRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getOrganisationseinheitResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getPublicOrganisationseinheit">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="getPublicOrganisationseinheitRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getPublicOrganisationseinheitResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="readL10nAttributesOrganisationseinheit">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="readL10nAttributesOrganisationseinheitRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="readL10nAttributesOrganisationseinheitResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="OrganisationseinheitService_v2">
    <wsdl:documentation>
        <xhtml:ul>
            <xhtml:li>Deprecation: Kanton durch PlzProvinz ersetzt auf dem WsDomiziladresseType.
            </xhtml:li>
        </xhtml:ul>
        </wsdl:documentation>
        <wsdlsi:serviceInfo>
            <wsdlsi:deprecation>
                <wsdlsi:deprecationReason>Replaced</wsdlsi:deprecationReason>
                <wsdlsi:replacedBy>
                    <wsdlsi:serviceName>OrganisationseinheitService_v3</wsdlsi:serviceName>
                    <wsdlsi:targetNamespace>urn:com:adcubum:syrius:api:partnermgmt:partnerdatenverw:data:organisationseinheit:v3</wsdlsi:targetNamespace>
                </wsdlsi:replacedBy>
                <wsdlsi:ticketReference>APAR-459</wsdlsi:ticketReference>
            </wsdlsi:deprecation>
        </wsdlsi:serviceInfo>
        <wsdl:port name="OrganisationseinheitService_v2" binding="tns:OrganisationseinheitServiceBinding">
            <soap:address location="https://example.com/apibridge-partnermgmt/OrganisationseinheitService_v2"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
