master-21371/apibridge-finanzwesen-suva_3.master.master-21371-12912/wsdl/com/adcubum/syrius/api/finanzwesen/zahlungsverkehr/process/zahler/v1/schema/ZahlerProcessService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:ct="urn:com:adcubum:syrius:api:common:types:v1"
            xmlns:st="urn:com:adcubum:syrius:api:common:simpleTypes:v1"
            xmlns:fi="urn:com:adcubum:syrius:api:finanzwesen:common:identifier:v1"
            xmlns:fc="urn:com:adcubum:syrius:api:finanzwesen:common:codes:v1"
            xmlns:tns="urn:com:adcubum:syrius:api:finanzwesen:zahlungsverkehr:process:zahler:v1:schema"
            elementFormDefault="qualified"
            targetNamespace="urn:com:adcubum:syrius:api:finanzwesen:zahlungsverkehr:process:zahler:v1:schema"
            version="1.2.0">
    <xsd:import namespace="urn:com:adcubum:syrius:api:common:types:v1" schemaLocation="../../../../../../common/types/v1/types.xsd"/>
    <xsd:import namespace="urn:com:adcubum:syrius:api:common:simpleTypes:v1" schemaLocation="../../../../../../common/simpleTypes/v1/simpleTypes.xsd"/>
    <xsd:import namespace="urn:com:adcubum:syrius:api:finanzwesen:common:codes:v1" schemaLocation="../../../../../common/codes/v1/codes.xsd"/>
    <xsd:import namespace="urn:com:adcubum:syrius:api:finanzwesen:common:identifier:v1" schemaLocation="../../../../../common/identifier/v1/identifier.xsd"/>
    <xsd:element name="changeZahlerRequest" type="tns:ChangeZahlerRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, um einen Zahler zu ändern.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="changeZahlerResponse" type="tns:ChangeZahlerResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response, die den technischen Schlüssel des geänderten Zahlers enthält.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="createZahlerRequest" type="tns:CreateZahlerRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, um einen neuen Zahler zu erstellen.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="createZahlerResponse" type="tns:CreateZahlerResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response, den Technischen Schlüssel des erstellten Zahlers enthält.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ChangeZahlerRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, um einen Zahler zu ändern.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="zahler" type="tns:WsZahlerProcessChangeType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Enthält die Änderungsdaten des zu verändernden Zahlers.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="zahlerId" type="fi:WsZahlerIdType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Enthält den Technischen Schlüssel des zu ändernden Zahlers.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="aenderungAb" type="xsd:date" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Bestimmt ab wann die Änderung des Zahlers gültig ist.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="aenderungBis" type="xsd:date" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Bestimmt bis wann die Änderung des Zahlers gültig ist.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ChangeZahlerResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response, die den technischen Schlüssel des geänderten Zahlers enthält.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="zahlerId" type="fi:WsZahlerIdType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Enthält den Technischen Schlüssel des geänderten Zahlers.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CreateZahlerRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, um einen neuen Zahler zu erstellen.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="zahler" type="tns:WsZahlerProcessCreateType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Enthält die Daten des neuen  Zahlers.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="gueltigAb" type="xsd:date" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Bestimmt ab wann der Zahler gültig ist.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="gueltigBis" type="xsd:date" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Bestimmt bis wann der Zahler gültig ist.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CreateZahlerResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response, den Technischen Schlüssel des erstellten Zahlers enthält.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="zahlerId" type="fi:WsZahlerIdType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Enthält den Technischen Schlüssel des erstellten Zahlers.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="WsZahlerType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Enthält die Daten eines Zahlers.</xsd:documentation>
        </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="partnerId" type="fi:WsPartnerIdType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Technischer Schlüssel des Partners, zu welchem dieser Zahler gehört.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="bezeichnung" type="st:StringType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Zahlerbezeichnung zur Identifizierung bei mehreren Zahlern pro Partner.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="zahlertypId" type="fi:WsZahlertypIdType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Technischer Schlüssel des Zahlertyps des Zahlers.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="mutationsgrundId" type="fi:WsMutationsgrundIdType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Mutationsgrund der Änderung, z.B Neuerfassung, Adressänderung, Mutation, usw.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="zahlungsartCode" type="fc:WsZahlungsartCodeType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Zahlungsmodus (1-, 2-, 3-, 4-, 6-, 12 Monatlich)</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="exkassoZahlungsmittelDefId" type="fi:WsZahlungsmittelDefIdType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Zahlungsmittel-Definition des Zahlers für das Exkasso</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="exkassoZahlungsadresseId" type="fi:WsZahlungsadresseIdType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Zahlungsadresse des Zahlers für das Exkasso</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="inkassoZahlungsmittelDefId" type="fi:WsZahlungsmittelDefIdType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Zahlungsmittel-Definition des Zahlers für das Inkasso</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="inkassoZahlungsadresseId" type="fi:WsZahlungsadresseIdType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Zahlungsadresse des Zahlers für das Inkasso</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="praemienZustellPartnerId" type="fi:WsPartnerIdType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Partner für die Prämienzustellungen des Zahlers</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="leistungZustellPartnerId" type="fi:WsPartnerIdType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Partner für die Leistungszustellungen des Zahlers</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="zahlungVorNachschuessigCode" type="fc:WsZahlungVorNachschuessigCodeType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Bestimmt ob Zahlungen vor oder nachschüssig sind</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="verzugszinsBerechnenCode" type="fc:WsVerzugszinsBerechnenCodeType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Bestimmt ob Verzugszins berechnet wird</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                   <xsd:element name="sollBetragslimit" type="st:DecimalType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Bestimmt das Soll-Betragslimit für die Sammelkontoabrechnung</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="habenBetragslimit" type="st:DecimalType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Bestimmt das Haben-Betragslimit für die Sammelkontoabrechnung</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="sollKreditlimit" type="st:DecimalType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Bestimmt das Soll-Kreditlimit für die Zahlungsmittelerstellung bei der Sammelkontoabrechnung</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="habenKreditlimit" type="st:DecimalType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Bestimmt das Haben-Kreditlimit für die Zahlungsmittelerstellung bei der Sammelkontoabrechnung</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="schuldvertreterId" type="fi:WsZahlungsadresseIdType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Zahlungsadresse des Schuldenvertreters</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="gesetzlVertreterCode" type="fc:WsGesetzlVertreterCodeType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Bestimmt ob der Schuldenvertreter der gesetzliche Vertreter ist.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="inkassoZahlerId" type="fi:WsZahlerIdType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Hier kann ein Inkasso-Zahler angegeben werden</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="bonitaetsstufeDefId" type="fi:WsBonitaetsstufeDefIdType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Hier wird die Bonitätsstufen-Definition des Zahlers angegeben.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="customAttribute" type="ct:WsCustomAttributeType" minOccurs="0" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:documentation>Auflistung der im Objekt enthaltenen kundenspezifischen Attribute.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="WsZahlerProcessCreateType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Enthält die Daten eines Zahlers.</xsd:documentation>
        </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="partnerId" type="fi:WsPartnerIdType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Technischer Schlüssel des Partners, zu welchem dieser Zahler gehört.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="bezeichnung" type="st:StringType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Zahlerbezeichnung zur Identifizierung bei mehreren Zahlern pro Partner.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="zahlertypId" type="fi:WsZahlertypIdType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Technischer Schlüssel des Zahlertyps des Zahlers.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="mutationsgrundId" type="fi:WsMutationsgrundIdType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Mutationsgrund der Änderung, z.B Neuerfassung, Adressänderung, Mutation, usw.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="zahlungsartCode" type="fc:WsZahlungsartCodeType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Zahlungsmodus (1-, 2-, 3-, 4-, 6-, 12 Monatlich)</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="exkassoZahlungsmittelDefId" type="fi:WsZahlungsmittelDefIdType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Zahlungsmittel-Definition des Zahlers für das Exkasso</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="exkassoZahlungsadresseId" type="fi:WsZahlungsadresseIdType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Zahlungsadresse des Zahlers für das Exkasso</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="inkassoZahlungsmittelDefId" type="fi:WsZahlungsmittelDefIdType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Zahlungsmittel-Definition des Zahlers für das Inkasso</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="inkassoZahlungsadresseId" type="fi:WsZahlungsadresseIdType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Zahlungsadresse des Zahlers für das Inkasso</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="praemienZustellPartnerId" type="fi:WsPartnerIdType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Partner für die Prämienzustellungen des Zahlers</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="leistungZustellPartnerId" type="fi:WsPartnerIdType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Partner für die Leistungszustellungen des Zahlers</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="zahlungVorNachschuessigCode" type="fc:WsZahlungVorNachschuessigCodeType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Bestimmt ob Zahlungen vor oder nachschüssig sind</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="verzugszinsBerechnenCode" type="fc:WsVerzugszinsBerechnenCodeType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Bestimmt ob Verzugszins berechnet wird</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                   <xsd:element name="sollBetragslimit" type="st:DecimalType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Bestimmt das Soll-Betragslimit für die Sammelkontoabrechnung</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="habenBetragslimit" type="st:DecimalType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Bestimmt das Haben-Betragslimit für die Sammelkontoabrechnung</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="sollKreditlimit" type="st:DecimalType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Bestimmt das Soll-Kreditlimit für die Zahlungsmittelerstellung bei der Sammelkontoabrechnung</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="habenKreditlimit" type="st:DecimalType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Bestimmt das Haben-Kreditlimit für die Zahlungsmittelerstellung bei der Sammelkontoabrechnung</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="schuldvertreterId" type="fi:WsZahlungsadresseIdType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Zahlungsadresse des Schuldenvertreters</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="gesetzlVertreterCode" type="fc:WsGesetzlVertreterCodeType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Bestimmt ob der Schuldenvertreter der gesetzliche Vertreter ist.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="inkassoZahlerId" type="fi:WsZahlerIdType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Hier kann ein Inkasso-Zahler angegeben werden</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="bonitaetsstufeDefId" type="fi:WsBonitaetsstufeDefIdType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Hier wird die Bonitätsstufen-Definition des Zahlers angegeben.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="WsZahlerProcessChangeType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Enthält die Daten eines Zahlers.</xsd:documentation>
        </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="bezeichnung" type="st:StringType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Zahlerbezeichnung zur Identifizierung bei mehreren Zahlern pro Partner.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="zahlertypId" type="fi:WsZahlertypIdType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Technischer Schlüssel des Zahlertyps des Zahlers.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="mutationsgrundId" type="fi:WsMutationsgrundIdType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Mutationsgrund der Änderung, z.B Neuerfassung, Adressänderung, Mutation, usw.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="zahlungsartCode" type="fc:WsZahlungsartCodeType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Zahlungsmodus (1-, 2-, 3-, 4-, 6-, 12 Monatlich)</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="exkassoZahlungsmittelDefId" type="fi:WsZahlungsmittelDefIdType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Zahlungsmittel-Definition des Zahlers für das Exkasso</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="exkassoZahlungsadresseId" type="fi:WsZahlungsadresseIdType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Zahlungsadresse des Zahlers für das Exkasso</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="inkassoZahlungsmittelDefId" type="fi:WsZahlungsmittelDefIdType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Zahlungsmittel-Definition des Zahlers für das Inkasso</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="inkassoZahlungsadresseId" type="fi:WsZahlungsadresseIdType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Zahlungsadresse des Zahlers für das Inkasso</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="praemienZustellPartnerId" type="fi:WsPartnerIdType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Partner für die Prämienzustellungen des Zahlers</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="leistungZustellPartnerId" type="fi:WsPartnerIdType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Partner für die Leistungszustellungen des Zahlers</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="zahlungVorNachschuessigCode" type="fc:WsZahlungVorNachschuessigCodeType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Bestimmt ob Zahlungen vor oder nachschüssig sind</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="verzugszinsBerechnenCode" type="fc:WsVerzugszinsBerechnenCodeType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Bestimmt ob Verzugszins berechnet wird</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                   <xsd:element name="sollBetragslimit" type="st:DecimalType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Bestimmt das Soll-Betragslimit für die Sammelkontoabrechnung</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="habenBetragslimit" type="st:DecimalType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Bestimmt das Haben-Betragslimit für die Sammelkontoabrechnung</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="sollKreditlimit" type="st:DecimalType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Bestimmt das Soll-Kreditlimit für die Zahlungsmittelerstellung bei der Sammelkontoabrechnung</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="habenKreditlimit" type="st:DecimalType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Bestimmt das Haben-Kreditlimit für die Zahlungsmittelerstellung bei der Sammelkontoabrechnung</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="schuldvertreterId" type="fi:WsZahlungsadresseIdType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Zahlungsadresse des Schuldenvertreters</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="gesetzlVertreterCode" type="fc:WsGesetzlVertreterCodeType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Bestimmt ob der Schuldenvertreter der gesetzliche Vertreter ist.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="inkassoZahlerId" type="fi:WsZahlerIdType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Hier kann ein Inkasso-Zahler angegeben werden</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="bonitaetsstufeDefId" type="fi:WsBonitaetsstufeDefIdType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Hier wird die Bonitätsstufen-Definition des Zahlers angegeben.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
    </xsd:complexType>
</xsd:schema>