master-21371/apibridge-partnermgmt-suva_4.master.master-21371-14050/wsdl/com/adcubum/syrius/api/partnermgmt/partnerdatenverw/process/adresseaenderung/v5/AdresseAenderungProcessService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="AdresseAenderungProcessService"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="urn:com:adcubum:syrius:api:partnermgmt:partnerdatenverw:process:adresseaenderung:v5"
                  xmlns:tns="urn:com:adcubum:syrius:api:partnermgmt:partnerdatenverw:process:adresseaenderung:v5"
                  xmlns:pa="urn:com:adcubum:syrius:api:partnermgmt:partnerdatenverw:process:adresseaenderung:v5:schema"
                  xmlns:flt="urn:com:adcubum:syrius:api:common:faults:v1"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/">
    <wsdl:documentation>Version: 5.2.0</wsdl:documentation>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="urn:com:adcubum:syrius:api:partnermgmt:partnerdatenverw:process:adresseaenderung:v5:schema"
                        schemaLocation="schema/AdresseAenderungProcessService.xsd"/>
            <xsd:import namespace="urn:com:adcubum:syrius:api:common:faults:v1" schemaLocation="../../../../../common/faults/v1/faults.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="CreateAdresseAenderungProcessRequestMessage">
        <wsdl:part name="Request" element="pa:createAdresseAenderungProcessRequest"/>
    </wsdl:message>
    <wsdl:message name="CreateAdresseAenderungProcessResponseMessage">
        <wsdl:part name="Response" element="pa:createAdresseAenderungProcessResponse"/>
    </wsdl:message>
    <wsdl:message name="CreateAdresseAenderungPartnerProcessRequestMessage">
        <wsdl:part name="Request" element="pa:createAdresseAenderungPartnerProcessRequest"/>
    </wsdl:message>
    <wsdl:message name="CreateAdresseAenderungPartnerProcessResponseMessage">
        <wsdl:part name="Response" element="pa:createAdresseAenderungPartnerProcessResponse"/>
    </wsdl:message>
    <wsdl:message name="ReadProcessStateRequestMessage">
        <wsdl:part name="Request" element="pa:readProcessStateRequest"/>
    </wsdl:message>
    <wsdl:message name="ReadProcessStateResponseMessage">
        <wsdl:part name="Response" element="pa:readProcessStateResponse"/>
    </wsdl:message>
    <wsdl:message name="ReadProcessStateAdresseRequestMessage">
        <wsdl:part name="Request" element="pa:readProcessStateAdresseRequest"/>
    </wsdl:message>
    <wsdl:message name="ReadProcessStateAdresseResponseMessage">
        <wsdl:part name="Response" element="pa:readProcessStateAdresseResponse"/>
    </wsdl:message>
    <wsdl:message name="AdresseAenderungProcessBearbeitenRequestMessage">
        <wsdl:part name="Request" element="pa:adresseAenderungProcessBearbeitenRequest"/>
    </wsdl:message>
    <wsdl:message name="AdresseAenderungProcessBearbeitenResponseMessage">
        <wsdl:part name="Response" element="pa:adresseAenderungProcessBearbeitenResponse"/>
    </wsdl:message>
    <wsdl:message name="AdresseAenderungProcessAbbrechenRequestMessage">
        <wsdl:part name="Request" element="pa:adresseAenderungProcessAbbrechenRequest"/>
    </wsdl:message>
    <wsdl:message name="AdresseAenderungProcessAbbrechenResponseMessage">
        <wsdl:part name="Response" element="pa:adresseAenderungProcessAbbrechenResponse"/>
    </wsdl:message>
    <wsdl:message name="AdresseAenderungProcessBestaetigenRequestMessage">
        <wsdl:part name="Request" element="pa:adresseAenderungProcessBestaetigenRequest"/>
    </wsdl:message>
    <wsdl:message name="AdresseAenderungProcessBestaetigenResponseMessage">
        <wsdl:part name="Response" element="pa:adresseAenderungProcessBestaetigenResponse"/>
    </wsdl:message>

    <wsdl:message name="CreateAdresseAenderungRequestMessage">
        <wsdl:part name="Request" element="pa:createAdresseAenderungRequest"/>
    </wsdl:message>
    <wsdl:message name="CreateAdresseAenderungResponseMessage">
        <wsdl:part name="Response" element="pa:createAdresseAenderungResponse"/>
    </wsdl:message>
    <wsdl:message name="RejectAdresseAenderungRequestMessage">
        <wsdl:part name="Request" element="pa:rejectAdresseAenderungRequest"/>
    </wsdl:message>
    <wsdl:message name="RejectAdresseAenderungResponseMessage">
        <wsdl:part name="Response" element="pa:rejectAdresseAenderungResponse"/>
    </wsdl:message>
    <wsdl:message name="ApiFaultMessage">
        <wsdl:part name="fault" element="flt:apiFaultInfo"/>
    </wsdl:message>
    <wsdl:portType name="AdresseAenderungProcessServicePortType">
        <wsdl:operation name="CreateAdresseAenderungProcess">
            <wsdl:documentation>Startet einen AdresseAenderungs-Prozess (BPM) zu einer bestehenden Adresse.</wsdl:documentation>
            <wsdl:input name="CreateAdresseAenderungProcessRequest" message="tns:CreateAdresseAenderungProcessRequestMessage"/>
            <wsdl:output name="CreateAdresseAenderungProcessResponse" message="tns:CreateAdresseAenderungProcessResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="CreateAdresseAenderungPartnerProcess">
            <wsdl:documentation>Startet einen AdresseAenderungs-Prozess (BPM) zu einer bestehenden Adresse eines Partners.</wsdl:documentation>
            <wsdl:input name="CreateAdresseAenderungPartnerProcessRequest" message="tns:CreateAdresseAenderungPartnerProcessRequestMessage"/>
            <wsdl:output name="CreateAdresseAenderungPartnerProcessResponse" message="tns:CreateAdresseAenderungPartnerProcessResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="CreateAdresseAenderung">
            <wsdl:documentation>Erstellt ein AdresseAenderung-Objekt zu einer bestehenden Adresse.</wsdl:documentation>
            <wsdl:input name="CreateAdresseAenderungRequest" message="tns:CreateAdresseAenderungRequestMessage"/>
            <wsdl:output name="CreateAdresseAenderungResponse" message="tns:CreateAdresseAenderungResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="RejectAdresseAenderung">
            <wsdl:documentation>Lehnt ein AdresseAenderung-Objekt zu einer bestehenden Adresse ab.</wsdl:documentation>
            <wsdl:input name="RejectAdresseAenderungRequest" message="tns:RejectAdresseAenderungRequestMessage"/>
            <wsdl:output name="RejectAdresseAenderungResponse" message="tns:RejectAdresseAenderungResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="ReadProcessState">
            <wsdl:documentation>Liest den aktuellen Zustand eines konkreten Prozesses. Diese Operation ist nur mit der Syrius Komponente 'Business
                Process Engine' möglich.
            </wsdl:documentation>
            <wsdl:input name="ReadProcessStateRequest" message="tns:ReadProcessStateRequestMessage"/>
            <wsdl:output name="ReadProcessStateResponse" message="tns:ReadProcessStateResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="ReadProcessStateAdresse">
            <wsdl:documentation>Liest den Zustand eines aktiven oder beendeten Prozesses zu der jüngsten Adressänderung dieser Adresse. Diese
                Operation ist nur mit der Syrius Komponente 'Business Process Engine' möglich.
            </wsdl:documentation>
            <wsdl:input name="ReadProcessStateAdresseRequest" message="tns:ReadProcessStateAdresseRequestMessage"/>
            <wsdl:output name="ReadProcessStateAdresseResponse" message="tns:ReadProcessStateAdresseResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="AdresseAenderungProcessBearbeiten">
            <wsdl:documentation>Aktualisiert ein AdresseAenderung-Objekt und setzt den zugehörigen Prozess fort. Diese Operation ist nur mit der
                Syrius Komponente 'Business Process Engine' möglich.
            </wsdl:documentation>
            <wsdl:input name="AdresseAenderungProcessBearbeitenRequest" message="tns:AdresseAenderungProcessBearbeitenRequestMessage"/>
            <wsdl:output name="AdresseAenderungProcessBearbeitenResponse" message="tns:AdresseAenderungProcessBearbeitenResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="AdresseAenderungProcessAbbrechen">
            <wsdl:documentation>Bricht einen laufenden Adressänderungsprozess ab. Diese Operation ist nur mit der Syrius Komponente 'Business Process
                Engine' möglich.
            </wsdl:documentation>
            <wsdl:input name="AdresseAenderungProcessAbbrechenRequest" message="tns:AdresseAenderungProcessAbbrechenRequestMessage"/>
            <wsdl:output name="AdresseAenderungProcessAbbrechenResponse" message="tns:AdresseAenderungProcessAbbrechenResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="AdresseAenderungProcessBestaetigen">
            <wsdl:documentation>Bestätigt eine laufende Adressänderung, falls diese zur Kontrolle ausgesteuert wurde. Diese Operation ist nur mit der
                Syrius Komponente 'Business Process Engine' möglich.
            </wsdl:documentation>
            <wsdl:input name="AdresseAenderungProcessBestaetigenRequest" message="tns:AdresseAenderungProcessBestaetigenRequestMessage"/>
            <wsdl:output name="AdresseAenderungProcessBestaetigenResponse" message="tns:AdresseAenderungProcessBestaetigenResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFaultMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="AdresseAenderungProcessServiceBinding" type="tns:AdresseAenderungProcessServicePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="CreateAdresseAenderung">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="CreateAdresseAenderungRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="CreateAdresseAenderungResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="RejectAdresseAenderung">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="RejectAdresseAenderungRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="RejectAdresseAenderungResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="CreateAdresseAenderungProcess">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="CreateAdresseAenderungProcessRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="CreateAdresseAenderungProcessResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="CreateAdresseAenderungPartnerProcess">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="CreateAdresseAenderungPartnerProcessRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="CreateAdresseAenderungPartnerProcessResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="ReadProcessState">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="ReadProcessStateRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="ReadProcessStateResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="ReadProcessStateAdresse">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="ReadProcessStateAdresseRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="ReadProcessStateAdresseResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="AdresseAenderungProcessBearbeiten">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="AdresseAenderungProcessBearbeitenRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="AdresseAenderungProcessBearbeitenResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="AdresseAenderungProcessAbbrechen">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="AdresseAenderungProcessAbbrechenRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="AdresseAenderungProcessAbbrechenResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="AdresseAenderungProcessBestaetigen">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="AdresseAenderungProcessBestaetigenRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="AdresseAenderungProcessBestaetigenResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

    </wsdl:binding>
    <wsdl:service name="AdresseAenderungProcessService_v5">
        <wsdl:port name="AdresseAenderungProcessService_v5" binding="tns:AdresseAenderungProcessServiceBinding">
            <soap:address location="https://example.com/apibridge-partnermgmt/AdresseAenderungProcessService_v5"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
